<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.yakindu.sct.builder.subscriber" name="Builder Subscriber" schema="schema/org.yakindu.sct.builder.subscriber.exsd"/>

   <extension
         id="org.yakindu.sct.builder.SCTBuilder"
         name="YAKINDU HMI Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.yakindu.sct.builder.SCTBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.yakindu.sct.builder.SCTNature"
         name="YAKINDU SCT Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.yakindu.sct.builder.nature.SCTNature">
         </run>
      </runtime>
      <builder
            id="org.yakindu.sct.builder.SCTBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.yakindu.sct.builder.contribution1">
         <action
               label="Add/Remove YAKINDU SCT Nature"
               class="org.yakindu.sct.builder.nature.ToggleSCTNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.yakindu.sct.builder.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
</plugin>
