<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/2.0.0" xmlns:stext="http://www.yakindu.org/sct/statechart/SText">
  <sgraph:Statechart xmi:id="_Ewx18N7cEeCpKdNUTngIeg" name="default" expression="internal:&#xD;&#xA;event Event1&#xD;&#xA;event Event2&#xD;&#xA;&#xD;&#xA;var counter : integer&#xD;&#xA;var isS1 : boolean&#xD;&#xA;var isS2 : boolean">
    <scopes xsi:type="stext:InternalScope" xmi:id="_oaSsEN7cEeCpKdNUTngIeg">
      <declarations xsi:type="stext:EventDefinition" xmi:id="_oaSsEd7cEeCpKdNUTngIeg" name="Event1"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_oaSsEt7cEeCpKdNUTngIeg" name="Event2"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_oaSsE97cEeCpKdNUTngIeg" name="counter" type="integer"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_oaSsFN7cEeCpKdNUTngIeg" name="isS1" type="boolean"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_oaSsFd7cEeCpKdNUTngIeg" name="isS2" type="boolean"/>
    </scopes>
    <regions xmi:id="_EwzrIt7cEeCpKdNUTngIeg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Ew7m8d7cEeCpKdNUTngIeg">
        <outgoingTransitions xmi:id="_Ew-qQd7cEeCpKdNUTngIeg" target="_Ew81FN7cEeCpKdNUTngIeg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ew81FN7cEeCpKdNUTngIeg" name="S1" incomingTransitions="_Ew-qQd7cEeCpKdNUTngIeg _OnyXUN7cEeCpKdNUTngIeg" expression="entry / isS1 = true;&#xD;&#xA;exit / isS1 = false;">
        <outgoingTransitions xmi:id="_F8CIIN7cEeCpKdNUTngIeg" expression="Event1, Event2 / counter +=1;" target="_Fgk7MN7cEeCpKdNUTngIeg">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_oahVkN7cEeCpKdNUTngIeg">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_oahVkd7cEeCpKdNUTngIeg" event="_oaSsEd7cEeCpKdNUTngIeg"/>
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_oahVkt7cEeCpKdNUTngIeg" event="_oaSsEt7cEeCpKdNUTngIeg"/>
          </trigger>
          <effect xsi:type="stext:ReactionEffect" xmi:id="_oah8oN7cEeCpKdNUTngIeg">
            <actions xsi:type="stext:Assignment" xmi:id="_oah8od7cEeCpKdNUTngIeg" varRef="_oaSsE97cEeCpKdNUTngIeg" operator="+=">
              <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_oah8ot7cEeCpKdNUTngIeg" value="1"/>
            </actions>
          </effect>
        </outgoingTransitions>
        <scopes xmi:id="_oaXkkN7cEeCpKdNUTngIeg">
          <declarations xsi:type="stext:LocalReaction" xmi:id="_oaXkkd7cEeCpKdNUTngIeg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_oaXkkt7cEeCpKdNUTngIeg">
              <triggers xsi:type="stext:EntryEvent" xmi:id="_oaXkk97cEeCpKdNUTngIeg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_oaXklN7cEeCpKdNUTngIeg">
              <actions xsi:type="stext:Assignment" xmi:id="_oaXkld7cEeCpKdNUTngIeg" varRef="_oaSsFN7cEeCpKdNUTngIeg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_oaXklt7cEeCpKdNUTngIeg" value="true"/>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_oaXkl97cEeCpKdNUTngIeg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_oaXkmN7cEeCpKdNUTngIeg">
              <triggers xsi:type="stext:ExitEvent" xmi:id="_oaXkmd7cEeCpKdNUTngIeg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_oaXkmt7cEeCpKdNUTngIeg">
              <actions xsi:type="stext:Assignment" xmi:id="_oaXkm97cEeCpKdNUTngIeg" varRef="_oaSsFN7cEeCpKdNUTngIeg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_oaXknN7cEeCpKdNUTngIeg" value="false"/>
              </actions>
            </effect>
          </declarations>
        </scopes>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Fgk7MN7cEeCpKdNUTngIeg" name="S2" incomingTransitions="_F8CIIN7cEeCpKdNUTngIeg" expression="entry  / isS2 = true;&#xD;&#xA;exit / isS2 = false;">
        <outgoingTransitions xmi:id="_OnyXUN7cEeCpKdNUTngIeg" expression="Event2, Event1 / counter += 1;" target="_Ew81FN7cEeCpKdNUTngIeg">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_oav_EN7cEeCpKdNUTngIeg">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_oav_Ed7cEeCpKdNUTngIeg" event="_oaSsEt7cEeCpKdNUTngIeg"/>
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_oav_Et7cEeCpKdNUTngIeg" event="_oaSsEd7cEeCpKdNUTngIeg"/>
          </trigger>
          <effect xsi:type="stext:ReactionEffect" xmi:id="_oav_E97cEeCpKdNUTngIeg">
            <actions xsi:type="stext:Assignment" xmi:id="_oav_FN7cEeCpKdNUTngIeg" varRef="_oaSsE97cEeCpKdNUTngIeg" operator="+=">
              <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_oav_Fd7cEeCpKdNUTngIeg" value="1"/>
            </actions>
          </effect>
        </outgoingTransitions>
        <scopes xmi:id="_oapRYN7cEeCpKdNUTngIeg">
          <declarations xsi:type="stext:LocalReaction" xmi:id="_oapRYd7cEeCpKdNUTngIeg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_oap4cN7cEeCpKdNUTngIeg">
              <triggers xsi:type="stext:EntryEvent" xmi:id="_oap4cd7cEeCpKdNUTngIeg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_oap4ct7cEeCpKdNUTngIeg">
              <actions xsi:type="stext:Assignment" xmi:id="_oap4c97cEeCpKdNUTngIeg" varRef="_oaSsFd7cEeCpKdNUTngIeg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_oap4dN7cEeCpKdNUTngIeg" value="true"/>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_oap4dd7cEeCpKdNUTngIeg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_oap4dt7cEeCpKdNUTngIeg">
              <triggers xsi:type="stext:ExitEvent" xmi:id="_oap4d97cEeCpKdNUTngIeg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_oap4eN7cEeCpKdNUTngIeg">
              <actions xsi:type="stext:Assignment" xmi:id="_oap4ed7cEeCpKdNUTngIeg" varRef="_oaSsFd7cEeCpKdNUTngIeg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_oap4et7cEeCpKdNUTngIeg" value="false"/>
              </actions>
            </effect>
          </declarations>
        </scopes>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_EwzrIN7cEeCpKdNUTngIeg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Ewx18N7cEeCpKdNUTngIeg" measurementUnit="Pixel">
    <children xmi:id="_Ew38kN7cEeCpKdNUTngIeg" type="Region" element="_EwzrIt7cEeCpKdNUTngIeg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ew6Y0N7cEeCpKdNUTngIeg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew6Y0d7cEeCpKdNUTngIeg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew6Y0t7cEeCpKdNUTngIeg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Ew6_4N7cEeCpKdNUTngIeg" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
        <children xmi:id="_Ew8OAN7cEeCpKdNUTngIeg" type="Entry" element="_Ew7m8d7cEeCpKdNUTngIeg">
          <children xmi:id="_Ew8OA97cEeCpKdNUTngIeg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Ew81EN7cEeCpKdNUTngIeg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew81Ed7cEeCpKdNUTngIeg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew81Et7cEeCpKdNUTngIeg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew8OBN7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ew8OBd7cEeCpKdNUTngIeg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew8OAd7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ew81E97cEeCpKdNUTngIeg" x="70" y="20"/>
        </children>
        <children xmi:id="_Ew9cIN7cEeCpKdNUTngIeg" type="State" element="_Ew81FN7cEeCpKdNUTngIeg">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ew9cJN7cEeCpKdNUTngIeg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew9cJd7cEeCpKdNUTngIeg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew9cJt7cEeCpKdNUTngIeg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ew-DMN7cEeCpKdNUTngIeg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ew-DMd7cEeCpKdNUTngIeg" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ew-DMt7cEeCpKdNUTngIeg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ew-DM97cEeCpKdNUTngIeg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew9cId7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ew9cIt7cEeCpKdNUTngIeg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ew-DNN7cEeCpKdNUTngIeg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ew-qQN7cEeCpKdNUTngIeg" x="84" y="80"/>
        </children>
        <children xmi:id="_Fgv6UN7cEeCpKdNUTngIeg" type="State" element="_Fgk7MN7cEeCpKdNUTngIeg">
          <children xsi:type="notation:DecorationNode" xmi:id="_FgwhYN7cEeCpKdNUTngIeg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FgwhYd7cEeCpKdNUTngIeg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FgwhYt7cEeCpKdNUTngIeg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FgwhY97cEeCpKdNUTngIeg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FgxIcN7cEeCpKdNUTngIeg" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FgxIcd7cEeCpKdNUTngIeg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FgxIct7cEeCpKdNUTngIeg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Fgv6Ud7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Fgv6Ut7cEeCpKdNUTngIeg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FgxIc97cEeCpKdNUTngIeg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fgv6U97cEeCpKdNUTngIeg" x="419" y="80" width="161"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ew6_4d7cEeCpKdNUTngIeg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew38kd7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ew7m8N7cEeCpKdNUTngIeg" x="220" y="10" width="676" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Ew_4ZN7cEeCpKdNUTngIeg" type="StatechartText" fontName="Arial" fontHeight="10" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_ExAfcN7cEeCpKdNUTngIeg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ExAfcd7cEeCpKdNUTngIeg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ExAfct7cEeCpKdNUTngIeg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ExAfc97cEeCpKdNUTngIeg" type="StatechartTextExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ExAfdN7cEeCpKdNUTngIeg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ExBGgN7cEeCpKdNUTngIeg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_EwzrId7cEeCpKdNUTngIeg"/>
    <edges xmi:id="_Ew_RUN7cEeCpKdNUTngIeg" type="Transition" element="_Ew-qQd7cEeCpKdNUTngIeg" source="_Ew8OAN7cEeCpKdNUTngIeg" target="_Ew9cIN7cEeCpKdNUTngIeg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ew_4Yd7cEeCpKdNUTngIeg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ew_4Yt7cEeCpKdNUTngIeg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ew_4Y97cEeCpKdNUTngIeg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ew_RUd7cEeCpKdNUTngIeg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ew_4YN7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ew_RUt7cEeCpKdNUTngIeg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_F8GZkN7cEeCpKdNUTngIeg" type="Transition" element="_F8CIIN7cEeCpKdNUTngIeg" source="_Ew9cIN7cEeCpKdNUTngIeg" target="_Fgv6UN7cEeCpKdNUTngIeg">
      <children xsi:type="notation:DecorationNode" xmi:id="_F8IOwN7cEeCpKdNUTngIeg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_F8IOwd7cEeCpKdNUTngIeg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_F8IOwt7cEeCpKdNUTngIeg" x="2" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_F8HAoN7cEeCpKdNUTngIeg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_F8HnsN7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_F8HAod7cEeCpKdNUTngIeg" points="[37, 6, -213, 0]$[257, -8, 7, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_F9Db0N7cEeCpKdNUTngIeg" id="(0.3728813559322034,0.18461538461538463)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_F9Db0d7cEeCpKdNUTngIeg" id="(0.6610169491525424,0.2153846153846154)"/>
    </edges>
    <edges xmi:id="_On1aoN7cEeCpKdNUTngIeg" type="Transition" element="_OnyXUN7cEeCpKdNUTngIeg" source="_Fgv6UN7cEeCpKdNUTngIeg" target="_Ew9cIN7cEeCpKdNUTngIeg">
      <children xsi:type="notation:DecorationNode" xmi:id="_On2owN7cEeCpKdNUTngIeg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_On2owd7cEeCpKdNUTngIeg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_On2owt7cEeCpKdNUTngIeg" x="1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_On1aod7cEeCpKdNUTngIeg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_On2BsN7cEeCpKdNUTngIeg" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_On1aot7cEeCpKdNUTngIeg" points="[-20, 2, 151, -19]$[-169, 33, 2, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RGspwN7cEeCpKdNUTngIeg" id="(0.0,0.7230769230769231)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Oo2HQN7cEeCpKdNUTngIeg" id="(0.6,0.8153846153846154)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
