<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator
            bindings="org.yakindu.sct.types.generator.statechart.java.JavaSCTGeneratorModule"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            executor="org.yakindu.sct.types.generator.statechart.PackageGeneratorEntryExecutor"
            id="yakindu::java"
            name="Types SCT Java Generator">
           <FeatureLibrary
               library_id="org.yakindu.generator.core.features">
	         </FeatureLibrary>
	         <FeatureLibrary
                library_id="org.yakindu.sct.generator.feature.java">
          </FeatureLibrary>
          <Domain
                id="com.yakindu.domain.java">
          </Domain>
          <Domain
                  id="org.yakindu.domain.default">
        	</Domain>
      </SCTGenerator>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.types.generator.statechart.java.features.JavaFeatureValueProvider"
            library_id="org.yakindu.sct.generator.feature.java"
            uri="platform:/plugin/org.yakindu.sct.types.generator.statechart.java/library/FeatureTypeLibrary.xmi">
      </FeatureLibrary>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.extensions">
      <ExtensionGeneratorMapping
            fileExtension="sct"
            generatorId="yakindu::java">
      </ExtensionGeneratorMapping>
   </extension>
</plugin>
