<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_wSGvUHOOEee07dEgYYRu0Q" specification="namespace eventdriven&#xA;&#xA;@EventDriven&#xA;&#xA;interface:&#xA;&#xA;in event start&#xA;in event reset&#xA;&#xA;var x : integer = 0&#xA;var i1_sequence : integer&#xA;var i2_sequence : integer&#xA;&#xA;internal: &#xA;&#xA;event i1&#xA;event i2&#xA;&#xA;&#xA;always / x += 1&#xA;" namespace="eventdriven" name="EventDrivenInternalEvent">
    <regions xmi:id="_wSGvVXOOEee07dEgYYRu0Q" name="r1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_wSHWaXOOEee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_wSH9hHOOEee07dEgYYRu0Q" target="_wSH9dHOOEee07dEgYYRu0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wSH9dHOOEee07dEgYYRu0Q" specification="start / raise i1" name="A" incomingTransitions="_wSH9hHOOEee07dEgYYRu0Q _tztvYHOQEee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_JvD1YHOQEee07dEgYYRu0Q" specification="i2 / i2_sequence = x" target="_Ju_j8HOQEee07dEgYYRu0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ju_j8HOQEee07dEgYYRu0Q" specification="i2 [i2_sequence &lt; 10] / i2_sequence +=1" name="B" incomingTransitions="_JvD1YHOQEee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_tztvYHOQEee07dEgYYRu0Q" specification="reset" target="_wSH9dHOOEee07dEgYYRu0Q"/>
      </vertices>
    </regions>
    <regions xmi:id="_ZAzhIHOQEee07dEgYYRu0Q" name="r2">
      <vertices xsi:type="sgraph:Entry" xmi:id="_bqSr4HOQEee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_dg6PQHOQEee07dEgYYRu0Q" target="_dg3L8HOQEee07dEgYYRu0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dg3L8HOQEee07dEgYYRu0Q" name="C" incomingTransitions="_dg6PQHOQEee07dEgYYRu0Q _zPYG0HOQEee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_fKTO8HOQEee07dEgYYRu0Q" specification="i1 / &#xA;    i1_sequence = x; &#xA;    raise i2" target="_fKO9gHOQEee07dEgYYRu0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fKO9gHOQEee07dEgYYRu0Q" specification="i1 [i1_sequence &lt; 10] / i1_sequence +=1" name="D" incomingTransitions="_fKTO8HOQEee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_zPYG0HOQEee07dEgYYRu0Q" specification="reset" target="_dg3L8HOQEee07dEgYYRu0Q"/>
      </vertices>
    </regions>
    <regions xmi:id="_gLkpQHOREee07dEgYYRu0Q" name="check">
      <vertices xsi:type="sgraph:Entry" xmi:id="_iW7tkHOREee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_j_ZgMHOREee07dEgYYRu0Q" target="_j_Wc4HOREee07dEgYYRu0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_j_Wc4HOREee07dEgYYRu0Q" name="VALID" incomingTransitions="_j_ZgMHOREee07dEgYYRu0Q _sBXLgHOREee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_oIy-gnOREee07dEgYYRu0Q" specification="[&#xA;    (start &amp;&amp; i1) &#xA;    || (start &amp;&amp; i2) &#xA;    || (i1 &amp;&amp; i2)&#xA;]" target="_oIyXcHOREee07dEgYYRu0Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_oIyXcHOREee07dEgYYRu0Q" name="MULTIPLEEVENTS" incomingTransitions="_oIy-gnOREee07dEgYYRu0Q">
        <outgoingTransitions xmi:id="_sBXLgHOREee07dEgYYRu0Q" specification="reset" target="_j_Wc4HOREee07dEgYYRu0Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_wSGvU3OOEee07dEgYYRu0Q" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_wSGvUHOOEee07dEgYYRu0Q" measurementUnit="Pixel">
    <children xmi:id="_wSHWYHOOEee07dEgYYRu0Q" type="Region" element="_wSGvVXOOEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_wSHWY3OOEee07dEgYYRu0Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wSHWZHOOEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wSHWZXOOEee07dEgYYRu0Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_wSHWZnOOEee07dEgYYRu0Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_wSHWanOOEee07dEgYYRu0Q" type="Entry" element="_wSHWaXOOEee07dEgYYRu0Q">
          <children xmi:id="_wSHWbnOOEee07dEgYYRu0Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_wSH9cHOOEee07dEgYYRu0Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_wSH9cXOOEee07dEgYYRu0Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_wSH9cnOOEee07dEgYYRu0Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wSHWb3OOEee07dEgYYRu0Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSHWcHOOEee07dEgYYRu0Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wSHWa3OOEee07dEgYYRu0Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_wSHWbHOOEee07dEgYYRu0Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSH9c3OOEee07dEgYYRu0Q" x="94" y="24"/>
        </children>
        <children xmi:id="_wSH9d3OOEee07dEgYYRu0Q" type="State" element="_wSH9dHOOEee07dEgYYRu0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_wSH9e3OOEee07dEgYYRu0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wSH9fHOOEee07dEgYYRu0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wSH9fXOOEee07dEgYYRu0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wSH9fnOOEee07dEgYYRu0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wSH9f3OOEee07dEgYYRu0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSH9gHOOEee07dEgYYRu0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wSH9gXOOEee07dEgYYRu0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wSH9eHOOEee07dEgYYRu0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wSH9eXOOEee07dEgYYRu0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wSH9gnOOEee07dEgYYRu0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSH9g3OOEee07dEgYYRu0Q" x="60" y="93"/>
        </children>
        <children xmi:id="_JvBZIHOQEee07dEgYYRu0Q" type="State" element="_Ju_j8HOQEee07dEgYYRu0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_JvBZJHOQEee07dEgYYRu0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JvBZJXOQEee07dEgYYRu0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JvBZJnOQEee07dEgYYRu0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JvBZJ3OQEee07dEgYYRu0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JvBZKHOQEee07dEgYYRu0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JvBZKXOQEee07dEgYYRu0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JvBZKnOQEee07dEgYYRu0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JvBZIXOQEee07dEgYYRu0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JvBZInOQEee07dEgYYRu0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JvBZK3OQEee07dEgYYRu0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JvBZI3OQEee07dEgYYRu0Q" x="245" y="93"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSHWZ3OOEee07dEgYYRu0Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_wSHWYXOOEee07dEgYYRu0Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSHWaHOOEee07dEgYYRu0Q" x="220" y="10" width="484" height="207"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_wSIkh3OOEee07dEgYYRu0Q" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_wSIkiXOOEee07dEgYYRu0Q" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wSIkinOOEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wSIki3OOEee07dEgYYRu0Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_wSIkjHOOEee07dEgYYRu0Q" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSIkjXOOEee07dEgYYRu0Q"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wSIkjnOOEee07dEgYYRu0Q" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_ZA0IMHOQEee07dEgYYRu0Q" type="Region" element="_ZAzhIHOQEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZA3LgHOQEee07dEgYYRu0Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZA3LgXOQEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZA3LgnOQEee07dEgYYRu0Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ZA3Lg3OQEee07dEgYYRu0Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_bqTS8HOQEee07dEgYYRu0Q" type="Entry" element="_bqSr4HOQEee07dEgYYRu0Q">
          <children xmi:id="_bqTS9HOQEee07dEgYYRu0Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_bqTS93OQEee07dEgYYRu0Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_bqTS-HOQEee07dEgYYRu0Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_bqTS-XOQEee07dEgYYRu0Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bqTS9XOQEee07dEgYYRu0Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bqTS9nOQEee07dEgYYRu0Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bqTS8XOQEee07dEgYYRu0Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_bqTS8nOQEee07dEgYYRu0Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bqTS83OQEee07dEgYYRu0Q" x="46" y="20"/>
        </children>
        <children xmi:id="_dg3zAHOQEee07dEgYYRu0Q" type="State" element="_dg3L8HOQEee07dEgYYRu0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_dg3zBHOQEee07dEgYYRu0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dg3zBXOQEee07dEgYYRu0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dg3zBnOQEee07dEgYYRu0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dg3zB3OQEee07dEgYYRu0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dg3zCHOQEee07dEgYYRu0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dg3zCXOQEee07dEgYYRu0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dg3zCnOQEee07dEgYYRu0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dg3zAXOQEee07dEgYYRu0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dg3zAnOQEee07dEgYYRu0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dg3zC3OQEee07dEgYYRu0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dg3zA3OQEee07dEgYYRu0Q" x="53" y="71"/>
        </children>
        <children xmi:id="_fKPkknOQEee07dEgYYRu0Q" type="State" element="_fKO9gHOQEee07dEgYYRu0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_fKQLoHOQEee07dEgYYRu0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fKQLoXOQEee07dEgYYRu0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fKQLonOQEee07dEgYYRu0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fKQLo3OQEee07dEgYYRu0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fKQLpHOQEee07dEgYYRu0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fKQLpXOQEee07dEgYYRu0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fKQLpnOQEee07dEgYYRu0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fKPkk3OQEee07dEgYYRu0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fKPklHOQEee07dEgYYRu0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fKQLp3OQEee07dEgYYRu0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fKPklXOQEee07dEgYYRu0Q" x="229" y="67"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZA3LhHOQEee07dEgYYRu0Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_ZA0IMXOQEee07dEgYYRu0Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZA0IMnOQEee07dEgYYRu0Q" x="220" y="224" width="482" height="170"/>
    </children>
    <children xmi:id="_gLlQUHOREee07dEgYYRu0Q" type="Region" element="_gLkpQHOREee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_gLlQU3OREee07dEgYYRu0Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gLlQVHOREee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gLlQVXOREee07dEgYYRu0Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gLlQVnOREee07dEgYYRu0Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_iW8UoHOREee07dEgYYRu0Q" type="Entry" element="_iW7tkHOREee07dEgYYRu0Q">
          <children xmi:id="_iW8UpHOREee07dEgYYRu0Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_iW8Up3OREee07dEgYYRu0Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_iW8UqHOREee07dEgYYRu0Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_iW8UqXOREee07dEgYYRu0Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iW8UpXOREee07dEgYYRu0Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iW8UpnOREee07dEgYYRu0Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iW8UoXOREee07dEgYYRu0Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_iW8UonOREee07dEgYYRu0Q" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iW8Uo3OREee07dEgYYRu0Q" x="25" y="31"/>
        </children>
        <children xmi:id="_j_XD8nOREee07dEgYYRu0Q" type="State" element="_j_Wc4HOREee07dEgYYRu0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_j_XrAHOREee07dEgYYRu0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_j_XrAXOREee07dEgYYRu0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_j_XrAnOREee07dEgYYRu0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_j_XrA3OREee07dEgYYRu0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_j_XrBHOREee07dEgYYRu0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j_XrBXOREee07dEgYYRu0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_j_XrBnOREee07dEgYYRu0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_j_XD83OREee07dEgYYRu0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_j_XD9HOREee07dEgYYRu0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_j_XrB3OREee07dEgYYRu0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_j_XD9XOREee07dEgYYRu0Q" x="113" y="15"/>
        </children>
        <children xmi:id="_oIzlkHOREee07dEgYYRu0Q" type="State" element="_oIyXcHOREee07dEgYYRu0Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_oI0MoHOREee07dEgYYRu0Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_oI0MoXOREee07dEgYYRu0Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_oI0MonOREee07dEgYYRu0Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oI0Mo3OREee07dEgYYRu0Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_oI0MpHOREee07dEgYYRu0Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oI0MpXOREee07dEgYYRu0Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_oI0MpnOREee07dEgYYRu0Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_oIzlkXOREee07dEgYYRu0Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_oIzlknOREee07dEgYYRu0Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oI0Mp3OREee07dEgYYRu0Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oIzlk3OREee07dEgYYRu0Q" x="107" y="115"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gLlQV3OREee07dEgYYRu0Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_gLlQUXOREee07dEgYYRu0Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gLlQUnOREee07dEgYYRu0Q" x="220" y="400" width="333" height="218"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_wSGvVHOOEee07dEgYYRu0Q"/>
    <edges xmi:id="_wSIkgHOOEee07dEgYYRu0Q" type="Transition" element="_wSH9hHOOEee07dEgYYRu0Q" source="_wSHWanOOEee07dEgYYRu0Q" target="_wSH9d3OOEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_wSIkhHOOEee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wSIkhXOOEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wSIkhnOOEee07dEgYYRu0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wSIkgXOOEee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wSIkg3OOEee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wSIkgnOOEee07dEgYYRu0Q" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_JvEccHOQEee07dEgYYRu0Q" type="Transition" element="_JvD1YHOQEee07dEgYYRu0Q" source="_wSH9d3OOEee07dEgYYRu0Q" target="_JvBZIHOQEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_JvEcdHOQEee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JvEcdXOQEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JvEcdnOQEee07dEgYYRu0Q" x="-3" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JvEccXOQEee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JvEcc3OQEee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JvEccnOQEee07dEgYYRu0Q" points="[-16, -24, 64, 96]$[-78, -117, 2, 3]"/>
    </edges>
    <edges xmi:id="_dg6PQXOQEee07dEgYYRu0Q" type="Transition" element="_dg6PQHOQEee07dEgYYRu0Q" source="_bqTS8HOQEee07dEgYYRu0Q" target="_dg3zAHOQEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_dg62UXOQEee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dg62UnOQEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dg62U3OQEee07dEgYYRu0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dg6PQnOQEee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dg62UHOQEee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dg6PQ3OQEee07dEgYYRu0Q" points="[-7, -3, 49, 27]$[-53, -29, 3, 1]"/>
    </edges>
    <edges xmi:id="_fKT2AHOQEee07dEgYYRu0Q" type="Transition" element="_fKTO8HOQEee07dEgYYRu0Q" source="_dg3zAHOQEee07dEgYYRu0Q" target="_fKPkknOQEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_fKT2BHOQEee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fKT2BXOQEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fKT2BnOQEee07dEgYYRu0Q" x="4" y="-24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fKT2AXOQEee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fKT2A3OQEee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fKT2AnOQEee07dEgYYRu0Q" points="[-18, -24, 55, 74]$[-71, -95, 2, 3]"/>
    </edges>
    <edges xmi:id="_tzuWcHOQEee07dEgYYRu0Q" type="Transition" element="_tztvYHOQEee07dEgYYRu0Q" source="_JvBZIHOQEee07dEgYYRu0Q" target="_wSH9d3OOEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_tzuWdHOQEee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tzuWdXOQEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tzuWdnOQEee07dEgYYRu0Q" x="-1" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tzuWcXOQEee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tzuWc3OQEee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tzuWcnOQEee07dEgYYRu0Q" points="[0, 9, 86, 4]$[-81, 20, 5, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tzvkkHOQEee07dEgYYRu0Q" id="(0.0,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tzvkkXOQEee07dEgYYRu0Q" id="(0.8076923076923077,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_zPYt4HOQEee07dEgYYRu0Q" type="Transition" element="_zPYG0HOQEee07dEgYYRu0Q" source="_fKPkknOQEee07dEgYYRu0Q" target="_dg3zAHOQEee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_zPYt5HOQEee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zPYt5XOQEee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zPYt5nOQEee07dEgYYRu0Q" x="-1" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zPYt4XOQEee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zPYt43OQEee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zPYt4nOQEee07dEgYYRu0Q" points="[0, -3, 155, -14]$[-141, -3, 14, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zPZ8AHOQEee07dEgYYRu0Q" id="(0.0,0.6415094339622641)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zPZ8AXOQEee07dEgYYRu0Q" id="(0.6,0.7735849056603774)"/>
    </edges>
    <edges xmi:id="_j_aHQHOREee07dEgYYRu0Q" type="Transition" element="_j_ZgMHOREee07dEgYYRu0Q" source="_iW8UoHOREee07dEgYYRu0Q" target="_j_XD8nOREee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_j_aHRHOREee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j_aHRXOREee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j_aHRnOREee07dEgYYRu0Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j_aHQXOREee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j_aHQ3OREee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j_aHQnOREee07dEgYYRu0Q" points="[-5, -6, 30, 35]$[-32, -38, 3, 3]"/>
    </edges>
    <edges xmi:id="_oI2B0HOREee07dEgYYRu0Q" type="Transition" element="_oIy-gnOREee07dEgYYRu0Q" source="_j_XD8nOREee07dEgYYRu0Q" target="_oIzlkHOREee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_oI2B1HOREee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oI2B1XOREee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oI2B1nOREee07dEgYYRu0Q" x="1" y="48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oI2B0XOREee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oI2B03OREee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oI2B0nOREee07dEgYYRu0Q" points="[-20, -7, 116, 35]$[-133, -41, 3, 1]"/>
    </edges>
    <edges xmi:id="_sBXykHOREee07dEgYYRu0Q" type="Transition" element="_sBXLgHOREee07dEgYYRu0Q" source="_oIzlkHOREee07dEgYYRu0Q" target="_j_XD8nOREee07dEgYYRu0Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_sBXylHOREee07dEgYYRu0Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sBXylXOREee07dEgYYRu0Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sBXylnOREee07dEgYYRu0Q" x="-85"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sBXykXOREee07dEgYYRu0Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sBXyk3OREee07dEgYYRu0Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sBXyknOREee07dEgYYRu0Q" points="[56, 26, 62, 90]$[78, 26, 84, 90]$[78, -74, 84, -10]$[3, -74, 9, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sBZAsHOREee07dEgYYRu0Q" id="(0.44761904761904764,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sBZAsXOREee07dEgYYRu0Q" id="(0.8043478260869565,0.7547169811320755)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
