<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_c4qVUJpjEeWXkOTCWHzaSw" specification="namespace eventdriven&#xA;&#xA;@EventDriven&#xA;&#xA;interface:&#xA;out event ev_out:integer&#xA;in event ev_in:integer&#xA;var myVar:integer&#xA;operation displayTime()&#xA;&#xA;var afterCalls:integer=0&#xA;var cycles:integer = 0&#xA;var s2_entered:integer = 0&#xA;&#xA;internal:&#xA;every 1s / displayTime()&#xA;oncycle / cycles += 1" namespace="eventdriven" name="RunnableTest">
    <regions xmi:id="_c4sKgppjEeWXkOTCWHzaSw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_c4xqEJpjEeWXkOTCWHzaSw">
        <outgoingTransitions xmi:id="_c4zfQppjEeWXkOTCWHzaSw" target="_5l5RUNGDEeW7UJ0cPg0J-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_Hsdb4NCeEeWFO75CgJFf1g" incomingTransitions="_JBzeMNCeEeWFO75CgJFf1g"/>
      <vertices xsi:type="sgraph:State" xmi:id="_5l5RUNGDEeW7UJ0cPg0J-Q" specification="" name="Composite_s1_s2" incomingTransitions="_c4zfQppjEeWXkOTCWHzaSw">
        <outgoingTransitions xmi:id="_JBzeMNCeEeWFO75CgJFf1g" specification="after 10 s" target="_Hsdb4NCeEeWFO75CgJFf1g"/>
        <regions xmi:id="_5m4IwNGDEeW7UJ0cPg0J-Q" name="inner region">
          <vertices xsi:type="sgraph:State" xmi:id="_c4yRJJpjEeWXkOTCWHzaSw" specification="entry / raise ev_out:2" name="s1" incomingTransitions="_AWDNcMZ2EeWX2I-CIBP2Cw _CFOf4NCZEeWFO75CgJFf1g _GpayANGEEeW7UJ0cPg0J-Q">
            <outgoingTransitions xmi:id="_UgX9gMDrEeWLXPYSPFoy-Q" specification="ev_in" target="_NmkNEMDrEeWLXPYSPFoy-Q"/>
            <outgoingTransitions xmi:id="_AWDNcMZ2EeWX2I-CIBP2Cw" specification="after 500 ms / afterCalls += 1" target="_c4yRJJpjEeWXkOTCWHzaSw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_NmkNEMDrEeWLXPYSPFoy-Q" specification="entry / s2_entered += 1" name="s2" incomingTransitions="_UgX9gMDrEeWLXPYSPFoy-Q">
            <outgoingTransitions xmi:id="_CFOf4NCZEeWFO75CgJFf1g" specification="ev_in" target="_c4yRJJpjEeWXkOTCWHzaSw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_FxazANGEEeW7UJ0cPg0J-Q">
            <outgoingTransitions xmi:id="_GpayANGEEeW7UJ0cPg0J-Q" specification="" target="_c4yRJJpjEeWXkOTCWHzaSw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_c4sKgJpjEeWXkOTCWHzaSw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_c4qVUJpjEeWXkOTCWHzaSw" measurementUnit="Pixel">
    <children xmi:id="_c4umwJpjEeWXkOTCWHzaSw" type="Region" element="_c4sKgppjEeWXkOTCWHzaSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_c4wb8JpjEeWXkOTCWHzaSw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c4wb8ZpjEeWXkOTCWHzaSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c4wb8ppjEeWXkOTCWHzaSw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c4xDAJpjEeWXkOTCWHzaSw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_c4xqEZpjEeWXkOTCWHzaSw" type="Entry" element="_c4xqEJpjEeWXkOTCWHzaSw">
          <children xmi:id="_c4xqFZpjEeWXkOTCWHzaSw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_c4yRIJpjEeWXkOTCWHzaSw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_c4yRIZpjEeWXkOTCWHzaSw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_c4yRIppjEeWXkOTCWHzaSw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_c4xqFppjEeWXkOTCWHzaSw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4xqF5pjEeWXkOTCWHzaSw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_c4xqEppjEeWXkOTCWHzaSw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_c4xqE5pjEeWXkOTCWHzaSw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4yRI5pjEeWXkOTCWHzaSw" x="214" y="25" width="15" height="15"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_HsgfMNCeEeWFO75CgJFf1g" type="FinalState" element="_Hsdb4NCeEeWFO75CgJFf1g" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HsgfMdCeEeWFO75CgJFf1g" x="198" y="685" width="15" height="15"/>
        </children>
        <children xmi:id="_5nU0sNGDEeW7UJ0cPg0J-Q" type="State" element="_5l5RUNGDEeW7UJ0cPg0J-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_5nU0tNGDEeW7UJ0cPg0J-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5nU0tdGDEeW7UJ0cPg0J-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5nU0ttGDEeW7UJ0cPg0J-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5nU0t9GDEeW7UJ0cPg0J-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5nU0uNGDEeW7UJ0cPg0J-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5nU0udGDEeW7UJ0cPg0J-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5nVbwNGDEeW7UJ0cPg0J-Q" type="StateFigureCompartment">
            <children xmi:id="_5nWC0NGDEeW7UJ0cPg0J-Q" type="Region" element="_5m4IwNGDEeW7UJ0cPg0J-Q">
              <children xsi:type="notation:DecorationNode" xmi:id="_5nWC09GDEeW7UJ0cPg0J-Q" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_5nWC1NGDEeW7UJ0cPg0J-Q"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_5nWC1dGDEeW7UJ0cPg0J-Q"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_5nWC1tGDEeW7UJ0cPg0J-Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_c4yRJ5pjEeWXkOTCWHzaSw" type="State" element="_c4yRJJpjEeWXkOTCWHzaSw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_c4y4MJpjEeWXkOTCWHzaSw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_c4y4MZpjEeWXkOTCWHzaSw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_c4y4MppjEeWXkOTCWHzaSw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_c4y4M5pjEeWXkOTCWHzaSw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_c4y4NJpjEeWXkOTCWHzaSw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4y4NZpjEeWXkOTCWHzaSw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_c4y4NppjEeWXkOTCWHzaSw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_c4yRKJpjEeWXkOTCWHzaSw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_c4yRKZpjEeWXkOTCWHzaSw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_c4zfQJpjEeWXkOTCWHzaSw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5nWp4NGDEeW7UJ0cPg0J-Q" x="48" y="29"/>
                </children>
                <children xmi:id="_NmnQYMDrEeWLXPYSPFoy-Q" type="State" element="_NmkNEMDrEeWLXPYSPFoy-Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_NmpsoMDrEeWLXPYSPFoy-Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_NmpsocDrEeWLXPYSPFoy-Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_NmqTsMDrEeWLXPYSPFoy-Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_NmqTscDrEeWLXPYSPFoy-Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_NmqTssDrEeWLXPYSPFoy-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NmqTs8DrEeWLXPYSPFoy-Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Nmq6wMDrEeWLXPYSPFoy-Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_NmnQYcDrEeWLXPYSPFoy-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_NmnQYsDrEeWLXPYSPFoy-Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Nmq6wcDrEeWLXPYSPFoy-Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5nWp4dGDEeW7UJ0cPg0J-Q" x="473" y="21"/>
                </children>
                <children xmi:id="_FxbaENGEEeW7UJ0cPg0J-Q" type="Entry" element="_FxazANGEEeW7UJ0cPg0J-Q">
                  <children xmi:id="_FxcBINGEEeW7UJ0cPg0J-Q" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_FxcBI9GEEeW7UJ0cPg0J-Q" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_FxcBJNGEEeW7UJ0cPg0J-Q"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_FxcBJdGEEeW7UJ0cPg0J-Q"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_FxcBIdGEEeW7UJ0cPg0J-Q" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FxcBItGEEeW7UJ0cPg0J-Q"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_FxbaEdGEEeW7UJ0cPg0J-Q" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_FxbaEtGEEeW7UJ0cPg0J-Q" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FxbaE9GEEeW7UJ0cPg0J-Q" x="105" y="154"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5nWC19GDEeW7UJ0cPg0J-Q"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_5nWC0dGDEeW7UJ0cPg0J-Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5nWC0tGDEeW7UJ0cPg0J-Q"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5nU0sdGDEeW7UJ0cPg0J-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5nU0stGDEeW7UJ0cPg0J-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5nVbwdGDEeW7UJ0cPg0J-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5nVbwtGDEeW7UJ0cPg0J-Q" x="39" y="80" width="846" height="477"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4xDAZpjEeWXkOTCWHzaSw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_c4umwZpjEeWXkOTCWHzaSw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c4xDAppjEeWXkOTCWHzaSw" x="256" y="4" width="1280" height="896"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_c41UcJpjEeWXkOTCWHzaSw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_c41UcppjEeWXkOTCWHzaSw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c41Uc5pjEeWXkOTCWHzaSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c41UdJpjEeWXkOTCWHzaSw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_c41UdZpjEeWXkOTCWHzaSw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c41UdppjEeWXkOTCWHzaSw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c41Ud5pjEeWXkOTCWHzaSw" x="10" y="10" width="391" height="466"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_c4sKgZpjEeWXkOTCWHzaSw"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_a97wYEGmEemA448eHUvgeg" name="inlineDefinitionSection"/>
    <edges xmi:id="_c40GUJpjEeWXkOTCWHzaSw" type="Transition" element="_c4zfQppjEeWXkOTCWHzaSw" source="_c4xqEZpjEeWXkOTCWHzaSw" target="_5nU0sNGDEeW7UJ0cPg0J-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_c40tYZpjEeWXkOTCWHzaSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c40tYppjEeWXkOTCWHzaSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c40tY5pjEeWXkOTCWHzaSw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c40GUZpjEeWXkOTCWHzaSw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c40tYJpjEeWXkOTCWHzaSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c40GUppjEeWXkOTCWHzaSw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HJGXoNGEEeW7UJ0cPg0J-Q" id="(0.21749408983451538,0.06708595387840671)"/>
    </edges>
    <edges xmi:id="_UgZLoMDrEeWLXPYSPFoy-Q" type="Transition" element="_UgX9gMDrEeWLXPYSPFoy-Q" source="_c4yRJ5pjEeWXkOTCWHzaSw" target="_NmnQYMDrEeWLXPYSPFoy-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_UgZysMDrEeWLXPYSPFoy-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UgZyscDrEeWLXPYSPFoy-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UgZyssDrEeWLXPYSPFoy-Q" x="7" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UgZLocDrEeWLXPYSPFoy-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UgZLo8DrEeWLXPYSPFoy-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UgZLosDrEeWLXPYSPFoy-Q" points="[3, 4, -326, 2]$[330, -21, 1, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UgbA0MDrEeWLXPYSPFoy-Q" id="(0.8809523809523809,0.16455696202531644)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UgbA0cDrEeWLXPYSPFoy-Q" id="(0.09734513274336283,0.27906976744186046)"/>
    </edges>
    <edges xmi:id="_AWFCoMZ2EeWX2I-CIBP2Cw" type="Transition" element="_AWDNcMZ2EeWX2I-CIBP2Cw" source="_c4yRJ5pjEeWXkOTCWHzaSw" target="_c4yRJ5pjEeWXkOTCWHzaSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_AWFpsMZ2EeWX2I-CIBP2Cw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AWFpscZ2EeWX2I-CIBP2Cw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AWFpssZ2EeWX2I-CIBP2Cw" x="-146" y="-23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AWFCocZ2EeWX2I-CIBP2Cw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AWFCo8Z2EeWX2I-CIBP2Cw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AWFCosZ2EeWX2I-CIBP2Cw" points="[-37, 32, 1, 8]$[-33, 32, 5, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AWHe4MZ2EeWX2I-CIBP2Cw" id="(1.0,0.6826923076923077)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AWHe4cZ2EeWX2I-CIBP2Cw" id="(0.7666666666666667,0.7848101265822784)"/>
    </edges>
    <edges xmi:id="_CFUmgNCZEeWFO75CgJFf1g" type="Transition" element="_CFOf4NCZEeWFO75CgJFf1g" source="_NmnQYMDrEeWLXPYSPFoy-Q" target="_c4yRJ5pjEeWXkOTCWHzaSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_CFb7QNCZEeWFO75CgJFf1g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CFb7QdCZEeWFO75CgJFf1g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CFb7QtCZEeWFO75CgJFf1g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CFUmgdCZEeWFO75CgJFf1g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CFatINCZEeWFO75CgJFf1g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CFUmgtCZEeWFO75CgJFf1g" points="[-4, -5, 264, 4]$[-263, 21, 5, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CFe-kNCZEeWFO75CgJFf1g" id="(0.022123893805309734,0.6627906976744186)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CFe-kdCZEeWFO75CgJFf1g" id="(0.8142857142857143,0.6075949367088608)"/>
    </edges>
    <edges xmi:id="_JB0sUNCeEeWFO75CgJFf1g" type="Transition" element="_JBzeMNCeEeWFO75CgJFf1g" source="_5nU0sNGDEeW7UJ0cPg0J-Q" target="_HsgfMNCeEeWFO75CgJFf1g">
      <children xsi:type="notation:DecorationNode" xmi:id="_JB0sVNCeEeWFO75CgJFf1g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JB0sVdCeEeWFO75CgJFf1g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JB0sVtCeEeWFO75CgJFf1g" x="3" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JB0sUdCeEeWFO75CgJFf1g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JB0sU9CeEeWFO75CgJFf1g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JB0sUtCeEeWFO75CgJFf1g" points="[7, 9, -2, -166]$[2, 172, -7, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JB16cNCeEeWFO75CgJFf1g" id="(0.197196261682243,0.9853249475890985)"/>
    </edges>
    <edges xmi:id="_GpcAINGEEeW7UJ0cPg0J-Q" type="Transition" element="_GpayANGEEeW7UJ0cPg0J-Q" source="_FxbaENGEEeW7UJ0cPg0J-Q" target="_c4yRJ5pjEeWXkOTCWHzaSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_GpcnMdGEEeW7UJ0cPg0J-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GpcnMtGEEeW7UJ0cPg0J-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GpcnM9GEEeW7UJ0cPg0J-Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GpcAIdGEEeW7UJ0cPg0J-Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GpcnMNGEEeW7UJ0cPg0J-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GpcAItGEEeW7UJ0cPg0J-Q" points="[0, -7, -5, 81]$[7, -58, 2, 30]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GpecYNGEEeW7UJ0cPg0J-Q" id="(0.23282442748091603,0.6075949367088608)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
