<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="YAKINDU"
         parentCategory = "org.eclipse.ui.Examples"
         name="YAKINDU SCT">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/YAKINDU"
            class="org.yakindu.sct.examples.wizard.ExampleWizard"
            finalPerspective="org.yakindu.sct.ui.ModelingPerspective"
            icon="icons/logo-16.png"
            id="org.yakindu.sct.examples.ui.wizards.ExampleWizard"
            name="YAKINDU Statechart Examples"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category
         id="YAKINDU"
         name="YAKINDU SCT">
      </category>
      <wizard
            category="YAKINDU"
            class="org.yakindu.sct.examples.wizard.ExampleWizard"
            finalPerspective="org.yakindu.sct.ui.ModelingPerspective"
            icon="icons/logo-16.png"
            id="org.yakindu.sct.examples.ui.wizards.ExampleWizard"
            name="Examples"
            project="true">
      </wizard>
    </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.yakindu.sct.ui.ModelingPerspective">
         <newWizardShortcut
               id="org.yakindu.sct.examples.ui.wizards.ExampleWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.yakindu.sct.ui.SimulationPerspective">
         <newWizardShortcut
               id="org.yakindu.sct.examples.ui.wizards.ExampleWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
         category="org.yakindu.sct.ui.preferences.root"
         class="org.yakindu.sct.examples.wizard.preferences.ExamplesPreferencePage"
         id="com.yakindu.sct.examples"
         name="Example wizard">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
         class="org.yakindu.sct.examples.wizard.preferences.ExamplesPreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup
         class="org.yakindu.sct.examples.wizard.drop.ExampleDropSupportRegistrar">
      </startup>
   </extension>
   <extension
         id="org.eclipse.ui.browser.editor"
         point="org.eclipse.ui.browser.browsers">
   </extension>
</plugin>
