sudo: false
language: java
dist: precise
jdk: 
 - oraclejdk8
addons:
 apt:
  packages:
cache:
  directories:
  - $HOME/.m2
  - $HOME/.ccache
env:
  global:
  - SWT_GTK3=0
  - DISPLAY=:99.0
  - GTEST_DIR=${TRAVIS_BUILD_DIR}/googletest-release-1.8.0/googletest
  - LIBRARY_PATH=${TRAVIS_BUILD_DIR}/googletest-release-1.8.0/googletest/build:${TRAVIS_BUILD_DIR}/googletest-release-1.8.0/googlemock/build:$LIBRARY_PATH
  - CPATH=${TRAVIS_BUILD_DIR}/googletest-release-1.8.0/googletest/include:${TRAVIS_BUILD_DIR}/googletest-release-1.8.0/googlemock/include:$CPATH
  - GMOCK_HOME
matrix:
  include:
  - env: TARGET=Neon.target
  - env: TARGET=Oxygen.target
  - env: TARGET=Photon.target
  - env: TARGET=2018-09.target
before_script:
 - wget https://github.com/google/googletest/archive/release-1.8.0.zip
 - unzip release-1.8.0.zip
 - cd googletest-release-1.8.0/googlemock
 - mkdir build && cd build && cmake .. && make
 - export LD_LIBRARY_PATH=$PWD:$LD_LIBRARY_PATH
 - cd ../../googletest
 - mkdir build && cd build && cmake .. && make
 - export LD_LIBRARY_PATH=$PWD:$LD_LIBRARY_PATH
 - cd ../..
 - export GMOCK_HOME=`pwd`
 - cd $TRAVIS_BUILD_DIR
  # Install ccache
 - mkdir ccache
 - cd ccache
 - wget https://www.samba.org/ftp/ccache/ccache-3.5.tar.gz
 - tar -xzvf ccache-3.5.tar.gz
 - cd ccache-3.5
 - ./configure
 - make
 - cp ccache ..
 - cd ..
 - ln -s ccache gcc
 - ln -s ccache g++
 - ln -s ccache cc
 - ln -s ccache c++
 - export PATH=$PWD:$PATH
# Display ccache usage statistics before build
 - ccache -s
 - cd $TRAVIS_BUILD_DIR
before_install:
- sh -e /etc/init.d/xvfb start - sleep 10
script:
- cd releng/org.yakindu.sct.releng
- mvn clean verify -P$TARGET,tests
# Display ccache usage statistics
- ccache -s
