<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator
            bindings="org.yakindu.sct.generator.cpp.CppCodeGeneratorModule"
            contentType="statechart"
            description="YAKINDU SCT C++ Code Generator"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            executor="org.yakindu.sct.generator.core.execution.SExecGeneratorEntryExecutor"
            icon="icons/sct.png"
            id="yakindu::cpp::legacy"
            name="YAKINDU SCT C++ Code Generator">
            <Domain
                  id="org.yakindu.domain.default">
            </Domain>
            <Domain
                  id="com.yakindu.domain.c">
            </Domain>
         <FeatureLibrary
               library_id="org.yakindu.generator.core.features">
         </FeatureLibrary>
         <FeatureLibrary
               library_id="org.yakindu.sct.generator.feature.cpp.legacy">
         </FeatureLibrary>
      </SCTGenerator>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.extensions">
      <ExtensionGeneratorMapping
            fileExtension="sct"
            generatorId="yakindu::cpp::legacy">
      </ExtensionGeneratorMapping>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.generator.cpp.features.CPPDefaultFeatureValueProvider"
            library_id="org.yakindu.sct.generator.feature.cpp.legacy"
            uri="platform:/plugin/org.yakindu.sct.generator.cpp/library/FeatureTypeLibrary.xmi">
      </FeatureLibrary>
   </extension>
</plugin>
