<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_1_y9UOr8EeOY6Jei9gSPQw" specification="" name="test23">
    <regions xmi:id="_1_zkYur8EeOY6Jei9gSPQw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_1_0yger8EeOY6Jei9gSPQw">
        <outgoingTransitions xmi:id="_1_2ns-r8EeOY6Jei9gSPQw" specification=" # > entry_A0" target="_4os5QOr8EeOY6Jei9gSPQw"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_3ErhwOr8EeOY6Jei9gSPQw" incomingTransitions="_cubp9-sAEeOsdKncm9SrMw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_4os5QOr8EeOY6Jei9gSPQw" specification="" name="Composite_Composite_A" incomingTransitions="_1_2ns-r8EeOY6Jei9gSPQw">
        <outgoingTransitions xmi:id="_cubp9-sAEeOsdKncm9SrMw" specification=" # exit_A0 >" target="_3ErhwOr8EeOY6Jei9gSPQw"/>
        <regions xmi:id="_4otgUOr8EeOY6Jei9gSPQw" name="inner region">
          <vertices xsi:type="sgraph:State" xmi:id="_34DfcOr8EeOY6Jei9gSPQw" specification="" name="Composite_A">
            <regions xmi:id="_34EGgOr8EeOY6Jei9gSPQw" name="inner region">
              <vertices xsi:type="sgraph:State" xmi:id="_1_1ZlOr8EeOY6Jei9gSPQw" specification="" name="A" incomingTransitions="_cuX_kOsAEeOsdKncm9SrMw">
                <outgoingTransitions xmi:id="_3a30MOr8EeOY6Jei9gSPQw" specification="" target="_cuab0OsAEeOsdKncm9SrMw"/>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_cuXYgOsAEeOsdKncm9SrMw" name="entry_A0">
            <outgoingTransitions xmi:id="_cuX_kOsAEeOsdKncm9SrMw" specification="" target="_1_1ZlOr8EeOY6Jei9gSPQw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_cuab0OsAEeOsdKncm9SrMw" name="exit_A0" incomingTransitions="_3a30MOr8EeOY6Jei9gSPQw"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_1_zkYOr8EeOY6Jei9gSPQw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_1_y9UOr8EeOY6Jei9gSPQw" measurementUnit="Pixel">
    <children xmi:id="_1_zkY-r8EeOY6Jei9gSPQw" type="Region" element="_1_zkYur8EeOY6Jei9gSPQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1_0LcOr8EeOY6Jei9gSPQw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1_0Lcer8EeOY6Jei9gSPQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1_0Lcur8EeOY6Jei9gSPQw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1_0Lc-r8EeOY6Jei9gSPQw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_1_0ygur8EeOY6Jei9gSPQw" type="Entry" element="_1_0yger8EeOY6Jei9gSPQw">
          <children xmi:id="_1_0yher8EeOY6Jei9gSPQw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_1_1ZkOr8EeOY6Jei9gSPQw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1_1Zker8EeOY6Jei9gSPQw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_1_1Zkur8EeOY6Jei9gSPQw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1_0yhur8EeOY6Jei9gSPQw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_0yh-r8EeOY6Jei9gSPQw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1_0yg-r8EeOY6Jei9gSPQw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_1Zk-r8EeOY6Jei9gSPQw" x="196" y="33" width="15" height="15"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_3EsI0Or8EeOY6Jei9gSPQw" type="FinalState" element="_3ErhwOr8EeOY6Jei9gSPQw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3EsI0er8EeOY6Jei9gSPQw" x="509" y="302" width="15" height="15"/>
        </children>
        <children xmi:id="_4ouHYOr8EeOY6Jei9gSPQw" type="State" element="_4os5QOr8EeOY6Jei9gSPQw">
          <children xsi:type="notation:DecorationNode" xmi:id="_4ouucOr8EeOY6Jei9gSPQw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4ouucer8EeOY6Jei9gSPQw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4ouucur8EeOY6Jei9gSPQw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4ouuc-r8EeOY6Jei9gSPQw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4ouudOr8EeOY6Jei9gSPQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ouuder8EeOY6Jei9gSPQw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4ouudur8EeOY6Jei9gSPQw" type="StateFigureCompartment">
            <children xmi:id="_4ovVgur8EeOY6Jei9gSPQw" type="Region" element="_4otgUOr8EeOY6Jei9gSPQw">
              <children xsi:type="notation:DecorationNode" xmi:id="_4ov8kOr8EeOY6Jei9gSPQw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_4ov8ker8EeOY6Jei9gSPQw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_4ov8kur8EeOY6Jei9gSPQw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_4pEssOr8EeOY6Jei9gSPQw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_34EtkOr8EeOY6Jei9gSPQw" type="State" element="_34DfcOr8EeOY6Jei9gSPQw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_34FUoOr8EeOY6Jei9gSPQw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_34FUoer8EeOY6Jei9gSPQw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_34FUour8EeOY6Jei9gSPQw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_34FUo-r8EeOY6Jei9gSPQw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_34FUpOr8EeOY6Jei9gSPQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_34FUper8EeOY6Jei9gSPQw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_34F7sOr8EeOY6Jei9gSPQw" type="StateFigureCompartment">
                    <children xmi:id="_34F7s-r8EeOY6Jei9gSPQw" type="Region" element="_34EGgOr8EeOY6Jei9gSPQw">
                      <children xsi:type="notation:DecorationNode" xmi:id="_34GiwOr8EeOY6Jei9gSPQw" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_34Giwer8EeOY6Jei9gSPQw"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_34Giwur8EeOY6Jei9gSPQw"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_34Giw-r8EeOY6Jei9gSPQw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_1_2AoOr8EeOY6Jei9gSPQw" type="State" element="_1_1ZlOr8EeOY6Jei9gSPQw">
                          <children xsi:type="notation:DecorationNode" xmi:id="_1_2ApOr8EeOY6Jei9gSPQw" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_1_2Aper8EeOY6Jei9gSPQw"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_1_2Apur8EeOY6Jei9gSPQw"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_1_2Ap-r8EeOY6Jei9gSPQw" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_1_2AqOr8EeOY6Jei9gSPQw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_2Aqer8EeOY6Jei9gSPQw"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_1_2nsOr8EeOY6Jei9gSPQw" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_1_2Aoer8EeOY6Jei9gSPQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_1_2Aour8EeOY6Jei9gSPQw"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1_2nser8EeOY6Jei9gSPQw" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_34HJ0Or8EeOY6Jei9gSPQw" x="48" y="21"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_34GixOr8EeOY6Jei9gSPQw"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_34F7tOr8EeOY6Jei9gSPQw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_34F7ter8EeOY6Jei9gSPQw"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_34Etker8EeOY6Jei9gSPQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_34Etkur8EeOY6Jei9gSPQw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_34F7ser8EeOY6Jei9gSPQw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4pF60Or8EeOY6Jei9gSPQw" y="57" width="176" height="208"/>
                </children>
                <children xmi:id="_cuab0esAEeOsdKncm9SrMw" type="Exit" element="_cuab0OsAEeOsdKncm9SrMw">
                  <children xmi:id="_cuab1OsAEeOsdKncm9SrMw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_cubC4OsAEeOsdKncm9SrMw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_cubC4esAEeOsdKncm9SrMw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_cubC4usAEeOsdKncm9SrMw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cuab1esAEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cuab1usAEeOsdKncm9SrMw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cuab0usAEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cuab0-sAEeOsdKncm9SrMw" x="222" y="151"/>
                </children>
                <children xmi:id="_c7IpMOsAEeOsdKncm9SrMw" type="Entry" element="_cuXYgOsAEeOsdKncm9SrMw">
                  <children xmi:id="_c7IpM-sAEeOsdKncm9SrMw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_c7IpNusAEeOsdKncm9SrMw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_c7IpN-sAEeOsdKncm9SrMw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_c7IpOOsAEeOsdKncm9SrMw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_c7IpNOsAEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c7IpNesAEeOsdKncm9SrMw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_c7IpMesAEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_c7IpMusAEeOsdKncm9SrMw" x="-42" y="151"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4pEsser8EeOY6Jei9gSPQw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_4ovVg-r8EeOY6Jei9gSPQw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ovVhOr8EeOY6Jei9gSPQw" width="389" height="333"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4ouHYer8EeOY6Jei9gSPQw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4ouHYur8EeOY6Jei9gSPQw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4ovVgOr8EeOY6Jei9gSPQw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cuWKYOsAEeOsdKncm9SrMw" name="isInline" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4ovVger8EeOY6Jei9gSPQw" x="5" y="133" width="403" height="358"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_0LdOr8EeOY6Jei9gSPQw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1_zkZOr8EeOY6Jei9gSPQw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_0ygOr8EeOY6Jei9gSPQw" x="220" y="10" width="561" height="641"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_1_3Ox-r8EeOY6Jei9gSPQw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_1_310Or8EeOY6Jei9gSPQw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1_310er8EeOY6Jei9gSPQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1_310ur8EeOY6Jei9gSPQw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1_310-r8EeOY6Jei9gSPQw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_311Or8EeOY6Jei9gSPQw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1_311er8EeOY6Jei9gSPQw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_1_zkYer8EeOY6Jei9gSPQw"/>
    <edges xmi:id="_1_3OwOr8EeOY6Jei9gSPQw" type="Transition" element="_1_2ns-r8EeOY6Jei9gSPQw" source="_1_0ygur8EeOY6Jei9gSPQw" target="_4ouHYOr8EeOY6Jei9gSPQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_1_3OxOr8EeOY6Jei9gSPQw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1_3Oxer8EeOY6Jei9gSPQw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1_3Oxur8EeOY6Jei9gSPQw" x="1" y="-40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1_3Ower8EeOY6Jei9gSPQw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1_3Ow-r8EeOY6Jei9gSPQw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1_3Owur8EeOY6Jei9gSPQw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_cucRAOsAEeOsdKncm9SrMw" type="Transition" element="_cubp9-sAEeOsdKncm9SrMw" source="_4ouHYOr8EeOY6Jei9gSPQw" target="_3EsI0Or8EeOY6Jei9gSPQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cucRBOsAEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cucRBesAEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cucRBusAEeOsdKncm9SrMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cucRAesAEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cucRA-sAEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cucRAusAEeOsdKncm9SrMw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_cubp8OsAEeOsdKncm9SrMw" type="Transition" element="_3a30MOr8EeOY6Jei9gSPQw" source="_1_2AoOr8EeOY6Jei9gSPQw" target="_cuab0esAEeOsdKncm9SrMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_cubp9OsAEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cubp9esAEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cubp9usAEeOsdKncm9SrMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cubp8esAEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cubp8-sAEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cubp8usAEeOsdKncm9SrMw" points="[18, 1, -129, -12]$[140, 13, -7, 0]"/>
    </edges>
    <edges xmi:id="_c7LFcOsAEeOsdKncm9SrMw" type="Transition" element="_cuX_kOsAEeOsdKncm9SrMw" source="_c7IpMOsAEeOsdKncm9SrMw" target="_1_2AoOr8EeOY6Jei9gSPQw">
      <children xsi:type="notation:DecorationNode" xmi:id="_c7LFdOsAEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c7LFdesAEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c7LFdusAEeOsdKncm9SrMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c7LFcesAEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c7LFc-sAEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c7LFcusAEeOsdKncm9SrMw" points="[7, 1, -183, -32]$[173, 29, -17, -4]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
