<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.yakindu.sct.simulation.core.executionfactory" name="ExecutionFactory" schema="schema/executionfactory.exsd"/>

	<!-- Launch configuration -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    	<launchConfigurationType
          delegate="org.yakindu.sct.simulation.core.launch.StatechartLaunchConfigurationDelegate"
          id="org.yakindu.sct.simulation.core.launch.statechart"
          modes="run, debug"
          name="YAKINDU Statechart">
    	</launchConfigurationType>
	</extension>
	<!-- Breakpoints -->
	<extension point="org.eclipse.debug.core.breakpoints">
   		<breakpoint 
      		markerType="org.yakindu.sct.simulation.core.breakpoints"
      		class="org.yakindu.sct.simulation.core.breakpoints.SCTBreakpoint"
      		id="org.yakindu.sct.simulation.core.sct.breakpoints">
   		</breakpoint>
	</extension>
 <extension
       id="breakpoints"
       point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.debug.core.breakpointMarker"/>
    <persistent value="true"/>
      <attribute name="message"/>
      <attribute name="elementId"/>
      <attribute name="conditional"/>
      <attribute name="expression"/>
 </extension>
</plugin>
