<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.gmf.runtime.diagram.ui.parts.DiagramEditor"
            class="org.yakindu.sct.ui.simulation.IHighlightingSupportAdapterFactory">
         <adapter
               type="org.yakindu.sct.ui.simulation.IHighlightingSupportAdapterFactory">
         </adapter>
      </factory>
   </extension>

</plugin>
