<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_z1asQJ6iEeGR-6jhjFPx5A" specification="interface:&#xD;&#xA;in event e &#xD;&#xA;in event f&#xD;&#xA;in event g&#xD;&#xA;in event h&#xD;&#xA;var c : boolean = false&#xD;&#xA;" name="Choice">
    <regions xmi:id="_z1asQ56iEeGR-6jhjFPx5A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_z1j2OZ6iEeGR-6jhjFPx5A">
        <outgoingTransitions xmi:id="_Pi-ogKlkEeGmpNX2cnyk2Q" specification="" target="_LdKpsKlkEeGmpNX2cnyk2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LdKpsKlkEeGmpNX2cnyk2Q" specification="" name="A" incomingTransitions="_Pi-ogKlkEeGmpNX2cnyk2Q _Bo7nIKJ4EeK62NKshpou-A _JClVQKJ4EeK62NKshpou-A">
        <outgoingTransitions xmi:id="_SIYkgKlkEeGmpNX2cnyk2Q" specification="e" target="_RkLEMKlkEeGmpNX2cnyk2Q"/>
        <outgoingTransitions xmi:id="_bU4WAKl0EeGcJsk19eqYVQ" specification="f" target="_r9eW0JNOEeKBtrru-JWnVQ"/>
        <outgoingTransitions xmi:id="_lmJvUKllEeGmpNX2cnyk2Q" specification="g" target="_zaksAKlmEeGmpNX2cnyk2Q"/>
        <outgoingTransitions xmi:id="_dX4vkKJ6EeK62NKshpou-A" specification="h" target="_b6MpkKJ6EeK62NKshpou-A"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_RkLEMKlkEeGmpNX2cnyk2Q" incomingTransitions="_SIYkgKlkEeGmpNX2cnyk2Q">
        <outgoingTransitions xmi:id="_V0axYKlkEeGmpNX2cnyk2Q" specification="else" target="_W-U_wKlkEeGmpNX2cnyk2Q"/>
        <outgoingTransitions xmi:id="_ZLvSgKlkEeGmpNX2cnyk2Q" specification="[c]" target="_OoKJkKllEeGmpNX2cnyk2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_W-U_wKlkEeGmpNX2cnyk2Q" specification="" name="B" incomingTransitions="_takm8JNOEeKBtrru-JWnVQ _V0axYKlkEeGmpNX2cnyk2Q _OWpsYKlxEeGcJsk19eqYVQ _j8lysKJ6EeK62NKshpou-A">
        <outgoingTransitions xmi:id="_Bo7nIKJ4EeK62NKshpou-A" specification="default" target="_LdKpsKlkEeGmpNX2cnyk2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_OoKJkKllEeGmpNX2cnyk2Q" specification="" name="C" incomingTransitions="_vcYGoJNOEeKBtrru-JWnVQ _ZLvSgKlkEeGmpNX2cnyk2Q _gnWqUKl2EeGcJsk19eqYVQ _0ovm8KJ6EeK62NKshpou-A">
        <outgoingTransitions xmi:id="_JClVQKJ4EeK62NKshpou-A" specification="default" target="_LdKpsKlkEeGmpNX2cnyk2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_zaksAKlmEeGmpNX2cnyk2Q" incomingTransitions="_lmJvUKllEeGmpNX2cnyk2Q">
        <outgoingTransitions xmi:id="_gnWqUKl2EeGcJsk19eqYVQ" specification="[c]" target="_OoKJkKllEeGmpNX2cnyk2Q"/>
        <outgoingTransitions xmi:id="_OWpsYKlxEeGcJsk19eqYVQ" specification="default" target="_W-U_wKlkEeGmpNX2cnyk2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_r9eW0JNOEeKBtrru-JWnVQ" incomingTransitions="_bU4WAKl0EeGcJsk19eqYVQ">
        <outgoingTransitions xmi:id="_takm8JNOEeKBtrru-JWnVQ" specification="//nothing" target="_W-U_wKlkEeGmpNX2cnyk2Q"/>
        <outgoingTransitions xmi:id="_vcYGoJNOEeKBtrru-JWnVQ" specification="[c]" target="_OoKJkKllEeGmpNX2cnyk2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_b6MpkKJ6EeK62NKshpou-A" incomingTransitions="_dX4vkKJ6EeK62NKshpou-A">
        <outgoingTransitions xmi:id="_j8lysKJ6EeK62NKshpou-A" specification="default" target="_W-U_wKlkEeGmpNX2cnyk2Q"/>
        <outgoingTransitions xmi:id="_0ovm8KJ6EeK62NKshpou-A" specification="[c]" target="_OoKJkKllEeGmpNX2cnyk2Q"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_z1asQZ6iEeGR-6jhjFPx5A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_z1asQJ6iEeGR-6jhjFPx5A" measurementUnit="Pixel">
    <children xmi:id="_z1j2MJ6iEeGR-6jhjFPx5A" type="Region" element="_z1asQ56iEeGR-6jhjFPx5A">
      <children xsi:type="notation:DecorationNode" xmi:id="_z1j2M56iEeGR-6jhjFPx5A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2NJ6iEeGR-6jhjFPx5A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z1j2NZ6iEeGR-6jhjFPx5A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_z1j2Np6iEeGR-6jhjFPx5A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_z1j2Op6iEeGR-6jhjFPx5A" type="Entry" element="_z1j2OZ6iEeGR-6jhjFPx5A">
          <children xmi:id="_z1j2PZ6iEeGR-6jhjFPx5A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_z1j2QJ6iEeGR-6jhjFPx5A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2QZ6iEeGR-6jhjFPx5A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_z1j2Qp6iEeGR-6jhjFPx5A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2Pp6iEeGR-6jhjFPx5A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1j2P56iEeGR-6jhjFPx5A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2O56iEeGR-6jhjFPx5A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1tnMJ6iEeGR-6jhjFPx5A" x="28" y="43"/>
        </children>
        <children xmi:id="_LdeLsKlkEeGmpNX2cnyk2Q" type="State" element="_LdKpsKlkEeGmpNX2cnyk2Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_LdeLtKlkEeGmpNX2cnyk2Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_LdeLtalkEeGmpNX2cnyk2Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_LdeLtqlkEeGmpNX2cnyk2Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LdeLt6lkEeGmpNX2cnyk2Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_LdeLuKlkEeGmpNX2cnyk2Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LdeLualkEeGmpNX2cnyk2Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LdeLuqlkEeGmpNX2cnyk2Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LdeLsalkEeGmpNX2cnyk2Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LdeLsqlkEeGmpNX2cnyk2Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LdeLu6lkEeGmpNX2cnyk2Q"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LdeLs6lkEeGmpNX2cnyk2Q" x="164" y="29" width="154" height="48"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_RkU1MKlkEeGmpNX2cnyk2Q" type="Choice" element="_RkLEMKlkEeGmpNX2cnyk2Q" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RkU1MalkEeGmpNX2cnyk2Q" x="176" y="104"/>
        </children>
        <children xmi:id="_W-n6sKlkEeGmpNX2cnyk2Q" type="State" element="_W-U_wKlkEeGmpNX2cnyk2Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_W-n6tKlkEeGmpNX2cnyk2Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_W-n6talkEeGmpNX2cnyk2Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_W-n6tqlkEeGmpNX2cnyk2Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_W-n6t6lkEeGmpNX2cnyk2Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_W-n6uKlkEeGmpNX2cnyk2Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W-n6ualkEeGmpNX2cnyk2Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_W-n6uqlkEeGmpNX2cnyk2Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_W-n6salkEeGmpNX2cnyk2Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_W-n6sqlkEeGmpNX2cnyk2Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W-n6u6lkEeGmpNX2cnyk2Q"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W-n6s6lkEeGmpNX2cnyk2Q" x="284" y="255" width="145" height="48"/>
        </children>
        <children xmi:id="_OoTTgKllEeGmpNX2cnyk2Q" type="State" element="_OoKJkKllEeGmpNX2cnyk2Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_OodEgKllEeGmpNX2cnyk2Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_OodEgallEeGmpNX2cnyk2Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_OodEgqllEeGmpNX2cnyk2Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OodEg6llEeGmpNX2cnyk2Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_OodEhKllEeGmpNX2cnyk2Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OodEhallEeGmpNX2cnyk2Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OodEhqllEeGmpNX2cnyk2Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_OoTTgallEeGmpNX2cnyk2Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_OoTTgqllEeGmpNX2cnyk2Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OodEh6llEeGmpNX2cnyk2Q"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OoTTg6llEeGmpNX2cnyk2Q" x="47" y="255" width="163" height="48"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_zat18KlmEeGmpNX2cnyk2Q" type="Choice" element="_zaksAKlmEeGmpNX2cnyk2Q" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zat18almEeGmpNX2cnyk2Q" x="244" y="104"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_r-wwQJNOEeKBtrru-JWnVQ" type="Choice" element="_r9eW0JNOEeKBtrru-JWnVQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_r-wwQZNOEeKBtrru-JWnVQ" x="211" y="104"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_nT2RgJQYEeKBtrru-JWnVQ" type="Note" fontName="Verdana" description="unguarded transition with higher order must be used like default transition" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_nT3foJQYEeKBtrru-JWnVQ" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_nT3foZQYEeKBtrru-JWnVQ" type="Description">
            <element xsi:nil="true"/>
          </children>
          <styles xsi:type="notation:TextStyle" xmi:id="_nT2RgZQYEeKBtrru-JWnVQ"/>
          <styles xsi:type="notation:LineTypeStyle" xmi:id="_nT2RgpQYEeKBtrru-JWnVQ"/>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nT2Rg5QYEeKBtrru-JWnVQ" x="400" y="-5" width="75"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_b6N3sKJ6EeK62NKshpou-A" type="Choice" element="_b6MpkKJ6EeK62NKshpou-A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b6N3saJ6EeK62NKshpou-A" x="276" y="104"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1j2N56iEeGR-6jhjFPx5A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2MZ6iEeGR-6jhjFPx5A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1j2OJ6iEeGR-6jhjFPx5A" x="209" y="10" width="516" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_z1tnSJ6iEeGR-6jhjFPx5A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_z1tnSp6iEeGR-6jhjFPx5A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z1tnS56iEeGR-6jhjFPx5A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z1tnTJ6iEeGR-6jhjFPx5A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_z1tnTZ6iEeGR-6jhjFPx5A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1tnTp6iEeGR-6jhjFPx5A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z13YMJ6iEeGR-6jhjFPx5A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_z1asQp6iEeGR-6jhjFPx5A"/>
    <edges xmi:id="_PjIZgKlkEeGmpNX2cnyk2Q" type="Transition" element="_Pi-ogKlkEeGmpNX2cnyk2Q" source="_z1j2Op6iEeGR-6jhjFPx5A" target="_LdeLsKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_PjIZhKlkEeGmpNX2cnyk2Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PjIZhalkEeGmpNX2cnyk2Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PjIZhqlkEeGmpNX2cnyk2Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PjIZgalkEeGmpNX2cnyk2Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PjIZg6lkEeGmpNX2cnyk2Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PjIZgqlkEeGmpNX2cnyk2Q" points="[8, 0, -175, 31]$[129, 0, -54, 31]$[129, 0, -54, 31]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PjSKgKlkEeGmpNX2cnyk2Q" id="(0.5,0.0)"/>
    </edges>
    <edges xmi:id="_SIiVgKlkEeGmpNX2cnyk2Q" type="Transition" element="_SIYkgKlkEeGmpNX2cnyk2Q" source="_LdeLsKlkEeGmpNX2cnyk2Q" target="_RkU1MKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_SIiVhKlkEeGmpNX2cnyk2Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SIiVhalkEeGmpNX2cnyk2Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SIiVhqlkEeGmpNX2cnyk2Q" x="-3" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SIiVgalkEeGmpNX2cnyk2Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SIiVg6lkEeGmpNX2cnyk2Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SIiVgqlkEeGmpNX2cnyk2Q" points="[-3, 5, 4, -35]$[-3, 37, 4, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SI1QcKlkEeGmpNX2cnyk2Q" id="(0.14935064935064934,0.8958333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SI1QcalkEeGmpNX2cnyk2Q" id="(0.2,0.2)"/>
    </edges>
    <edges xmi:id="_V0kiYKlkEeGmpNX2cnyk2Q" type="Transition" element="_V0axYKlkEeGmpNX2cnyk2Q" source="_RkU1MKlkEeGmpNX2cnyk2Q" target="_W-n6sKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_V0kiZKlkEeGmpNX2cnyk2Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V0kiZalkEeGmpNX2cnyk2Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V0kiZqlkEeGmpNX2cnyk2Q" x="40" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V0kiYalkEeGmpNX2cnyk2Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V0kiY6lkEeGmpNX2cnyk2Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V0kiYqlkEeGmpNX2cnyk2Q" points="[6, 8, -128, -151]$[127, 151, -7, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V0kiZ6lkEeGmpNX2cnyk2Q" id="(0.17204301075268819,0.0625)"/>
    </edges>
    <edges xmi:id="_ZLvSgalkEeGmpNX2cnyk2Q" type="Transition" element="_ZLvSgKlkEeGmpNX2cnyk2Q" source="_RkU1MKlkEeGmpNX2cnyk2Q" target="_OoTTgKllEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZL5DgalkEeGmpNX2cnyk2Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZL5DgqlkEeGmpNX2cnyk2Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZL5Dg6lkEeGmpNX2cnyk2Q" x="-17" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZLvSgqlkEeGmpNX2cnyk2Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZL5DgKlkEeGmpNX2cnyk2Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZLvSg6lkEeGmpNX2cnyk2Q" points="[-2, 2, 130, -138]$[-131, 140, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_auPmEKJ1EeK62NKshpou-A" id="(0.13333333333333333,0.6666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZL5DhKlkEeGmpNX2cnyk2Q" id="(0.27102803738317754,0.010416666666666666)"/>
    </edges>
    <edges xmi:id="_lmTgUKllEeGmpNX2cnyk2Q" type="Transition" element="_lmJvUKllEeGmpNX2cnyk2Q" source="_LdeLsKlkEeGmpNX2cnyk2Q" target="_zat18KlmEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_lmTgVKllEeGmpNX2cnyk2Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lmTgVallEeGmpNX2cnyk2Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lmTgVqllEeGmpNX2cnyk2Q" x="-1" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lmTgUallEeGmpNX2cnyk2Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lmTgU6llEeGmpNX2cnyk2Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lmTgUqllEeGmpNX2cnyk2Q" points="[-37, 5, 4, -37]$[-37, 37, 4, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L-SYwKJ1EeK62NKshpou-A" id="(0.8333333333333334,0.8985507246376812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lmcqQallEeGmpNX2cnyk2Q" id="(0.2,0.3333333333333333)"/>
    </edges>
    <edges xmi:id="_OWy2UKlxEeGcJsk19eqYVQ" type="Transition" element="_OWpsYKlxEeGcJsk19eqYVQ" source="_zat18KlmEeGmpNX2cnyk2Q" target="_W-n6sKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_OWy2VKlxEeGcJsk19eqYVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OWy2ValxEeGcJsk19eqYVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OWy2VqlxEeGcJsk19eqYVQ" x="6" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OWy2UalxEeGcJsk19eqYVQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OWy2U6lxEeGcJsk19eqYVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OWy2UqlxEeGcJsk19eqYVQ" points="[-7, 8, 174, -180]$[-138, 143, 43, -45]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5yMmUKJ1EeK62NKshpou-A" id="(0.6068965517241379,0.08333333333333333)"/>
    </edges>
    <edges xmi:id="_bU4WAal0EeGcJsk19eqYVQ" type="Transition" element="_bU4WAKl0EeGcJsk19eqYVQ" source="_LdeLsKlkEeGmpNX2cnyk2Q" target="_r-wwQJNOEeKBtrru-JWnVQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_bVCHA6l0EeGcJsk19eqYVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bVCHBKl0EeGcJsk19eqYVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bVCHBal0EeGcJsk19eqYVQ" x="-3" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bVCHAKl0EeGcJsk19eqYVQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bVCHAql0EeGcJsk19eqYVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bVCHAal0EeGcJsk19eqYVQ" points="[-21, 5, 0, -39]$[-21, 37, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hsWdgJQYEeKBtrru-JWnVQ" id="(0.5087719298245614,0.8840579710144928)"/>
    </edges>
    <edges xmi:id="_gnf0QKl2EeGcJsk19eqYVQ" type="Transition" element="_gnWqUKl2EeGcJsk19eqYVQ" source="_zat18KlmEeGmpNX2cnyk2Q" target="_OoTTgKllEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_gnf0RKl2EeGcJsk19eqYVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gnf0Ral2EeGcJsk19eqYVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gnf0Rql2EeGcJsk19eqYVQ" x="5" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gnf0Qal2EeGcJsk19eqYVQ" jumpLinkStatus="Below" jumpLinkType="Chamfered" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gnf0Q6l2EeGcJsk19eqYVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gnf0Qql2EeGcJsk19eqYVQ" points="[-7, 8, 144, -157]$[-130, 143, 21, -22]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gnplQKl2EeGcJsk19eqYVQ" id="(0.6932515337423313,0.14583333333333334)"/>
    </edges>
    <edges xmi:id="_tanDMJNOEeKBtrru-JWnVQ" type="Transition" element="_takm8JNOEeKBtrru-JWnVQ" source="_r-wwQJNOEeKBtrru-JWnVQ" target="_W-n6sKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_tao4YJNOEeKBtrru-JWnVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tao4YZNOEeKBtrru-JWnVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tao4YpNOEeKBtrru-JWnVQ" x="-7" y="1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tanDMZNOEeKBtrru-JWnVQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tanDM5NOEeKBtrru-JWnVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tanDMpNOEeKBtrru-JWnVQ" points="[5, 8, -111, -152]$[109, 151, -7, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yw_C0KJ0EeK62NKshpou-A" id="(0.38620689655172413,0.020833333333333332)"/>
    </edges>
    <edges xmi:id="_vcZ70JNOEeKBtrru-JWnVQ" type="Transition" element="_vcYGoJNOEeKBtrru-JWnVQ" source="_r-wwQJNOEeKBtrru-JWnVQ" target="_OoTTgKllEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_vcZ71JNOEeKBtrru-JWnVQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vcZ71ZNOEeKBtrru-JWnVQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vcZ71pNOEeKBtrru-JWnVQ" x="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vcZ70ZNOEeKBtrru-JWnVQ" jumpLinkStatus="All" jumpLinkType="Chamfered" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vcZ705NOEeKBtrru-JWnVQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vcZ70pNOEeKBtrru-JWnVQ" points="[-7, 8, 139, -141]$[-140, 143, 6, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kqu6MJQYEeKBtrru-JWnVQ" id="(0.4962962962962963,0.0)"/>
    </edges>
    <edges xmi:id="_BpExEKJ4EeK62NKshpou-A" type="Transition" element="_Bo7nIKJ4EeK62NKshpou-A" source="_W-n6sKlkEeGmpNX2cnyk2Q" target="_LdeLsKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_BpGmQKJ4EeK62NKshpou-A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BpGmQaJ4EeK62NKshpou-A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BpGmQqJ4EeK62NKshpou-A" x="11" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BpExEaJ4EeK62NKshpou-A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BpExE6J4EeK62NKshpou-A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BpExEqJ4EeK62NKshpou-A" points="[0, 0, 122, 211]$[0, -135, 122, 76]$[-102, -199, 20, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BpIbcKJ4EeK62NKshpou-A" id="(0.9310344827586207,0.020833333333333332)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BpIbcaJ4EeK62NKshpou-A" id="(0.868421052631579,0.5217391304347826)"/>
    </edges>
    <edges xmi:id="_JCl8UKJ4EeK62NKshpou-A" type="Transition" element="_JClVQKJ4EeK62NKshpou-A" source="_OoTTgKllEeGmpNX2cnyk2Q" target="_LdeLsKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_JCmjYaJ4EeK62NKshpou-A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JCmjYqJ4EeK62NKshpou-A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JCmjY6J4EeK62NKshpou-A" x="-14" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JCl8UaJ4EeK62NKshpou-A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JCmjYKJ4EeK62NKshpou-A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JCl8UqJ4EeK62NKshpou-A" points="[-6, -24, -117, 203]$[-6, -161, -117, 66]$[98, -220, -13, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JCoYkKJ4EeK62NKshpou-A" id="(0.12149532710280374,0.5625)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JCoYkaJ4EeK62NKshpou-A" id="(0.08771929824561403,0.5507246376811594)"/>
    </edges>
    <edges xmi:id="_dX59sKJ6EeK62NKshpou-A" type="Transition" element="_dX4vkKJ6EeK62NKshpou-A" source="_LdeLsKlkEeGmpNX2cnyk2Q" target="_b6N3sKJ6EeK62NKshpou-A">
      <children xsi:type="notation:DecorationNode" xmi:id="_dX59tKJ6EeK62NKshpou-A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dX59taJ6EeK62NKshpou-A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dX59tqJ6EeK62NKshpou-A" x="4" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dX59saJ6EeK62NKshpou-A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dX59s6J6EeK62NKshpou-A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dX59sqJ6EeK62NKshpou-A" points="[3, 21, 0, -39]$[3, 53, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dX7y4KJ6EeK62NKshpou-A" id="(0.7792207792207793,0.5208333333333334)"/>
    </edges>
    <edges xmi:id="_j8nA0KJ6EeK62NKshpou-A" type="Transition" element="_j8lysKJ6EeK62NKshpou-A" source="_b6N3sKJ6EeK62NKshpou-A" target="_W-n6sKlkEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_j8nA1KJ6EeK62NKshpou-A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j8nA1aJ6EeK62NKshpou-A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j8nA1qJ6EeK62NKshpou-A" x="-30" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j8nA0aJ6EeK62NKshpou-A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j8nA06J6EeK62NKshpou-A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j8nA0qJ6EeK62NKshpou-A" points="[6, 8, -113, -149]$[124, 151, 5, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j8o2AKJ6EeK62NKshpou-A" id="(0.8413793103448276,0.14583333333333334)"/>
    </edges>
    <edges xmi:id="_0owOAKJ6EeK62NKshpou-A" type="Transition" element="_0ovm8KJ6EeK62NKshpou-A" source="_b6N3sKJ6EeK62NKshpou-A" target="_OoTTgKllEeGmpNX2cnyk2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_0ow1EaJ6EeK62NKshpou-A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0ow1EqJ6EeK62NKshpou-A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0ow1E6J6EeK62NKshpou-A" x="23" y="5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0owOAaJ6EeK62NKshpou-A" jumpLinkStatus="Below" jumpLinkType="Chamfered" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0ow1EKJ6EeK62NKshpou-A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0owOAqJ6EeK62NKshpou-A" points="[-5, 8, 110, -156]$[-110, 187, 5, 23]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0oyqQKJ6EeK62NKshpou-A" id="(0.9263803680981595,0.0625)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
