<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_RHEiAHNtEeGtAMDjlTj9eQ" specification="interface:&#xD;&#xA;in event Event1&#xD;&#xA;in event Event2&#xD;&#xA;in event Return&#xD;&#xA;var MyVar : integer = 0" name="Guard">
    <regions xmi:id="_RHIMYnNtEeGtAMDjlTj9eQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_RHZSIXNtEeGtAMDjlTj9eQ">
        <outgoingTransitions xmi:id="_RHjDIXNtEeGtAMDjlTj9eQ" target="_RHc8gXNtEeGtAMDjlTj9eQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RHc8gXNtEeGtAMDjlTj9eQ" name="A" incomingTransitions="_RHjDIXNtEeGtAMDjlTj9eQ _a5PQkHN2EeGvE6zPcInM6Q">
        <outgoingTransitions xmi:id="_Wl3F8HNtEeGtAMDjlTj9eQ" specification="Event1 [MyVar == 10]" target="_V-iAMHNtEeGtAMDjlTj9eQ"/>
        <outgoingTransitions xmi:id="_WXQTIHN2EeGvE6zPcInM6Q" specification="Event2" target="_V-iAMHNtEeGtAMDjlTj9eQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_V-iAMHNtEeGtAMDjlTj9eQ" specification="entry / MyVar = 10" name="B" incomingTransitions="_Wl3F8HNtEeGtAMDjlTj9eQ _WXQTIHN2EeGvE6zPcInM6Q">
        <outgoingTransitions xmi:id="_a5PQkHN2EeGvE6zPcInM6Q" specification="Return" target="_RHc8gXNtEeGtAMDjlTj9eQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_RHIMYHNtEeGtAMDjlTj9eQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_RHEiAHNtEeGtAMDjlTj9eQ" measurementUnit="Pixel">
    <children xmi:id="_RHRWUHNtEeGtAMDjlTj9eQ" type="Region" element="_RHIMYnNtEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_RHW14HNtEeGtAMDjlTj9eQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RHW14XNtEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RHW14nNtEeGtAMDjlTj9eQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RHXc8HNtEeGtAMDjlTj9eQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_RHZ5MHNtEeGtAMDjlTj9eQ" type="Entry" element="_RHZSIXNtEeGtAMDjlTj9eQ">
          <children xmi:id="_RHbHUHNtEeGtAMDjlTj9eQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_RHcVcHNtEeGtAMDjlTj9eQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_RHcVcXNtEeGtAMDjlTj9eQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_RHcVcnNtEeGtAMDjlTj9eQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RHbHUXNtEeGtAMDjlTj9eQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHbHUnNtEeGtAMDjlTj9eQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RHZ5MXNtEeGtAMDjlTj9eQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHc8gHNtEeGtAMDjlTj9eQ" x="70" y="20"/>
        </children>
        <children xmi:id="_RHeKoHNtEeGtAMDjlTj9eQ" type="State" element="_RHc8gXNtEeGtAMDjlTj9eQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_RHf_0HNtEeGtAMDjlTj9eQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RHf_0XNtEeGtAMDjlTj9eQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RHf_0nNtEeGtAMDjlTj9eQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RHhN8HNtEeGtAMDjlTj9eQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RHhN8XNtEeGtAMDjlTj9eQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHhN8nNtEeGtAMDjlTj9eQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RHicEHNtEeGtAMDjlTj9eQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RHexsHNtEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RHexsXNtEeGtAMDjlTj9eQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RHicEXNtEeGtAMDjlTj9eQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHjDIHNtEeGtAMDjlTj9eQ" x="50" y="80"/>
        </children>
        <children xmi:id="_V-m4sHNtEeGtAMDjlTj9eQ" type="State" element="_V-iAMHNtEeGtAMDjlTj9eQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_V-oG0HNtEeGtAMDjlTj9eQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_V-oG0XNtEeGtAMDjlTj9eQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_V-oG0nNtEeGtAMDjlTj9eQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_V-ot4HNtEeGtAMDjlTj9eQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_V-ot4XNtEeGtAMDjlTj9eQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V-ot4nNtEeGtAMDjlTj9eQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_V-p8AHNtEeGtAMDjlTj9eQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_V-m4sXNtEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_V-m4snNtEeGtAMDjlTj9eQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_V-p8AXNtEeGtAMDjlTj9eQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V-m4s3NtEeGtAMDjlTj9eQ" x="245" y="80" width="151"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHXc8XNtEeGtAMDjlTj9eQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RHRWUXNtEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHZSIHNtEeGtAMDjlTj9eQ" x="220" y="10" width="446" height="336"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_RHn7oHNtEeGtAMDjlTj9eQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_RHpJwHNtEeGtAMDjlTj9eQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RHpJwXNtEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RHpJwnNtEeGtAMDjlTj9eQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RHpJw3NtEeGtAMDjlTj9eQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHpJxHNtEeGtAMDjlTj9eQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RHqX4HNtEeGtAMDjlTj9eQ" x="12" y="10" width="200" height="191"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_RHIMYXNtEeGtAMDjlTj9eQ"/>
    <edges xmi:id="_RHlfYHNtEeGtAMDjlTj9eQ" type="Transition" element="_RHjDIXNtEeGtAMDjlTj9eQ" source="_RHZ5MHNtEeGtAMDjlTj9eQ" target="_RHeKoHNtEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_RHnUkHNtEeGtAMDjlTj9eQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RHnUkXNtEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RHnUknNtEeGtAMDjlTj9eQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RHlfYXNtEeGtAMDjlTj9eQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RHmtgHNtEeGtAMDjlTj9eQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RHmGcHNtEeGtAMDjlTj9eQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_Wl6wUHNtEeGtAMDjlTj9eQ" type="Transition" element="_Wl3F8HNtEeGtAMDjlTj9eQ" source="_RHeKoHNtEeGtAMDjlTj9eQ" target="_V-m4sHNtEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Wl7XYXNtEeGtAMDjlTj9eQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Wl7-cHNtEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Wl7-cXNtEeGtAMDjlTj9eQ" x="-2" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Wl6wUXNtEeGtAMDjlTj9eQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Wl7XYHNtEeGtAMDjlTj9eQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Wl6wUnNtEeGtAMDjlTj9eQ" points="[18, 4, -191, -4]$[207, -17, -2, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_U7k_UHN2EeGvE6zPcInM6Q" id="(0.825,0.14285714285714285)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Vek-sHN2EeGvE6zPcInM6Q" id="(0.039735099337748346,0.13114754098360656)"/>
    </edges>
    <edges xmi:id="_WXTWcHN2EeGvE6zPcInM6Q" type="Transition" element="_WXQTIHN2EeGvE6zPcInM6Q" source="_RHeKoHNtEeGtAMDjlTj9eQ" target="_V-m4sHNtEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WXUkkHN2EeGvE6zPcInM6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WXUkkXN2EeGvE6zPcInM6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WXUkknN2EeGvE6zPcInM6Q" x="1" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WXTWcXN2EeGvE6zPcInM6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WXT9gHN2EeGvE6zPcInM6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WXTWcnN2EeGvE6zPcInM6Q" points="[18, 1, -156, -6]$[175, 29, 1, 22]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WXarMHN2EeGvE6zPcInM6Q" id="(0.052980132450331126,0.6229508196721312)"/>
    </edges>
    <edges xmi:id="_a5XMYHN2EeGvE6zPcInM6Q" type="Transition" element="_a5PQkHN2EeGvE6zPcInM6Q" source="_V-m4sHNtEeGtAMDjlTj9eQ" target="_RHeKoHNtEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_a5YagHN2EeGvE6zPcInM6Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_a5YagXN2EeGvE6zPcInM6Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_a5YagnN2EeGvE6zPcInM6Q" x="14" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_a5XMYXN2EeGvE6zPcInM6Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_a5XzcHN2EeGvE6zPcInM6Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_a5XMYnN2EeGvE6zPcInM6Q" points="[8, 49, 225, 45]$[8, 79, 225, 75]$[-209, 79, 8, 75]$[-209, 46, 8, 42]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_a5ehIHN2EeGvE6zPcInM6Q" id="(0.2913907284768212,0.13114754098360656)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_a5ehIXN2EeGvE6zPcInM6Q" id="(0.275,0.17857142857142858)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
