<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_cBQVsGBCEeSsUaOig5ODSg" specification="&#xA;interface:&#xA;&#xA;&#x9;in event toZ&#xA;&#x9;in event toY&#xA;&#x9;in event toC&#xA;&#x9;in event toA" name="ShallowHistoryWithDeepEntry">
    <regions xmi:id="_cBQ8wmBCEeSsUaOig5ODSg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_cBTZA2BCEeSsUaOig5ODSg">
        <outgoingTransitions xmi:id="_cBVOMWBCEeSsUaOig5ODSg" target="_cBUAF2BCEeSsUaOig5ODSg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_cBUAF2BCEeSsUaOig5ODSg" name="Y" incomingTransitions="_cBVOMWBCEeSsUaOig5ODSg _51HnEGBCEeSsUaOig5ODSg">
        <outgoingTransitions xmi:id="_xulk0GBCEeSsUaOig5ODSg" specification="toZ" target="_iD9fAGBCEeSsUaOig5ODSg"/>
        <outgoingTransitions xmi:id="_G3saoGBFEeSsUaOig5ODSg" specification="toC" target="_qGX2QGBCEeSsUaOig5ODSg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iD9fAGBCEeSsUaOig5ODSg" specification="" name="Z" incomingTransitions="_xulk0GBCEeSsUaOig5ODSg">
        <outgoingTransitions xmi:id="_51HnEGBCEeSsUaOig5ODSg" specification="toY" target="_cBUAF2BCEeSsUaOig5ODSg"/>
        <regions xmi:id="_kXUowGBCEeSsUaOig5ODSg">
          <vertices xsi:type="sgraph:Entry" xmi:id="_k3nSYGBCEeSsUaOig5ODSg" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_uUpNgGBCEeSsUaOig5ODSg" specification="" target="_mYWsYGBCEeSsUaOig5ODSg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mYWsYGBCEeSsUaOig5ODSg" name="A" incomingTransitions="_uUpNgGBCEeSsUaOig5ODSg _nd8mAGBDEeSsUaOig5ODSg">
            <outgoingTransitions xmi:id="_rU1NcGBCEeSsUaOig5ODSg" specification="toC" target="_qGX2QGBCEeSsUaOig5ODSg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_nl1MIGBCEeSsUaOig5ODSg" name="B">
            <regions xmi:id="_pJWNUGBCEeSsUaOig5ODSg">
              <vertices xsi:type="sgraph:State" xmi:id="_qGX2QGBCEeSsUaOig5ODSg" name="C" incomingTransitions="_rU1NcGBCEeSsUaOig5ODSg _gdn94GBDEeSsUaOig5ODSg _G3saoGBFEeSsUaOig5ODSg">
                <outgoingTransitions xmi:id="_nd8mAGBDEeSsUaOig5ODSg" specification="toA" target="_mYWsYGBCEeSsUaOig5ODSg"/>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_gImJEGBDEeSsUaOig5ODSg">
                <outgoingTransitions xmi:id="_gdn94GBDEeSsUaOig5ODSg" specification="" target="_qGX2QGBCEeSsUaOig5ODSg"/>
              </vertices>
            </regions>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_cBQ8wGBCEeSsUaOig5ODSg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_cBQVsGBCEeSsUaOig5ODSg" measurementUnit="Pixel">
    <children xmi:id="_cBRj0GBCEeSsUaOig5ODSg" type="Region" element="_cBQ8wmBCEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_cBSx8GBCEeSsUaOig5ODSg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cBSx8WBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cBSx8mBCEeSsUaOig5ODSg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_cBTZAGBCEeSsUaOig5ODSg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_cBTZBGBCEeSsUaOig5ODSg" type="Entry" element="_cBTZA2BCEeSsUaOig5ODSg">
          <children xmi:id="_cBUAEGBCEeSsUaOig5ODSg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_cBUAE2BCEeSsUaOig5ODSg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_cBUAFGBCEeSsUaOig5ODSg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_cBUAFWBCEeSsUaOig5ODSg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cBUAEWBCEeSsUaOig5ODSg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBUAEmBCEeSsUaOig5ODSg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cBTZBWBCEeSsUaOig5ODSg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBUAFmBCEeSsUaOig5ODSg" x="51" y="21" width="15" height="15"/>
        </children>
        <children xmi:id="_cBUAGmBCEeSsUaOig5ODSg" type="State" element="_cBUAF2BCEeSsUaOig5ODSg">
          <children xsi:type="notation:DecorationNode" xmi:id="_cBUnIGBCEeSsUaOig5ODSg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cBUnIWBCEeSsUaOig5ODSg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_cBUnImBCEeSsUaOig5ODSg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cBUnI2BCEeSsUaOig5ODSg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_cBUnJGBCEeSsUaOig5ODSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBUnJWBCEeSsUaOig5ODSg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cBUnJmBCEeSsUaOig5ODSg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cBUAG2BCEeSsUaOig5ODSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_cBUAHGBCEeSsUaOig5ODSg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cBUnJ2BCEeSsUaOig5ODSg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBVOMGBCEeSsUaOig5ODSg" x="40" y="80" width="42" height="53"/>
        </children>
        <children xmi:id="_iD-tIGBCEeSsUaOig5ODSg" type="State" element="_iD9fAGBCEeSsUaOig5ODSg">
          <children xsi:type="notation:DecorationNode" xmi:id="_iD_UMGBCEeSsUaOig5ODSg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iD_UMWBCEeSsUaOig5ODSg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iD_UMmBCEeSsUaOig5ODSg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iD_UM2BCEeSsUaOig5ODSg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iD_UNGBCEeSsUaOig5ODSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iD_UNWBCEeSsUaOig5ODSg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iD_UNmBCEeSsUaOig5ODSg" type="StateFigureCompartment">
            <children xmi:id="_oK_SMGBDEeSsUaOig5ODSg" type="Region" element="_kXUowGBCEeSsUaOig5ODSg">
              <children xsi:type="notation:DecorationNode" xmi:id="_oK_SMWBDEeSsUaOig5ODSg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SMmBDEeSsUaOig5ODSg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_SM2BDEeSsUaOig5ODSg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_oK_SNGBDEeSsUaOig5ODSg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_oK_SNWBDEeSsUaOig5ODSg" type="Entry" element="_k3nSYGBCEeSsUaOig5ODSg">
                  <children xmi:id="_oK_SNmBDEeSsUaOig5ODSg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_oK_SN2BDEeSsUaOig5ODSg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SOGBDEeSsUaOig5ODSg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_SOWBDEeSsUaOig5ODSg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SOmBDEeSsUaOig5ODSg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SO2BDEeSsUaOig5ODSg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SPGBDEeSsUaOig5ODSg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SPWBDEeSsUaOig5ODSg" x="32" y="10" width="15" height="15"/>
                </children>
                <children xmi:id="_oK_SPmBDEeSsUaOig5ODSg" type="State" element="_mYWsYGBCEeSsUaOig5ODSg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_oK_SP2BDEeSsUaOig5ODSg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SQGBDEeSsUaOig5ODSg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_SQWBDEeSsUaOig5ODSg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oK_SQmBDEeSsUaOig5ODSg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_oK_SQ2BDEeSsUaOig5ODSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SRGBDEeSsUaOig5ODSg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oK_SRWBDEeSsUaOig5ODSg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SRmBDEeSsUaOig5ODSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_oK_SR2BDEeSsUaOig5ODSg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oK_SSGBDEeSsUaOig5ODSg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SSWBDEeSsUaOig5ODSg" x="22" y="48" width="40" height="53"/>
                </children>
                <children xmi:id="_oK_SSmBDEeSsUaOig5ODSg" type="State" element="_nl1MIGBCEeSsUaOig5ODSg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_oK_SS2BDEeSsUaOig5ODSg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_STGBDEeSsUaOig5ODSg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_STWBDEeSsUaOig5ODSg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oK_STmBDEeSsUaOig5ODSg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_oK_ST2BDEeSsUaOig5ODSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SUGBDEeSsUaOig5ODSg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_oK_SUWBDEeSsUaOig5ODSg" type="StateFigureCompartment">
                    <children xmi:id="_oK_SUmBDEeSsUaOig5ODSg" type="Region" element="_pJWNUGBCEeSsUaOig5ODSg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_oK_SU2BDEeSsUaOig5ODSg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SVGBDEeSsUaOig5ODSg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_SVWBDEeSsUaOig5ODSg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_oK_SVmBDEeSsUaOig5ODSg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_oK_SV2BDEeSsUaOig5ODSg" type="State" element="_qGX2QGBCEeSsUaOig5ODSg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_oK_SWGBDEeSsUaOig5ODSg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SWWBDEeSsUaOig5ODSg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_SWmBDEeSsUaOig5ODSg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_oK_SW2BDEeSsUaOig5ODSg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_oK_SXGBDEeSsUaOig5ODSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SXWBDEeSsUaOig5ODSg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_oK_SXmBDEeSsUaOig5ODSg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SX2BDEeSsUaOig5ODSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_oK_SYGBDEeSsUaOig5ODSg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oK_SYWBDEeSsUaOig5ODSg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SYmBDEeSsUaOig5ODSg" x="54" y="28"/>
                        </children>
                        <children xmi:id="_oK_SY2BDEeSsUaOig5ODSg" type="Entry" element="_gImJEGBDEeSsUaOig5ODSg">
                          <children xmi:id="_oK_SZGBDEeSsUaOig5ODSg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_oK_SZWBDEeSsUaOig5ODSg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SZmBDEeSsUaOig5ODSg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_oK_SZ2BDEeSsUaOig5ODSg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SaGBDEeSsUaOig5ODSg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SaWBDEeSsUaOig5ODSg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SamBDEeSsUaOig5ODSg" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_Sa2BDEeSsUaOig5ODSg" x="120" y="17"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SbGBDEeSsUaOig5ODSg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SbWBDEeSsUaOig5ODSg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SbmBDEeSsUaOig5ODSg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_Sb2BDEeSsUaOig5ODSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_oK_ScGBDEeSsUaOig5ODSg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_oK_ScWBDEeSsUaOig5ODSg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_ScmBDEeSsUaOig5ODSg" x="112" y="38" width="194" height="184"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_Sc2BDEeSsUaOig5ODSg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_oK_SdGBDEeSsUaOig5ODSg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oK_SdWBDEeSsUaOig5ODSg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iD-tIWBCEeSsUaOig5ODSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iD-tImBCEeSsUaOig5ODSg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iD_UN2BCEeSsUaOig5ODSg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iD-tI2BCEeSsUaOig5ODSg" x="161" y="35" width="352" height="321"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBTZAWBCEeSsUaOig5ODSg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_cBRj0WBCEeSsUaOig5ODSg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBTZAmBCEeSsUaOig5ODSg" x="220" y="10" width="553" height="406"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_cBV1R2BCEeSsUaOig5ODSg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_cBWcUGBCEeSsUaOig5ODSg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cBWcUWBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cBWcUmBCEeSsUaOig5ODSg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_cBWcU2BCEeSsUaOig5ODSg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBWcVGBCEeSsUaOig5ODSg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cBWcVWBCEeSsUaOig5ODSg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_cBQ8wWBCEeSsUaOig5ODSg"/>
    <edges xmi:id="_cBV1QGBCEeSsUaOig5ODSg" type="Transition" element="_cBVOMWBCEeSsUaOig5ODSg" source="_cBTZBGBCEeSsUaOig5ODSg" target="_cBUAGmBCEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_cBV1RGBCEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cBV1RWBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cBV1RmBCEeSsUaOig5ODSg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cBV1QWBCEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cBV1Q2BCEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cBV1QmBCEeSsUaOig5ODSg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_rU2bkGBCEeSsUaOig5ODSg" type="Transition" element="_rU1NcGBCEeSsUaOig5ODSg" source="_oK_SPmBDEeSsUaOig5ODSg" target="_oK_SV2BDEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_rU2blGBCEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rU2blWBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rU2blmBCEeSsUaOig5ODSg" x="-36" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rU2bkWBCEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rU2bk2BCEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rU2bkmBCEeSsUaOig5ODSg" points="[7, 2, -84, -32]$[93, 25, 2, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rU4QwGBCEeSsUaOig5ODSg" id="(0.3225806451612903,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_uUqboGBCEeSsUaOig5ODSg" type="Transition" element="_uUpNgGBCEeSsUaOig5ODSg" source="_oK_SNWBDEeSsUaOig5ODSg" target="_oK_SPmBDEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_uUqbpGBCEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uUqbpWBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uUqbpmBCEeSsUaOig5ODSg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uUqboWBCEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uUqbo2BCEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uUqbomBCEeSsUaOig5ODSg" points="[3, 7, -21, -50]$[22, 33, -2, -24]"/>
    </edges>
    <edges xmi:id="_xumy8GBCEeSsUaOig5ODSg" type="Transition" element="_xulk0GBCEeSsUaOig5ODSg" source="_cBUAGmBCEeSsUaOig5ODSg" target="_iD-tIGBCEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xumy9GBCEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xumy9WBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xumy9mBCEeSsUaOig5ODSg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xumy8WBCEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xumy82BCEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xumy8mBCEeSsUaOig5ODSg" points="[19, 1, -121, 1]$[141, -23, 1, -23]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xuoBEGBCEeSsUaOig5ODSg" id="(0.0,0.19003115264797507)"/>
    </edges>
    <edges xmi:id="_51I1MGBCEeSsUaOig5ODSg" type="Transition" element="_51HnEGBCEeSsUaOig5ODSg" source="_iD-tIGBCEeSsUaOig5ODSg" target="_cBUAGmBCEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_51I1NGBCEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_51I1NWBCEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_51I1NmBCEeSsUaOig5ODSg" x="1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_51I1MWBCEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_51I1M2BCEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_51I1MmBCEeSsUaOig5ODSg" points="[-2, -1, 100, 14]$[-100, -2, 2, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_51KqYGBCEeSsUaOig5ODSg" id="(0.0,0.2554517133956386)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_51KqYWBCEeSsUaOig5ODSg" id="(0.23809523809523808,0.7358490566037735)"/>
    </edges>
    <edges xmi:id="_gdok8GBDEeSsUaOig5ODSg" type="Transition" element="_gdn94GBDEeSsUaOig5ODSg" source="_oK_SY2BDEeSsUaOig5ODSg" target="_oK_SV2BDEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_gdok9GBDEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gdok9WBDEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gdok9mBDEeSsUaOig5ODSg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gdok8WBDEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gdok82BDEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gdok8mBDEeSsUaOig5ODSg" points="[-6, 3, 67, -35]$[-73, 42, 0, 4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gdpzEGBDEeSsUaOig5ODSg" id="(0.0,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_nd-bMGBDEeSsUaOig5ODSg" type="Transition" element="_nd8mAGBDEeSsUaOig5ODSg" source="_oK_SV2BDEeSsUaOig5ODSg" target="_oK_SPmBDEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nd_CQWBDEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nd_CQmBDEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nd_CQ2BDEeSsUaOig5ODSg" x="33" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nd-bMWBDEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nd_CQGBDEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nd-bMmBDEeSsUaOig5ODSg" points="[-7, -3, 156, 63]$[-162, -60, 1, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_neAQYGBDEeSsUaOig5ODSg" id="(0.2,0.6792452830188679)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_neAQYWBDEeSsUaOig5ODSg" id="(0.15,0.8867924528301887)"/>
    </edges>
    <edges xmi:id="_G3u24GBFEeSsUaOig5ODSg" type="Transition" element="_G3saoGBFEeSsUaOig5ODSg" source="_cBUAGmBCEeSsUaOig5ODSg" target="_oK_SV2BDEeSsUaOig5ODSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_G3u25GBFEeSsUaOig5ODSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_G3u25WBFEeSsUaOig5ODSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_G3u25mBFEeSsUaOig5ODSg" x="-50" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_G3u24WBFEeSsUaOig5ODSg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_G3u242BFEeSsUaOig5ODSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_G3u24mBFEeSsUaOig5ODSg" points="[5, 24, -315, -113]$[35, 153, -285, 16]$[303, 137, -17, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KQPq0GBFEeSsUaOig5ODSg" id="(0.075,0.7358490566037735)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
