<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_emiXYKAyEeKNTJ3YQ7HAOw" specification="interface:&#xD;&#xA;&#xD;&#xA;var y0 : integer&#xD;&#xA;var y1 : string&#xD;&#xA;var y2 : boolean&#xD;&#xA;&#xD;&#xA;in event x3&#xD;&#xA;out event x4&#xD;&#xA;&#xD;&#xA;interface b:&#xD;&#xA;in event x5&#xD;&#xA;out event x6&#xD;&#xA;&#xD;&#xA;internal:&#xD;&#xA;event x7&#xD;&#xA;var z1 : integer&#xD;&#xA;var z2 : string&#xD;&#xA;var z3 : boolean&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;" name="TimeTrigger">
    <regions xmi:id="_em0rQKAyEeKNTJ3YQ7HAOw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_enOT4KAyEeKNTJ3YQ7HAOw">
        <outgoingTransitions xmi:id="_enVooKAyEeKNTJ3YQ7HAOw" target="_enQwIKAyEeKNTJ3YQ7HAOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_enQwIKAyEeKNTJ3YQ7HAOw" name="A" incomingTransitions="_enVooKAyEeKNTJ3YQ7HAOw _9BmysKAyEeKNTJ3YQ7HAOw">
        <outgoingTransitions xmi:id="_6fkTwKAyEeKNTJ3YQ7HAOw" specification="after 1s" target="_4j1m4KAyEeKNTJ3YQ7HAOw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4j1m4KAyEeKNTJ3YQ7HAOw" name="B" incomingTransitions="_6fkTwKAyEeKNTJ3YQ7HAOw">
        <outgoingTransitions xmi:id="_9BmysKAyEeKNTJ3YQ7HAOw" specification="after 1s" target="_enQwIKAyEeKNTJ3YQ7HAOw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_em0EMKAyEeKNTJ3YQ7HAOw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_emiXYKAyEeKNTJ3YQ7HAOw" measurementUnit="Pixel">
    <children xmi:id="_em5jwKAyEeKNTJ3YQ7HAOw" type="Region" element="_em0rQKAyEeKNTJ3YQ7HAOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_enI0UKAyEeKNTJ3YQ7HAOw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_enI0UaAyEeKNTJ3YQ7HAOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_enI0UqAyEeKNTJ3YQ7HAOw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_enJbYKAyEeKNTJ3YQ7HAOw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_enO68KAyEeKNTJ3YQ7HAOw" type="Entry" element="_enOT4KAyEeKNTJ3YQ7HAOw">
          <children xmi:id="_enO686AyEeKNTJ3YQ7HAOw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_enPiAKAyEeKNTJ3YQ7HAOw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_enPiAaAyEeKNTJ3YQ7HAOw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_enPiAqAyEeKNTJ3YQ7HAOw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_enO69KAyEeKNTJ3YQ7HAOw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enO69aAyEeKNTJ3YQ7HAOw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_enO68aAyEeKNTJ3YQ7HAOw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enPiA6AyEeKNTJ3YQ7HAOw" x="70" y="20"/>
        </children>
        <children xmi:id="_enSlUaAyEeKNTJ3YQ7HAOw" type="State" element="_enQwIKAyEeKNTJ3YQ7HAOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_enTMYKAyEeKNTJ3YQ7HAOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_enTMYaAyEeKNTJ3YQ7HAOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_enTMYqAyEeKNTJ3YQ7HAOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_enTzcKAyEeKNTJ3YQ7HAOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_enTzcaAyEeKNTJ3YQ7HAOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enTzcqAyEeKNTJ3YQ7HAOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_enUagKAyEeKNTJ3YQ7HAOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_enSlUqAyEeKNTJ3YQ7HAOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_enSlU6AyEeKNTJ3YQ7HAOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_enVBkKAyEeKNTJ3YQ7HAOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enVBkaAyEeKNTJ3YQ7HAOw" x="19" y="104" height="96"/>
        </children>
        <children xmi:id="_4j87oKAyEeKNTJ3YQ7HAOw" type="State" element="_4j1m4KAyEeKNTJ3YQ7HAOw">
          <children xsi:type="notation:DecorationNode" xmi:id="_4j-w0KAyEeKNTJ3YQ7HAOw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4j-w0aAyEeKNTJ3YQ7HAOw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4j-w0qAyEeKNTJ3YQ7HAOw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4j-w06AyEeKNTJ3YQ7HAOw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4j_X4KAyEeKNTJ3YQ7HAOw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4j_X4aAyEeKNTJ3YQ7HAOw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4kAmAKAyEeKNTJ3YQ7HAOw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4j87oaAyEeKNTJ3YQ7HAOw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4j87oqAyEeKNTJ3YQ7HAOw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4kAmAaAyEeKNTJ3YQ7HAOw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4j87o6AyEeKNTJ3YQ7HAOw" x="264" y="104" height="106"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enJbYaAyEeKNTJ3YQ7HAOw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_em5jwaAyEeKNTJ3YQ7HAOw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enKCcKAyEeKNTJ3YQ7HAOw" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_enbvQKAyEeKNTJ3YQ7HAOw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_enbvQqAyEeKNTJ3YQ7HAOw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_enbvQ6AyEeKNTJ3YQ7HAOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_enbvRKAyEeKNTJ3YQ7HAOw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_enbvRaAyEeKNTJ3YQ7HAOw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enbvRqAyEeKNTJ3YQ7HAOw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_encWUKAyEeKNTJ3YQ7HAOw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_em0EMaAyEeKNTJ3YQ7HAOw"/>
    <edges xmi:id="_enahIKAyEeKNTJ3YQ7HAOw" type="Transition" element="_enVooKAyEeKNTJ3YQ7HAOw" source="_enO68KAyEeKNTJ3YQ7HAOw" target="_enSlUaAyEeKNTJ3YQ7HAOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_enbIMaAyEeKNTJ3YQ7HAOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_enbIMqAyEeKNTJ3YQ7HAOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_enbIM6AyEeKNTJ3YQ7HAOw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_enahIaAyEeKNTJ3YQ7HAOw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_enbIMKAyEeKNTJ3YQ7HAOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_enahIqAyEeKNTJ3YQ7HAOw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_6fn-IKAyEeKNTJ3YQ7HAOw" type="Transition" element="_6fkTwKAyEeKNTJ3YQ7HAOw" source="_enSlUaAyEeKNTJ3YQ7HAOw" target="_4j87oKAyEeKNTJ3YQ7HAOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_6folMaAyEeKNTJ3YQ7HAOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6folMqAyEeKNTJ3YQ7HAOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6fpMQKAyEeKNTJ3YQ7HAOw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6fn-IaAyEeKNTJ3YQ7HAOw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6folMKAyEeKNTJ3YQ7HAOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6fn-IqAyEeKNTJ3YQ7HAOw" points="[18, 6, -136, -39]$[152, 68, -2, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-UO4MKAyEeKNTJ3YQ7HAOw" id="(0.95,0.21875)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-k7moKAyEeKNTJ3YQ7HAOw" id="(0.05,0.2169811320754717)"/>
    </edges>
    <edges xmi:id="_9Bp2AKAyEeKNTJ3YQ7HAOw" type="Transition" element="_9BmysKAyEeKNTJ3YQ7HAOw" source="_4j87oKAyEeKNTJ3YQ7HAOw" target="_enSlUaAyEeKNTJ3YQ7HAOw">
      <children xsi:type="notation:DecorationNode" xmi:id="_9BrEIKAyEeKNTJ3YQ7HAOw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9BrEIaAyEeKNTJ3YQ7HAOw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9BrEIqAyEeKNTJ3YQ7HAOw" x="1" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9Bp2AaAyEeKNTJ3YQ7HAOw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9BqdEKAyEeKNTJ3YQ7HAOw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9Bp2AqAyEeKNTJ3YQ7HAOw" points="[-17, -5, 228, 0]$[-227, -5, 18, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__sgSsKAyEeKNTJ3YQ7HAOw" id="(0.175,0.7830188679245284)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__dj3wKAyEeKNTJ3YQ7HAOw" id="(0.625,0.8020833333333334)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
