<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_0Q0NgMDYEeSET7jqufuZHA" specification="interface:&#xD;&#xA;in event IntegerEvent : integer&#xD;&#xA;var myVar : integer" name="ValuedEvents2">
    <regions xmi:id="_0Q2CssDYEeSET7jqufuZHA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_0Q4e8cDYEeSET7jqufuZHA">
        <outgoingTransitions xmi:id="_0Q6UIcDYEeSET7jqufuZHA" target="_0Q5GBMDYEeSET7jqufuZHA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_0Q5GBMDYEeSET7jqufuZHA" name="A" incomingTransitions="_0Q6UIcDYEeSET7jqufuZHA">
        <outgoingTransitions xmi:id="_6UausMDYEeSET7jqufuZHA" specification="IntegerEvent / myVar = valueof(IntegerEvent)" target="_5-0SIMDYEeSET7jqufuZHA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5-0SIMDYEeSET7jqufuZHA" name="B" incomingTransitions="_6UausMDYEeSET7jqufuZHA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_0Q2CsMDYEeSET7jqufuZHA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_0Q0NgMDYEeSET7jqufuZHA" measurementUnit="Pixel">
    <children xmi:id="_0Q2pwMDYEeSET7jqufuZHA" type="Region" element="_0Q2CssDYEeSET7jqufuZHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_0Q334MDYEeSET7jqufuZHA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q334cDYEeSET7jqufuZHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0Q334sDYEeSET7jqufuZHA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0Q3348DYEeSET7jqufuZHA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_0Q4e8sDYEeSET7jqufuZHA" type="Entry" element="_0Q4e8cDYEeSET7jqufuZHA">
          <children xmi:id="_0Q4e9cDYEeSET7jqufuZHA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_0Q5GAMDYEeSET7jqufuZHA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q5GAcDYEeSET7jqufuZHA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_0Q5GAsDYEeSET7jqufuZHA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q4e9sDYEeSET7jqufuZHA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q4e98DYEeSET7jqufuZHA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q4e88DYEeSET7jqufuZHA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q5GA8DYEeSET7jqufuZHA" x="70" y="20"/>
        </children>
        <children xmi:id="_0Q5GB8DYEeSET7jqufuZHA" type="State" element="_0Q5GBMDYEeSET7jqufuZHA">
          <children xsi:type="notation:DecorationNode" xmi:id="_0Q5tEMDYEeSET7jqufuZHA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q5tEcDYEeSET7jqufuZHA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_0Q5tEsDYEeSET7jqufuZHA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0Q5tE8DYEeSET7jqufuZHA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_0Q5tFMDYEeSET7jqufuZHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q5tFcDYEeSET7jqufuZHA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0Q5tFsDYEeSET7jqufuZHA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q5GCMDYEeSET7jqufuZHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_0Q5GCcDYEeSET7jqufuZHA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0Q5tF8DYEeSET7jqufuZHA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q6UIMDYEeSET7jqufuZHA" x="40" y="80"/>
        </children>
        <children xmi:id="_5-2uYMDYEeSET7jqufuZHA" type="State" element="_5-0SIMDYEeSET7jqufuZHA">
          <children xsi:type="notation:DecorationNode" xmi:id="_5-3VcMDYEeSET7jqufuZHA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5-3VccDYEeSET7jqufuZHA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5-3VcsDYEeSET7jqufuZHA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5-3Vc8DYEeSET7jqufuZHA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5-38gMDYEeSET7jqufuZHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5-38gcDYEeSET7jqufuZHA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5-38gsDYEeSET7jqufuZHA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5-2uYcDYEeSET7jqufuZHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5-2uYsDYEeSET7jqufuZHA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5-38g8DYEeSET7jqufuZHA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5-2uY8DYEeSET7jqufuZHA" x="469" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q335MDYEeSET7jqufuZHA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q2pwcDYEeSET7jqufuZHA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q4e8MDYEeSET7jqufuZHA" x="265" y="10" width="596" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_0Q7iQMDYEeSET7jqufuZHA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_0Q7iQsDYEeSET7jqufuZHA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q7iQ8DYEeSET7jqufuZHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0Q7iRMDYEeSET7jqufuZHA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0Q7iRcDYEeSET7jqufuZHA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q7iRsDYEeSET7jqufuZHA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0Q8JUMDYEeSET7jqufuZHA" x="10" y="10" width="246" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_0Q2CscDYEeSET7jqufuZHA"/>
    <edges xmi:id="_0Q67MMDYEeSET7jqufuZHA" type="Transition" element="_0Q6UIcDYEeSET7jqufuZHA" source="_0Q4e8sDYEeSET7jqufuZHA" target="_0Q5GB8DYEeSET7jqufuZHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_0Q67NMDYEeSET7jqufuZHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0Q67NcDYEeSET7jqufuZHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0Q67NsDYEeSET7jqufuZHA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0Q67McDYEeSET7jqufuZHA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0Q67M8DYEeSET7jqufuZHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0Q67MsDYEeSET7jqufuZHA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_6UdK8MDYEeSET7jqufuZHA" type="Transition" element="_6UausMDYEeSET7jqufuZHA" source="_0Q5GB8DYEeSET7jqufuZHA" target="_5-2uYMDYEeSET7jqufuZHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6UdyAcDYEeSET7jqufuZHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6UdyAsDYEeSET7jqufuZHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6UeZEMDYEeSET7jqufuZHA" x="4" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6UdK8cDYEeSET7jqufuZHA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6UdyAMDYEeSET7jqufuZHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6UdK8sDYEeSET7jqufuZHA" points="[18, 10, -197, -119]$[216, 116, 1, -13]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6VmacMDYEeSET7jqufuZHA" id="(0.14666666666666667,0.2830188679245283)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
