<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_z1asQJ6iEeGR-6jhjFPx5A" specification="interface:&#xD;&#xA;var value:integer&#xD;&#xA;var v2 : boolean&#xD;&#xA;&#xD;&#xA;" name="AlwaysOncycle">
    <regions xmi:id="_z1asQ56iEeGR-6jhjFPx5A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_z1j2OZ6iEeGR-6jhjFPx5A"/>
      <vertices xsi:type="sgraph:State" xmi:id="_Om9IkIvWEeKR26VHvZR7Cw" specification="">
        <outgoingTransitions xmi:id="_P5Fe0IvWEeKR26VHvZR7Cw" specification=" # > exit_null0" target="_PLFJUIvWEeKR26VHvZR7Cw"/>
        <regions xmi:id="_Om-WsIvWEeKR26VHvZR7Cw" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_PeYf0IvWEeKR26VHvZR7Cw" specification="">
            <outgoingTransitions xmi:id="_QUbXAIvWEeKR26VHvZR7Cw" specification="" target="_QUav8IvWEeKR26VHvZR7Cw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_QUav8IvWEeKR26VHvZR7Cw" name="exit_null0" incomingTransitions="_QUbXAIvWEeKR26VHvZR7Cw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_PLFJUIvWEeKR26VHvZR7Cw" incomingTransitions="_P5Fe0IvWEeKR26VHvZR7Cw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_z1asQZ6iEeGR-6jhjFPx5A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_z1asQJ6iEeGR-6jhjFPx5A" measurementUnit="Pixel">
    <children xmi:id="_z1j2MJ6iEeGR-6jhjFPx5A" type="Region" element="_z1asQ56iEeGR-6jhjFPx5A">
      <children xsi:type="notation:DecorationNode" xmi:id="_z1j2M56iEeGR-6jhjFPx5A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2NJ6iEeGR-6jhjFPx5A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z1j2NZ6iEeGR-6jhjFPx5A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_z1j2Np6iEeGR-6jhjFPx5A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_z1j2Op6iEeGR-6jhjFPx5A" type="Entry" element="_z1j2OZ6iEeGR-6jhjFPx5A">
          <children xmi:id="_z1j2PZ6iEeGR-6jhjFPx5A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_z1j2QJ6iEeGR-6jhjFPx5A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2QZ6iEeGR-6jhjFPx5A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_z1j2Qp6iEeGR-6jhjFPx5A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2Pp6iEeGR-6jhjFPx5A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1j2P56iEeGR-6jhjFPx5A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2O56iEeGR-6jhjFPx5A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1tnMJ6iEeGR-6jhjFPx5A" x="64" y="19"/>
        </children>
        <children xmi:id="_OnAy8IvWEeKR26VHvZR7Cw" type="State" element="_Om9IkIvWEeKR26VHvZR7Cw">
          <children xsi:type="notation:DecorationNode" xmi:id="_OnCoIIvWEeKR26VHvZR7Cw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_OnCoIYvWEeKR26VHvZR7Cw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_OnCoIovWEeKR26VHvZR7Cw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OnDPMIvWEeKR26VHvZR7Cw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_OnDPMYvWEeKR26VHvZR7Cw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OnDPMovWEeKR26VHvZR7Cw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OnD2QIvWEeKR26VHvZR7Cw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_OnAy8YvWEeKR26VHvZR7Cw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_OnAy8ovWEeKR26VHvZR7Cw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OnD2QYvWEeKR26VHvZR7Cw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_QUTbMIvWEeKR26VHvZR7Cw" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OnAy84vWEeKR26VHvZR7Cw" x="119" y="174"/>
        </children>
        <children xmi:id="_PLG-gIvWEeKR26VHvZR7Cw" type="State" element="_PLFJUIvWEeKR26VHvZR7Cw">
          <children xsi:type="notation:DecorationNode" xmi:id="_PLHlkIvWEeKR26VHvZR7Cw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_PLHlkYvWEeKR26VHvZR7Cw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_PLHlkovWEeKR26VHvZR7Cw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PLHlk4vWEeKR26VHvZR7Cw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_PLIMoIvWEeKR26VHvZR7Cw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PLIMoYvWEeKR26VHvZR7Cw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PLIMoovWEeKR26VHvZR7Cw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PLG-gYvWEeKR26VHvZR7Cw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_PLG-govWEeKR26VHvZR7Cw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PLIzsIvWEeKR26VHvZR7Cw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PLG-g4vWEeKR26VHvZR7Cw" x="406" y="150"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1j2N56iEeGR-6jhjFPx5A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_z1j2MZ6iEeGR-6jhjFPx5A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1j2OJ6iEeGR-6jhjFPx5A" x="215" y="10" width="651" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_z1tnSJ6iEeGR-6jhjFPx5A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_z1tnSp6iEeGR-6jhjFPx5A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z1tnS56iEeGR-6jhjFPx5A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z1tnTJ6iEeGR-6jhjFPx5A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_z1tnTZ6iEeGR-6jhjFPx5A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z1tnTp6iEeGR-6jhjFPx5A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z13YMJ6iEeGR-6jhjFPx5A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_z1asQp6iEeGR-6jhjFPx5A"/>
  </notation:Diagram>
  <notation:Diagram xmi:id="_QUXsoIvWEeKR26VHvZR7Cw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Om9IkIvWEeKR26VHvZR7Cw" measurementUnit="Pixel">
    <children xmi:id="_OnIHsIvWEeKR26VHvZR7Cw" type="Region" element="_Om-WsIvWEeKR26VHvZR7Cw">
      <children xsi:type="notation:DecorationNode" xmi:id="_OnIuwIvWEeKR26VHvZR7Cw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OnIuwYvWEeKR26VHvZR7Cw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OnIuwovWEeKR26VHvZR7Cw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_OnIuw4vWEeKR26VHvZR7Cw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_PeZt8IvWEeKR26VHvZR7Cw" type="State" element="_PeYf0IvWEeKR26VHvZR7Cw">
          <children xsi:type="notation:DecorationNode" xmi:id="_Pea8EIvWEeKR26VHvZR7Cw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Pea8EYvWEeKR26VHvZR7Cw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Pea8EovWEeKR26VHvZR7Cw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Pea8E4vWEeKR26VHvZR7Cw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Pea8FIvWEeKR26VHvZR7Cw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pea8FYvWEeKR26VHvZR7Cw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_PebjIIvWEeKR26VHvZR7Cw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_PeZt8YvWEeKR26VHvZR7Cw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_PeZt8ovWEeKR26VHvZR7Cw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_PebjIYvWEeKR26VHvZR7Cw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_PeZt84vWEeKR26VHvZR7Cw" x="86" y="18"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OnIuxIvWEeKR26VHvZR7Cw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_OnIHsYvWEeKR26VHvZR7Cw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OnIHsovWEeKR26VHvZR7Cw"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_QUXsoYvWEeKR26VHvZR7Cw"/>
  </notation:Diagram>
</xmi:XMI>
