<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_e2LuoIlsEeGdSfnRraevSA" specification="interface MyInterface:&#xD;&#xA;in event Event1&#xD;&#xA;var myInt : integer" name="FeatureCalls">
    <regions xmi:id="_e2R1QolsEeGdSfnRraevSA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_e3JX8IlsEeGdSfnRraevSA">
        <outgoingTransitions xmi:id="_e3QFoYlsEeGdSfnRraevSA" target="_e3L0MolsEeGdSfnRraevSA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_e3L0MolsEeGdSfnRraevSA" name="A" incomingTransitions="_e3QFoYlsEeGdSfnRraevSA _6_eWIKmNEeGHLMtw-ncbeA">
        <outgoingTransitions xmi:id="_lf50oIlsEeGdSfnRraevSA" specification="MyInterface.Event1" target="_kjQmMIlsEeGdSfnRraevSA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kjQmMIlsEeGdSfnRraevSA" specification="entry / MyInterface.myInt = 42&#xD;&#xA;entry/ raise MyInterface.Event1" name="B" incomingTransitions="_lf50oIlsEeGdSfnRraevSA">
        <outgoingTransitions xmi:id="_6_eWIKmNEeGHLMtw-ncbeA" specification="MyInterface.Event1" target="_e3L0MolsEeGdSfnRraevSA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_e2R1QIlsEeGdSfnRraevSA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_e2LuoIlsEeGdSfnRraevSA" measurementUnit="Pixel">
    <children xmi:id="_e2eCgIlsEeGdSfnRraevSA" type="Region" element="_e2R1QolsEeGdSfnRraevSA">
      <children xsi:type="notation:DecorationNode" xmi:id="_e3G7sIlsEeGdSfnRraevSA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_e3G7sYlsEeGdSfnRraevSA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_e3G7solsEeGdSfnRraevSA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_e3HiwIlsEeGdSfnRraevSA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_e3J_AIlsEeGdSfnRraevSA" type="Entry" element="_e3JX8IlsEeGdSfnRraevSA">
          <children xmi:id="_e3KmEIlsEeGdSfnRraevSA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_e3LNIolsEeGdSfnRraevSA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_e3LNI4lsEeGdSfnRraevSA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_e3L0MIlsEeGdSfnRraevSA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_e3LNIIlsEeGdSfnRraevSA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3LNIYlsEeGdSfnRraevSA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_e3J_AYlsEeGdSfnRraevSA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3L0MYlsEeGdSfnRraevSA" x="43" y="22"/>
        </children>
        <children xmi:id="_e3NCUIlsEeGdSfnRraevSA" type="State" element="_e3L0MolsEeGdSfnRraevSA">
          <children xsi:type="notation:DecorationNode" xmi:id="_e3NpYIlsEeGdSfnRraevSA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_e3NpYYlsEeGdSfnRraevSA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_e3OQcIlsEeGdSfnRraevSA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_e3O3gIlsEeGdSfnRraevSA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_e3O3gYlsEeGdSfnRraevSA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3O3golsEeGdSfnRraevSA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_e3PekIlsEeGdSfnRraevSA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_e3NCUYlsEeGdSfnRraevSA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_e3NCUolsEeGdSfnRraevSA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3QFoIlsEeGdSfnRraevSA" x="36" y="99"/>
        </children>
        <children xmi:id="_kjkIMIlsEeGdSfnRraevSA" type="State" element="_kjQmMIlsEeGdSfnRraevSA">
          <children xsi:type="notation:DecorationNode" xmi:id="_kjlWUIlsEeGdSfnRraevSA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kjlWUYlsEeGdSfnRraevSA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kjlWUolsEeGdSfnRraevSA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kjl9YIlsEeGdSfnRraevSA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kjl9YYlsEeGdSfnRraevSA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kjl9YolsEeGdSfnRraevSA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kjmkcIlsEeGdSfnRraevSA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kjkIMYlsEeGdSfnRraevSA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kjkIMolsEeGdSfnRraevSA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kjkIM4lsEeGdSfnRraevSA" x="239" y="77" width="101" height="101"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3HiwYlsEeGdSfnRraevSA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_e2eCgYlsEeGdSfnRraevSA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3Iw4IlsEeGdSfnRraevSA" x="220" y="10" width="400" height="266"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_e3U-IIlsEeGdSfnRraevSA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_e3VlMIlsEeGdSfnRraevSA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_e3VlMYlsEeGdSfnRraevSA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_e3WMQIlsEeGdSfnRraevSA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_e3WMQYlsEeGdSfnRraevSA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3WMQolsEeGdSfnRraevSA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_e3WzUIlsEeGdSfnRraevSA" x="12" y="10" width="200" height="206"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_e2R1QYlsEeGdSfnRraevSA"/>
    <edges xmi:id="_e3TI8IlsEeGdSfnRraevSA" type="Transition" element="_e3QFoYlsEeGdSfnRraevSA" source="_e3J_AIlsEeGdSfnRraevSA" target="_e3NCUIlsEeGdSfnRraevSA">
      <children xsi:type="notation:DecorationNode" xmi:id="_e3UXEIlsEeGdSfnRraevSA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_e3UXEYlsEeGdSfnRraevSA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_e3UXEolsEeGdSfnRraevSA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_e3TI8YlsEeGdSfnRraevSA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_e3TwAIlsEeGdSfnRraevSA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_e3TI8olsEeGdSfnRraevSA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_lgC-kIlsEeGdSfnRraevSA" type="Transition" element="_lf50oIlsEeGdSfnRraevSA" source="_e3NCUIlsEeGdSfnRraevSA" target="_kjkIMIlsEeGdSfnRraevSA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lgEMsIlsEeGdSfnRraevSA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lgEMsYlsEeGdSfnRraevSA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lgEMsolsEeGdSfnRraevSA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lgC-kYlsEeGdSfnRraevSA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lgDloIlsEeGdSfnRraevSA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lgC-kolsEeGdSfnRraevSA" points="[0, 0, -116, 20]$[117, -37, 1, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lgSPIIlsEeGdSfnRraevSA" id="(0.675,0.21428571428571427)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lgSPIYlsEeGdSfnRraevSA" id="(0.2,0.3392857142857143)"/>
    </edges>
    <edges xmi:id="_6_oHIKmNEeGHLMtw-ncbeA" type="Transition" element="_6_eWIKmNEeGHLMtw-ncbeA" source="_kjkIMIlsEeGdSfnRraevSA" target="_e3NCUIlsEeGdSfnRraevSA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6_oHJKmNEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6_oHJamNEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6_oHJqmNEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6_oHIamNEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6_oHI6mNEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6_oHIqmNEeGHLMtw-ncbeA" points="[0, 6, 192, 5]$[-190, 7, 2, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6_oHJ6mNEeGHLMtw-ncbeA" id="(0.009900990099009901,0.7631578947368421)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6_oHKKmNEeGHLMtw-ncbeA" id="(0.325,0.8928571428571429)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
