<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_o9WJwD1DEeK7haHJZ9RPwA" specification="internal:&#xD;&#xA;operation internalOperation1() &#xD;&#xA;operation InternalOperation2(param1 : integer) :boolean&#xD;&#xA;var  myBool  : boolean &#xD;&#xA;&#xD;&#xA;interface Interface1:&#xD;&#xA;operation interfaceOperation1() &#xD;&#xA;operation InterfaceOperation2(param1 : integer) :boolean&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;in event ev&#xD;&#xA;operation unnamedInterfaceOperation1()&#xD;&#xA;operation UnnamedInterfaceOperation2(param1 : integer) :boolean&#xD;&#xA;operation alwaysTrue() : boolean" name="Operations">
    <regions xmi:id="_o9WJwz1DEeK7haHJZ9RPwA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_o9cQYD1DEeK7haHJZ9RPwA">
        <outgoingTransitions xmi:id="_o9cQej1DEeK7haHJZ9RPwA" specification="" target="_YFq94B17EeSUu8X40Qay1A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_o9cQaz1DEeK7haHJZ9RPwA" specification="entry / internalOperation1()&#xD;&#xA;entry / myBool = InternalOperation2(4)" name="B" incomingTransitions="_fgphsB17EeSUu8X40Qay1A">
        <outgoingTransitions xmi:id="__4FnMD1DEeK7haHJZ9RPwA" specification="ev [alwaysTrue()]" target="__d3JUD1DEeK7haHJZ9RPwA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__d3JUD1DEeK7haHJZ9RPwA" specification="entry / Interface1.interfaceOperation1()&#xD;&#xA;entry / Interface1.InterfaceOperation2(4)" name="C" incomingTransitions="__4FnMD1DEeK7haHJZ9RPwA">
        <outgoingTransitions xmi:id="_PPFoUD3yEeK47LT8Vd-Q2Q" specification="ev" target="_AJilgD3yEeK47LT8Vd-Q2Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AJilgD3yEeK47LT8Vd-Q2Q" specification="entry / unnamedInterfaceOperation1(); UnnamedInterfaceOperation2(4)" name="D" incomingTransitions="_PPFoUD3yEeK47LT8Vd-Q2Q"/>
      <vertices xsi:type="sgraph:State" xmi:id="_YFq94B17EeSUu8X40Qay1A" name="A" incomingTransitions="_o9cQej1DEeK7haHJZ9RPwA">
        <outgoingTransitions xmi:id="_fgphsB17EeSUu8X40Qay1A" specification="oncycle" target="_o9cQaz1DEeK7haHJZ9RPwA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_o9WJwT1DEeK7haHJZ9RPwA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_o9WJwD1DEeK7haHJZ9RPwA" measurementUnit="Pixel">
    <children xmi:id="_o9WJxD1DEeK7haHJZ9RPwA" type="Region" element="_o9WJwz1DEeK7haHJZ9RPwA">
      <children xsi:type="notation:DecorationNode" xmi:id="_o9WJxz1DEeK7haHJZ9RPwA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o9WJyD1DEeK7haHJZ9RPwA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o9WJyT1DEeK7haHJZ9RPwA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_o9WJyj1DEeK7haHJZ9RPwA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_o9cQYT1DEeK7haHJZ9RPwA" type="Entry" element="_o9cQYD1DEeK7haHJZ9RPwA">
          <children xmi:id="_o9cQZD1DEeK7haHJZ9RPwA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_o9cQZz1DEeK7haHJZ9RPwA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_o9cQaD1DEeK7haHJZ9RPwA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_o9cQaT1DEeK7haHJZ9RPwA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_o9cQZT1DEeK7haHJZ9RPwA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9cQZj1DEeK7haHJZ9RPwA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_o9cQYj1DEeK7haHJZ9RPwA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9cQaj1DEeK7haHJZ9RPwA" x="190"/>
        </children>
        <children xmi:id="_o9cQbT1DEeK7haHJZ9RPwA" type="State" element="_o9cQaz1DEeK7haHJZ9RPwA">
          <children xsi:type="notation:DecorationNode" xmi:id="_o9cQcT1DEeK7haHJZ9RPwA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_o9cQcj1DEeK7haHJZ9RPwA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_o9cQcz1DEeK7haHJZ9RPwA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_o9cQdD1DEeK7haHJZ9RPwA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_o9cQdT1DEeK7haHJZ9RPwA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9cQdj1DEeK7haHJZ9RPwA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_o9cQdz1DEeK7haHJZ9RPwA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_o9cQbj1DEeK7haHJZ9RPwA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_o9cQbz1DEeK7haHJZ9RPwA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_o9cQeD1DEeK7haHJZ9RPwA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9cQeT1DEeK7haHJZ9RPwA" x="64" y="167" width="272" height="80"/>
        </children>
        <children xmi:id="__d9P8D1DEeK7haHJZ9RPwA" type="State" element="__d3JUD1DEeK7haHJZ9RPwA">
          <children xsi:type="notation:DecorationNode" xmi:id="__d9P9D1DEeK7haHJZ9RPwA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__d9P9T1DEeK7haHJZ9RPwA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__d9P9j1DEeK7haHJZ9RPwA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__d9P9z1DEeK7haHJZ9RPwA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="__d9P-D1DEeK7haHJZ9RPwA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__d9P-T1DEeK7haHJZ9RPwA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__d9P-j1DEeK7haHJZ9RPwA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__d9P8T1DEeK7haHJZ9RPwA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__d9P8j1DEeK7haHJZ9RPwA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__d9P-z1DEeK7haHJZ9RPwA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__d9P8z1DEeK7haHJZ9RPwA" x="57" y="287" width="286" height="80"/>
        </children>
        <children xmi:id="_AJsWgD3yEeK47LT8Vd-Q2Q" type="State" element="_AJilgD3yEeK47LT8Vd-Q2Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_AKJCcD3yEeK47LT8Vd-Q2Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AKJCcT3yEeK47LT8Vd-Q2Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AKJCcj3yEeK47LT8Vd-Q2Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AKJCcz3yEeK47LT8Vd-Q2Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AKJCdD3yEeK47LT8Vd-Q2Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AKJCdT3yEeK47LT8Vd-Q2Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AKJCdj3yEeK47LT8Vd-Q2Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AJsWgT3yEeK47LT8Vd-Q2Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AJsWgj3yEeK47LT8Vd-Q2Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AKJCdz3yEeK47LT8Vd-Q2Q"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AJsWgz3yEeK47LT8Vd-Q2Q" x="57" y="391" width="281" height="61"/>
        </children>
        <children xmi:id="_YFySoB17EeSUu8X40Qay1A" type="State" element="_YFq94B17EeSUu8X40Qay1A">
          <children xsi:type="notation:DecorationNode" xmi:id="_YFzgwB17EeSUu8X40Qay1A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YFzgwR17EeSUu8X40Qay1A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YFzgwh17EeSUu8X40Qay1A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YFzgwx17EeSUu8X40Qay1A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YF0H0B17EeSUu8X40Qay1A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YF0H0R17EeSUu8X40Qay1A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YF0H0h17EeSUu8X40Qay1A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YFySoR17EeSUu8X40Qay1A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YFySoh17EeSUu8X40Qay1A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YF0H0x17EeSUu8X40Qay1A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YFySox17EeSUu8X40Qay1A" x="64" y="61" width="272"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9WJyz1DEeK7haHJZ9RPwA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_o9WJxT1DEeK7haHJZ9RPwA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9WJzD1DEeK7haHJZ9RPwA" x="460" y="10" width="401" height="506"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_o9iXAD1DEeK7haHJZ9RPwA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_o9iXAj1DEeK7haHJZ9RPwA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o9iXAz1DEeK7haHJZ9RPwA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o9iXBD1DEeK7haHJZ9RPwA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_o9iXBT1DEeK7haHJZ9RPwA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9iXBj1DEeK7haHJZ9RPwA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9iXBz1DEeK7haHJZ9RPwA" x="10" y="10" width="451" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_o9WJwj1DEeK7haHJZ9RPwA"/>
    <edges xmi:id="_o9cQez1DEeK7haHJZ9RPwA" type="Transition" element="_o9cQej1DEeK7haHJZ9RPwA" source="_o9cQYT1DEeK7haHJZ9RPwA" target="_YFySoB17EeSUu8X40Qay1A">
      <children xsi:type="notation:DecorationNode" xmi:id="_o9cQfz1DEeK7haHJZ9RPwA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o9cQgD1DEeK7haHJZ9RPwA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o9cQgT1DEeK7haHJZ9RPwA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_o9cQfD1DEeK7haHJZ9RPwA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_o9cQfj1DEeK7haHJZ9RPwA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_o9cQfT1DEeK7haHJZ9RPwA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="__4FnMT1DEeK7haHJZ9RPwA" type="Transition" element="__4FnMD1DEeK7haHJZ9RPwA" source="_o9cQbT1DEeK7haHJZ9RPwA" target="__d9P8D1DEeK7haHJZ9RPwA">
      <children xsi:type="notation:DecorationNode" xmi:id="__4FnNT1DEeK7haHJZ9RPwA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__4FnNj1DEeK7haHJZ9RPwA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__4FnNz1DEeK7haHJZ9RPwA" y="-65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__4FnMj1DEeK7haHJZ9RPwA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__4FnND1DEeK7haHJZ9RPwA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__4FnMz1DEeK7haHJZ9RPwA" points="[-6, 66, -3, -92]$[-11, 100, -8, -58]"/>
    </edges>
    <edges xmi:id="_PPPZUD3yEeK47LT8Vd-Q2Q" type="Transition" element="_PPFoUD3yEeK47LT8Vd-Q2Q" source="__d9P8D1DEeK7haHJZ9RPwA" target="_AJsWgD3yEeK47LT8Vd-Q2Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_PPZKUD3yEeK47LT8Vd-Q2Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PPZKUT3yEeK47LT8Vd-Q2Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PPZKUj3yEeK47LT8Vd-Q2Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PPPZUT3yEeK47LT8Vd-Q2Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PPPZUz3yEeK47LT8Vd-Q2Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PPPZUj3yEeK47LT8Vd-Q2Q" points="[4, 38, 3, -29]$[4, 58, 3, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PPiUQD3yEeK47LT8Vd-Q2Q" id="(0.5124555160142349,0.16393442622950818)"/>
    </edges>
    <edges xmi:id="_fgtMEB17EeSUu8X40Qay1A" type="Transition" element="_fgphsB17EeSUu8X40Qay1A" source="_YFySoB17EeSUu8X40Qay1A" target="_o9cQbT1DEeK7haHJZ9RPwA">
      <children xsi:type="notation:DecorationNode" xmi:id="_fgtzIB17EeSUu8X40Qay1A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fgtzIR17EeSUu8X40Qay1A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fgtzIh17EeSUu8X40Qay1A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fgtMER17EeSUu8X40Qay1A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fgtMEx17EeSUu8X40Qay1A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fgtMEh17EeSUu8X40Qay1A" points="[3, 24, 3, -70]$[3, 82, 3, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fgvoUB17EeSUu8X40Qay1A" id="(0.5,0.1625)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
