<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_5h8UEKmAEeGHLMtw-ncbeA" specification="interface:&#xD;&#xA;in event event1&#xD;&#xA;in event event2" name="PriorityValues">
    <regions xmi:id="_2yJeQKmGEeGHLMtw-ncbeA" name="someRegion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_8Es9AKmGEeGHLMtw-ncbeA">
        <outgoingTransitions xmi:id="_msFuwKmIEeGHLMtw-ncbeA" specification="" target="_8Xn5AKmGEeGHLMtw-ncbeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8Xn5AKmGEeGHLMtw-ncbeA" name="A" incomingTransitions="_msFuwKmIEeGHLMtw-ncbeA">
        <outgoingTransitions xmi:id="_sPfF4KmIEeGHLMtw-ncbeA" specification="event2" target="_9Ua4cKmGEeGHLMtw-ncbeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9Ua4cKmGEeGHLMtw-ncbeA" name="B" incomingTransitions="_sPfF4KmIEeGHLMtw-ncbeA"/>
    </regions>
    <regions xmi:id="_5iPPAqmAEeGHLMtw-ncbeA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_5iZACamAEeGHLMtw-ncbeA">
        <outgoingTransitions xmi:id="_5iiJ_qmAEeGHLMtw-ncbeA" target="_5iZAFKmAEeGHLMtw-ncbeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5iZAFKmAEeGHLMtw-ncbeA" name="A" incomingTransitions="_5iiJ_qmAEeGHLMtw-ncbeA">
        <outgoingTransitions xmi:id="_8xR5sKmHEeGHLMtw-ncbeA" specification="event1" target="_IBPPMKmBEeGHLMtw-ncbeA"/>
        <outgoingTransitions xmi:id="_7vtvAKmHEeGHLMtw-ncbeA" specification="event1" target="_6-xecKmAEeGHLMtw-ncbeA"/>
        <outgoingTransitions xmi:id="_9idfAKmHEeGHLMtw-ncbeA" specification="event1" target="_ISFHkKmBEeGHLMtw-ncbeA"/>
        <outgoingTransitions xmi:id="_qWVL4KmIEeGHLMtw-ncbeA" specification="event2 [!active(PriorityValues.someRegion.B)]" target="_nI_tMKmIEeGHLMtw-ncbeA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6-xecKmAEeGHLMtw-ncbeA" specification="" name="B" incomingTransitions="_7vtvAKmHEeGHLMtw-ncbeA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_IBPPMKmBEeGHLMtw-ncbeA" specification="" name="C" incomingTransitions="_8xR5sKmHEeGHLMtw-ncbeA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_ISFHkKmBEeGHLMtw-ncbeA" specification="" name="D" incomingTransitions="_9idfAKmHEeGHLMtw-ncbeA"/>
      <vertices xsi:type="sgraph:State" xmi:id="_nI_tMKmIEeGHLMtw-ncbeA" name="E" incomingTransitions="_qWVL4KmIEeGHLMtw-ncbeA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_5iPPAKmAEeGHLMtw-ncbeA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_5h8UEKmAEeGHLMtw-ncbeA" measurementUnit="Pixel">
    <children xmi:id="_5iZAAKmAEeGHLMtw-ncbeA" type="Region" element="_5iPPAqmAEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5iZAA6mAEeGHLMtw-ncbeA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5iZABKmAEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5iZABamAEeGHLMtw-ncbeA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_5iZABqmAEeGHLMtw-ncbeA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_5iZACqmAEeGHLMtw-ncbeA" type="Entry" element="_5iZACamAEeGHLMtw-ncbeA">
          <children xmi:id="_5iZADamAEeGHLMtw-ncbeA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_5iZAEKmAEeGHLMtw-ncbeA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_5iZAEamAEeGHLMtw-ncbeA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_5iZAEqmAEeGHLMtw-ncbeA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iZADqmAEeGHLMtw-ncbeA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iZAD6mAEeGHLMtw-ncbeA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iZAC6mAEeGHLMtw-ncbeA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iZAE6mAEeGHLMtw-ncbeA" x="67" y="151"/>
        </children>
        <children xmi:id="_5iiJ8amAEeGHLMtw-ncbeA" type="State" element="_5iZAFKmAEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_5iiJ9amAEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iiJ9qmAEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5iiJ96mAEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iiJ-KmAEeGHLMtw-ncbeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5iiJ-amAEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iiJ-qmAEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iiJ-6mAEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iiJ8qmAEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5iiJ86mAEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iiJ_amAEeGHLMtw-ncbeA" x="149" y="135" width="55" height="60"/>
        </children>
        <children xmi:id="_6_EZYKmAEeGHLMtw-ncbeA" type="State" element="_6-xecKmAEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_6_EZZKmAEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6_EZZamAEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6_EZZqmAEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6_EZZ6mAEeGHLMtw-ncbeA" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_6_EZaKmAEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6_EZaamAEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6_EZaqmAEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6_EZYamAEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6_EZYqmAEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6_EZY6mAEeGHLMtw-ncbeA" x="459" y="70" height="49"/>
        </children>
        <children xmi:id="_IBZAMKmBEeGHLMtw-ncbeA" type="State" element="_IBPPMKmBEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_IBZANKmBEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_IBZANamBEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_IBZANqmBEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_IBZAN6mBEeGHLMtw-ncbeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_IBZAOKmBEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IBZAOamBEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_IBiKIKmBEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_IBZAMamBEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_IBZAMqmBEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IBZAM6mBEeGHLMtw-ncbeA" x="458" y="124"/>
        </children>
        <children xmi:id="_ISORgKmBEeGHLMtw-ncbeA" type="State" element="_ISFHkKmBEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_ISORhKmBEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ISORhamBEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ISORhqmBEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ISORh6mBEeGHLMtw-ncbeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ISORiKmBEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ISORiamBEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ISORiqmBEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ISORgamBEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ISORgqmBEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ISORg6mBEeGHLMtw-ncbeA" x="459" y="189" width="26"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_HFjl4KmIEeGHLMtw-ncbeA" type="Note" fontName="Verdana" description="transition priority for state A&#xD;&#xA;1. A->C&#xD;&#xA;2. A-> B&#xD;&#xA;3. A-> D" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_HFjl5KmIEeGHLMtw-ncbeA" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_HFjl5amIEeGHLMtw-ncbeA" type="Description">
            <element xsi:nil="true"/>
          </children>
          <styles xsi:type="notation:TextStyle" xmi:id="_HFjl4amIEeGHLMtw-ncbeA"/>
          <styles xsi:type="notation:LineTypeStyle" xmi:id="_HFjl4qmIEeGHLMtw-ncbeA"/>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HFjl46mIEeGHLMtw-ncbeA" x="39" y="24" width="261" height="72"/>
        </children>
        <children xmi:id="_nJJeMKmIEeGHLMtw-ncbeA" type="State" element="_nI_tMKmIEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nJSoIKmIEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nJSoIamIEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nJSoIqmIEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nJSoI6mIEeGHLMtw-ncbeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nJSoJKmIEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nJSoJamIEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nJSoJqmIEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nJJeMamIEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nJJeMqmIEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nJJeM6mIEeGHLMtw-ncbeA" x="449" y="259"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iZAB6mAEeGHLMtw-ncbeA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_5iZAAamAEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iZACKmAEeGHLMtw-ncbeA" x="220" width="606" height="356"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_5iiKBqmAEeGHLMtw-ncbeA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_5iiKCKmAEeGHLMtw-ncbeA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5iiKCamAEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5iiKCqmAEeGHLMtw-ncbeA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_5iiKC6mAEeGHLMtw-ncbeA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iiKDKmAEeGHLMtw-ncbeA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iiKDamAEeGHLMtw-ncbeA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_2ySoMKmGEeGHLMtw-ncbeA" type="Region" element="_2yJeQKmGEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2ySoM6mGEeGHLMtw-ncbeA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2ySoNKmGEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2ySoNamGEeGHLMtw-ncbeA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_2ySoNqmGEeGHLMtw-ncbeA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_8E2G8KmGEeGHLMtw-ncbeA" type="Entry" element="_8Es9AKmGEeGHLMtw-ncbeA">
          <children xmi:id="_8E2G86mGEeGHLMtw-ncbeA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_8E2G9qmGEeGHLMtw-ncbeA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8E2G96mGEeGHLMtw-ncbeA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_8E2G-KmGEeGHLMtw-ncbeA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8E2G9KmGEeGHLMtw-ncbeA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8E2G9amGEeGHLMtw-ncbeA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8E2G8amGEeGHLMtw-ncbeA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8E2G8qmGEeGHLMtw-ncbeA" x="55" y="32"/>
        </children>
        <children xmi:id="_8YEk8KmGEeGHLMtw-ncbeA" type="State" element="_8Xn5AKmGEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_8YEk9KmGEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8YEk9amGEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8YEk9qmGEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8YEk96mGEeGHLMtw-ncbeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8YEk-KmGEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8YEk-amGEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8YEk-qmGEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8YEk8amGEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8YEk8qmGEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8YEk86mGEeGHLMtw-ncbeA" x="140" y="26" width="60"/>
        </children>
        <children xmi:id="_9Ua4cqmGEeGHLMtw-ncbeA" type="State" element="_9Ua4cKmGEeGHLMtw-ncbeA">
          <children xsi:type="notation:DecorationNode" xmi:id="_9UkpcKmGEeGHLMtw-ncbeA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9UkpcamGEeGHLMtw-ncbeA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9UkpcqmGEeGHLMtw-ncbeA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9Ukpc6mGEeGHLMtw-ncbeA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9UkpdKmGEeGHLMtw-ncbeA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9UkpdamGEeGHLMtw-ncbeA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9UkpdqmGEeGHLMtw-ncbeA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9Ua4c6mGEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9Ua4dKmGEeGHLMtw-ncbeA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9Ua4damGEeGHLMtw-ncbeA" x="255" y="26" width="86"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ySoN6mGEeGHLMtw-ncbeA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_2ySoMamGEeGHLMtw-ncbeA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2ySoMqmGEeGHLMtw-ncbeA" x="220" y="355" width="601" height="136"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_D_QG0KmJEeGHLMtw-ncbeA" type="Note" fontName="Verdana" description="This state should never &#xD;&#xA;become active since someRegion &#xD;&#xA;has a higher priority" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_D_Z30KmJEeGHLMtw-ncbeA" type="DiagramName">
        <element xsi:nil="true"/>
      </children>
      <children xsi:type="notation:BasicDecorationNode" xmi:id="_D_Z30amJEeGHLMtw-ncbeA" type="Description">
        <element xsi:nil="true"/>
      </children>
      <styles xsi:type="notation:TextStyle" xmi:id="_D_QG0amJEeGHLMtw-ncbeA"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_D_QG0qmJEeGHLMtw-ncbeA"/>
      <element xsi:nil="true"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_D_QG06mJEeGHLMtw-ncbeA" x="840" y="285"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_5iPPAamAEeGHLMtw-ncbeA"/>
    <edges xmi:id="_5iiJ_6mAEeGHLMtw-ncbeA" type="Transition" element="_5iiJ_qmAEeGHLMtw-ncbeA" source="_5iZACqmAEeGHLMtw-ncbeA" target="_5iiJ8amAEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5iiKA6mAEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5iiKBKmAEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5iiKBamAEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5iiKAKmAEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5iiKAqmAEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5iiKAamAEeGHLMtw-ncbeA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_7v3gAKmHEeGHLMtw-ncbeA" type="Transition" element="_7vtvAKmHEeGHLMtw-ncbeA" source="_5iiJ8amAEeGHLMtw-ncbeA" target="_6_EZYKmAEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7v3gBKmHEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7v3gBamHEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7v3gBqmHEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7v3gAamHEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7v3gA6mHEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7v3gAqmHEeGHLMtw-ncbeA" points="[18, -4, -435, 8]$[397, -4, -56, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7wKa8KmHEeGHLMtw-ncbeA" id="(0.5,0.18518518518518517)"/>
    </edges>
    <edges xmi:id="_8xuloKmHEeGHLMtw-ncbeA" type="Transition" element="_8xR5sKmHEeGHLMtw-ncbeA" source="_5iiJ8amAEeGHLMtw-ncbeA" target="_IBZAMKmBEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_8xulpKmHEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8xulpamHEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8xulpqmHEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8xuloamHEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8xulo6mHEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8xuloqmHEeGHLMtw-ncbeA" points="[18, -5, -390, 3]$[409, 18, 1, 26]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8yeMgKmHEeGHLMtw-ncbeA" id="(0.10833333333333334,0.5409836065573771)"/>
    </edges>
    <edges xmi:id="_9iwZ8KmHEeGHLMtw-ncbeA" type="Transition" element="_9idfAKmHEeGHLMtw-ncbeA" source="_5iiJ8amAEeGHLMtw-ncbeA" target="_ISORgKmBEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_9iwZ9KmHEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9iwZ9amHEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9iwZ9qmHEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9iwZ8amHEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9iwZ86mHEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9iwZ8qmHEeGHLMtw-ncbeA" points="[12, -4, -401, 3]$[414, 18, 1, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9jgA0KmHEeGHLMtw-ncbeA" id="(0.675,0.8306878306878307)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9jgA0amHEeGHLMtw-ncbeA" id="(0.19327731092436976,0.5178571428571429)"/>
    </edges>
    <edges xmi:id="_msPfwKmIEeGHLMtw-ncbeA" type="Transition" element="_msFuwKmIEeGHLMtw-ncbeA" source="_8E2G8KmGEeGHLMtw-ncbeA" target="_8YEk8KmGEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_msPfxKmIEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_msPfxamIEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_msPfxqmIEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_msPfwamIEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_msPfw6mIEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_msPfwqmIEeGHLMtw-ncbeA" points="[7, 0, -94, 3]$[104, -13, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_msiasKmIEeGHLMtw-ncbeA" id="(0.43333333333333335,0.18032786885245902)"/>
    </edges>
    <edges xmi:id="_qWe84KmIEeGHLMtw-ncbeA" type="Transition" element="_qWVL4KmIEeGHLMtw-ncbeA" source="_5iiJ8amAEeGHLMtw-ncbeA" target="_nJJeMKmIEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qWe85KmIEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qWe85amIEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qWe85qmIEeGHLMtw-ncbeA" x="-26" y="60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qWe84amIEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qWe846mIEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qWe84qmIEeGHLMtw-ncbeA" points="[-7, 28, 16, -66]$[-21, 85, 2, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MXsYcKmJEeGHLMtw-ncbeA" id="(0.3090909090909091,0.9)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qWx30KmIEeGHLMtw-ncbeA" id="(0.275,0.17857142857142858)"/>
    </edges>
    <edges xmi:id="_sPfF4amIEeGHLMtw-ncbeA" type="Transition" element="_sPfF4KmIEeGHLMtw-ncbeA" source="_8YEk8KmGEeGHLMtw-ncbeA" target="_9Ua4cqmGEeGHLMtw-ncbeA">
      <children xsi:type="notation:DecorationNode" xmi:id="_sPfF5amIEeGHLMtw-ncbeA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sPfF5qmIEeGHLMtw-ncbeA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sPfF56mIEeGHLMtw-ncbeA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sPfF4qmIEeGHLMtw-ncbeA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sPfF5KmIEeGHLMtw-ncbeA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sPfF46mIEeGHLMtw-ncbeA" points="[28, -8, -62, -7]$[91, -26, 1, -25]"/>
    </edges>
    <edges xsi:type="notation:Connector" xmi:id="_KjBV0KmJEeGHLMtw-ncbeA" type="NoteAttachment" source="_D_QG0KmJEeGHLMtw-ncbeA" target="_nJJeMKmIEeGHLMtw-ncbeA" lineColor="4210752" lineWidth="1">
      <styles xsi:type="notation:ArrowStyle" xmi:id="_KjBV0amJEeGHLMtw-ncbeA"/>
      <styles xsi:type="notation:LineTypeStyle" xmi:id="_KjBV0qmJEeGHLMtw-ncbeA"/>
      <element xsi:nil="true"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KjBV06mJEeGHLMtw-ncbeA" points="[-21, 2, 441, -47]$[-465, 75, -3, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KjBV1KmJEeGHLMtw-ncbeA" id="(0.09012875536480687,0.2857142857142857)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
