<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_S0vmMPZlEeCSetPXFd1ZUw" specification="interface:&#xA;in event event1&#xA;in event event2&#xA;in event event3&#xA;in event event4&#xA;in event event5&#xA;in event event6&#xA;in event event7&#xA;in event event8&#xA;" name="ShallowHistory">
    <regions xmi:id="_S0wNQvZlEeCSetPXFd1ZUw" name="mainRegion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_S0w0VvZlEeCSetPXFd1ZUw">
        <outgoingTransitions xmi:id="_S0zQk_ZlEeCSetPXFd1ZUw" target="_S0yCcfZlEeCSetPXFd1ZUw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_S0yCcfZlEeCSetPXFd1ZUw" name="State1" incomingTransitions="_S0zQk_ZlEeCSetPXFd1ZUw _euHxIPiYEeC4at_AzcYiGg">
        <outgoingTransitions xmi:id="_dD98cPiYEeC4at_AzcYiGg" specification="event1" target="_aHsYkPiYEeC4at_AzcYiGg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_aHsYkPiYEeC4at_AzcYiGg" name="State2" incomingTransitions="_dD98cPiYEeC4at_AzcYiGg">
        <outgoingTransitions xmi:id="_euHxIPiYEeC4at_AzcYiGg" specification="event2" target="_S0yCcfZlEeCSetPXFd1ZUw"/>
        <regions xmi:id="_qbNqYPiYEeC4at_AzcYiGg">
          <vertices xsi:type="sgraph:Entry" xmi:id="_qxmxIPiYEeC4at_AzcYiGg" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_xD6csPiYEeC4at_AzcYiGg" target="_tZdkMPiYEeC4at_AzcYiGg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_tZdkMPiYEeC4at_AzcYiGg" name="State3" incomingTransitions="_xD6csPiYEeC4at_AzcYiGg">
            <outgoingTransitions xmi:id="_yUM_4PiYEeC4at_AzcYiGg" specification="event3" target="_umzhEPiYEeC4at_AzcYiGg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_umzhEPiYEeC4at_AzcYiGg" name="State4" incomingTransitions="_yUM_4PiYEeC4at_AzcYiGg">
            <outgoingTransitions xmi:id="_1j6dIPiYEeC4at_AzcYiGg" specification="event4" target="_vcfL4PiYEeC4at_AzcYiGg"/>
            <regions xmi:id="_2HyUUPiaEeC4at_AzcYiGg">
              <vertices xsi:type="sgraph:Entry" xmi:id="_22hCkPiaEeC4at_AzcYiGg">
                <outgoingTransitions xmi:id="_-HGUQPiaEeC4at_AzcYiGg" target="_3WtlkPiaEeC4at_AzcYiGg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_3WtlkPiaEeC4at_AzcYiGg" name="State6" incomingTransitions="_-HGUQPiaEeC4at_AzcYiGg _BveJIPibEeC4at_AzcYiGg">
                <outgoingTransitions xmi:id="__CvdIPiaEeC4at_AzcYiGg" specification="event5" target="_46dQQPiaEeC4at_AzcYiGg"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_46dQQPiaEeC4at_AzcYiGg" name="State7" incomingTransitions="__CvdIPiaEeC4at_AzcYiGg">
                <outgoingTransitions xmi:id="_BveJIPibEeC4at_AzcYiGg" specification="event6" target="_3WtlkPiaEeC4at_AzcYiGg"/>
                <regions xmi:id="_Hjbr0PibEeC4at_AzcYiGg">
                  <vertices xsi:type="sgraph:State" xmi:id="_R2fQAPibEeC4at_AzcYiGg" name="State8" incomingTransitions="_h07CoPibEeC4at_AzcYiGg _nMoHIPibEeC4at_AzcYiGg">
                    <outgoingTransitions xmi:id="_ZKN8UPibEeC4at_AzcYiGg" specification="event7" target="_Tl6mQPibEeC4at_AzcYiGg"/>
                  </vertices>
                  <vertices xsi:type="sgraph:State" xmi:id="_Tl6mQPibEeC4at_AzcYiGg" name="State9" incomingTransitions="_ZKN8UPibEeC4at_AzcYiGg">
                    <outgoingTransitions xmi:id="_nMoHIPibEeC4at_AzcYiGg" specification="event8" target="_R2fQAPibEeC4at_AzcYiGg"/>
                  </vertices>
                  <vertices xsi:type="sgraph:Entry" xmi:id="_grXZkPibEeC4at_AzcYiGg" kind="SHALLOW_HISTORY">
                    <outgoingTransitions xmi:id="_h07CoPibEeC4at_AzcYiGg" specification="" target="_R2fQAPibEeC4at_AzcYiGg"/>
                  </vertices>
                </regions>
              </vertices>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_vcfL4PiYEeC4at_AzcYiGg" name="State5" incomingTransitions="_1j6dIPiYEeC4at_AzcYiGg"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_S0wNQPZlEeCSetPXFd1ZUw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_S0vmMPZlEeCSetPXFd1ZUw" measurementUnit="Pixel">
    <children xmi:id="_S0wNQ_ZlEeCSetPXFd1ZUw" type="Region" element="_S0wNQvZlEeCSetPXFd1ZUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_S0w0UPZlEeCSetPXFd1ZUw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S0w0UfZlEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S0w0UvZlEeCSetPXFd1ZUw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_S0w0U_ZlEeCSetPXFd1ZUw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_S0w0V_ZlEeCSetPXFd1ZUw" type="Entry" element="_S0w0VvZlEeCSetPXFd1ZUw">
          <children xmi:id="_S0xbYPZlEeCSetPXFd1ZUw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_S0xbY_ZlEeCSetPXFd1ZUw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_S0xbZPZlEeCSetPXFd1ZUw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_S0xbZfZlEeCSetPXFd1ZUw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S0xbYfZlEeCSetPXFd1ZUw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0xbYvZlEeCSetPXFd1ZUw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S0w0WPZlEeCSetPXFd1ZUw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0yCcPZlEeCSetPXFd1ZUw" x="70" y="20"/>
        </children>
        <children xmi:id="_S0yCc_ZlEeCSetPXFd1ZUw" type="State" element="_S0yCcfZlEeCSetPXFd1ZUw">
          <children xsi:type="notation:DecorationNode" xmi:id="_S0ypgPZlEeCSetPXFd1ZUw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S0ypgfZlEeCSetPXFd1ZUw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_S0ypgvZlEeCSetPXFd1ZUw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_S0ypg_ZlEeCSetPXFd1ZUw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_S0yphPZlEeCSetPXFd1ZUw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0yphfZlEeCSetPXFd1ZUw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_S0zQkPZlEeCSetPXFd1ZUw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S0yCdPZlEeCSetPXFd1ZUw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_S0yCdfZlEeCSetPXFd1ZUw"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0zQkvZlEeCSetPXFd1ZUw" x="40" y="80" width="88"/>
        </children>
        <children xmi:id="_aHtmsPiYEeC4at_AzcYiGg" type="State" element="_aHsYkPiYEeC4at_AzcYiGg">
          <children xsi:type="notation:DecorationNode" xmi:id="_aHuNwPiYEeC4at_AzcYiGg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_aHuNwfiYEeC4at_AzcYiGg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_aHuNwviYEeC4at_AzcYiGg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aHuNw_iYEeC4at_AzcYiGg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_aHuNxPiYEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aHuNxfiYEeC4at_AzcYiGg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_aHuNxviYEeC4at_AzcYiGg" type="StateFigureCompartment">
            <children xmi:id="_qbORcPiYEeC4at_AzcYiGg" type="Region" element="_qbNqYPiYEeC4at_AzcYiGg">
              <children xsi:type="notation:DecorationNode" xmi:id="_qbORc_iYEeC4at_AzcYiGg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_qbORdPiYEeC4at_AzcYiGg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_qbO4gPiYEeC4at_AzcYiGg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_qbO4gfiYEeC4at_AzcYiGg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_qxnYMPiYEeC4at_AzcYiGg" type="ShallowHistory" element="_qxmxIPiYEeC4at_AzcYiGg">
                  <children xmi:id="_qxn_QPiYEeC4at_AzcYiGg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_qxn_Q_iYEeC4at_AzcYiGg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_qxn_RPiYEeC4at_AzcYiGg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_qxn_RfiYEeC4at_AzcYiGg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qxn_QfiYEeC4at_AzcYiGg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qxn_QviYEeC4at_AzcYiGg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qxnYMfiYEeC4at_AzcYiGg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qxnYMviYEeC4at_AzcYiGg" x="38" y="39"/>
                </children>
                <children xmi:id="_tZeLQfiYEeC4at_AzcYiGg" type="State" element="_tZdkMPiYEeC4at_AzcYiGg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tZeyUPiYEeC4at_AzcYiGg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tZeyUfiYEeC4at_AzcYiGg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tZeyUviYEeC4at_AzcYiGg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tZeyU_iYEeC4at_AzcYiGg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tZeyVPiYEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tZeyVfiYEeC4at_AzcYiGg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tZfZYPiYEeC4at_AzcYiGg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tZeLQviYEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tZeLQ_iYEeC4at_AzcYiGg"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tZeLRPiYEeC4at_AzcYiGg" x="121" y="21" width="83"/>
                </children>
                <children xmi:id="_um0IIPiYEeC4at_AzcYiGg" type="State" element="_umzhEPiYEeC4at_AzcYiGg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_um0vM_iYEeC4at_AzcYiGg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_um0vNPiYEeC4at_AzcYiGg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_um0vNfiYEeC4at_AzcYiGg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_um0vNviYEeC4at_AzcYiGg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_um0vN_iYEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_um0vOPiYEeC4at_AzcYiGg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_um1WQPiYEeC4at_AzcYiGg" type="StateFigureCompartment">
                    <children xmi:id="_2Hy7YPiaEeC4at_AzcYiGg" type="Region" element="_2HyUUPiaEeC4at_AzcYiGg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_2Hy7Y_iaEeC4at_AzcYiGg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_2Hy7ZPiaEeC4at_AzcYiGg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_2Hy7ZfiaEeC4at_AzcYiGg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_2Hy7ZviaEeC4at_AzcYiGg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_22hCkfiaEeC4at_AzcYiGg" type="Entry" element="_22hCkPiaEeC4at_AzcYiGg">
                          <children xmi:id="_22hpoPiaEeC4at_AzcYiGg" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_22hpo_iaEeC4at_AzcYiGg" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_22hppPiaEeC4at_AzcYiGg"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_22hppfiaEeC4at_AzcYiGg"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_22hpofiaEeC4at_AzcYiGg" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_22hpoviaEeC4at_AzcYiGg"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_22hCkviaEeC4at_AzcYiGg" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_22hCk_iaEeC4at_AzcYiGg" x="19" y="31"/>
                        </children>
                        <children xmi:id="_3WuzsPiaEeC4at_AzcYiGg" type="State" element="_3WtlkPiaEeC4at_AzcYiGg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_3WuztPiaEeC4at_AzcYiGg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_3WuztfiaEeC4at_AzcYiGg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_3WuztviaEeC4at_AzcYiGg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_3Wuzt_iaEeC4at_AzcYiGg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_3WuzuPiaEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3WuzufiaEeC4at_AzcYiGg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_3WvawPiaEeC4at_AzcYiGg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_3WuzsfiaEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_3WuzsviaEeC4at_AzcYiGg"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3Wuzs_iaEeC4at_AzcYiGg" x="198" y="19" width="83"/>
                        </children>
                        <children xmi:id="_46d3UPiaEeC4at_AzcYiGg" type="State" element="_46dQQPiaEeC4at_AzcYiGg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_46eeYPiaEeC4at_AzcYiGg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_46eeYfiaEeC4at_AzcYiGg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_46eeYviaEeC4at_AzcYiGg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_46eeY_iaEeC4at_AzcYiGg" type="StateTextCompartment" collapsed="true">
                            <children xsi:type="notation:Shape" xmi:id="_46fFcPiaEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_46fFcfiaEeC4at_AzcYiGg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_46fsgPiaEeC4at_AzcYiGg" type="StateFigureCompartment">
                            <children xmi:id="_HjcS4PibEeC4at_AzcYiGg" type="Region" element="_Hjbr0PibEeC4at_AzcYiGg">
                              <children xsi:type="notation:DecorationNode" xmi:id="_HjcS4_ibEeC4at_AzcYiGg" type="RegionName">
                                <styles xsi:type="notation:ShapeStyle" xmi:id="_HjcS5PibEeC4at_AzcYiGg"/>
                                <layoutConstraint xsi:type="notation:Location" xmi:id="_Hjc58PibEeC4at_AzcYiGg"/>
                              </children>
                              <children xsi:type="notation:Shape" xmi:id="_Hjc58fibEeC4at_AzcYiGg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                                <children xmi:id="_R2f3EPibEeC4at_AzcYiGg" type="State" element="_R2fQAPibEeC4at_AzcYiGg">
                                  <children xsi:type="notation:DecorationNode" xmi:id="_R2f3FPibEeC4at_AzcYiGg" type="StateName">
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_R2f3FfibEeC4at_AzcYiGg"/>
                                    <layoutConstraint xsi:type="notation:Location" xmi:id="_R2f3FvibEeC4at_AzcYiGg"/>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_R2f3F_ibEeC4at_AzcYiGg" type="StateTextCompartment">
                                    <children xsi:type="notation:Shape" xmi:id="_R2f3GPibEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R2geIPibEeC4at_AzcYiGg"/>
                                    </children>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_R2geIfibEeC4at_AzcYiGg" type="StateFigureCompartment"/>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_R2f3EfibEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                  <styles xsi:type="notation:FontStyle" xmi:id="_R2f3EvibEeC4at_AzcYiGg"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_R2f3E_ibEeC4at_AzcYiGg" x="71" y="7" width="70"/>
                                </children>
                                <children xmi:id="_Tl7NUPibEeC4at_AzcYiGg" type="State" element="_Tl6mQPibEeC4at_AzcYiGg">
                                  <children xsi:type="notation:DecorationNode" xmi:id="_Tl7NVPibEeC4at_AzcYiGg" type="StateName">
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Tl7NVfibEeC4at_AzcYiGg"/>
                                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Tl7NVvibEeC4at_AzcYiGg"/>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_Tl7NV_ibEeC4at_AzcYiGg" type="StateTextCompartment">
                                    <children xsi:type="notation:Shape" xmi:id="_Tl7NWPibEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tl7NWfibEeC4at_AzcYiGg"/>
                                    </children>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_Tl7NWvibEeC4at_AzcYiGg" type="StateFigureCompartment"/>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Tl7NUfibEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                  <styles xsi:type="notation:FontStyle" xmi:id="_Tl7NUvibEeC4at_AzcYiGg"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tl7NU_ibEeC4at_AzcYiGg" x="219" y="13"/>
                                </children>
                                <children xmi:id="_grYAoPibEeC4at_AzcYiGg" type="ShallowHistory" element="_grXZkPibEeC4at_AzcYiGg">
                                  <children xmi:id="_grYnsPibEeC4at_AzcYiGg" type="BorderItemLabelContainer">
                                    <children xsi:type="notation:DecorationNode" xmi:id="_grYns_ibEeC4at_AzcYiGg" type="BorderItemLabel">
                                      <styles xsi:type="notation:ShapeStyle" xmi:id="_grYntPibEeC4at_AzcYiGg"/>
                                      <layoutConstraint xsi:type="notation:Location" xmi:id="_grYntfibEeC4at_AzcYiGg"/>
                                    </children>
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_grYnsfibEeC4at_AzcYiGg" fontName="Verdana" lineColor="4210752"/>
                                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_grYnsvibEeC4at_AzcYiGg"/>
                                  </children>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_grYAofibEeC4at_AzcYiGg" fontName="Verdana" lineColor="4210752"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_grYAovibEeC4at_AzcYiGg" x="11" y="23"/>
                                </children>
                                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Hjc58vibEeC4at_AzcYiGg"/>
                              </children>
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_HjcS4fibEeC4at_AzcYiGg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HjcS4vibEeC4at_AzcYiGg"/>
                            </children>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_46d3UfiaEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_46d3UviaEeC4at_AzcYiGg"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_46d3U_iaEeC4at_AzcYiGg" x="33" y="127" width="354" height="225"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2Hy7Z_iaEeC4at_AzcYiGg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_2Hy7YfiaEeC4at_AzcYiGg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2Hy7YviaEeC4at_AzcYiGg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_um0vMPiYEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_um0vMfiYEeC4at_AzcYiGg"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_um0vMviYEeC4at_AzcYiGg" x="278" y="5" width="441" height="447"/>
                </children>
                <children xmi:id="_vcfy8PiYEeC4at_AzcYiGg" type="State" element="_vcfL4PiYEeC4at_AzcYiGg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_vcgaAPiYEeC4at_AzcYiGg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_vcgaAfiYEeC4at_AzcYiGg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_vcgaAviYEeC4at_AzcYiGg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_vcgaA_iYEeC4at_AzcYiGg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_vcgaBPiYEeC4at_AzcYiGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vcgaBfiYEeC4at_AzcYiGg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_vcgaBviYEeC4at_AzcYiGg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_vcfy8fiYEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_vcfy8viYEeC4at_AzcYiGg"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vcfy8_iYEeC4at_AzcYiGg" x="62" y="355" width="78"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qbO4gviYEeC4at_AzcYiGg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_qbORcfiYEeC4at_AzcYiGg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qbORcviYEeC4at_AzcYiGg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_aHtmsfiYEeC4at_AzcYiGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_aHtmsviYEeC4at_AzcYiGg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aHtms_iYEeC4at_AzcYiGg" x="205" y="13" width="785" height="589"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0w0VPZlEeCSetPXFd1ZUw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_S0wNRPZlEeCSetPXFd1ZUw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0w0VfZlEeCSetPXFd1ZUw" x="232" y="10" width="1029" height="667"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_S0z3o_ZlEeCSetPXFd1ZUw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_S0z3pfZlEeCSetPXFd1ZUw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S0z3pvZlEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S0z3p_ZlEeCSetPXFd1ZUw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_S0z3qPZlEeCSetPXFd1ZUw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S0z3qfZlEeCSetPXFd1ZUw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S00esPZlEeCSetPXFd1ZUw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_S0wNQfZlEeCSetPXFd1ZUw"/>
    <edges xmi:id="_S0zQlPZlEeCSetPXFd1ZUw" type="Transition" element="_S0zQk_ZlEeCSetPXFd1ZUw" source="_S0w0V_ZlEeCSetPXFd1ZUw" target="_S0yCc_ZlEeCSetPXFd1ZUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_S0z3oPZlEeCSetPXFd1ZUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S0z3ofZlEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S0z3ovZlEeCSetPXFd1ZUw" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_S0zQlfZlEeCSetPXFd1ZUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_S0zQl_ZlEeCSetPXFd1ZUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_S0zQlvZlEeCSetPXFd1ZUw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_dD-jgPiYEeC4at_AzcYiGg" type="Transition" element="_dD98cPiYEeC4at_AzcYiGg" source="_S0yCc_ZlEeCSetPXFd1ZUw" target="_aHtmsPiYEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_dD-jhPiYEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dD-jhfiYEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dD-jhviYEeC4at_AzcYiGg" x="-2" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dD-jgfiYEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dD-jg_iYEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dD-jgviYEeC4at_AzcYiGg" points="[8, -2, -137, 21]$[122, -36, -23, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dE5wkPiYEeC4at_AzcYiGg" id="(0.8431372549019608,0.4126984126984127)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dE5wkfiYEeC4at_AzcYiGg" id="(0.02929936305732484,0.1494057724957555)"/>
    </edges>
    <edges xmi:id="_euIYMPiYEeC4at_AzcYiGg" type="Transition" element="_euHxIPiYEeC4at_AzcYiGg" source="_aHtmsPiYEeC4at_AzcYiGg" target="_S0yCc_ZlEeCSetPXFd1ZUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_euIYNPiYEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_euIYNfiYEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_euIYNviYEeC4at_AzcYiGg" x="-2" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_euIYMfiYEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_euIYM_iYEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_euIYMviYEeC4at_AzcYiGg" points="[-31, -2, 140, 9]$[-174, 21, -3, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eu2w8PiYEeC4at_AzcYiGg" id="(0.03949044585987261,0.21561969439728354)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xgOTUPiaEeC4at_AzcYiGg" id="(0.9215686274509803,0.8253968253968254)"/>
    </edges>
    <edges xmi:id="_xD7DwPiYEeC4at_AzcYiGg" type="Transition" element="_xD6csPiYEeC4at_AzcYiGg" source="_qxnYMPiYEeC4at_AzcYiGg" target="_tZeLQfiYEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xD7DxPiYEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xD7DxfiYEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xD7DxviYEeC4at_AzcYiGg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xD7DwfiYEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xD7Dw_iYEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xD7DwviYEeC4at_AzcYiGg" points="[7, 0, -138, -9]$[137, 3, -8, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xEo1cPiYEeC4at_AzcYiGg" id="(0.1568627450980392,0.31746031746031744)"/>
    </edges>
    <edges xmi:id="_yUNm8PiYEeC4at_AzcYiGg" type="Transition" element="_yUM_4PiYEeC4at_AzcYiGg" source="_tZeLQfiYEeC4at_AzcYiGg" target="_um0IIPiYEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_yUOOAPiYEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yUOOAfiYEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yUOOAviYEeC4at_AzcYiGg" x="-1" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yUNm8fiYEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yUNm8_iYEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yUNm8viYEeC4at_AzcYiGg" points="[0, 13, 0, -70]$[-6, 75, -6, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yU9N0PiYEeC4at_AzcYiGg" id="(0.43137254901960786,0.7936507936507936)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yU9N0fiYEeC4at_AzcYiGg" id="(0.16326530612244897,0.12698412698412698)"/>
    </edges>
    <edges xmi:id="_1j7EMPiYEeC4at_AzcYiGg" type="Transition" element="_1j6dIPiYEeC4at_AzcYiGg" source="_um0IIPiYEeC4at_AzcYiGg" target="_vcfy8PiYEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_1j7ENPiYEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1j7ENfiYEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1j7ENviYEeC4at_AzcYiGg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1j7EMfiYEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1j7EM_iYEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1j7EMviYEeC4at_AzcYiGg" points="[0, 32, 0, -88]$[0, 89, 0, -31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_foA7oPiaEeC4at_AzcYiGg" id="(0.0,0.7941834451901566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gKeIcPiaEeC4at_AzcYiGg" id="(0.22448979591836735,0.07936507936507936)"/>
    </edges>
    <edges xmi:id="_-HHiYPiaEeC4at_AzcYiGg" type="Transition" element="_-HGUQPiaEeC4at_AzcYiGg" source="_22hCkfiaEeC4at_AzcYiGg" target="_3WuzsPiaEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-HHiZPiaEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-HHiZfiaEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-HHiZviaEeC4at_AzcYiGg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-HHiYfiaEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-HHiY_iaEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-HHiYviaEeC4at_AzcYiGg" points="[7, 0, -206, -12]$[223, 2, 10, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-H17IPiaEeC4at_AzcYiGg" id="(0.803921568627451,0.2698412698412698)"/>
    </edges>
    <edges xmi:id="__CwEMPiaEeC4at_AzcYiGg" type="Transition" element="__CvdIPiaEeC4at_AzcYiGg" source="_3WuzsPiaEeC4at_AzcYiGg" target="_46d3UPiaEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="__CwENPiaEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__CwENfiaEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__CwENviaEeC4at_AzcYiGg" x="-1" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__CwEMfiaEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__CwEM_iaEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__CwEMviaEeC4at_AzcYiGg" points="[3, 13, -28, -80]$[25, 62, -6, -31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__DfEAPiaEeC4at_AzcYiGg" id="(0.7058823529411765,0.7936507936507936)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NxYb0PibEeC4at_AzcYiGg" id="(0.5706214689265536,0.022222222222222223)"/>
    </edges>
    <edges xmi:id="_BvewMPibEeC4at_AzcYiGg" type="Transition" element="_BveJIPibEeC4at_AzcYiGg" source="_46d3UPiaEeC4at_AzcYiGg" target="_3WuzsPiaEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BvewNPibEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BvewNfibEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BvewNvibEeC4at_AzcYiGg" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BvewMfibEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BvewM_ibEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BvewMvibEeC4at_AzcYiGg" points="[-2, -31, 6, 137]$[-10, -199, -2, -31]"/>
    </edges>
    <edges xmi:id="_ZKOjYPibEeC4at_AzcYiGg" type="Transition" element="_ZKN8UPibEeC4at_AzcYiGg" source="_R2f3EPibEeC4at_AzcYiGg" target="_Tl7NUPibEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZKPKcPibEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZKPxgPibEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZKPxgfibEeC4at_AzcYiGg" x="1" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZKOjYfibEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZKOjY_ibEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZKOjYvibEeC4at_AzcYiGg" points="[26, 9, -80, 0]$[101, 7, -5, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZK-KQPibEeC4at_AzcYiGg" id="(0.0196078431372549,0.25396825396825395)"/>
    </edges>
    <edges xmi:id="_h07psPibEeC4at_AzcYiGg" type="Transition" element="_h07CoPibEeC4at_AzcYiGg" source="_grYAoPibEeC4at_AzcYiGg" target="_R2f3EPibEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_h07ptPibEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h07ptfibEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h08QwPibEeC4at_AzcYiGg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h07psfibEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h07ps_ibEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h07psvibEeC4at_AzcYiGg" points="[7, 2, -71, -36]$[75, 7, -3, -31]"/>
    </edges>
    <edges xmi:id="_nMpVQPibEeC4at_AzcYiGg" type="Transition" element="_nMoHIPibEeC4at_AzcYiGg" source="_Tl7NUPibEeC4at_AzcYiGg" target="_R2f3EPibEeC4at_AzcYiGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nMqjYPibEeC4at_AzcYiGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nMsYkPibEeC4at_AzcYiGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nMsYkfibEeC4at_AzcYiGg" x="-2" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nMpVQfibEeC4at_AzcYiGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nMpVQ_ibEeC4at_AzcYiGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nMpVQvibEeC4at_AzcYiGg" points="[-25, 6, 123, 12]$[-144, 26, 4, 32]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
