<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_7tWuQHNzEeGtAMDjlTj9eQ" specification="interface:&#xD;&#xA;in event Event1 : void" name="SimpleHierachy">
    <regions xmi:id="_7tYjcnNzEeGtAMDjlTj9eQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_7tbmwXNzEeGtAMDjlTj9eQ">
        <outgoingTransitions xmi:id="_7tiUcXNzEeGtAMDjlTj9eQ" target="_7teqEHNzEeGtAMDjlTj9eQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7teqEHNzEeGtAMDjlTj9eQ" name="A" incomingTransitions="_7tiUcXNzEeGtAMDjlTj9eQ">
        <outgoingTransitions xmi:id="_9lmCQHNzEeGtAMDjlTj9eQ" specification="Event1" target="_8YlckHNzEeGtAMDjlTj9eQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8YlckHNzEeGtAMDjlTj9eQ" name="B" incomingTransitions="_9lmCQHNzEeGtAMDjlTj9eQ">
        <regions xmi:id="_-bcsMHNzEeGtAMDjlTj9eQ" name="subregion1">
          <vertices xsi:type="sgraph:State" xmi:id="_EUXAUHN0EeGtAMDjlTj9eQ" name="B1" incomingTransitions="_GE5J0HN0EeGtAMDjlTj9eQ"/>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Fq8_0HN0EeGtAMDjlTj9eQ">
            <outgoingTransitions xmi:id="_GE5J0HN0EeGtAMDjlTj9eQ" specification="" target="_EUXAUHN0EeGtAMDjlTj9eQ"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_7tYjcHNzEeGtAMDjlTj9eQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_7tWuQHNzEeGtAMDjlTj9eQ" measurementUnit="Pixel">
    <children xmi:id="_7tYjc3NzEeGtAMDjlTj9eQ" type="Region" element="_7tYjcnNzEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7tZxkHNzEeGtAMDjlTj9eQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7tZxkXNzEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7tZxknNzEeGtAMDjlTj9eQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7ta_sHNzEeGtAMDjlTj9eQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_7tcN0HNzEeGtAMDjlTj9eQ" type="Entry" element="_7tbmwXNzEeGtAMDjlTj9eQ">
          <children xmi:id="_7tdb8HNzEeGtAMDjlTj9eQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_7teDAHNzEeGtAMDjlTj9eQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_7teDAXNzEeGtAMDjlTj9eQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_7teDAnNzEeGtAMDjlTj9eQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7tdb8XNzEeGtAMDjlTj9eQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7tdb8nNzEeGtAMDjlTj9eQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7tcN0XNzEeGtAMDjlTj9eQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7teDA3NzEeGtAMDjlTj9eQ" x="70" y="20"/>
        </children>
        <children xmi:id="_7tfRIHNzEeGtAMDjlTj9eQ" type="State" element="_7teqEHNzEeGtAMDjlTj9eQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_7tgfQHNzEeGtAMDjlTj9eQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7tgfQXNzEeGtAMDjlTj9eQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7tgfQnNzEeGtAMDjlTj9eQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7tgfQ3NzEeGtAMDjlTj9eQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7tgfRHNzEeGtAMDjlTj9eQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7tgfRXNzEeGtAMDjlTj9eQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7thtYHNzEeGtAMDjlTj9eQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7tfRIXNzEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7tfRInNzEeGtAMDjlTj9eQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7tiUcHNzEeGtAMDjlTj9eQ" x="10" y="94" width="140" height="115"/>
        </children>
        <children xmi:id="_8Yof4HNzEeGtAMDjlTj9eQ" type="State" element="_8YlckHNzEeGtAMDjlTj9eQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_8YpuAHNzEeGtAMDjlTj9eQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8YpuAXNzEeGtAMDjlTj9eQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8YpuAnNzEeGtAMDjlTj9eQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8YpuA3NzEeGtAMDjlTj9eQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8YqVEHNzEeGtAMDjlTj9eQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8YqVEXNzEeGtAMDjlTj9eQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8Yq8IHNzEeGtAMDjlTj9eQ" type="StateFigureCompartment">
            <children xmi:id="_-behYHNzEeGtAMDjlTj9eQ" type="Region" element="_-bcsMHNzEeGtAMDjlTj9eQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_-bfvgHNzEeGtAMDjlTj9eQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_-bfvgXNzEeGtAMDjlTj9eQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_-bfvgnNzEeGtAMDjlTj9eQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_-bgWkHNzEeGtAMDjlTj9eQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_EUY1gHN0EeGtAMDjlTj9eQ" type="State" element="_EUXAUHN0EeGtAMDjlTj9eQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_EUaDoHN0EeGtAMDjlTj9eQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_EUaDoXN0EeGtAMDjlTj9eQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_EUaqsHN0EeGtAMDjlTj9eQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_EUaqsXN0EeGtAMDjlTj9eQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_EUaqsnN0EeGtAMDjlTj9eQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EUaqs3N0EeGtAMDjlTj9eQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_EUb40HN0EeGtAMDjlTj9eQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_EUY1gXN0EeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_EUY1gnN0EeGtAMDjlTj9eQ"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EUY1g3N0EeGtAMDjlTj9eQ" x="133" y="33"/>
                </children>
                <children xmi:id="_Fq_cEHN0EeGtAMDjlTj9eQ" type="Entry" element="_Fq8_0HN0EeGtAMDjlTj9eQ">
                  <children xmi:id="_FrAqMHN0EeGtAMDjlTj9eQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_FrB4UHN0EeGtAMDjlTj9eQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_FrB4UXN0EeGtAMDjlTj9eQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_FrB4UnN0EeGtAMDjlTj9eQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_FrAqMXN0EeGtAMDjlTj9eQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FrAqMnN0EeGtAMDjlTj9eQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Fq_cEXN0EeGtAMDjlTj9eQ" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fq_cEnN0EeGtAMDjlTj9eQ" x="26" y="51"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-bgWkXNzEeGtAMDjlTj9eQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_-behYXNzEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-behYnNzEeGtAMDjlTj9eQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8Yof4XNzEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8Yof4nNzEeGtAMDjlTj9eQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Yof43NzEeGtAMDjlTj9eQ" x="229" y="20" width="246" height="236"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7ta_sXNzEeGtAMDjlTj9eQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_7tYjdHNzEeGtAMDjlTj9eQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7tbmwHNzEeGtAMDjlTj9eQ" x="220" y="10" width="521" height="306"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_7tkJoHNzEeGtAMDjlTj9eQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_7tkwsHNzEeGtAMDjlTj9eQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7tkwsXNzEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7tlXwHNzEeGtAMDjlTj9eQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7tlXwXNzEeGtAMDjlTj9eQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7tlXwnNzEeGtAMDjlTj9eQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7tl-0HNzEeGtAMDjlTj9eQ" x="16" y="10" width="200" height="306"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_7tYjcXNzEeGtAMDjlTj9eQ"/>
    <edges xmi:id="_7ti7gHNzEeGtAMDjlTj9eQ" type="Transition" element="_7tiUcXNzEeGtAMDjlTj9eQ" source="_7tcN0HNzEeGtAMDjlTj9eQ" target="_7tfRIHNzEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7tjikXNzEeGtAMDjlTj9eQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7tjiknNzEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7tjik3NzEeGtAMDjlTj9eQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7ti7gXNzEeGtAMDjlTj9eQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7tjikHNzEeGtAMDjlTj9eQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7ti7gnNzEeGtAMDjlTj9eQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_9loegHNzEeGtAMDjlTj9eQ" type="Transition" element="_9lmCQHNzEeGtAMDjlTj9eQ" source="_7tfRIHNzEeGtAMDjlTj9eQ" target="_8Yof4HNzEeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_9lpsoHNzEeGtAMDjlTj9eQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9lpsoXNzEeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9lpsonNzEeGtAMDjlTj9eQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9loegXNzEeGtAMDjlTj9eQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9lpFkHNzEeGtAMDjlTj9eQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9loegnNzEeGtAMDjlTj9eQ" points="[60, 1, -74, -6]$[131, -18, -3, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9m1_cHNzEeGtAMDjlTj9eQ" id="(0.9357142857142857,0.41739130434782606)"/>
    </edges>
    <edges xmi:id="_GE7mEHN0EeGtAMDjlTj9eQ" type="Transition" element="_GE5J0HN0EeGtAMDjlTj9eQ" source="_Fq_cEHN0EeGtAMDjlTj9eQ" target="_EUY1gHN0EeGtAMDjlTj9eQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_GE80MHN0EeGtAMDjlTj9eQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GE80MXN0EeGtAMDjlTj9eQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GE80MnN0EeGtAMDjlTj9eQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GE7mEXN0EeGtAMDjlTj9eQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GE8NIHN0EeGtAMDjlTj9eQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GE7mEnN0EeGtAMDjlTj9eQ" points="[7, 0, -97, 5]$[106, -15, 2, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GGGDsHN0EeGtAMDjlTj9eQ" id="(0.1,0.4642857142857143)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
