<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_RFTg0In9EeGKqoh-gt8EXQ" specification="interface:&#xD;&#xA;var myInt : integer&#xD;&#xA;internal:&#xD;&#xA;oncycle / myInt+=1&#xD;&#xA;" name="StatechartLocalReactions">
    <regions xmi:id="_RFWkIon9EeGKqoh-gt8EXQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_RGUNcIn9EeGKqoh-gt8EXQ">
        <outgoingTransitions xmi:id="_RGfMkYn9EeGKqoh-gt8EXQ" target="_RGZtAYn9EeGKqoh-gt8EXQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RGZtAYn9EeGKqoh-gt8EXQ" name="S1" incomingTransitions="_RGfMkYn9EeGKqoh-gt8EXQ _UvZM8In9EeGKqoh-gt8EXQ">
        <outgoingTransitions xmi:id="_TsF84In9EeGKqoh-gt8EXQ" specification="[true]" target="_TB-B0In9EeGKqoh-gt8EXQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TB-B0In9EeGKqoh-gt8EXQ" name="S2" incomingTransitions="_TsF84In9EeGKqoh-gt8EXQ">
        <outgoingTransitions xmi:id="_UvZM8In9EeGKqoh-gt8EXQ" specification="[true]" target="_RGZtAYn9EeGKqoh-gt8EXQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_RZW2oI1dEeGmRdyimotffQ" name="region2">
      <vertices xsi:type="sgraph:Entry" xmi:id="_S0APsI1dEeGmRdyimotffQ">
        <outgoingTransitions xmi:id="_UVq2wI1dEeGmRdyimotffQ" specification="" target="_TOHY0I1dEeGmRdyimotffQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TOHY0I1dEeGmRdyimotffQ" name="a" incomingTransitions="_UVq2wI1dEeGmRdyimotffQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_RFWkIIn9EeGKqoh-gt8EXQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_RFTg0In9EeGKqoh-gt8EXQ" measurementUnit="Pixel">
    <children xmi:id="_RFixYIn9EeGKqoh-gt8EXQ" type="Region" element="_RFWkIon9EeGKqoh-gt8EXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_RGQjEIn9EeGKqoh-gt8EXQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RGQjEYn9EeGKqoh-gt8EXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RGQjEon9EeGKqoh-gt8EXQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RGRKIIn9EeGKqoh-gt8EXQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_RGWCoIn9EeGKqoh-gt8EXQ" type="Entry" element="_RGUNcIn9EeGKqoh-gt8EXQ">
          <children xmi:id="_RGYe4In9EeGKqoh-gt8EXQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_RGZF8In9EeGKqoh-gt8EXQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_RGZF8Yn9EeGKqoh-gt8EXQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_RGZF8on9EeGKqoh-gt8EXQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RGYe4Yn9EeGKqoh-gt8EXQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGYe4on9EeGKqoh-gt8EXQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RGWCoYn9EeGKqoh-gt8EXQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGZtAIn9EeGKqoh-gt8EXQ" x="70" y="20"/>
        </children>
        <children xmi:id="_RGbiMIn9EeGKqoh-gt8EXQ" type="State" element="_RGZtAYn9EeGKqoh-gt8EXQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_RGcJQIn9EeGKqoh-gt8EXQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RGcJQYn9EeGKqoh-gt8EXQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RGcJQon9EeGKqoh-gt8EXQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RGdXYIn9EeGKqoh-gt8EXQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RGdXYYn9EeGKqoh-gt8EXQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGd-cIn9EeGKqoh-gt8EXQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RGd-cYn9EeGKqoh-gt8EXQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RGbiMYn9EeGKqoh-gt8EXQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RGbiMon9EeGKqoh-gt8EXQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGfMkIn9EeGKqoh-gt8EXQ" x="60" y="79"/>
        </children>
        <children xmi:id="_TCY4kIn9EeGKqoh-gt8EXQ" type="State" element="_TB-B0In9EeGKqoh-gt8EXQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_TCaGsIn9EeGKqoh-gt8EXQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TCaGsYn9EeGKqoh-gt8EXQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TCaGson9EeGKqoh-gt8EXQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TCaGs4n9EeGKqoh-gt8EXQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TCatwIn9EeGKqoh-gt8EXQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TCatwYn9EeGKqoh-gt8EXQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TCbU0In9EeGKqoh-gt8EXQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TCY4kYn9EeGKqoh-gt8EXQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TCY4kon9EeGKqoh-gt8EXQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TCY4k4n9EeGKqoh-gt8EXQ" x="247" y="87"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGRKIYn9EeGKqoh-gt8EXQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RFixYYn9EeGKqoh-gt8EXQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGTmYIn9EeGKqoh-gt8EXQ" x="220" y="10" width="400" height="196"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_RGkFEIn9EeGKqoh-gt8EXQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_RGksIIn9EeGKqoh-gt8EXQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RGksIYn9EeGKqoh-gt8EXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RGksIon9EeGKqoh-gt8EXQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RGlTMIn9EeGKqoh-gt8EXQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGlTMYn9EeGKqoh-gt8EXQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RGl6QIn9EeGKqoh-gt8EXQ" x="8" y="10" width="200" height="201"/>
    </children>
    <children xmi:id="_RZtb8I1dEeGmRdyimotffQ" type="Region" element="_RZW2oI1dEeGmRdyimotffQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_RZyUcI1dEeGmRdyimotffQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RZyUcY1dEeGmRdyimotffQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RZyUco1dEeGmRdyimotffQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RZy7gI1dEeGmRdyimotffQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_S00IAI1dEeGmRdyimotffQ" type="Entry" element="_S0APsI1dEeGmRdyimotffQ">
          <children xmi:id="_S01WII1dEeGmRdyimotffQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_S019MI1dEeGmRdyimotffQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_S019MY1dEeGmRdyimotffQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_S019Mo1dEeGmRdyimotffQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_S01WIY1dEeGmRdyimotffQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S01WIo1dEeGmRdyimotffQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_S00IAY1dEeGmRdyimotffQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_S00IAo1dEeGmRdyimotffQ" x="26" y="15"/>
        </children>
        <children xmi:id="_TOmhAI1dEeGmRdyimotffQ" type="State" element="_TOHY0I1dEeGmRdyimotffQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_TOnvII1dEeGmRdyimotffQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TOnvIY1dEeGmRdyimotffQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TOnvIo1dEeGmRdyimotffQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TOo9QI1dEeGmRdyimotffQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TOo9QY1dEeGmRdyimotffQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TOo9Qo1dEeGmRdyimotffQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TOqLYI1dEeGmRdyimotffQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TOmhAY1dEeGmRdyimotffQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TOmhAo1dEeGmRdyimotffQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TOmhA41dEeGmRdyimotffQ" x="131" y="32"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RZzikI1dEeGmRdyimotffQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RZtb8Y1dEeGmRdyimotffQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RZtb8o1dEeGmRdyimotffQ" x="220" y="210" width="400" height="196"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_RFWkIYn9EeGKqoh-gt8EXQ"/>
    <edges xmi:id="_RGho0In9EeGKqoh-gt8EXQ" type="Transition" element="_RGfMkYn9EeGKqoh-gt8EXQ" source="_RGWCoIn9EeGKqoh-gt8EXQ" target="_RGbiMIn9EeGKqoh-gt8EXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_RGi28Yn9EeGKqoh-gt8EXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RGi28on9EeGKqoh-gt8EXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RGjeAIn9EeGKqoh-gt8EXQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RGho0Yn9EeGKqoh-gt8EXQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RGi28In9EeGKqoh-gt8EXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RGho0on9EeGKqoh-gt8EXQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_TsKOUIn9EeGKqoh-gt8EXQ" type="Transition" element="_TsF84In9EeGKqoh-gt8EXQ" source="_RGbiMIn9EeGKqoh-gt8EXQ" target="_TCY4kIn9EeGKqoh-gt8EXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_TsK1YIn9EeGKqoh-gt8EXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TsK1YYn9EeGKqoh-gt8EXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TsK1Yon9EeGKqoh-gt8EXQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TsKOUYn9EeGKqoh-gt8EXQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TsKOU4n9EeGKqoh-gt8EXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TsKOUon9EeGKqoh-gt8EXQ" points="[18, 1, -162, -19]$[177, -5, -3, -25]"/>
    </edges>
    <edges xmi:id="_UvfTkIn9EeGKqoh-gt8EXQ" type="Transition" element="_UvZM8In9EeGKqoh-gt8EXQ" source="_TCY4kIn9EeGKqoh-gt8EXQ" target="_RGbiMIn9EeGKqoh-gt8EXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Uvf6oIn9EeGKqoh-gt8EXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Uvf6oYn9EeGKqoh-gt8EXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Uvf6oon9EeGKqoh-gt8EXQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UvfTkYn9EeGKqoh-gt8EXQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UvfTk4n9EeGKqoh-gt8EXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UvfTkon9EeGKqoh-gt8EXQ" points="[-19, -3, 176, 1]$[-193, -12, 2, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UwYEYIn9EeGKqoh-gt8EXQ" id="(0.55,0.08928571428571429)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UwYEYYn9EeGKqoh-gt8EXQ" id="(0.325,0.16071428571428573)"/>
    </edges>
    <edges xmi:id="_UV114I1dEeGmRdyimotffQ" type="Transition" element="_UVq2wI1dEeGmRdyimotffQ" source="_S00IAI1dEeGmRdyimotffQ" target="_TOmhAI1dEeGmRdyimotffQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_UV3EAY1dEeGmRdyimotffQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UV3rEI1dEeGmRdyimotffQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UV3rEY1dEeGmRdyimotffQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UV114Y1dEeGmRdyimotffQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UV3EAI1dEeGmRdyimotffQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UV114o1dEeGmRdyimotffQ" points="[7, 1, -108, -34]$[113, 10, -2, -25]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
