<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_1yS4sGVgEeKWYor_23ii8A" name="StateWithEmptyRegion">
    <regions xmi:id="_1yS4s2VgEeKWYor_23ii8A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_1ylzpmVgEeKWYor_23ii8A">
        <outgoingTransitions xmi:id="_1yvkpmVgEeKWYor_23ii8A" target="_1ylzsWVgEeKWYor_23ii8A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1ylzsWVgEeKWYor_23ii8A" name="A" incomingTransitions="_1yvkpmVgEeKWYor_23ii8A">
        <outgoingTransitions xmi:id="_42iFwGVgEeKWYor_23ii8A" specification="[true]" target="_4EryEGVgEeKWYor_23ii8A"/>
        <regions xmi:id="_8fzSgGVgEeKWYor_23ii8A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4EryEGVgEeKWYor_23ii8A" name="B" incomingTransitions="_42iFwGVgEeKWYor_23ii8A">
        <regions xmi:id="_9C6moGVgEeKWYor_23ii8A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_1yS4sWVgEeKWYor_23ii8A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_1yS4sGVgEeKWYor_23ii8A" measurementUnit="Pixel">
    <children xmi:id="_1yS4tGVgEeKWYor_23ii8A" type="Region" element="_1yS4s2VgEeKWYor_23ii8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_1ylzoGVgEeKWYor_23ii8A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1ylzoWVgEeKWYor_23ii8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1ylzomVgEeKWYor_23ii8A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1ylzo2VgEeKWYor_23ii8A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_1ylzp2VgEeKWYor_23ii8A" type="Entry" element="_1ylzpmVgEeKWYor_23ii8A">
          <children xmi:id="_1ylzqmVgEeKWYor_23ii8A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_1ylzrWVgEeKWYor_23ii8A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1ylzrmVgEeKWYor_23ii8A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_1ylzr2VgEeKWYor_23ii8A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1ylzq2VgEeKWYor_23ii8A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1ylzrGVgEeKWYor_23ii8A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1ylzqGVgEeKWYor_23ii8A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1ylzsGVgEeKWYor_23ii8A" x="70" y="20"/>
        </children>
        <children xmi:id="_1ylzs2VgEeKWYor_23ii8A" type="State" element="_1ylzsWVgEeKWYor_23ii8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_1ylzt2VgEeKWYor_23ii8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1ylzuGVgEeKWYor_23ii8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1ylzuWVgEeKWYor_23ii8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1yvkoGVgEeKWYor_23ii8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1yvkoWVgEeKWYor_23ii8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1yvkomVgEeKWYor_23ii8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1yvko2VgEeKWYor_23ii8A" type="StateFigureCompartment">
            <children xmi:id="_8fzSgWVgEeKWYor_23ii8A" type="Region" element="_8fzSgGVgEeKWYor_23ii8A">
              <children xsi:type="notation:DecorationNode" xmi:id="_8f9DgGVgEeKWYor_23ii8A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_8f9DgWVgEeKWYor_23ii8A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_8f9DgmVgEeKWYor_23ii8A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_8f9Dg2VgEeKWYor_23ii8A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8f9DhGVgEeKWYor_23ii8A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_8fzSgmVgEeKWYor_23ii8A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8fzSg2VgEeKWYor_23ii8A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1ylztGVgEeKWYor_23ii8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1ylztWVgEeKWYor_23ii8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1yvkpGVgEeKWYor_23ii8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1yvkpWVgEeKWYor_23ii8A" x="9" y="79" width="175" height="180"/>
        </children>
        <children xmi:id="_4EryEmVgEeKWYor_23ii8A" type="State" element="_4EryEGVgEeKWYor_23ii8A">
          <children xsi:type="notation:DecorationNode" xmi:id="_4EryFmVgEeKWYor_23ii8A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4EryF2VgEeKWYor_23ii8A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4EryGGVgEeKWYor_23ii8A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4EryGWVgEeKWYor_23ii8A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4EryGmVgEeKWYor_23ii8A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4EryG2VgEeKWYor_23ii8A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4EryHGVgEeKWYor_23ii8A" type="StateFigureCompartment">
            <children xmi:id="_9C6moWVgEeKWYor_23ii8A" type="Region" element="_9C6moGVgEeKWYor_23ii8A">
              <children xsi:type="notation:DecorationNode" xmi:id="_9C6mpGVgEeKWYor_23ii8A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_9C6mpWVgEeKWYor_23ii8A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_9C6mpmVgEeKWYor_23ii8A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_9C6mp2VgEeKWYor_23ii8A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9C6mqGVgEeKWYor_23ii8A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_9C6momVgEeKWYor_23ii8A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9C6mo2VgEeKWYor_23ii8A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4EryE2VgEeKWYor_23ii8A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4EryFGVgEeKWYor_23ii8A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4EryHWVgEeKWYor_23ii8A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4EryFWVgEeKWYor_23ii8A" x="264" y="124"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1ylzpGVgEeKWYor_23ii8A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1yS4tWVgEeKWYor_23ii8A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1ylzpWVgEeKWYor_23ii8A" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_1yvkrmVgEeKWYor_23ii8A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_1yvksGVgEeKWYor_23ii8A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1yvksWVgEeKWYor_23ii8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1yvksmVgEeKWYor_23ii8A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1yvks2VgEeKWYor_23ii8A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1yvktGVgEeKWYor_23ii8A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1yvktWVgEeKWYor_23ii8A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_1yS4smVgEeKWYor_23ii8A"/>
    <edges xmi:id="_1yvkp2VgEeKWYor_23ii8A" type="Transition" element="_1yvkpmVgEeKWYor_23ii8A" source="_1ylzp2VgEeKWYor_23ii8A" target="_1ylzs2VgEeKWYor_23ii8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_1yvkq2VgEeKWYor_23ii8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1yvkrGVgEeKWYor_23ii8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1yvkrWVgEeKWYor_23ii8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1yvkqGVgEeKWYor_23ii8A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1yvkqmVgEeKWYor_23ii8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1yvkqWVgEeKWYor_23ii8A" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_42iFwWVgEeKWYor_23ii8A" type="Transition" element="_42iFwGVgEeKWYor_23ii8A" source="_1ylzs2VgEeKWYor_23ii8A" target="_4EryEmVgEeKWYor_23ii8A">
      <children xsi:type="notation:DecorationNode" xmi:id="_42rPsGVgEeKWYor_23ii8A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_42rPsWVgEeKWYor_23ii8A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_42rPsmVgEeKWYor_23ii8A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_42iFwmVgEeKWYor_23ii8A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_42iFxGVgEeKWYor_23ii8A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_42iFw2VgEeKWYor_23ii8A" points="[12, 2, -118, -3]$[123, -23, -7, -28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_42rPs2VgEeKWYor_23ii8A" id="(0.9314285714285714,0.4722222222222222)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
