<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_mYUJQHjXEeGKl8JlHfi_Yg" specification="interface:&#xD;&#xA;in event IntegerEvent : integer&#xD;&#xA;var myVar : integer" name="ValuedEvents">
    <regions xmi:id="_mYUwUnjXEeGKl8JlHfi_Yg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_mYXMkXjXEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_mYcsIXjXEeGKl8JlHfi_Yg" target="_mYZo0XjXEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_mYZo0XjXEeGKl8JlHfi_Yg" specification="entry / raise IntegerEvent : 2*21" name="A" incomingTransitions="_mYcsIXjXEeGKl8JlHfi_Yg"/>
    </regions>
    <regions xmi:id="_4BMZkHjZEeGKl8JlHfi_Yg">
      <vertices xsi:type="sgraph:Entry" xmi:id="_4h2PkHjZEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_6753MHjZEeGKl8JlHfi_Yg" specification="" target="_48UlEHjZEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_48UlEHjZEeGKl8JlHfi_Yg" name="B" incomingTransitions="_6753MHjZEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_-hBjwHjZEeGKl8JlHfi_Yg" specification="IntegerEvent / myVar = valueof(IntegerEvent)" target="_9hO6sHjZEeGKl8JlHfi_Yg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9hO6sHjZEeGKl8JlHfi_Yg" name="C" incomingTransitions="_-hBjwHjZEeGKl8JlHfi_Yg">
        <outgoingTransitions xmi:id="_gF9K0MDlEeSuvthoVZyf5Q" specification="IntegerEvent / myVar = valueof(IntegerEvent)" target="_fwcN0MDlEeSuvthoVZyf5Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fwcN0MDlEeSuvthoVZyf5Q" name="D" incomingTransitions="_gF9K0MDlEeSuvthoVZyf5Q"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_mYUwUHjXEeGKl8JlHfi_Yg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_mYUJQHjXEeGKl8JlHfi_Yg" measurementUnit="Pixel">
    <children xmi:id="_mYVXYHjXEeGKl8JlHfi_Yg" type="Region" element="_mYUwUnjXEeGKl8JlHfi_Yg">
      <children xsi:type="notation:DecorationNode" xmi:id="_mYV-cHjXEeGKl8JlHfi_Yg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mYV-cXjXEeGKl8JlHfi_Yg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mYV-cnjXEeGKl8JlHfi_Yg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_mYWlgHjXEeGKl8JlHfi_Yg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_mYXMknjXEeGKl8JlHfi_Yg" type="Entry" element="_mYXMkXjXEeGKl8JlHfi_Yg">
          <children xmi:id="_mYYasHjXEeGKl8JlHfi_Yg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_mYZBwHjXEeGKl8JlHfi_Yg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_mYZBwXjXEeGKl8JlHfi_Yg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_mYZBwnjXEeGKl8JlHfi_Yg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mYYasXjXEeGKl8JlHfi_Yg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYYasnjXEeGKl8JlHfi_Yg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mYXMk3jXEeGKl8JlHfi_Yg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYZo0HjXEeGKl8JlHfi_Yg" x="70" y="20"/>
        </children>
        <children xmi:id="_mYaP4HjXEeGKl8JlHfi_Yg" type="State" element="_mYZo0XjXEeGKl8JlHfi_Yg">
          <children xsi:type="notation:DecorationNode" xmi:id="_mYa28HjXEeGKl8JlHfi_Yg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mYa28XjXEeGKl8JlHfi_Yg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_mYa28njXEeGKl8JlHfi_Yg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mYbeAHjXEeGKl8JlHfi_Yg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_mYbeAXjXEeGKl8JlHfi_Yg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYbeAnjXEeGKl8JlHfi_Yg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mYcFEHjXEeGKl8JlHfi_Yg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mYaP4XjXEeGKl8JlHfi_Yg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_mYaP4njXEeGKl8JlHfi_Yg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mYcFEXjXEeGKl8JlHfi_Yg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYcsIHjXEeGKl8JlHfi_Yg" x="9" y="79" width="176" height="76"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYWlgXjXEeGKl8JlHfi_Yg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_mYVXYXjXEeGKl8JlHfi_Yg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYXMkHjXEeGKl8JlHfi_Yg" x="265" y="10" width="211" height="206"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_mYehUHjXEeGKl8JlHfi_Yg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_mYfIYHjXEeGKl8JlHfi_Yg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mYfIYXjXEeGKl8JlHfi_Yg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mYfIYnjXEeGKl8JlHfi_Yg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_mYfvcHjXEeGKl8JlHfi_Yg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYfvcXjXEeGKl8JlHfi_Yg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mYgWgHjXEeGKl8JlHfi_Yg" x="20" y="10" width="236" height="91"/>
    </children>
    <children xmi:id="_4BWxoHjZEeGKl8JlHfi_Yg" type="Region" element="_4BMZkHjZEeGKl8JlHfi_Yg">
      <children xsi:type="notation:DecorationNode" xmi:id="_4BX_wHjZEeGKl8JlHfi_Yg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4BX_wXjZEeGKl8JlHfi_Yg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4BX_wnjZEeGKl8JlHfi_Yg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4BYm0HjZEeGKl8JlHfi_Yg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_4iGHMHjZEeGKl8JlHfi_Yg" type="Entry" element="_4h2PkHjZEeGKl8JlHfi_Yg">
          <children xmi:id="_4iHVUHjZEeGKl8JlHfi_Yg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_4iH8YHjZEeGKl8JlHfi_Yg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_4iH8YXjZEeGKl8JlHfi_Yg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_4iIjcHjZEeGKl8JlHfi_Yg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4iHVUXjZEeGKl8JlHfi_Yg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4iHVUnjZEeGKl8JlHfi_Yg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4iGHMXjZEeGKl8JlHfi_Yg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4iGHMnjZEeGKl8JlHfi_Yg" x="93" y="14"/>
        </children>
        <children xmi:id="_48tmoHjZEeGKl8JlHfi_Yg" type="State" element="_48UlEHjZEeGKl8JlHfi_Yg">
          <children xsi:type="notation:DecorationNode" xmi:id="_48wC4HjZEeGKl8JlHfi_Yg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_48wC4XjZEeGKl8JlHfi_Yg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_48wp8HjZEeGKl8JlHfi_Yg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_48wp8XjZEeGKl8JlHfi_Yg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_48xRAHjZEeGKl8JlHfi_Yg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_48xRAXjZEeGKl8JlHfi_Yg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_48x4EHjZEeGKl8JlHfi_Yg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_48tmoXjZEeGKl8JlHfi_Yg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_48tmonjZEeGKl8JlHfi_Yg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_48yfIHjZEeGKl8JlHfi_Yg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_48tmo3jZEeGKl8JlHfi_Yg" x="107" y="74" width="111" height="66"/>
        </children>
        <children xmi:id="_9hmHEHjZEeGKl8JlHfi_Yg" type="State" element="_9hO6sHjZEeGKl8JlHfi_Yg">
          <children xsi:type="notation:DecorationNode" xmi:id="_9hn8QHjZEeGKl8JlHfi_Yg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9hn8QXjZEeGKl8JlHfi_Yg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9hn8QnjZEeGKl8JlHfi_Yg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9hn8Q3jZEeGKl8JlHfi_Yg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9hojUHjZEeGKl8JlHfi_Yg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9hojUXjZEeGKl8JlHfi_Yg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9hpKYHjZEeGKl8JlHfi_Yg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9hmuIHjZEeGKl8JlHfi_Yg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9hmuIXjZEeGKl8JlHfi_Yg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9hpxcHjZEeGKl8JlHfi_Yg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9hmuInjZEeGKl8JlHfi_Yg" x="114" y="209" width="96" height="61"/>
        </children>
        <children xmi:id="_fwkwsMDlEeSuvthoVZyf5Q" type="State" element="_fwcN0MDlEeSuvthoVZyf5Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_fwsFcMDlEeSuvthoVZyf5Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fwsFccDlEeSuvthoVZyf5Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fwsFcsDlEeSuvthoVZyf5Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fwtTkMDlEeSuvthoVZyf5Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fwuhsMDlEeSuvthoVZyf5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fwuhscDlEeSuvthoVZyf5Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fwvv0MDlEeSuvthoVZyf5Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fwkwscDlEeSuvthoVZyf5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fwkwssDlEeSuvthoVZyf5Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fwvv0cDlEeSuvthoVZyf5Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fwkws8DlEeSuvthoVZyf5Q" x="59" y="477" width="231"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BYm0XjZEeGKl8JlHfi_Yg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_4BWxoXjZEeGKl8JlHfi_Yg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BWxonjZEeGKl8JlHfi_Yg" x="485" y="10" width="326" height="676"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_mYUwUXjXEeGKl8JlHfi_Yg"/>
    <edges xmi:id="_mYdTMHjXEeGKl8JlHfi_Yg" type="Transition" element="_mYcsIXjXEeGKl8JlHfi_Yg" source="_mYXMknjXEeGKl8JlHfi_Yg" target="_mYaP4HjXEeGKl8JlHfi_Yg">
      <children xsi:type="notation:DecorationNode" xmi:id="_mYd6QXjXEeGKl8JlHfi_Yg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mYd6QnjXEeGKl8JlHfi_Yg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mYd6Q3jXEeGKl8JlHfi_Yg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mYdTMXjXEeGKl8JlHfi_Yg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mYd6QHjXEeGKl8JlHfi_Yg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mYdTMnjXEeGKl8JlHfi_Yg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_68GrgHjZEeGKl8JlHfi_Yg" type="Transition" element="_6753MHjZEeGKl8JlHfi_Yg" source="_4iGHMHjZEeGKl8JlHfi_Yg" target="_48tmoHjZEeGKl8JlHfi_Yg">
      <children xsi:type="notation:DecorationNode" xmi:id="_68H5oHjZEeGKl8JlHfi_Yg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_68H5oXjZEeGKl8JlHfi_Yg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_68H5onjZEeGKl8JlHfi_Yg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_68GrgXjZEeGKl8JlHfi_Yg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_68HSkHjZEeGKl8JlHfi_Yg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_68GrgnjZEeGKl8JlHfi_Yg" points="[0, 8, 5, -44]$[0, 27, 5, -25]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8mAokHjZEeGKl8JlHfi_Yg" id="(0.36036036036036034,0.07575757575757576)"/>
    </edges>
    <edges xmi:id="_-hO_IHjZEeGKl8JlHfi_Yg" type="Transition" element="_-hBjwHjZEeGKl8JlHfi_Yg" source="_48tmoHjZEeGKl8JlHfi_Yg" target="_9hmHEHjZEeGKl8JlHfi_Yg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-hQNQHjZEeGKl8JlHfi_Yg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-hQNQXjZEeGKl8JlHfi_Yg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-hQNQnjZEeGKl8JlHfi_Yg" x="2" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-hO_IXjZEeGKl8JlHfi_Yg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-hPmMHjZEeGKl8JlHfi_Yg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-hO_InjZEeGKl8JlHfi_Yg" points="[26, 3, -70, 2]$[97, -15, 1, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-hrrEHjZEeGKl8JlHfi_Yg" id="(0.7567567567567568,0.30303030303030304)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-hrrEXjZEeGKl8JlHfi_Yg" id="(0.17708333333333334,0.29508196721311475)"/>
    </edges>
    <edges xmi:id="_gGDRcMDlEeSuvthoVZyf5Q" type="Transition" element="_gF9K0MDlEeSuvthoVZyf5Q" source="_9hmHEHjZEeGKl8JlHfi_Yg" target="_fwkwsMDlEeSuvthoVZyf5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_gGFGoMDlEeSuvthoVZyf5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gGFGocDlEeSuvthoVZyf5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gGFtsMDlEeSuvthoVZyf5Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gGDRccDlEeSuvthoVZyf5Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gGEfkMDlEeSuvthoVZyf5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gGDRcsDlEeSuvthoVZyf5Q" points="[-2, 28, 13, -259]$[-22, 311, -7, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
