<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NEjmkMdmEeGOoP2Ze98WBQ" specification="interface :&#xA;in event event1&#xA;in event event2&#xA;in event event3" name="after_grouping">
    <regions xmi:id="_NEjmk8dmEeGOoP2Ze98WBQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_NEkNpsdmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_NEmC08dmEeGOoP2Ze98WBQ" target="_NEk0t8dmEeGOoP2Ze98WBQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NEk0t8dmEeGOoP2Ze98WBQ" name="A" incomingTransitions="_NEmC08dmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_QTY6EMdmEeGOoP2Ze98WBQ" specification="event1 # > entry_B0" target="_wr22MMdmEeGOoP2Ze98WBQ"/>
        <outgoingTransitions xmi:id="_q-EGYMmqEeGJr-muz4j25w" specification="" target="_jeUXUMmqEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XzbkEMdmEeGOoP2Ze98WBQ" specification="" name="E" incomingTransitions="_iI41kesCEeOsdKncm9SrMw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_wr22MMdmEeGOoP2Ze98WBQ" specification="" name="Composite" incomingTransitions="_kxXTkMmqEeGJr-muz4j25w _QTY6EMdmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_iI41kesCEeOsdKncm9SrMw" specification=" # exit_D0 >" target="_XzbkEMdmEeGOoP2Ze98WBQ"/>
        <regions xmi:id="_ABNPkMdnEeGOoP2Ze98WBQ" name="Inner">
          <vertices xsi:type="sgraph:State" xmi:id="_Tmj7AMdmEeGOoP2Ze98WBQ" name="D" incomingTransitions="_UaJ7IMdmEeGOoP2Ze98WBQ _U8B5IMdmEeGOoP2Ze98WBQ">
            <outgoingTransitions xmi:id="_YboMgMdmEeGOoP2Ze98WBQ" specification="event3" target="_iIyH4OsCEeOsdKncm9SrMw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Rr0soMdmEeGOoP2Ze98WBQ" specification="" name="C" incomingTransitions="_SJMlIMdmEeGOoP2Ze98WBQ _iIa7gOsCEeOsdKncm9SrMw">
            <outgoingTransitions xmi:id="_UaJ7IMdmEeGOoP2Ze98WBQ" specification="" target="_Tmj7AMdmEeGOoP2Ze98WBQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_OTYKIMdmEeGOoP2Ze98WBQ" specification="" name="B" incomingTransitions="_iInIwesCEeOsdKncm9SrMw">
            <outgoingTransitions xmi:id="_SJMlIMdmEeGOoP2Ze98WBQ" specification="event3" target="_Rr0soMdmEeGOoP2Ze98WBQ"/>
            <outgoingTransitions xmi:id="_U8B5IMdmEeGOoP2Ze98WBQ" specification="" target="_Tmj7AMdmEeGOoP2Ze98WBQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_iIaUcOsCEeOsdKncm9SrMw" name="entry_C0">
            <outgoingTransitions xmi:id="_iIa7gOsCEeOsdKncm9SrMw" specification="" target="_Rr0soMdmEeGOoP2Ze98WBQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_iInIwOsCEeOsdKncm9SrMw" name="entry_B0">
            <outgoingTransitions xmi:id="_iInIwesCEeOsdKncm9SrMw" specification="" target="_OTYKIMdmEeGOoP2Ze98WBQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_iIyH4OsCEeOsdKncm9SrMw" name="exit_D0" incomingTransitions="_YboMgMdmEeGOoP2Ze98WBQ"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jeUXUMmqEeGJr-muz4j25w" name="A2" incomingTransitions="_q-EGYMmqEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_kxXTkMmqEeGJr-muz4j25w" specification="event2 # > entry_C0" target="_wr22MMdmEeGOoP2Ze98WBQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NEjmkcdmEeGOoP2Ze98WBQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NEjmkMdmEeGOoP2Ze98WBQ" measurementUnit="Pixel">
    <children xmi:id="_NEjmlMdmEeGOoP2Ze98WBQ" type="Region" element="_NEjmk8dmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEkNoMdmEeGOoP2Ze98WBQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEkNocdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEkNosdmEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEkNo8dmEeGOoP2Ze98WBQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_NEkNp8dmEeGOoP2Ze98WBQ" type="Entry" element="_NEkNpsdmEeGOoP2Ze98WBQ">
          <children xmi:id="_NEk0sMdmEeGOoP2Ze98WBQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_NEk0s8dmEeGOoP2Ze98WBQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_NEk0tMdmEeGOoP2Ze98WBQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_NEk0tcdmEeGOoP2Ze98WBQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NEk0scdmEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEk0ssdmEeGOoP2Ze98WBQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NEkNqMdmEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEk0tsdmEeGOoP2Ze98WBQ" x="50" y="23"/>
        </children>
        <children xmi:id="_NElbwcdmEeGOoP2Ze98WBQ" type="State" element="_NEk0t8dmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_NElbxcdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NElbxsdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NElbx8dmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NElbyMdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NElbycdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NElbysdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NEmC0MdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NElbwsdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NElbw8dmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NEmC0cdmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmC0sdmEeGOoP2Ze98WBQ" x="40" y="91"/>
        </children>
        <children xmi:id="_XzhqsMdmEeGOoP2Ze98WBQ" type="State" element="_XzbkEMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_XziRw8dmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XziRxMdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XziRxcdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XziRxsdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Xzi40MdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Xzi40cdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Xzi40sdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XziRwMdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XziRwcdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Xzi408dmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XziRwsdmEeGOoP2Ze98WBQ" x="561" y="167"/>
        </children>
        <children xmi:id="_5l-RgMdmEeGOoP2Ze98WBQ" type="SubmachineState" element="_wr22MMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_5l-RhMdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5l-RhcdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5l-4kMdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5l-4kcdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5l-4ksdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5l-4k8dmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5l-4lMdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5l-RgcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5l-RgsdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5l-4lcdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iIYfQOsCEeOsdKncm9SrMw" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5l-Rg8dmEeGOoP2Ze98WBQ" x="213" y="149" width="138" height="71"/>
        </children>
        <children xmi:id="_jehLoMmqEeGJr-muz4j25w" type="State" element="_jeUXUMmqEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_jehysMmqEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jehyscmqEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jehyssmqEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jeiZwMmqEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jeiZwcmqEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jeiZwsmqEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jeiZw8mqEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jehLocmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jehLosmqEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jejA0MmqEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jehLo8mqEeGJr-muz4j25w" x="41" y="227"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEkNpMdmEeGOoP2Ze98WBQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NEjmlcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEkNpcdmEeGOoP2Ze98WBQ" x="220" y="10" width="701" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_NEmp48dmEeGOoP2Ze98WBQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEmp5cdmEeGOoP2Ze98WBQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEmp5sdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEmp58dmEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEmp6MdmEeGOoP2Ze98WBQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmp6cdmEeGOoP2Ze98WBQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmp6sdmEeGOoP2Ze98WBQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NEjmksdmEeGOoP2Ze98WBQ"/>
    <edges xmi:id="_NEmC1MdmEeGOoP2Ze98WBQ" type="Transition" element="_NEmC08dmEeGOoP2Ze98WBQ" source="_NEkNp8dmEeGOoP2Ze98WBQ" target="_NElbwcdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEmp4MdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEmp4cdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEmp4sdmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NEmC1cdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NEmC18dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NEmC1sdmEeGOoP2Ze98WBQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QTbWUMdmEeGOoP2Ze98WBQ" type="Transition" element="_QTY6EMdmEeGOoP2Ze98WBQ" source="_NElbwcdmEeGOoP2Ze98WBQ" target="_5l-RgMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_QTbWVMdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QTbWVcdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QTbWVsdmEeGOoP2Ze98WBQ" x="-22" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QTbWUcdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QTbWU8dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QTbWUsdmEeGOoP2Ze98WBQ" points="[18, 0, -160, 3]$[179, 22, 1, 25]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QTeZoMdmEeGOoP2Ze98WBQ" id="(0.075,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_SJPocMdmEeGOoP2Ze98WBQ" type="Transition" element="_SJMlIMdmEeGOoP2Ze98WBQ" source="_OTjwUMdmEeGOoP2Ze98WBQ" target="_Rr-doMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SJQPgcdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SJQPgsdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SJQPg8dmEeGOoP2Ze98WBQ" x="9" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SJPoccdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SJQPgMdmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SJPocsdmEeGOoP2Ze98WBQ" points="[-8, 12, 1, -83]$[-8, 91, 1, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SJTS0MdmEeGOoP2Ze98WBQ" id="(0.625,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SJTS0cdmEeGOoP2Ze98WBQ" id="(0.4,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_UaQo0MdmEeGOoP2Ze98WBQ" type="Transition" element="_UaJ7IMdmEeGOoP2Ze98WBQ" source="_Rr-doMdmEeGOoP2Ze98WBQ" target="_TmozgMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_UaQo1MdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UaQo1cdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UaQo1sdmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UaQo0cdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UaQo08dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UaQo0sdmEeGOoP2Ze98WBQ" points="[18, -9, -90, 51]$[101, -36, -7, 24]"/>
    </edges>
    <edges xmi:id="_U8H_wMdmEeGOoP2Ze98WBQ" type="Transition" element="_U8B5IMdmEeGOoP2Ze98WBQ" source="_OTjwUMdmEeGOoP2Ze98WBQ" target="_TmozgMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_U8Im0cdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_U8Im0sdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_U8Im08dmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_U8H_wcdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_U8Im0MdmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_U8H_wsdmEeGOoP2Ze98WBQ" points="[18, 8, -95, -59]$[131, 59, 18, -8]"/>
    </edges>
    <edges xmi:id="_kxhEkMmqEeGJr-muz4j25w" type="Transition" element="_kxXTkMmqEeGJr-muz4j25w" source="_jehLoMmqEeGJr-muz4j25w" target="_5l-RgMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_kxhElMmqEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kxhElcmqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kxhElsmqEeGJr-muz4j25w" x="-26" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kxhEkcmqEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kxhEk8mqEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kxhEksmqEeGJr-muz4j25w" points="[18, -1, -170, -1]$[184, -24, -4, -24]"/>
    </edges>
    <edges xmi:id="_q-MpQMmqEeGJr-muz4j25w" type="Transition" element="_q-EGYMmqEeGJr-muz4j25w" source="_NElbwcdmEeGOoP2Ze98WBQ" target="_jehLoMmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_q-NQUcmqEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q-NQUsmqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q-NQU8mqEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q-MpQcmqEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q-NQUMmqEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q-MpQsmqEeGJr-muz4j25w" points="[-3, 24, 2, -93]$[-3, 112, 2, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q-XBUMmqEeGJr-muz4j25w" id="(0.325,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_iI41kusCEeOsdKncm9SrMw" type="Transition" element="_iI41kesCEeOsdKncm9SrMw" source="_5l-RgMdmEeGOoP2Ze98WBQ" target="_XzhqsMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_iI5coesCEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iI5cousCEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iI5co-sCEeOsdKncm9SrMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iI41k-sCEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iI5coOsCEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iI41lOsCEeOsdKncm9SrMw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_iIZtYOsCEeOsdKncm9SrMw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_wr22MMdmEeGOoP2Ze98WBQ" measurementUnit="Pixel">
    <children xmi:id="_ABSvIMdnEeGOoP2Ze98WBQ" type="Region" element="_ABNPkMdnEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ABTWMMdnEeGOoP2Ze98WBQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ABTWMcdnEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ABTWMsdnEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ABTWM8dnEeGOoP2Ze98WBQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_TmozgMdmEeGOoP2Ze98WBQ" type="State" element="_Tmj7AMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_TmozhMdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TmozhcdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TmozhsdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Tmozh8dmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TmpakMdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TmpakcdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TmpaksdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TmozgcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TmozgsdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Tmpak8dmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tmozg8dmEeGOoP2Ze98WBQ" x="156" y="53"/>
        </children>
        <children xmi:id="_Rr-doMdmEeGOoP2Ze98WBQ" type="State" element="_Rr0soMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Rr_EsMdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Rr_EscdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Rr_EssdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Rr_Es8dmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Rr_EtMdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rr_EtcdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Rr_EtsdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Rr-docdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Rr-dosdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Rr_Et8dmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rr-do8dmEeGOoP2Ze98WBQ" x="25" y="125"/>
        </children>
        <children xmi:id="_OTjwUMdmEeGOoP2Ze98WBQ" type="State" element="_OTYKIMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_OTjwVMdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_OTjwVcdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_OTkXYMdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OTkXYcdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_OTkXYsdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OTkXY8dmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_OTkXZMdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_OTjwUcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_OTjwUsdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OTkXZcdmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OTjwU8dmEeGOoP2Ze98WBQ" x="25" y="-18"/>
        </children>
        <children xmi:id="_iIyH4esCEeOsdKncm9SrMw" type="Exit" element="_iIyH4OsCEeOsdKncm9SrMw">
          <children xmi:id="_iIyu8OsCEeOsdKncm9SrMw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_iIyu8-sCEeOsdKncm9SrMw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_iIyu9OsCEeOsdKncm9SrMw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_iIyu9esCEeOsdKncm9SrMw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iIyu8esCEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iIyu8usCEeOsdKncm9SrMw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iIyH4usCEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iIyH4-sCEeOsdKncm9SrMw" x="296" y="65"/>
        </children>
        <children xmi:id="_i1KswOsCEeOsdKncm9SrMw" type="Entry" element="_iIaUcOsCEeOsdKncm9SrMw">
          <children xmi:id="_i1LT0OsCEeOsdKncm9SrMw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_i1LT0-sCEeOsdKncm9SrMw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_i1LT1OsCEeOsdKncm9SrMw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_i1LT1esCEeOsdKncm9SrMw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_i1LT0esCEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_i1LT0usCEeOsdKncm9SrMw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_i1KswesCEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_i1KswusCEeOsdKncm9SrMw" x="-33" y="141"/>
        </children>
        <children xmi:id="_i1L64OsCEeOsdKncm9SrMw" type="Entry" element="_iInIwOsCEeOsdKncm9SrMw">
          <children xmi:id="_i1L64-sCEeOsdKncm9SrMw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_i1L65usCEeOsdKncm9SrMw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_i1L65-sCEeOsdKncm9SrMw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_i1L66OsCEeOsdKncm9SrMw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_i1L65OsCEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_i1L65esCEeOsdKncm9SrMw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_i1L64esCEeOsdKncm9SrMw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_i1L64usCEeOsdKncm9SrMw" x="-33" y="-2"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ABTWNMdnEeGOoP2Ze98WBQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_ABSvIcdnEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ABSvIsdnEeGOoP2Ze98WBQ" width="432" height="297"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_iIZtYesCEeOsdKncm9SrMw"/>
    <edges xmi:id="_iI4OgOsCEeOsdKncm9SrMw" type="Transition" element="_YboMgMdmEeGOoP2Ze98WBQ" source="_TmozgMdmEeGOoP2Ze98WBQ" target="_iIyH4esCEeOsdKncm9SrMw">
      <children xsi:type="notation:DecorationNode" xmi:id="_iI4OhOsCEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iI4OhesCEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iI41kOsCEeOsdKncm9SrMw" x="-19" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iI4OgesCEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iI4Og-sCEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iI4OgusCEeOsdKncm9SrMw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_i1QMUOsCEeOsdKncm9SrMw" type="Transition" element="_iInIwesCEeOsdKncm9SrMw" source="_i1L64OsCEeOsdKncm9SrMw" target="_OTjwUMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_i1QzYesCEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i1QzYusCEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i1QzY-sCEeOsdKncm9SrMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i1QMUesCEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i1QzYOsCEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i1QMUusCEeOsdKncm9SrMw" points="[-4, -6, 126, 184]$[-114, -166, 16, 24]"/>
    </edges>
    <edges xmi:id="_i1SokOsCEeOsdKncm9SrMw" type="Transition" element="_iIa7gOsCEeOsdKncm9SrMw" source="_i1KswOsCEeOsdKncm9SrMw" target="_Rr-doMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_i1SolOsCEeOsdKncm9SrMw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i1SolesCEeOsdKncm9SrMw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i1SolusCEeOsdKncm9SrMw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i1SokesCEeOsdKncm9SrMw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i1Sok-sCEeOsdKncm9SrMw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i1SokusCEeOsdKncm9SrMw" points="[-2, -2, 2, 2]$[-1, -1, 3, 3]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
