<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_TGkp8PZNEeCz_6s_8P8IEA" name="Test_LocalActions" specification="interface:&#xA;in event Event1&#xA;in event Event2&#xA;in event Event3&#xA;in event Event4&#xA;var i : integer&#xA;var j : integer&#xA;var c : integer">
    <regions xmi:id="_TGkp8_ZNEeCz_6s_8P8IEA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_TGmfIfZNEeCz_6s_8P8IEA">
        <outgoingTransitions xmi:id="_TGoUUfZNEeCz_6s_8P8IEA" target="_TGnGNvZNEeCz_6s_8P8IEA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TGnGNvZNEeCz_6s_8P8IEA" specification="entry / i=1;&#xA;exit / i=0;&#xA;oncycle / i=2;&#xA;Event2 / i=3;&#xA;every 100ms / c+=1;&#xA;" name="State1" incomingTransitions="_TGoUUfZNEeCz_6s_8P8IEA _2LQeQPZZEeCSetPXFd1ZUw">
        <outgoingTransitions xmi:id="_6OQEgPZXEeC2DLnZHHznig" specification="Event1" target="_5VX7wPZXEeC2DLnZHHznig"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5VX7wPZXEeC2DLnZHHznig" specification="entry / j=1;&#xA;exit / j=0;&#xA;Event2, Event4 / j=2;&#xA;after 200ms/j=3;" name="State2" incomingTransitions="_6OQEgPZXEeC2DLnZHHznig">
        <outgoingTransitions xmi:id="_2LQeQPZZEeCSetPXFd1ZUw" specification="Event3" target="_TGnGNvZNEeCz_6s_8P8IEA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_TGkp8fZNEeCz_6s_8P8IEA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_TGkp8PZNEeCz_6s_8P8IEA" measurementUnit="Pixel">
    <children xmi:id="_TGkp9PZNEeCz_6s_8P8IEA" type="Region" element="_TGkp8_ZNEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TGlRAfZNEeCz_6s_8P8IEA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TGlRAvZNEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TGlRA_ZNEeCz_6s_8P8IEA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_TGl4EPZNEeCz_6s_8P8IEA" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
        <children xmi:id="_TGmfIvZNEeCz_6s_8P8IEA" type="Entry" element="_TGmfIfZNEeCz_6s_8P8IEA">
          <children xmi:id="_TGmfJfZNEeCz_6s_8P8IEA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_TGnGMvZNEeCz_6s_8P8IEA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_TGnGM_ZNEeCz_6s_8P8IEA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_TGnGNPZNEeCz_6s_8P8IEA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TGnGMPZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGnGMfZNEeCz_6s_8P8IEA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TGmfI_ZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGnGNfZNEeCz_6s_8P8IEA" x="17" y="2"/>
        </children>
        <children xmi:id="_TGnGOPZNEeCz_6s_8P8IEA" type="State" element="_TGnGNvZNEeCz_6s_8P8IEA">
          <children xsi:type="notation:DecorationNode" xmi:id="_TGntQPZNEeCz_6s_8P8IEA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TGntQfZNEeCz_6s_8P8IEA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TGntQvZNEeCz_6s_8P8IEA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TGntQ_ZNEeCz_6s_8P8IEA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TGntRPZNEeCz_6s_8P8IEA" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGntRfZNEeCz_6s_8P8IEA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TGntRvZNEeCz_6s_8P8IEA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TGnGOfZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TGnGOvZNEeCz_6s_8P8IEA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_TGntR_ZNEeCz_6s_8P8IEA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGoUUPZNEeCz_6s_8P8IEA" x="24" y="37" width="333" height="149"/>
        </children>
        <children xmi:id="_5VcNMPZXEeC2DLnZHHznig" type="State" element="_5VX7wPZXEeC2DLnZHHznig">
          <children xsi:type="notation:DecorationNode" xmi:id="_5VvIIPZXEeC2DLnZHHznig" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5VvIIfZXEeC2DLnZHHznig"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5VvIIvZXEeC2DLnZHHznig"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5VvvMPZXEeC2DLnZHHznig" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5VvvMfZXEeC2DLnZHHznig" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5VvvMvZXEeC2DLnZHHznig"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5VwWQPZXEeC2DLnZHHznig" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5VcNMfZXEeC2DLnZHHznig" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5VcNMvZXEeC2DLnZHHznig"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5VwWQfZXEeC2DLnZHHznig"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5VcNM_ZXEeC2DLnZHHznig" x="31" y="242" width="350" height="165"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGl4EfZNEeCz_6s_8P8IEA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_TGkp9fZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGmfIPZNEeCz_6s_8P8IEA" x="220" y="10" width="445" height="471"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_TGo7YPZNEeCz_6s_8P8IEA" type="StatechartText" fontName="Arial" fontHeight="10" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_TGo7YvZNEeCz_6s_8P8IEA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TGo7Y_ZNEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TGo7ZPZNEeCz_6s_8P8IEA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_TGo7ZfZNEeCz_6s_8P8IEA" type="StatechartTextExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGo7ZvZNEeCz_6s_8P8IEA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGo7Z_ZNEeCz_6s_8P8IEA" x="10" y="10" width="103" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_TGkp8vZNEeCz_6s_8P8IEA"/>
    <edges xmi:id="_TGoUUvZNEeCz_6s_8P8IEA" type="Transition" element="_TGoUUfZNEeCz_6s_8P8IEA" source="_TGmfIvZNEeCz_6s_8P8IEA" target="_TGnGOPZNEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TGoUVvZNEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TGoUV_ZNEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TGoUWPZNEeCz_6s_8P8IEA" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TGoUU_ZNEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TGoUVfZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TGoUVPZNEeCz_6s_8P8IEA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_6OSgwPZXEeC2DLnZHHznig" type="Transition" element="_6OQEgPZXEeC2DLnZHHznig" source="_TGnGOPZNEeCz_6s_8P8IEA" target="_5VcNMPZXEeC2DLnZHHznig">
      <children xsi:type="notation:DecorationNode" xmi:id="_6OTH0fZXEeC2DLnZHHznig" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6OTH0vZXEeC2DLnZHHznig"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6OTH0_ZXEeC2DLnZHHznig" x="12" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6OSgwfZXEeC2DLnZHHznig" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6OTH0PZXEeC2DLnZHHznig" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6OSgwvZXEeC2DLnZHHznig" points="[1, 75, 0, -90]$[-13, 150, -14, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ufcpIPZZEeCSetPXFd1ZUw" id="(0.14114114114114115,0.9664429530201343)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6O_rYPZXEeC2DLnZHHznig" id="(0.23728813559322035,0.23076923076923078)"/>
    </edges>
    <edges xmi:id="_2LThkPZZEeCSetPXFd1ZUw" type="Transition" element="_2LQeQPZZEeCSetPXFd1ZUw" source="_5VcNMPZXEeC2DLnZHHznig" target="_TGnGOPZNEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2LVWwPZZEeCSetPXFd1ZUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2LVWwfZZEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2LVWwvZZEeCSetPXFd1ZUw" x="-18" y="37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2LThkfZZEeCSetPXFd1ZUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2LUIoPZZEeCSetPXFd1ZUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2LThkvZZEeCSetPXFd1ZUw" points="[-21, -33, 65, 107]$[-14, -129, 72, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2Md_MPZZEeCSetPXFd1ZUw" id="(0.8942857142857142,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2Md_MfZZEeCSetPXFd1ZUw" id="(0.7837837837837838,0.5973154362416108)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
