<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_yJVewfZKEeCz_6s_8P8IEA" specification="interface A:&#xA;in event event1 : integer = 1&#xA;in event event2&#xA;in event event3&#xA;in event event4&#xA;out event event5&#xA;&#xA;interface:&#xA;in event event5 : boolean&#xA;in event event6&#xA;out event event7&#xA;var i : integer&#xA;var j : real&#xA;" name="Test_Transition">
    <regions xmi:id="_yMGe4PZKEeCz_6s_8P8IEA" name="">
      <vertices xsi:type="sgraph:Entry" xmi:id="_yPWAIPZKEeCz_6s_8P8IEA">
        <outgoingTransitions xmi:id="_yPtMgPZKEeCz_6s_8P8IEA" target="_yPZqgPZKEeCz_6s_8P8IEA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_yPZqgPZKEeCz_6s_8P8IEA" name="State1" incomingTransitions="_yPtMgPZKEeCz_6s_8P8IEA _5O3jwDhFEeG0q_bV_Jrhfw">
        <outgoingTransitions xmi:id="_N1VrwPZLEeCz_6s_8P8IEA" specification="A.event1, A.event2[valueof(A.event1) &lt; 0] / i=2" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
        <outgoingTransitions xmi:id="_RSDqQPZLEeCz_6s_8P8IEA" specification="[i==5]" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
        <outgoingTransitions xmi:id="_dxK2UPZLEeCz_6s_8P8IEA" specification="A.event3[j&lt;20]" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
        <outgoingTransitions xmi:id="_kGjEAPZLEeCz_6s_8P8IEA" specification="A.event3,A.event4[j>30]" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
        <outgoingTransitions xmi:id="_6xGJUPZLEeCz_6s_8P8IEA" specification="after 10s" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
        <outgoingTransitions xmi:id="_KgZTwPZMEeCz_6s_8P8IEA" specification="after 100ms" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
        <outgoingTransitions xmi:id="_oEIZgAu4EeGmY4-cgZfupg" specification="A.event1[valueof(A.event1) > 5] / i=1" target="_6jMFoPZKEeCz_6s_8P8IEA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6jMFoPZKEeCz_6s_8P8IEA" name="State2" incomingTransitions="_N1VrwPZLEeCz_6s_8P8IEA _RSDqQPZLEeCz_6s_8P8IEA _dxK2UPZLEeCz_6s_8P8IEA _kGjEAPZLEeCz_6s_8P8IEA _6xGJUPZLEeCz_6s_8P8IEA _KgZTwPZMEeCz_6s_8P8IEA _oEIZgAu4EeGmY4-cgZfupg">
        <outgoingTransitions xmi:id="_5O3jwDhFEeG0q_bV_Jrhfw" specification="event6" target="_yPZqgPZKEeCz_6s_8P8IEA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_yMFQwPZKEeCz_6s_8P8IEA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_yJVewfZKEeCz_6s_8P8IEA" measurementUnit="Pixel">
    <children xmi:id="_yMfgcPZKEeCz_6s_8P8IEA" type="Region" element="_yMGe4PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_yOuVEPZKEeCz_6s_8P8IEA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yOwKQPZKEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yOwKQfZKEeCz_6s_8P8IEA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yOymgPZKEeCz_6s_8P8IEA" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
        <children xmi:id="_yPWnMPZKEeCz_6s_8P8IEA" type="Entry" element="_yPWAIPZKEeCz_6s_8P8IEA">
          <children xmi:id="_yPX1UPZKEeCz_6s_8P8IEA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_yPX1U_ZKEeCz_6s_8P8IEA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_yPX1VPZKEeCz_6s_8P8IEA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_yPX1VfZKEeCz_6s_8P8IEA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yPX1UfZKEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yPX1UvZKEeCz_6s_8P8IEA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yPWnMfZKEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yPX1VvZKEeCz_6s_8P8IEA" x="18" y="4"/>
        </children>
        <children xmi:id="_yPlQsPZKEeCz_6s_8P8IEA" type="State" element="_yPZqgPZKEeCz_6s_8P8IEA">
          <children xsi:type="notation:DecorationNode" xmi:id="_yPl3wPZKEeCz_6s_8P8IEA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_yPl3wfZKEeCz_6s_8P8IEA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_yPl3wvZKEeCz_6s_8P8IEA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yPoUAPZKEeCz_6s_8P8IEA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_yPo7EPZKEeCz_6s_8P8IEA" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yPo7EfZKEeCz_6s_8P8IEA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_yPo7EvZKEeCz_6s_8P8IEA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_yPlQsfZKEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_yPlQsvZKEeCz_6s_8P8IEA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yPqJMPZKEeCz_6s_8P8IEA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yPqwQPZKEeCz_6s_8P8IEA" x="1" y="42" height="329"/>
        </children>
        <children xmi:id="_6jN60PZKEeCz_6s_8P8IEA" type="State" element="_6jMFoPZKEeCz_6s_8P8IEA">
          <children xsi:type="notation:DecorationNode" xmi:id="_6jPI8PZKEeCz_6s_8P8IEA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6jPI8fZKEeCz_6s_8P8IEA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6jPI8vZKEeCz_6s_8P8IEA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6jPI8_ZKEeCz_6s_8P8IEA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6jPI9PZKEeCz_6s_8P8IEA" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6jPI9fZKEeCz_6s_8P8IEA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6jPwAPZKEeCz_6s_8P8IEA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6jN60fZKEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6jN60vZKEeCz_6s_8P8IEA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6jPwAfZKEeCz_6s_8P8IEA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6jN60_ZKEeCz_6s_8P8IEA" x="485" y="42" height="329"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yOymgfZKEeCz_6s_8P8IEA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_yMgHgPZKEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yO0bsPZKEeCz_6s_8P8IEA" x="240" y="10" width="753" height="431"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_yP9EIPZKEeCz_6s_8P8IEA" type="StatechartText" fontName="Arial" fontHeight="10" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_yP9EIvZKEeCz_6s_8P8IEA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yP9rMPZKEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yP9rMfZKEeCz_6s_8P8IEA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_yP9rMvZKEeCz_6s_8P8IEA" type="StatechartTextExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yP9rM_ZKEeCz_6s_8P8IEA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yQAHcPZKEeCz_6s_8P8IEA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_yMFQwfZKEeCz_6s_8P8IEA"/>
    <edges xmi:id="_yP7O8PZKEeCz_6s_8P8IEA" type="Transition" element="_yPtMgPZKEeCz_6s_8P8IEA" source="_yPWnMPZKEeCz_6s_8P8IEA" target="_yPlQsPZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_yP8dEPZKEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yP8dEfZKEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yP8dEvZKEeCz_6s_8P8IEA" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yP7O8fZKEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yP72APZKEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yP7O8vZKEeCz_6s_8P8IEA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_E1KPQPZMEeCz_6s_8P8IEA" id="(0.5306122448979592,0.0364741641337386)"/>
    </edges>
    <edges xmi:id="_N1YIAPZLEeCz_6s_8P8IEA" type="Transition" element="_N1VrwPZLEeCz_6s_8P8IEA" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_N1YIBPZLEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_N1YIBfZLEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_N1YvEPZLEeCz_6s_8P8IEA" x="-11" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_N1YIAfZLEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_N1YIA_ZLEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_N1YIAvZLEeCz_6s_8P8IEA" points="[10, 4, -243, 0]$[244, -25, -9, -29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_N2gwcPZLEeCz_6s_8P8IEA" id="(0.9387755102040817,0.22492401215805471)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_N2gwcfZLEeCz_6s_8P8IEA" id="(0.0,0.20364741641337386)"/>
    </edges>
    <edges xmi:id="_RSE4YPZLEeCz_6s_8P8IEA" type="Transition" element="_RSDqQPZLEeCz_6s_8P8IEA" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RSGGgPZLEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RSGGgfZLEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RSGGgvZLEeCz_6s_8P8IEA" x="-5" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RSE4YfZLEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RSE4Y_ZLEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RSE4YvZLEeCz_6s_8P8IEA" points="[11, -1, -235, 30]$[245, -31, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bOF1kPZLEeCz_6s_8P8IEA" id="(0.9795918367346939,0.2826747720364742)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_b0NaYPZLEeCz_6s_8P8IEA" id="(0.02040816326530612,0.2887537993920973)"/>
    </edges>
    <edges xmi:id="_dxMEcPZLEeCz_6s_8P8IEA" type="Transition" element="_dxK2UPZLEeCz_6s_8P8IEA" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_dxMEdPZLEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dxMEdfZLEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dxMrgPZLEeCz_6s_8P8IEA" x="-3" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dxMEcfZLEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dxMEc_ZLEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dxMEcvZLEeCz_6s_8P8IEA" points="[8, 9, -237, 0]$[242, 8, -3, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dyUF0PZLEeCz_6s_8P8IEA" id="(0.8775510204081632,0.3677811550151976)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dyUs4PZLEeCz_6s_8P8IEA" id="(0.16326530612244897,0.3829787234042553)"/>
    </edges>
    <edges xmi:id="_kGkSIPZLEeCz_6s_8P8IEA" type="Transition" element="_kGjEAPZLEeCz_6s_8P8IEA" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kGkSJPZLEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kGkSJfZLEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kGkSJvZLEeCz_6s_8P8IEA" x="-5" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kGkSIfZLEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kGkSI_ZLEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kGkSIvZLEeCz_6s_8P8IEA" points="[12, -2, -238, 0]$[246, 0, -4, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kHbNwPZLEeCz_6s_8P8IEA" id="(0.9183673469387755,0.47112462006079026)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kHbNwfZLEeCz_6s_8P8IEA" id="(0.12244897959183673,0.47112462006079026)"/>
    </edges>
    <edges xmi:id="_6xHXcPZLEeCz_6s_8P8IEA" type="Transition" element="_6xGJUPZLEeCz_6s_8P8IEA" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6xHXdPZLEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6xHXdfZLEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6xHXdvZLEeCz_6s_8P8IEA" x="-3" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6xHXcfZLEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6xHXc_ZLEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6xHXcvZLEeCz_6s_8P8IEA" points="[15, 4, -259, 0]$[274, 30, 0, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6yDLkPZLEeCz_6s_8P8IEA" id="(0.9591836734693877,0.729483282674772)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6yDyoPZLEeCz_6s_8P8IEA" id="(0.1836734693877551,0.7325227963525835)"/>
    </edges>
    <edges xmi:id="_Kgah4PZMEeCz_6s_8P8IEA" type="Transition" element="_KgZTwPZMEeCz_6s_8P8IEA" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_KgbI8fZMEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KgbI8vZMEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KgbI8_ZMEeCz_6s_8P8IEA" x="-6" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Kgah4fZMEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KgbI8PZMEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Kgah4vZMEeCz_6s_8P8IEA" points="[16, -4, -264, 0]$[250, -4, -30, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KhI6oPZMEeCz_6s_8P8IEA" id="(0.8979591836734694,0.8085106382978723)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KhI6ofZMEeCz_6s_8P8IEA" id="(0.1836734693877551,0.8237082066869301)"/>
    </edges>
    <edges xmi:id="_oEIZgQu4EeGmY4-cgZfupg" type="Transition" element="_oEIZgAu4EeGmY4-cgZfupg" source="_yPlQsPZKEeCz_6s_8P8IEA" target="_6jN60PZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_oESKgQu4EeGmY4-cgZfupg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oESKggu4EeGmY4-cgZfupg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oESKgwu4EeGmY4-cgZfupg" x="2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oEIZggu4EeGmY4-cgZfupg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oESKgAu4EeGmY4-cgZfupg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oEIZgwu4EeGmY4-cgZfupg" points="[9, 0, -245, 0]$[250, -35, -4, -35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oE4AYAu4EeGmY4-cgZfupg" id="(0.82,0.10638297872340426)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oE4AYQu4EeGmY4-cgZfupg" id="(0.24,0.10638297872340426)"/>
    </edges>
    <edges xmi:id="_5O_fkDhFEeG0q_bV_Jrhfw" type="Transition" element="_5O3jwDhFEeG0q_bV_Jrhfw" source="_6jN60PZKEeCz_6s_8P8IEA" target="_yPlQsPZKEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5PSagDhFEeG0q_bV_Jrhfw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5PSagThFEeG0q_bV_Jrhfw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5PSagjhFEeG0q_bV_Jrhfw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5O_fkThFEeG0q_bV_Jrhfw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5PAGoDhFEeG0q_bV_Jrhfw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5O_fkjhFEeG0q_bV_Jrhfw" points="[-20, -8, 452, 0]$[-470, 20, 2, 28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5PU2wDhFEeG0q_bV_Jrhfw" id="(0.47619047619047616,0.939209726443769)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5PVd0DhFEeG0q_bV_Jrhfw" id="(0.7619047619047619,0.9148936170212766)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
