<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.yakindu.org/sct/generator/model/java/JavaGen" 
       class = "org.yakindu.sct.generator.model.java.javaGen.JavaGenPackage"
       genModel = "org/yakindu/sct/generator/model/java/JavaGen.genmodel" /> 
	
  </extension>





</plugin>
