<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipselabs.damos.mscript.ide.ui.launch.MscriptTabGroup"
            id="org.eclipselabs.mscript.ide.ui.mscriptTabGroup"
            type="org.eclipselabs.mscript.ide.core.mscriptApplication">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipselabs.mscript.ide.core.mscriptApplication"
            icon="icons/Mscript.gif"
            id="org.eclipselabs.mscript.ide.ui.mscriptImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
