<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelWizardID"
            name="%_UI_ComputationModelWizard_label"
            class="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelWizard"
            category="org.eclipselabs.mscript.common.ui.mscriptCategory"
            icon="icons/full/obj16/ComputationModelFile.gif">
         <description>%_UI_ComputationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelEditorID"
            name="%_UI_ComputationModelEditor_label"
            icon="icons/full/obj16/ComputationModelFile.gif"
            extensions="computationmodel"
            class="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelEditor"
            contributorClass="org.eclipselabs.mscript.computation.computationmodel.ui.editor.presentation.ComputationModelActionBarContributor">
      </editor>
   </extension>

</plugin>
