<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator
            class="org.yakindu.sct.generator.c.CCodeGenerator"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            description="YAKINDU C Code Generator"
            id="yakindu::c"
            name="YAKINDU C Code Generator">
      </SCTGenerator>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.generator.c.features.CDefaultFeatureValueProvider"
            generatorId="yakindu::c"
            uri="platform:/plugin/org.yakindu.sct.generator.c/library/FeatureTypeLibrary.xmi">
      </FeatureLibrary>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.extensions">
      <ExtensionGeneratorMapping
            fileExtension="sct"
            generatorId="yakindu::c">
      </ExtensionGeneratorMapping>
   </extension>
</plugin>
