<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator
            class="org.yakindu.sct.generator.c.CCodeGenerator"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            description="YAKINDU SCT C Code Generator"
            id="yakindu::c"
            name="YAKINDU SCT C Code Generator">
         <FeatureLibrary
               library_id="org.yakindu.generator.core.features">
         </FeatureLibrary>
         <FeatureLibrary
               library_id="org.yakindu.sct.generator.feature.c">
         </FeatureLibrary>
         <FeatureLibrary
               library_id="org.yakindu.generator.core.features.sctbase">
         </FeatureLibrary>
      </SCTGenerator>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.generator.c.features.CDefaultFeatureValueProvider"
            library_id="org.yakindu.sct.generator.feature.c"
            uri="platform:/plugin/org.yakindu.sct.generator.c/library/FeatureTypeLibrary.xmi">
      </FeatureLibrary>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.extensions">
      <ExtensionGeneratorMapping
            fileExtension="sct"
            generatorId="yakindu::c">
      </ExtensionGeneratorMapping>
   </extension>
</plugin>
