<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
       <SCTGenerator
            class="org.yakindu.sct.generator.java.JavaCodeGenerator"
            description="YAKINDU SCT Java Code Generator"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            icon="icons/sct.png"
            id="yakindu::java"
            name="YAKINDU SCT Java Code Generator">
          <FeatureLibrary
                library_id="org.yakindu.generator.core.features">
          </FeatureLibrary>
          <FeatureLibrary
                library_id="org.yakindu.generator.core.features.sctbase">
          </FeatureLibrary>
          <FeatureLibrary
                library_id="org.yakindu.sct.generator.feature.java">
          </FeatureLibrary>
      </SCTGenerator>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.generator.java.features.JavaFeatureValueProvider"
            library_id="org.yakindu.sct.generator.feature.java"
            uri="platform:/plugin/org.yakindu.sct.generator.java/library/FeatureTypeLibrary.xmi">
      </FeatureLibrary>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.extensions">
      <ExtensionGeneratorMapping
            fileExtension="sct"
            generatorId="yakindu::java">
      </ExtensionGeneratorMapping>
   </extension>

</plugin>
