<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NEjmkMdmEeGOoP2Ze98WBQ" specification="interface :&#xA;in event event1&#xA;in event event2&#xA;in event event3" name="after_grouping">
    <regions xmi:id="_NEjmk8dmEeGOoP2Ze98WBQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_NEkNpsdmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_NEmC08dmEeGOoP2Ze98WBQ" target="_NEk0t8dmEeGOoP2Ze98WBQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NEk0t8dmEeGOoP2Ze98WBQ" name="A" incomingTransitions="_NEmC08dmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_q-EGYMmqEeGJr-muz4j25w" specification="" target="_jeUXUMmqEeGJr-muz4j25w"/>
        <outgoingTransitions xmi:id="_9rKCMMmrEeGJr-muz4j25w" specification="event1 / raise sub.event1" target="_3n-XwMmrEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XzbkEMdmEeGOoP2Ze98WBQ" name="E" incomingTransitions="__NKAcMmrEeGJr-muz4j25w"/>
      <vertices xsi:type="sgraph:State" xmi:id="_jeUXUMmqEeGJr-muz4j25w" name="A2" incomingTransitions="_q-EGYMmqEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_-cqXoMmrEeGJr-muz4j25w" specification="event2 / raise sub.event2" target="_3n-XwMmrEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3n-XwMmrEeGJr-muz4j25w" name="SubmachineState" incomingTransitions="_9rKCMMmrEeGJr-muz4j25w _-cqXoMmrEeGJr-muz4j25w" substatechartId="sub">
        <outgoingTransitions xmi:id="__NKAcMmrEeGJr-muz4j25w" specification="" target="_XzbkEMdmEeGOoP2Ze98WBQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NEjmkcdmEeGOoP2Ze98WBQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NEjmkMdmEeGOoP2Ze98WBQ" measurementUnit="Pixel">
    <children xmi:id="_NEjmlMdmEeGOoP2Ze98WBQ" type="Region" element="_NEjmk8dmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEkNoMdmEeGOoP2Ze98WBQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEkNocdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEkNosdmEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEkNo8dmEeGOoP2Ze98WBQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_NEkNp8dmEeGOoP2Ze98WBQ" type="Entry" element="_NEkNpsdmEeGOoP2Ze98WBQ">
          <children xmi:id="_NEk0sMdmEeGOoP2Ze98WBQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_NEk0s8dmEeGOoP2Ze98WBQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_NEk0tMdmEeGOoP2Ze98WBQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_NEk0tcdmEeGOoP2Ze98WBQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NEk0scdmEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEk0ssdmEeGOoP2Ze98WBQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NEkNqMdmEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEk0tsdmEeGOoP2Ze98WBQ" x="50" y="23"/>
        </children>
        <children xmi:id="_NElbwcdmEeGOoP2Ze98WBQ" type="State" element="_NEk0t8dmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_NElbxcdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NElbxsdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NElbx8dmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NElbyMdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NElbycdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NElbysdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NEmC0MdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NElbwsdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NElbw8dmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NEmC0cdmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmC0sdmEeGOoP2Ze98WBQ" x="40" y="91"/>
        </children>
        <children xmi:id="_XzhqsMdmEeGOoP2Ze98WBQ" type="State" element="_XzbkEMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_XziRw8dmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XziRxMdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XziRxcdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XziRxsdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Xzi40MdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Xzi40cdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Xzi40sdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XziRwMdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XziRwcdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Xzi408dmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XziRwsdmEeGOoP2Ze98WBQ" x="561" y="167"/>
        </children>
        <children xmi:id="_jehLoMmqEeGJr-muz4j25w" type="State" element="_jeUXUMmqEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_jehysMmqEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jehyscmqEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jehyssmqEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jeiZwMmqEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jeiZwcmqEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jeiZwsmqEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jeiZw8mqEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jehLocmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jehLosmqEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jejA0MmqEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jehLo8mqEeGJr-muz4j25w" x="41" y="227"/>
        </children>
        <children xmi:id="_39acQMmrEeGJr-muz4j25w" type="SubmachineState" element="_3n-XwMmrEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_39bDUMmrEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_39bDUcmrEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_39bDUsmrEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_39bDU8mrEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_39bDVMmrEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_39bDVcmrEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_39bDVsmrEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_39acQcmrEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_39acQsmrEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_39bDV8mrEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_39acQ8mrEeGJr-muz4j25w" x="201" y="159" width="206" height="79"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEkNpMdmEeGOoP2Ze98WBQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NEjmlcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEkNpcdmEeGOoP2Ze98WBQ" x="220" y="10" width="701" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_NEmp48dmEeGOoP2Ze98WBQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEmp5cdmEeGOoP2Ze98WBQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEmp5sdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEmp58dmEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEmp6MdmEeGOoP2Ze98WBQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmp6cdmEeGOoP2Ze98WBQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmp6sdmEeGOoP2Ze98WBQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NEjmksdmEeGOoP2Ze98WBQ"/>
    <edges xmi:id="_NEmC1MdmEeGOoP2Ze98WBQ" type="Transition" element="_NEmC08dmEeGOoP2Ze98WBQ" source="_NEkNp8dmEeGOoP2Ze98WBQ" target="_NElbwcdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEmp4MdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEmp4cdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEmp4sdmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NEmC1cdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NEmC18dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NEmC1sdmEeGOoP2Ze98WBQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_q-MpQMmqEeGJr-muz4j25w" type="Transition" element="_q-EGYMmqEeGJr-muz4j25w" source="_NElbwcdmEeGOoP2Ze98WBQ" target="_jehLoMmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_q-NQUcmqEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q-NQUsmqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q-NQU8mqEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q-MpQcmqEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q-NQUMmqEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q-MpQsmqEeGJr-muz4j25w" points="[-3, 24, 2, -93]$[-3, 112, 2, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q-XBUMmqEeGJr-muz4j25w" id="(0.325,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_9rNFgMmrEeGJr-muz4j25w" type="Transition" element="_9rKCMMmrEeGJr-muz4j25w" source="_NElbwcdmEeGOoP2Ze98WBQ" target="_39acQMmrEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_9rNskcmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9rNsksmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9rNsk8mrEeGJr-muz4j25w" x="7" y="-25"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9rNFgcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9rNskMmrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9rNFgsmrEeGJr-muz4j25w" points="[18, 7, -138, -58]$[157, 44, 1, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9rTzMMmrEeGJr-muz4j25w" id="(0.06310679611650485,0.2911392405063291)"/>
    </edges>
    <edges xmi:id="_-cuCAMmrEeGJr-muz4j25w" type="Transition" element="_-cqXoMmrEeGJr-muz4j25w" source="_jehLoMmqEeGJr-muz4j25w" target="_39acQMmrEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_-cuCBMmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-cuCBcmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-cuCBsmrEeGJr-muz4j25w" x="2" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-cuCAcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-cuCA8mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-cuCAsmrEeGJr-muz4j25w" points="[18, -5, -154, 43]$[173, -18, 1, 30]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-c0IoMmrEeGJr-muz4j25w" id="(0.14563106796116504,0.5949367088607594)"/>
    </edges>
    <edges xmi:id="__NNDwMmrEeGJr-muz4j25w" type="Transition" element="__NKAcMmrEeGJr-muz4j25w" source="_39acQMmrEeGJr-muz4j25w" target="_XzhqsMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="__NNq0MmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__NNq0cmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__NNq0smrEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__NNDwcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__NNDw8mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__NNDwsmrEeGJr-muz4j25w" points="[24, -3, -176, -8]$[196, -19, -4, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__NQuIMmrEeGJr-muz4j25w" id="(0.883495145631068,0.3670886075949367)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
