<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_2BySgMmqEeGJr-muz4j25w" specification="interface sub:&#xA;in event event1&#xA;in event event2&#xA;in event event3" name="sub">
    <regions xmi:id="_2By5ksmqEeGJr-muz4j25w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_2BzgpsmqEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_DNv9gMmrEeGJr-muz4j25w" specification="" target="_mV0TcMmrEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7F0NEMmqEeGJr-muz4j25w" name="B" incomingTransitions="_tLaSQMmrEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_EKJ7YMmrEeGJr-muz4j25w" specification="sub.event3" target="_7u3KEMmqEeGJr-muz4j25w"/>
        <outgoingTransitions xmi:id="_GR_KkMmrEeGJr-muz4j25w" specification="" target="_8ERZYMmqEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7u3KEMmqEeGJr-muz4j25w" name="C" incomingTransitions="_EKJ7YMmrEeGJr-muz4j25w _vhO6IMmrEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_HS-tgMmrEeGJr-muz4j25w" specification="" target="_8ERZYMmqEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8ERZYMmqEeGJr-muz4j25w" name="D" incomingTransitions="_GR_KkMmrEeGJr-muz4j25w _HS-tgMmrEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_KmMxwMmrEeGJr-muz4j25w" specification="sub.event3" target="_I1PKcMmrEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_I1PKcMmrEeGJr-muz4j25w" incomingTransitions="_KmMxwMmrEeGJr-muz4j25w"/>
      <vertices xsi:type="sgraph:State" xmi:id="_mV0TcMmrEeGJr-muz4j25w" name="idle" incomingTransitions="_DNv9gMmrEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_tLaSQMmrEeGJr-muz4j25w" specification="sub.event1" target="_7F0NEMmqEeGJr-muz4j25w"/>
        <outgoingTransitions xmi:id="_vhO6IMmrEeGJr-muz4j25w" specification="sub.event2" target="_7u3KEMmqEeGJr-muz4j25w"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_2By5kMmqEeGJr-muz4j25w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_2BySgMmqEeGJr-muz4j25w" measurementUnit="Pixel">
    <children xmi:id="_2By5k8mqEeGJr-muz4j25w" type="Region" element="_2By5ksmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_2BzgoMmqEeGJr-muz4j25w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2BzgocmqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2BzgosmqEeGJr-muz4j25w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_2Bzgo8mqEeGJr-muz4j25w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_2Bzgp8mqEeGJr-muz4j25w" type="Entry" element="_2BzgpsmqEeGJr-muz4j25w">
          <children xmi:id="_2B0HsMmqEeGJr-muz4j25w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_2B0Hs8mqEeGJr-muz4j25w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2B0HtMmqEeGJr-muz4j25w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_2B0HtcmqEeGJr-muz4j25w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2B0HscmqEeGJr-muz4j25w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2B0HssmqEeGJr-muz4j25w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2BzgqMmqEeGJr-muz4j25w" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2B0HtsmqEeGJr-muz4j25w" x="19" y="99"/>
        </children>
        <children xmi:id="_7F66wMmqEeGJr-muz4j25w" type="State" element="_7F0NEMmqEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_7F66xMmqEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7F66xcmqEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7F7h0MmqEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7F7h0cmqEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7F7h0smqEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7F7h08mqEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7F7h1MmqEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7F66wcmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7F66wsmqEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7F7h1cmqEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7F66w8mqEeGJr-muz4j25w" x="157" y="99"/>
        </children>
        <children xmi:id="_7u_F4MmqEeGJr-muz4j25w" type="State" element="_7u3KEMmqEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_7u_s8MmqEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7u_s8cmqEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7u_s8smqEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7u_s88mqEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7u_s9MmqEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7u_s9cmqEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7u_s9smqEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7u_F4cmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7u_F4smqEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7u_s98mqEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7u_F48mqEeGJr-muz4j25w" x="158" y="215"/>
        </children>
        <children xmi:id="_8Ec_kMmqEeGJr-muz4j25w" type="State" element="_8ERZYMmqEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_8EdmoMmqEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8EdmocmqEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8EdmosmqEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8Edmo8mqEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8EdmpMmqEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8EdmpcmqEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8EeNsMmqEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8Ec_kcmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8Ec_ksmqEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8EeNscmqEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Ec_k8mqEeGJr-muz4j25w" x="296" y="167"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_I1V4IMmrEeGJr-muz4j25w" type="FinalState" element="_I1PKcMmrEeGJr-muz4j25w" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I1V4IcmrEeGJr-muz4j25w" x="394" y="183"/>
        </children>
        <children xmi:id="_mV7BIMmrEeGJr-muz4j25w" type="State" element="_mV0TcMmrEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_mV7BJMmrEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_mV7BJcmrEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_mV7BJsmrEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mV7BJ8mrEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_mV7BKMmrEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mV7BKcmrEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_mV7oMMmrEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_mV7BIcmrEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_mV7BIsmrEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mV7oMcmrEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mV7BI8mrEeGJr-muz4j25w" x="9" y="155"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2BzgpMmqEeGJr-muz4j25w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_2By5lMmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2BzgpcmqEeGJr-muz4j25w" x="220" y="10" width="461" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_2B185MmqEeGJr-muz4j25w" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_2B185smqEeGJr-muz4j25w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2B1858mqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2B186MmqEeGJr-muz4j25w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_2B186cmqEeGJr-muz4j25w" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2B186smqEeGJr-muz4j25w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2B2j8MmqEeGJr-muz4j25w" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_2By5kcmqEeGJr-muz4j25w"/>
    <edges xmi:id="_DN1dEMmrEeGJr-muz4j25w" type="Transition" element="_DNv9gMmrEeGJr-muz4j25w" source="_2Bzgp8mqEeGJr-muz4j25w" target="_mV7BIMmrEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_DN1dFMmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DN1dFcmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DN1dFsmrEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DN1dEcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DN1dE8mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DN1dEsmrEeGJr-muz4j25w" points="[0, 7, -3, -89]$[1, 120, -2, 24]"/>
    </edges>
    <edges xmi:id="_EKOM0MmrEeGJr-muz4j25w" type="Transition" element="_EKJ7YMmrEeGJr-muz4j25w" source="_7F66wMmqEeGJr-muz4j25w" target="_7u_F4MmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_EKOM1MmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EKOM1cmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EKOM1smrEeGJr-muz4j25w" x="-3" y="-31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EKOM0cmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EKOM08mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EKOM0smrEeGJr-muz4j25w" points="[-5, 0, -6, -92]$[-5, 116, -6, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EKVhkMmrEeGJr-muz4j25w" id="(0.4,1.0)"/>
    </edges>
    <edges xmi:id="_GSEqIMmrEeGJr-muz4j25w" type="Transition" element="_GR_KkMmrEeGJr-muz4j25w" source="_7F66wMmqEeGJr-muz4j25w" target="_8Ec_kMmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_GSEqJMmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GSEqJcmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GSEqJsmrEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GSEqIcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GSEqI8mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GSEqIsmrEeGJr-muz4j25w" points="[0, 0, -107, -59]$[108, 41, 1, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GSLX0MmrEeGJr-muz4j25w" id="(1.0,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GSLX0cmrEeGJr-muz4j25w" id="(0.175,0.37735849056603776)"/>
    </edges>
    <edges xmi:id="_HTC-8MmrEeGJr-muz4j25w" type="Transition" element="_HS-tgMmrEeGJr-muz4j25w" source="_7u_F4MmqEeGJr-muz4j25w" target="_8Ec_kMmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_HTC-9MmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HTC-9cmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HTC-9smrEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HTC-8cmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HTC-88mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HTC-8smrEeGJr-muz4j25w" points="[0, 0, -120, 57]$[121, -81, 1, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HTKTsMmrEeGJr-muz4j25w" id="(1.0,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_KmRDMMmrEeGJr-muz4j25w" type="Transition" element="_KmMxwMmrEeGJr-muz4j25w" source="_8Ec_kMmqEeGJr-muz4j25w" target="_I1V4IMmrEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_KmRDNMmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KmRDNcmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KmRDNsmrEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KmRDMcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KmRDM8mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KmRDMsmrEeGJr-muz4j25w" points="[0, -4, -70, 1]$[63, -4, -7, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KmZmEMmrEeGJr-muz4j25w" id="(1.0,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_tLcugMmrEeGJr-muz4j25w" type="Transition" element="_tLaSQMmrEeGJr-muz4j25w" source="_mV7BIMmrEeGJr-muz4j25w" target="_7F66wMmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_tLcuhMmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tLcuhcmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tLcuhsmrEeGJr-muz4j25w" x="-3" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tLcugcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tLcug8mrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tLcugsmrEeGJr-muz4j25w" points="[0, 0, -130, 63]$[124, -87, -6, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tLgY4MmrEeGJr-muz4j25w" id="(1.0,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_vhRWYMmrEeGJr-muz4j25w" type="Transition" element="_vhO6IMmrEeGJr-muz4j25w" source="_mV7BIMmrEeGJr-muz4j25w" target="_7u_F4MmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_vhR9ccmrEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vhR9csmrEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vhR9c8mrEeGJr-muz4j25w" x="-7" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vhRWYcmrEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vhR9cMmrEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vhRWYsmrEeGJr-muz4j25w" points="[0, 0, -120, -33]$[121, 12, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vhVn0MmrEeGJr-muz4j25w" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vhVn0cmrEeGJr-muz4j25w" id="(0.175,0.4528301886792453)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
