<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_eGVTMM51EeWP64SB222YgA" specification="namespace expressions&#xA;&#xA;@CycleBased(200)&#xA;@SuperSteps(no)&#xA;&#xA;interface:&#xA;&#xA;in event e1&#xA;in event e2&#xA;&#xA;var c1 : boolean&#xA;var c2 : boolean&#xA;&#xA;&#xA;var e1_transition : boolean&#xA;var e2_transition : boolean&#xA;&#xA;" namespace="expressions" name="TriggerExpressionPrecedence">
    <regions xmi:id="_eGtGoM51EeWP64SB222YgA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_eHABkM51EeWP64SB222YgA">
        <outgoingTransitions xmi:id="_eHH9YM51EeWP64SB222YgA" target="_eHB2wM51EeWP64SB222YgA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_eHB2wM51EeWP64SB222YgA" name="A" incomingTransitions="_eHH9YM51EeWP64SB222YgA _xjIDEM51EeWP64SB222YgA _y-GzUM51EeWP64SB222YgA">
        <outgoingTransitions xmi:id="_xjIDEM51EeWP64SB222YgA" specification="e1 [c1 || c2] / e1_transition = true" target="_eHB2wM51EeWP64SB222YgA"/>
        <outgoingTransitions xmi:id="_y-GzUM51EeWP64SB222YgA" specification="e2 / e2_transition = true" target="_eHB2wM51EeWP64SB222YgA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_eGsfkM51EeWP64SB222YgA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_eGVTMM51EeWP64SB222YgA" measurementUnit="Pixel">
    <children xmi:id="_eGymMM51EeWP64SB222YgA" type="Region" element="_eGtGoM51EeWP64SB222YgA">
      <children xsi:type="notation:DecorationNode" xmi:id="_eG8XMM51EeWP64SB222YgA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eG8XMc51EeWP64SB222YgA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eG8XMs51EeWP64SB222YgA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_eG9lUM51EeWP64SB222YgA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_eHAooM51EeWP64SB222YgA" type="Entry" element="_eHABkM51EeWP64SB222YgA">
          <children xmi:id="_eHBPsM51EeWP64SB222YgA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_eHBPs851EeWP64SB222YgA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_eHBPtM51EeWP64SB222YgA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_eHBPtc51EeWP64SB222YgA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eHBPsc51EeWP64SB222YgA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eHBPss51EeWP64SB222YgA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eHAooc51EeWP64SB222YgA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_eHAoos51EeWP64SB222YgA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eHBPts51EeWP64SB222YgA" x="70" y="20"/>
        </children>
        <children xmi:id="_eHE6EM51EeWP64SB222YgA" type="State" element="_eHB2wM51EeWP64SB222YgA">
          <children xsi:type="notation:DecorationNode" xmi:id="_eHE6FM51EeWP64SB222YgA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_eHE6Fc51EeWP64SB222YgA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_eHE6Fs51EeWP64SB222YgA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eHGIMM51EeWP64SB222YgA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_eHGIMc51EeWP64SB222YgA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eHGIMs51EeWP64SB222YgA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_eHGvQM51EeWP64SB222YgA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_eHE6Ec51EeWP64SB222YgA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_eHE6Es51EeWP64SB222YgA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_eHGvQc51EeWP64SB222YgA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eHGvQs51EeWP64SB222YgA" x="50" y="61" height="114"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eG9lUc51EeWP64SB222YgA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_eGymMc51EeWP64SB222YgA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eG-MYM51EeWP64SB222YgA" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_eHOEAM51EeWP64SB222YgA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_eHOEAs51EeWP64SB222YgA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eHOEA851EeWP64SB222YgA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eHOEBM51EeWP64SB222YgA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_eHOEBc51EeWP64SB222YgA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eHOEBs51EeWP64SB222YgA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eHOrEM51EeWP64SB222YgA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_eGsfkc51EeWP64SB222YgA"/>
    <edges xmi:id="_eHM14M51EeWP64SB222YgA" type="Transition" element="_eHH9YM51EeWP64SB222YgA" source="_eHAooM51EeWP64SB222YgA" target="_eHE6EM51EeWP64SB222YgA">
      <children xsi:type="notation:DecorationNode" xmi:id="_eHNc8851EeWP64SB222YgA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eHNc9M51EeWP64SB222YgA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eHNc9c51EeWP64SB222YgA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eHNc8M51EeWP64SB222YgA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eHNc8s51EeWP64SB222YgA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eHNc8c51EeWP64SB222YgA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_xjJRMM51EeWP64SB222YgA" type="Transition" element="_xjIDEM51EeWP64SB222YgA" source="_eHE6EM51EeWP64SB222YgA" target="_eHE6EM51EeWP64SB222YgA">
      <children xsi:type="notation:DecorationNode" xmi:id="_xjM7kc51EeWP64SB222YgA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xjM7ks51EeWP64SB222YgA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xjM7k851EeWP64SB222YgA" x="-2" y="-93"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xjJRMc51EeWP64SB222YgA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xjM7kM51EeWP64SB222YgA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xjJRMs51EeWP64SB222YgA" points="[13, 0, 7, -5]$[109, 0, 103, -5]$[109, 14, 103, 9]$[13, 14, 7, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_TQhUgM6nEeWP64SB222YgA" id="(0.65,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_STENwM6nEeWP64SB222YgA" id="(0.8,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_y-HaYM51EeWP64SB222YgA" type="Transition" element="_y-GzUM51EeWP64SB222YgA" source="_eHE6EM51EeWP64SB222YgA" target="_eHE6EM51EeWP64SB222YgA">
      <children xsi:type="notation:DecorationNode" xmi:id="_y-IBcM51EeWP64SB222YgA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_y-IBcc51EeWP64SB222YgA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_y-IBcs51EeWP64SB222YgA" x="-1" y="-73"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_y-HaYc51EeWP64SB222YgA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_y-HaY851EeWP64SB222YgA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_y-HaYs51EeWP64SB222YgA" points="[18, 0, 16, -35]$[110, 0, 108, -35]$[110, 18, 108, -17]$[18, 18, 16, -17]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aQ0ugM6nEeWP64SB222YgA" id="(0.55,0.8245614035087719)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
