<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_J_-p0EaGEeqaaazg9NGRiA" specification="@ChildFirstExecution&#xA;&#xA;import : &quot;TrafficLight.sct&quot;&#xA;import : &quot;ReleaseProcess.sct&quot;&#xA;&#xA;interface:&#xA;&#xA;var trafficLightA : TrafficLight&#xA;var trafficLightB : TrafficLight&#xA;&#xA;var process : ReleaseProcess&#xA;&#xA;in event on&#xA;in event off&#xA;&#xA;in event operate&#xA;in event standby&#xA;&#xA;" name="TwoWayTrafficControl2">
    <regions xmi:id="_J_-p2kaGEeqaaazg9NGRiA" name="main">
      <vertices xsi:type="sgraph:Entry" xmi:id="_J__Q5kaGEeqaaazg9NGRiA">
        <outgoingTransitions xmi:id="_J__4AUaGEeqaaazg9NGRiA" target="_J__38UaGEeqaaazg9NGRiA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_J__38UaGEeqaaazg9NGRiA" specification="entry / &#xA;&#x9;raise trafficLightA.switchOff;&#xA;&#x9;raise trafficLightB.switchOff&#xA;exit / &#xA;&#x9;raise trafficLightA.switchOn;&#xA;&#x9;raise trafficLightB.switchOn" name="Off" incomingTransitions="_J__4AUaGEeqaaazg9NGRiA _rszM8EaKEeqWhMlTSL7aWA">
        <outgoingTransitions xmi:id="_bS-boEaGEeqaaazg9NGRiA" specification="on" target="_bS6KMEaGEeqaaazg9NGRiA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bS6KMEaGEeqaaazg9NGRiA" specification="entry / &#xA;&#x9;raise trafficLightA.attention;&#xA;&#x9;raise trafficLightB.attention" name="Standby" incomingTransitions="_bS-boEaGEeqaaazg9NGRiA _k55bEEdhEeqqBpTJT3nxRw">
        <outgoingTransitions xmi:id="_rszM8EaKEeqWhMlTSL7aWA" specification="off" target="_J__38UaGEeqaaazg9NGRiA"/>
        <outgoingTransitions xmi:id="_yd2AIEbQEeqWhMlTSL7aWA" specification="operate" target="_dXfZkEdhEeqqBpTJT3nxRw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dXfZkEdhEeqqBpTJT3nxRw" specification="entry / &#xA;&#x9;raise trafficLightA.block;  raise trafficLightB.block" name="Operate" incomingTransitions="_yd2AIEbQEeqWhMlTSL7aWA">
        <outgoingTransitions xmi:id="_k55bEEdhEeqqBpTJT3nxRw" specification="standby" target="_bS6KMEaGEeqaaazg9NGRiA"/>
        <regions xmi:id="_dXgnsEdhEeqqBpTJT3nxRw" name="r">
          <vertices xsi:type="sgraph:State" xmi:id="_ydZ7QEbQEeqWhMlTSL7aWA" specification="entry / process.trafficLight = trafficLightA&#xA;submachine process" name="Process A" incomingTransitions="_iXvAUEdhEeqqBpTJT3nxRw _bPRHkFHPEeqop6_8RQ-47Q">
            <outgoingTransitions xmi:id="_ZHHvUFHPEeqop6_8RQ-47Q" specification="[process.isFinal]" target="_Qh0GYFHPEeqop6_8RQ-47Q"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_hiNGgEdhEeqqBpTJT3nxRw">
            <outgoingTransitions xmi:id="_iXvAUEdhEeqqBpTJT3nxRw" specification="" target="_ydZ7QEbQEeqWhMlTSL7aWA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Qh0GYFHPEeqop6_8RQ-47Q" specification="entry / process.trafficLight = trafficLightB&#xA;submachine process" name="Process B" incomingTransitions="_ZHHvUFHPEeqop6_8RQ-47Q">
            <outgoingTransitions xmi:id="_bPRHkFHPEeqop6_8RQ-47Q" specification="[process.isFinal]" target="_ydZ7QEbQEeqWhMlTSL7aWA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_J_-p10aGEeqaaazg9NGRiA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_J_-p0EaGEeqaaazg9NGRiA" measurementUnit="Pixel">
    <children xmi:id="_J_-p20aGEeqaaazg9NGRiA" type="Region" element="_J_-p2kaGEeqaaazg9NGRiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_J__Q4EaGEeqaaazg9NGRiA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_J__Q4UaGEeqaaazg9NGRiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_J__Q4kaGEeqaaazg9NGRiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_J__Q40aGEeqaaazg9NGRiA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_J__Q50aGEeqaaazg9NGRiA" type="Entry" element="_J__Q5kaGEeqaaazg9NGRiA">
          <children xmi:id="_J__Q60aGEeqaaazg9NGRiA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_J__Q7kaGEeqaaazg9NGRiA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_J__Q70aGEeqaaazg9NGRiA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_J__Q8EaGEeqaaazg9NGRiA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J__Q7EaGEeqaaazg9NGRiA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J__Q7UaGEeqaaazg9NGRiA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J__Q6EaGEeqaaazg9NGRiA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_J__Q6UaGEeqaaazg9NGRiA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J__38EaGEeqaaazg9NGRiA" x="89" width="15" height="15"/>
        </children>
        <children xmi:id="_J__39EaGEeqaaazg9NGRiA" type="State" element="_J__38UaGEeqaaazg9NGRiA">
          <children xsi:type="notation:DecorationNode" xmi:id="_J__3-EaGEeqaaazg9NGRiA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J__3-UaGEeqaaazg9NGRiA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_J__3-kaGEeqaaazg9NGRiA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J__3-0aGEeqaaazg9NGRiA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_J__3_EaGEeqaaazg9NGRiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J__3_UaGEeqaaazg9NGRiA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J__3_kaGEeqaaazg9NGRiA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J__39UaGEeqaaazg9NGRiA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_J__39kaGEeqaaazg9NGRiA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J__3_0aGEeqaaazg9NGRiA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J__4AEaGEeqaaazg9NGRiA" x="21" y="42" width="177" height="101"/>
        </children>
        <children xmi:id="_bS6xQEaGEeqaaazg9NGRiA" type="State" element="_bS6KMEaGEeqaaazg9NGRiA">
          <children xsi:type="notation:DecorationNode" xmi:id="_bS6xREaGEeqaaazg9NGRiA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bS6xRUaGEeqaaazg9NGRiA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bS6xRkaGEeqaaazg9NGRiA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bS6xR0aGEeqaaazg9NGRiA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bS6xSEaGEeqaaazg9NGRiA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bS6xSUaGEeqaaazg9NGRiA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bS6xSkaGEeqaaazg9NGRiA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bS6xQUaGEeqaaazg9NGRiA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bS6xQkaGEeqaaazg9NGRiA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bS6xS0aGEeqaaazg9NGRiA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bS6xQ0aGEeqaaazg9NGRiA" x="309" y="42" width="228" height="68"/>
        </children>
        <children xmi:id="_dXh10EdhEeqqBpTJT3nxRw" type="State" element="_dXfZkEdhEeqqBpTJT3nxRw">
          <children xsi:type="notation:DecorationNode" xmi:id="_dXic4EdhEeqqBpTJT3nxRw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dXic4UdhEeqqBpTJT3nxRw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dXic4kdhEeqqBpTJT3nxRw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dXic40dhEeqqBpTJT3nxRw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dXic5EdhEeqqBpTJT3nxRw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dXic5UdhEeqqBpTJT3nxRw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dXic5kdhEeqqBpTJT3nxRw" type="StateFigureCompartment">
            <children xmi:id="_dXjD8UdhEeqqBpTJT3nxRw" type="Region" element="_dXgnsEdhEeqqBpTJT3nxRw">
              <children xsi:type="notation:DecorationNode" xmi:id="_dXjrAEdhEeqqBpTJT3nxRw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_dXjrAUdhEeqqBpTJT3nxRw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_dXjrAkdhEeqqBpTJT3nxRw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_dXjrA0dhEeqqBpTJT3nxRw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_ydk6YEbQEeqWhMlTSL7aWA" type="State" element="_ydZ7QEbQEeqWhMlTSL7aWA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_ydnWoEbQEeqWhMlTSL7aWA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ydnWoUbQEeqWhMlTSL7aWA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_ydnWokbQEeqWhMlTSL7aWA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ydpy4EbQEeqWhMlTSL7aWA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_ydpy4UbQEeqWhMlTSL7aWA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ydpy4kbQEeqWhMlTSL7aWA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ydqZ8EbQEeqWhMlTSL7aWA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ydlhcEbQEeqWhMlTSL7aWA" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_ydlhcUbQEeqWhMlTSL7aWA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ydqZ8UbQEeqWhMlTSL7aWA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dXkSEkdhEeqqBpTJT3nxRw" x="3" y="35" width="257" height="57"/>
                </children>
                <children xmi:id="_hiNtkEdhEeqqBpTJT3nxRw" type="Entry" element="_hiNGgEdhEeqqBpTJT3nxRw">
                  <children xmi:id="_hiOUoEdhEeqqBpTJT3nxRw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_hiOUo0dhEeqqBpTJT3nxRw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_hiOUpEdhEeqqBpTJT3nxRw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_hiOUpUdhEeqqBpTJT3nxRw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hiOUoUdhEeqqBpTJT3nxRw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hiOUokdhEeqqBpTJT3nxRw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hiNtkUdhEeqqBpTJT3nxRw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_hiNtkkdhEeqqBpTJT3nxRw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hiNtk0dhEeqqBpTJT3nxRw" x="11" width="15" height="15"/>
                </children>
                <children xmi:id="_QhzfUVHPEeqop6_8RQ-47Q" type="State" element="_Qh0GYFHPEeqop6_8RQ-47Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_QhzfUlHPEeqop6_8RQ-47Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_QhzfU1HPEeqop6_8RQ-47Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_QhzfVFHPEeqop6_8RQ-47Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QhzfVVHPEeqop6_8RQ-47Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_QhzfVlHPEeqop6_8RQ-47Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QhzfV1HPEeqop6_8RQ-47Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_QhzfWFHPEeqop6_8RQ-47Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_QhzfWVHPEeqop6_8RQ-47Q" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_QhzfWlHPEeqop6_8RQ-47Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_QhzfW1HPEeqop6_8RQ-47Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_QhzfXFHPEeqop6_8RQ-47Q" x="283" y="35" width="257" height="57"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dXjrBEdhEeqqBpTJT3nxRw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_dXjD8kdhEeqqBpTJT3nxRw" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dXjD80dhEeqqBpTJT3nxRw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dXh10UdhEeqqBpTJT3nxRw" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dXh10kdhEeqqBpTJT3nxRw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dXic50dhEeqqBpTJT3nxRw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dXjD8EdhEeqqBpTJT3nxRw" x="21" y="160" width="581" height="204"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J__Q5EaGEeqaaazg9NGRiA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_J_-p3EaGEeqaaazg9NGRiA" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J__Q5UaGEeqaaazg9NGRiA" x="12" y="4" width="632" height="408"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_KAAfB0aGEeqaaazg9NGRiA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_KAAfCUaGEeqaaazg9NGRiA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KAAfCkaGEeqaaazg9NGRiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KAAfC0aGEeqaaazg9NGRiA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_KAAfDEaGEeqaaazg9NGRiA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KAAfDUaGEeqaaazg9NGRiA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KAAfDkaGEeqaaazg9NGRiA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J_-p2EaGEeqaaazg9NGRiA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_J_-p2UaGEeqaaazg9NGRiA"/>
    <edges xmi:id="_KAAfAEaGEeqaaazg9NGRiA" type="Transition" element="_J__4AUaGEeqaaazg9NGRiA" source="_J__Q50aGEeqaaazg9NGRiA" target="_J__39EaGEeqaaazg9NGRiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_KAAfBEaGEeqaaazg9NGRiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KAAfBUaGEeqaaazg9NGRiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KAAfBkaGEeqaaazg9NGRiA" x="28" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KAAfAUaGEeqaaazg9NGRiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KAAfA0aGEeqaaazg9NGRiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KAAfAkaGEeqaaazg9NGRiA" points="[0, 7, -13, -78]$[0, 35, -13, -50]"/>
    </edges>
    <edges xmi:id="_bS_CsEaGEeqaaazg9NGRiA" type="Transition" element="_bS-boEaGEeqaaazg9NGRiA" source="_J__39EaGEeqaaazg9NGRiA" target="_bS6xQEaGEeqaaazg9NGRiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_bS_CtEaGEeqaaazg9NGRiA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bS_CtUaGEeqaaazg9NGRiA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bS_CtkaGEeqaaazg9NGRiA" x="-24" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bS_CsUaGEeqaaazg9NGRiA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bS_Cs0aGEeqaaazg9NGRiA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bS_CskaGEeqaaazg9NGRiA" points="[111, -8, -181, -8]$[178, -8, -114, -8]"/>
    </edges>
    <edges xmi:id="_rtNcoEaKEeqWhMlTSL7aWA" type="Transition" element="_rszM8EaKEeqWhMlTSL7aWA" source="_bS6xQEaGEeqaaazg9NGRiA" target="_J__39EaGEeqaaazg9NGRiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_rtQf8EaKEeqWhMlTSL7aWA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rtQf8UaKEeqWhMlTSL7aWA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rtQf8kaKEeqWhMlTSL7aWA" x="-17" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rtNcoUaKEeqWhMlTSL7aWA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rtP44EaKEeqWhMlTSL7aWA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rtNcokaKEeqWhMlTSL7aWA" points="[0, 4, 178, 20]$[-67, 4, 111, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rthlsEaKEeqWhMlTSL7aWA" id="(0.0,0.7352941176470589)"/>
    </edges>
    <edges xmi:id="_yd2nMEbQEeqWhMlTSL7aWA" type="Transition" element="_yd2AIEbQEeqWhMlTSL7aWA" source="_bS6xQEaGEeqaaazg9NGRiA" target="_dXh10EdhEeqqBpTJT3nxRw">
      <children xsi:type="notation:DecorationNode" xmi:id="_yd3OQUbQEeqWhMlTSL7aWA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yd3OQkbQEeqWhMlTSL7aWA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yd3OQ0bQEeqWhMlTSL7aWA" x="-8" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yd2nMUbQEeqWhMlTSL7aWA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yd3OQEbQEeqWhMlTSL7aWA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yd2nMkbQEeqWhMlTSL7aWA" points="[-52, 34, 294, -53]$[-52, 84, 294, -3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j894wEdhEeqqBpTJT3nxRw" id="(0.09742120343839542,0.0158311345646438)"/>
    </edges>
    <edges xmi:id="_iXvnYEdhEeqqBpTJT3nxRw" type="Transition" element="_iXvAUEdhEeqqBpTJT3nxRw" source="_hiNtkEdhEeqqBpTJT3nxRw" target="_ydk6YEbQEeqWhMlTSL7aWA">
      <children xsi:type="notation:DecorationNode" xmi:id="_iXvnZEdhEeqqBpTJT3nxRw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iXvnZUdhEeqqBpTJT3nxRw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iXvnZkdhEeqqBpTJT3nxRw" x="-8" y="-5"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iXvnYUdhEeqqBpTJT3nxRw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iXvnY0dhEeqqBpTJT3nxRw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iXvnYkdhEeqqBpTJT3nxRw" points="[4, 8, -33, -48]$[4, 29, -33, -27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iYOIgEdhEeqqBpTJT3nxRw" id="(0.2,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iYOIgUdhEeqqBpTJT3nxRw" id="(0.1893491124260355,0.48333333333333334)"/>
    </edges>
    <edges xmi:id="_k56CIEdhEeqqBpTJT3nxRw" type="Transition" element="_k55bEEdhEeqqBpTJT3nxRw" source="_dXh10EdhEeqqBpTJT3nxRw" target="_bS6xQEaGEeqaaazg9NGRiA">
      <children xsi:type="notation:DecorationNode" xmi:id="_k56CJEdhEeqqBpTJT3nxRw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_k56CJUdhEeqqBpTJT3nxRw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_k56CJkdhEeqqBpTJT3nxRw" x="-13" y="25"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_k56CIUdhEeqqBpTJT3nxRw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_k56CI0dhEeqqBpTJT3nxRw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_k56CIkdhEeqqBpTJT3nxRw" points="[299, -3, -16, 70]$[299, -53, -16, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_k6X8MEdhEeqqBpTJT3nxRw" id="(0.2979942693409742,0.018469656992084433)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_k6X8MUdhEeqqBpTJT3nxRw" id="(0.8771929824561403,0.7058823529411765)"/>
    </edges>
    <edges xmi:id="_ZHIWYFHPEeqop6_8RQ-47Q" type="Transition" element="_ZHHvUFHPEeqop6_8RQ-47Q" source="_ydk6YEbQEeqWhMlTSL7aWA" target="_QhzfUVHPEeqop6_8RQ-47Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZHI9cVHPEeqop6_8RQ-47Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZHI9clHPEeqop6_8RQ-47Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZHI9c1HPEeqop6_8RQ-47Q" x="-9" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZHIWYVHPEeqop6_8RQ-47Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZHI9cFHPEeqop6_8RQ-47Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZHIWYlHPEeqop6_8RQ-47Q" points="[73, 57, -204, 35]$[73, 76, -204, 54]$[373, 76, 96, 54]$[373, 57, 96, 35]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZHKyoFHPEeqop6_8RQ-47Q" id="(0.16731517509727625,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZHKyoVHPEeqop6_8RQ-47Q" id="(0.1556420233463035,0.38596491228070173)"/>
    </edges>
    <edges xmi:id="_bPRuoFHPEeqop6_8RQ-47Q" type="Transition" element="_bPRHkFHPEeqop6_8RQ-47Q" source="_QhzfUVHPEeqop6_8RQ-47Q" target="_ydk6YEbQEeqWhMlTSL7aWA">
      <children xsi:type="notation:DecorationNode" xmi:id="_bPRupFHPEeqop6_8RQ-47Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bPRupVHPEeqop6_8RQ-47Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bPRuplHPEeqop6_8RQ-47Q" x="9" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bPRuoVHPEeqop6_8RQ-47Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bPRuo1HPEeqop6_8RQ-47Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bPRuolHPEeqop6_8RQ-47Q" points="[-121, -33, 198, -38]$[-121, -54, 198, -59]$[-421, -54, -102, -59]$[-421, -33, -102, -38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bPTj0FHPEeqop6_8RQ-47Q" id="(1.0,0.5789473684210527)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bPTj0VHPEeqop6_8RQ-47Q" id="(0.8482490272373541,0.6666666666666666)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
