<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.yakindu.sct.ui.perspectives.ModelingPerspectiveFactory"
            fixed="false"
            icon="icons/modeling_perspective.png"
            id="org.yakindu.sct.ui.ModelingPerspective"
            name="SC Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.yakindu.sct.ui.preferences.SctRootPreferencePage"
            id="org.yakindu.sct.ui.preferences.root"
            name="YAKINDU SCT">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.yakindu.sct.ui.ModelingPerspective">
         <newWizardShortcut
               id="org.yakindu.sct.ui.editor.StatechartDiagramWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.yakindu.sct.generator.genmodel.ui.SGenNewFileWizard">
         </newWizardShortcut>
         
         <hiddenMenuItem
               id="edit">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
       	<hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.project.buildAll">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.internal.ui.actions.RunDropDownAction">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.emf.facet.util.emf.ui.OpenModelFromEmfRegistryCommand">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.mylyn.tasks.ui.command.openTask">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.papyrus.infra.discovery.ui.menu.toolbars.discoveryCommand">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="undoredo.undo">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="undoredo.redo">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="print">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="print">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="move">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="properties">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="shortcuts">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.edit.text.delimiter.windows">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="revert">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.mylyn.tasks.ui.bug.report">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.edit.text.delimiter.unix">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.editors">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="help">
         </hiddenMenuItem>

         
         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.yakindu.sct.ui.preferences.SctRootPropertyPage"
            id="org.yakindu.sct.ui.properties.root"
            name="YAKINDU SCT">
        	<enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.cdt.core.cnature"/>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
      </page>
   </extension>
</plugin>
