<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.yakindu.sct.ui.perspectives.ModelingPerspectiveFactory"
            fixed="false"
            icon="icons/modeling_perspective.png"
            id="org.yakindu.sct.ui.ModelingPerspective"
            name="SC Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.yakindu.sct.ui.preferences.SctRootPreferencePage"
            id="org.yakindu.sct.ui.preferences.root"
            name="YAKINDU SCT">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.yakindu.sct.ui.ModelingPerspective">
         <newWizardShortcut
               id="org.yakindu.sct.ui.editor.StatechartDiagramWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.yakindu.sct.generator.genmodel.ui.SGenNewFileWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.yakindu.sct.ui.preferences.SctRootPropertyPage"
            id="org.yakindu.sct.ui.properties.root"
            name="YAKINDU SCT">
        	<enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.cdt.core.cnature"/>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
      </page>
   </extension>
</plugin>
