<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.yakindu.sct.ui.navigator.resourceContent"/>
                <contentExtension pattern="org.yakindu.sct.ui.navigator.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
   </extension>
 <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <navigatorContent
            id="org.yakindu.sct.ui.navigator.resourceContent" 
            name="Statechart Content" 
            priority="normal" 
            contentProvider="org.yakindu.sct.ui.navigator.StatechartNavigatorContentProvider" 
            labelProvider="org.yakindu.sct.ui.navigator.StatechartNavigatorLabelProvider"
            activeByDefault="true">
         <triggerPoints>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="sct"/>
         </triggerPoints>
      </navigatorContent>
       <actionProvider
            id="org.eclipse.ui.navigator.navigatorActionProvider"
            class="org.yakindu.sct.ui.navigator.NavigatorActionProvider">
         <enablement>
         </enablement>
      </actionProvider>
   </extension>
     <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <linkHelper
            id="org.yakindu.sct.ui.navigator.navigatorLinkHelper"
            class="org.yakindu.sct.ui.navigator.NavigatorLinkHelper">
         <editorInputEnablement>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.yakindu.sct.ui.navigator.AbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
</plugin>
