<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.statechart.diagram.validation.provider">
      <ValidationProvider
            class="org.yakindu.sct.statechart.diagram.validation.provider.impl.StatechartDefaultValidationProvider">
      </ValidationProvider>
   </extension>
 
</plugin>
