<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_KXRGcL2LEeiQPKhtb2DO6A" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event e" name="MultipleDefaultInChoices">
    <regions xmi:id="_M0aeUL2LEeiQPKhtb2DO6A">
      <vertices xsi:type="sgraph:State" xmi:id="_M0aeUb2LEeiQPKhtb2DO6A" specification="" name="StateA" incomingTransitions="_M0bscb2LEeiQPKhtb2DO6A _M0c6kb2LEeiQPKhtb2DO6A _M0c6kr2LEeiQPKhtb2DO6A _M0dhob2LEeiQPKhtb2DO6A"/>
      <vertices xsi:type="sgraph:Choice" xmi:id="_M0bscL2LEeiQPKhtb2DO6A" incomingTransitions="_M0dhpL2LEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_M0bscb2LEeiQPKhtb2DO6A" specification="default" target="_M0aeUb2LEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_M0c6kb2LEeiQPKhtb2DO6A" specification="" target="_M0aeUb2LEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_M0c6kr2LEeiQPKhtb2DO6A" specification="else" target="_M0aeUb2LEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_M0dhob2LEeiQPKhtb2DO6A" specification="default" target="_M0aeUb2LEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_M0dho72LEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_M0dhpL2LEeiQPKhtb2DO6A" specification="" target="_M0bscL2LEeiQPKhtb2DO6A"/>
      </vertices>
    </regions>
    <regions xmi:id="_NAJaUMepEeig3K7nElUdXQ" name="no_trigger_as_default">
      <vertices xsi:type="sgraph:State" xmi:id="_Uj0nIMepEeig3K7nElUdXQ" specification="" name="StateA" incomingTransitions="_Uj11QcepEeig3K7nElUdXQ _Uj11Q8epEeig3K7nElUdXQ"/>
      <vertices xsi:type="sgraph:Choice" xmi:id="_Uj11QMepEeig3K7nElUdXQ" incomingTransitions="_Uj3qcsepEeig3K7nElUdXQ">
        <outgoingTransitions xmi:id="_Uj11QcepEeig3K7nElUdXQ" specification="e" target="_Uj0nIMepEeig3K7nElUdXQ"/>
        <outgoingTransitions xmi:id="_Uj11Q8epEeig3K7nElUdXQ" specification="" target="_Uj0nIMepEeig3K7nElUdXQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_Uj3qccepEeig3K7nElUdXQ">
        <outgoingTransitions xmi:id="_Uj3qcsepEeig3K7nElUdXQ" specification="" target="_Uj11QMepEeig3K7nElUdXQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_1-MFIMepEeig3K7nElUdXQ" name="default_trigger_">
      <vertices xsi:type="sgraph:State" xmi:id="_1-MFIcepEeig3K7nElUdXQ" specification="" name="StateA" incomingTransitions="_1-MsMsepEeig3K7nElUdXQ _1-MsNsepEeig3K7nElUdXQ"/>
      <vertices xsi:type="sgraph:Choice" xmi:id="_1-MsMcepEeig3K7nElUdXQ" incomingTransitions="_1-MsOMepEeig3K7nElUdXQ">
        <outgoingTransitions xmi:id="_1-MsMsepEeig3K7nElUdXQ" specification="e" target="_1-MFIcepEeig3K7nElUdXQ"/>
        <outgoingTransitions xmi:id="_1-MsNsepEeig3K7nElUdXQ" specification="default" target="_1-MFIcepEeig3K7nElUdXQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_1-MsN8epEeig3K7nElUdXQ">
        <outgoingTransitions xmi:id="_1-MsOMepEeig3K7nElUdXQ" specification="" target="_1-MsMcepEeig3K7nElUdXQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_6Nun0MepEeig3K7nElUdXQ" name="else_trigger">
      <vertices xsi:type="sgraph:State" xmi:id="_6Nun0cepEeig3K7nElUdXQ" specification="" name="StateA" incomingTransitions="_6NvOwsepEeig3K7nElUdXQ _6NvOxsepEeig3K7nElUdXQ"/>
      <vertices xsi:type="sgraph:Choice" xmi:id="_6NvOwcepEeig3K7nElUdXQ" incomingTransitions="_6NvOyMepEeig3K7nElUdXQ">
        <outgoingTransitions xmi:id="_6NvOwsepEeig3K7nElUdXQ" specification="e" target="_6Nun0cepEeig3K7nElUdXQ"/>
        <outgoingTransitions xmi:id="_6NvOxsepEeig3K7nElUdXQ" specification="else" target="_6Nun0cepEeig3K7nElUdXQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_6NvOx8epEeig3K7nElUdXQ">
        <outgoingTransitions xmi:id="_6NvOyMepEeig3K7nElUdXQ" specification="" target="_6NvOwcepEeig3K7nElUdXQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_KXS7oL2LEeiQPKhtb2DO6A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_KXRGcL2LEeiQPKhtb2DO6A" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_KXYbM72LEeiQPKhtb2DO6A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_KXYbNb2LEeiQPKhtb2DO6A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KXYbNr2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KXYbN72LEeiQPKhtb2DO6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_KXYbOL2LEeiQPKhtb2DO6A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KXYbOb2LEeiQPKhtb2DO6A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KXZCQL2LEeiQPKhtb2DO6A" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_M0XbAL2LEeiQPKhtb2DO6A" type="Region" element="_M0aeUL2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_M0XbAb2LEeiQPKhtb2DO6A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbAr2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M0XbA72LEeiQPKhtb2DO6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_M0XbBL2LEeiQPKhtb2DO6A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_M0XbBb2LEeiQPKhtb2DO6A" type="State" element="_M0aeUb2LEeiQPKhtb2DO6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_M0XbBr2LEeiQPKhtb2DO6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbB72LEeiQPKhtb2DO6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_M0XbCL2LEeiQPKhtb2DO6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_M0XbCb2LEeiQPKhtb2DO6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_M0XbCr2LEeiQPKhtb2DO6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbC72LEeiQPKhtb2DO6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_M0XbDL2LEeiQPKhtb2DO6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbDb2LEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_M0XbDr2LEeiQPKhtb2DO6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_M0XbD72LEeiQPKhtb2DO6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbEL2LEeiQPKhtb2DO6A" x="150" y="221" width="332" height="51"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_M0XbEb2LEeiQPKhtb2DO6A" type="Choice" element="_M0bscL2LEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbEr2LEeiQPKhtb2DO6A" x="265" y="106" width="45" height="46"/>
        </children>
        <children xmi:id="_M0XbE72LEeiQPKhtb2DO6A" type="Entry" element="_M0dho72LEeiQPKhtb2DO6A">
          <children xmi:id="_M0XbFL2LEeiQPKhtb2DO6A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_M0XbFb2LEeiQPKhtb2DO6A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbFr2LEeiQPKhtb2DO6A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_M0XbF72LEeiQPKhtb2DO6A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbGL2LEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbGb2LEeiQPKhtb2DO6A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbGr2LEeiQPKhtb2DO6A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_M0XbG72LEeiQPKhtb2DO6A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbHL2LEeiQPKhtb2DO6A" x="203" y="49"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbHb2LEeiQPKhtb2DO6A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_M0XbHr2LEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_M0XbH72LEeiQPKhtb2DO6A" x="35" y="5" width="636" height="406"/>
    </children>
    <children xmi:id="_NApJkMepEeig3K7nElUdXQ" type="Region" element="_NAJaUMepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NAweUMepEeig3K7nElUdXQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NAweUcepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NAxFYMepEeig3K7nElUdXQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NAxFYcepEeig3K7nElUdXQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Ujyx8MepEeig3K7nElUdXQ" type="State" element="_Uj0nIMepEeig3K7nElUdXQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ujyx8cepEeig3K7nElUdXQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ujyx8sepEeig3K7nElUdXQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ujyx88epEeig3K7nElUdXQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ujyx9MepEeig3K7nElUdXQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ujyx9cepEeig3K7nElUdXQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ujyx9sepEeig3K7nElUdXQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ujyx98epEeig3K7nElUdXQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ujyx-MepEeig3K7nElUdXQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ujyx-cepEeig3K7nElUdXQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ujyx-sepEeig3K7nElUdXQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ujyx-8epEeig3K7nElUdXQ" x="158" y="119" width="332" height="51"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_Uj0AEMepEeig3K7nElUdXQ" type="Choice" element="_Uj11QMepEeig3K7nElUdXQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Uj0AEcepEeig3K7nElUdXQ" x="291" y="48" width="32" height="32"/>
        </children>
        <children xmi:id="_Uj0AEsepEeig3K7nElUdXQ" type="Entry" element="_Uj3qccepEeig3K7nElUdXQ">
          <children xmi:id="_Uj0AE8epEeig3K7nElUdXQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Uj0AFMepEeig3K7nElUdXQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Uj0AFcepEeig3K7nElUdXQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Uj0AFsepEeig3K7nElUdXQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Uj0AF8epEeig3K7nElUdXQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Uj0AGMepEeig3K7nElUdXQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Uj0AGcepEeig3K7nElUdXQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Uj0AGsepEeig3K7nElUdXQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Uj0AG8epEeig3K7nElUdXQ" x="299" y="-5"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_CtebMMeqEeig3K7nElUdXQ" type="Note" fontName="Verdana" description="no warning expected" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_CtfCQMeqEeig3K7nElUdXQ" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_CtfCQceqEeig3K7nElUdXQ" type="Description">
            <element xsi:nil="true"/>
          </children>
          <styles xsi:type="notation:TextStyle" xmi:id="_CtebMceqEeig3K7nElUdXQ"/>
          <styles xsi:type="notation:LineTypeStyle" xmi:id="_CtebMseqEeig3K7nElUdXQ"/>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CtebM8eqEeig3K7nElUdXQ" x="418" y="18"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NAxFYsepEeig3K7nElUdXQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NApJkcepEeig3K7nElUdXQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NApJksepEeig3K7nElUdXQ" x="35" y="432" width="636" height="229"/>
    </children>
    <children xmi:id="_1-LeEcepEeig3K7nElUdXQ" type="Region" element="_1-MFIMepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1-LeEsepEeig3K7nElUdXQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeE8epEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1-LeFMepEeig3K7nElUdXQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1-LeFcepEeig3K7nElUdXQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_1-LeFsepEeig3K7nElUdXQ" type="State" element="_1-MFIcepEeig3K7nElUdXQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_1-LeF8epEeig3K7nElUdXQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeGMepEeig3K7nElUdXQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1-LeGcepEeig3K7nElUdXQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1-LeGsepEeig3K7nElUdXQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1-LeG8epEeig3K7nElUdXQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeHMepEeig3K7nElUdXQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1-LeHcepEeig3K7nElUdXQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeHsepEeig3K7nElUdXQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1-LeH8epEeig3K7nElUdXQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1-LeIMepEeig3K7nElUdXQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeIcepEeig3K7nElUdXQ" x="158" y="119" width="332" height="51"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_1-LeIsepEeig3K7nElUdXQ" type="Choice" element="_1-MsMcepEeig3K7nElUdXQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeI8epEeig3K7nElUdXQ" x="291" y="48" width="32" height="32"/>
        </children>
        <children xmi:id="_1-LeJMepEeig3K7nElUdXQ" type="Entry" element="_1-MsN8epEeig3K7nElUdXQ">
          <children xmi:id="_1-LeJcepEeig3K7nElUdXQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_1-LeJsepEeig3K7nElUdXQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeJ8epEeig3K7nElUdXQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_1-LeKMepEeig3K7nElUdXQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeKcepEeig3K7nElUdXQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeKsepEeig3K7nElUdXQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeK8epEeig3K7nElUdXQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_1-LeLMepEeig3K7nElUdXQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeLcepEeig3K7nElUdXQ" x="299" y="-5"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_F6B2wceqEeig3K7nElUdXQ" type="Note" fontName="Verdana" description="no warning expected" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_F6B2wseqEeig3K7nElUdXQ" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_F6B2w8eqEeig3K7nElUdXQ" type="Description">
            <element xsi:nil="true"/>
          </children>
          <styles xsi:type="notation:TextStyle" xmi:id="_F6B2xMeqEeig3K7nElUdXQ"/>
          <styles xsi:type="notation:LineTypeStyle" xmi:id="_F6B2xceqEeig3K7nElUdXQ"/>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_F6B2xseqEeig3K7nElUdXQ" x="428" y="28"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeLsepEeig3K7nElUdXQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1-LeL8epEeig3K7nElUdXQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1-LeMMepEeig3K7nElUdXQ" x="35" y="672" width="636" height="229"/>
    </children>
    <children xmi:id="_6NunsMepEeig3K7nElUdXQ" type="Region" element="_6Nun0MepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6NunscepEeig3K7nElUdXQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6NunssepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6Nuns8epEeig3K7nElUdXQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_6NuntMepEeig3K7nElUdXQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_6NuntcepEeig3K7nElUdXQ" type="State" element="_6Nun0cepEeig3K7nElUdXQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_6NuntsepEeig3K7nElUdXQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6Nunt8epEeig3K7nElUdXQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6NunuMepEeig3K7nElUdXQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6NunucepEeig3K7nElUdXQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6NunusepEeig3K7nElUdXQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6Nunu8epEeig3K7nElUdXQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6NunvMepEeig3K7nElUdXQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6NunvcepEeig3K7nElUdXQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6NunvsepEeig3K7nElUdXQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6Nunv8epEeig3K7nElUdXQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6NunwMepEeig3K7nElUdXQ" x="158" y="119" width="332" height="51"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_6NunwcepEeig3K7nElUdXQ" type="Choice" element="_6NvOwcepEeig3K7nElUdXQ" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6NunwsepEeig3K7nElUdXQ" x="291" y="48" width="32" height="32"/>
        </children>
        <children xmi:id="_6Nunw8epEeig3K7nElUdXQ" type="Entry" element="_6NvOx8epEeig3K7nElUdXQ">
          <children xmi:id="_6NunxMepEeig3K7nElUdXQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_6NunxcepEeig3K7nElUdXQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6NunxsepEeig3K7nElUdXQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_6Nunx8epEeig3K7nElUdXQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6NunyMepEeig3K7nElUdXQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6NunycepEeig3K7nElUdXQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6NunysepEeig3K7nElUdXQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_6Nuny8epEeig3K7nElUdXQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6NunzMepEeig3K7nElUdXQ" x="299" y="-5"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_GbmSwceqEeig3K7nElUdXQ" type="Note" fontName="Verdana" description="no warning expected" fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_GbmSwseqEeig3K7nElUdXQ" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_GbmSw8eqEeig3K7nElUdXQ" type="Description">
            <element xsi:nil="true"/>
          </children>
          <styles xsi:type="notation:TextStyle" xmi:id="_GbmSxMeqEeig3K7nElUdXQ"/>
          <styles xsi:type="notation:LineTypeStyle" xmi:id="_GbmSxceqEeig3K7nElUdXQ"/>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GbmSxseqEeig3K7nElUdXQ" x="428" y="28"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6NunzcepEeig3K7nElUdXQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_6NunzsepEeig3K7nElUdXQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6Nunz8epEeig3K7nElUdXQ" x="35" y="912" width="636" height="229"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KXS7ob2LEeiQPKhtb2DO6A" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_KXS7or2LEeiQPKhtb2DO6A"/>
    <edges xmi:id="_M0evwL2LEeiQPKhtb2DO6A" type="Transition" element="_M0dhpL2LEeiQPKhtb2DO6A" source="_M0XbE72LEeiQPKhtb2DO6A" target="_M0XbEb2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_M0evwb2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M0evwr2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M0evw72LEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M0evxL2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M0evxb2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M0evxr2LEeiQPKhtb2DO6A" points="[2, 2, -45, -45]$[48, 66, 1, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M0evx72LEeiQPKhtb2DO6A" id="(0.5333333333333333,0.13333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Oh6h8L2LEeiQPKhtb2DO6A" id="(0.9,0.8586956521739131)"/>
    </edges>
    <edges xmi:id="_M0fW0L2LEeiQPKhtb2DO6A" type="Transition" element="_M0bscb2LEeiQPKhtb2DO6A" source="_M0XbEb2LEeiQPKhtb2DO6A" target="_M0XbBb2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_M0fW0b2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M0fW0r2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M0fW072LEeiQPKhtb2DO6A" x="41" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M0fW1L2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M0fW1b2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M0fW1r2LEeiQPKhtb2DO6A" points="[-12, -31, -48, -117]$[-53, -31, -89, -117]$[-53, 62, -89, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M0fW172LEeiQPKhtb2DO6A" id="(0.26666666666666666,1.1521739130434783)"/>
    </edges>
    <edges xmi:id="_M0fW2L2LEeiQPKhtb2DO6A" type="Transition" element="_M0c6kb2LEeiQPKhtb2DO6A" source="_M0XbEb2LEeiQPKhtb2DO6A" target="_M0XbBb2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_M0fW2b2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M0fW2r2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M0fW272LEeiQPKhtb2DO6A"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M0fW3L2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M0fW3b2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M0fW3r2LEeiQPKhtb2DO6A" points="[-18, 7, -26, -93]$[-18, 76, -26, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Oh6h8b2LEeiQPKhtb2DO6A" id="(0.9,0.8586956521739131)"/>
    </edges>
    <edges xmi:id="_M0f94L2LEeiQPKhtb2DO6A" type="Transition" element="_M0c6kr2LEeiQPKhtb2DO6A" source="_M0XbEb2LEeiQPKhtb2DO6A" target="_M0XbBb2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_M0f94b2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M0f94r2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M0f9472LEeiQPKhtb2DO6A" x="1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M0f95L2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M0f95b2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M0f95r2LEeiQPKhtb2DO6A" points="[-18, -32, -15, -98]$[2, -32, 5, -98]$[2, 61, 5, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M0f9572LEeiQPKhtb2DO6A" id="(1.3777777777777778,1.173913043478261)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M0f96L2LEeiQPKhtb2DO6A" id="(0.5331325301204819,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_M0f96b2LEeiQPKhtb2DO6A" type="Transition" element="_M0dhob2LEeiQPKhtb2DO6A" source="_M0XbEb2LEeiQPKhtb2DO6A" target="_M0XbBb2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_M0f96r2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M0f9672LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M0f97L2LEeiQPKhtb2DO6A" x="-8" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M0f97b2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M0f97r2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M0f9772LEeiQPKhtb2DO6A" points="[-16, -1, -145, -107]$[125, -1, -4, -107]$[125, 104, -4, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M0f98L2LEeiQPKhtb2DO6A" id="(1.0666666666666667,0.2391304347826087)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M0f98b2LEeiQPKhtb2DO6A" id="(0.8945783132530121,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_Uj4RgMepEeig3K7nElUdXQ" type="Transition" element="_Uj3qcsepEeig3K7nElUdXQ" source="_Uj0AEsepEeig3K7nElUdXQ" target="_Uj0AEMepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Uj4RgcepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Uj4RgsepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Uj4Rg8epEeig3K7nElUdXQ" x="9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Uj4RhMepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Uj4RhcepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Uj4RhsepEeig3K7nElUdXQ" points="[-1, 12, -25, -78]$[-1, 52, -25, -38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Uj4Rh8epEeig3K7nElUdXQ" id="(0.5333333333333333,0.13333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Uj4RiMepEeig3K7nElUdXQ" id="(1.265625,1.234375)"/>
    </edges>
    <edges xmi:id="_Uj44kMepEeig3K7nElUdXQ" type="Transition" element="_Uj11QcepEeig3K7nElUdXQ" source="_Uj0AEMepEeig3K7nElUdXQ" target="_Ujyx8MepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Uj44kcepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Uj44ksepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Uj44k8epEeig3K7nElUdXQ" x="43" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Uj44lMepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Uj44lcepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Uj44lsepEeig3K7nElUdXQ" points="[-11, -38, -47, -124]$[-53, -38, -89, -124]$[-53, 62, -89, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Uj44l8epEeig3K7nElUdXQ" id="(0.375,1.65625)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_maOA8MepEeig3K7nElUdXQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_Uj44mMepEeig3K7nElUdXQ" type="Transition" element="_Uj11Q8epEeig3K7nElUdXQ" source="_Uj0AEMepEeig3K7nElUdXQ" target="_Ujyx8MepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Uj44mcepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Uj44msepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Uj44m8epEeig3K7nElUdXQ" x="36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Uj44nMepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Uj44ncepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Uj44nsepEeig3K7nElUdXQ" points="[-9, -24, -17, -124]$[51, -24, 43, -124]$[51, 76, 43, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Uj44n8epEeig3K7nElUdXQ" id="(1.265625,1.234375)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_maOA8cepEeig3K7nElUdXQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_1-NTQMepEeig3K7nElUdXQ" type="Transition" element="_1-MsOMepEeig3K7nElUdXQ" source="_1-LeJMepEeig3K7nElUdXQ" target="_1-LeIsepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1-NTQcepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1-NTQsepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1-NTQ8epEeig3K7nElUdXQ" x="9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1-NTRMepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1-NTRcepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1-NTRsepEeig3K7nElUdXQ" points="[-1, 12, -25, -78]$[-1, 52, -25, -38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1-NTR8epEeig3K7nElUdXQ" id="(0.5333333333333333,0.13333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1-NTSMepEeig3K7nElUdXQ" id="(1.265625,1.234375)"/>
    </edges>
    <edges xmi:id="_1-NTScepEeig3K7nElUdXQ" type="Transition" element="_1-MsMsepEeig3K7nElUdXQ" source="_1-LeIsepEeig3K7nElUdXQ" target="_1-LeFsepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1-NTSsepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1-NTS8epEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1-NTTMepEeig3K7nElUdXQ" x="43" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1-NTTcepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1-NTTsepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1-NTT8epEeig3K7nElUdXQ" points="[-11, -38, -47, -124]$[-53, -38, -89, -124]$[-53, 62, -89, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1-NTUMepEeig3K7nElUdXQ" id="(0.375,1.65625)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1-NTUcepEeig3K7nElUdXQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_1-NTUsepEeig3K7nElUdXQ" type="Transition" element="_1-MsNsepEeig3K7nElUdXQ" source="_1-LeIsepEeig3K7nElUdXQ" target="_1-LeFsepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1-NTU8epEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1-NTVMepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1-NTVcepEeig3K7nElUdXQ" x="30" y="-24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1-NTVsepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1-NTV8epEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1-NTWMepEeig3K7nElUdXQ" points="[-9, -24, -17, -124]$[51, -24, 43, -124]$[51, 76, 43, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1-NTWcepEeig3K7nElUdXQ" id="(1.265625,1.234375)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1-NTWsepEeig3K7nElUdXQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_6Nv10MepEeig3K7nElUdXQ" type="Transition" element="_6NvOyMepEeig3K7nElUdXQ" source="_6Nunw8epEeig3K7nElUdXQ" target="_6NunwcepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6Nv10cepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6Nv10sepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6Nv108epEeig3K7nElUdXQ" x="9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6Nv11MepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6Nv11cepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6Nv11sepEeig3K7nElUdXQ" points="[-1, 12, -25, -78]$[-1, 52, -25, -38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Nv118epEeig3K7nElUdXQ" id="(0.5333333333333333,0.13333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Nv12MepEeig3K7nElUdXQ" id="(1.265625,1.234375)"/>
    </edges>
    <edges xmi:id="_6Nv12cepEeig3K7nElUdXQ" type="Transition" element="_6NvOwsepEeig3K7nElUdXQ" source="_6NunwcepEeig3K7nElUdXQ" target="_6NuntcepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6Nv12sepEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6Nv128epEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6Nv13MepEeig3K7nElUdXQ" x="43" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6Nv13cepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6Nv13sepEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6Nv138epEeig3K7nElUdXQ" points="[-11, -38, -47, -124]$[-53, -38, -89, -124]$[-53, 62, -89, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Nv14MepEeig3K7nElUdXQ" id="(0.375,1.65625)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Nv14cepEeig3K7nElUdXQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_6Nv14sepEeig3K7nElUdXQ" type="Transition" element="_6NvOxsepEeig3K7nElUdXQ" source="_6NunwcepEeig3K7nElUdXQ" target="_6NuntcepEeig3K7nElUdXQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6Nv148epEeig3K7nElUdXQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6Nv15MepEeig3K7nElUdXQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6Nv15cepEeig3K7nElUdXQ" x="30" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6Nv15sepEeig3K7nElUdXQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6Nv158epEeig3K7nElUdXQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6Nv16MepEeig3K7nElUdXQ" points="[-9, -24, -17, -124]$[51, -24, 43, -124]$[51, 76, 43, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Nv16cepEeig3K7nElUdXQ" id="(1.265625,1.234375)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6Nv16sepEeig3K7nElUdXQ" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
