<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_uNlRMGPkEeORN_IpOQXaDw" name="RegionCantBeEnteredUsingShallowHistory">
    <regions xmi:id="_uNmfUmPkEeORN_IpOQXaDw" name="r">
      <vertices xsi:type="sgraph:Entry" xmi:id="_uNntcWPkEeORN_IpOQXaDw" kind="SHALLOW_HISTORY">
        <outgoingTransitions xmi:id="_k99cUCeqEeSj8ILaZrcCtg" specification="" target="_z5QakGPkEeORN_IpOQXaDw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_uNoUhGPkEeORN_IpOQXaDw" name="A">
        <outgoingTransitions xmi:id="_0icv0CeoEeSj8ILaZrcCtg" specification="[false]" target="_tDdOsCeoEeSj8ILaZrcCtg"/>
        <regions xmi:id="_x78ZUGPkEeORN_IpOQXaDw" name="r_a">
          <vertices xsi:type="sgraph:State" xmi:id="_z5QakGPkEeORN_IpOQXaDw" name="B" incomingTransitions="_k99cUCeqEeSj8ILaZrcCtg"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_tDdOsCeoEeSj8ILaZrcCtg" name="C" incomingTransitions="_0icv0CeoEeSj8ILaZrcCtg">
        <outgoingTransitions xmi:id="_ZQWbICepEeSj8ILaZrcCtg" specification="always" target="_WUjYYCepEeSj8ILaZrcCtg"/>
        <regions xmi:id="_u5T9ECeoEeSj8ILaZrcCtg" name="r_c">
          <vertices xsi:type="sgraph:Entry" xmi:id="_xOu8UCeoEeSj8ILaZrcCtg" name="" kind="SHALLOW_HISTORY"/>
          <vertices xsi:type="sgraph:State" xmi:id="_xuI1ICeoEeSj8ILaZrcCtg" name="CA" incomingTransitions="_BVPF0CepEeSj8ILaZrcCtg">
            <outgoingTransitions xmi:id="_A6pbkCepEeSj8ILaZrcCtg" specification="always" target="__pcSYCeoEeSj8ILaZrcCtg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="__pcSYCeoEeSj8ILaZrcCtg" name="CB" incomingTransitions="_A6pbkCepEeSj8ILaZrcCtg">
            <outgoingTransitions xmi:id="_BVPF0CepEeSj8ILaZrcCtg" specification="always" target="_xuI1ICeoEeSj8ILaZrcCtg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_WUjYYCepEeSj8ILaZrcCtg" name="D" incomingTransitions="_ZQWbICepEeSj8ILaZrcCtg">
        <outgoingTransitions xmi:id="_H9J_kCeqEeSj8ILaZrcCtg" specification="always" target="_30kLYCepEeSj8ILaZrcCtg"/>
        <regions xmi:id="_WUjYYSepEeSj8ILaZrcCtg" name="r_d">
          <vertices xsi:type="sgraph:Entry" xmi:id="_WUjYYiepEeSj8ILaZrcCtg" name="">
            <outgoingTransitions xmi:id="_jR-4ICepEeSj8ILaZrcCtg" specification="" target="_WUjYYyepEeSj8ILaZrcCtg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WUjYYyepEeSj8ILaZrcCtg" name="DA" incomingTransitions="_WUjYZiepEeSj8ILaZrcCtg _jR-4ICepEeSj8ILaZrcCtg">
            <outgoingTransitions xmi:id="_WUjYZCepEeSj8ILaZrcCtg" specification="default" target="_WUjYZSepEeSj8ILaZrcCtg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WUjYZSepEeSj8ILaZrcCtg" name="DB" incomingTransitions="_WUjYZCepEeSj8ILaZrcCtg">
            <outgoingTransitions xmi:id="_WUjYZiepEeSj8ILaZrcCtg" specification="default" target="_WUjYYyepEeSj8ILaZrcCtg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_30kLYCepEeSj8ILaZrcCtg" name="E" incomingTransitions="_H9J_kCeqEeSj8ILaZrcCtg">
        <regions xmi:id="_30kLYSepEeSj8ILaZrcCtg" name="r_e">
          <vertices xsi:type="sgraph:Entry" xmi:id="_30kLYiepEeSj8ILaZrcCtg" name="">
            <outgoingTransitions xmi:id="_30kLYyepEeSj8ILaZrcCtg" specification="" target="_Y-2mACeqEeSj8ILaZrcCtg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_30kLZCepEeSj8ILaZrcCtg" name="EA">
            <outgoingTransitions xmi:id="_30kLZSepEeSj8ILaZrcCtg" specification="always" target="_30kLZiepEeSj8ILaZrcCtg"/>
            <regions xmi:id="_MqVgYCeqEeSj8ILaZrcCtg" name="r_ea">
              <vertices xsi:type="sgraph:State" xmi:id="_Y-2mACeqEeSj8ILaZrcCtg" name="EAA" incomingTransitions="_30kLYyepEeSj8ILaZrcCtg"/>
            </regions>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_30kLZiepEeSj8ILaZrcCtg" name="EB" incomingTransitions="_30kLZSepEeSj8ILaZrcCtg"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_uNmfUGPkEeORN_IpOQXaDw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_uNlRMGPkEeORN_IpOQXaDw" measurementUnit="Pixel">
    <children xmi:id="_uNmfU2PkEeORN_IpOQXaDw" type="Region" element="_uNmfUmPkEeORN_IpOQXaDw">
      <children xsi:type="notation:DecorationNode" xmi:id="_uNnGYGPkEeORN_IpOQXaDw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uNnGYWPkEeORN_IpOQXaDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uNnGYmPkEeORN_IpOQXaDw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_uNnGY2PkEeORN_IpOQXaDw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_uNntcmPkEeORN_IpOQXaDw" type="Entry" element="_uNntcWPkEeORN_IpOQXaDw">
          <children xmi:id="_uNntdWPkEeORN_IpOQXaDw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_uNoUgGPkEeORN_IpOQXaDw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_uNoUgWPkEeORN_IpOQXaDw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_uNoUgmPkEeORN_IpOQXaDw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_uNntdmPkEeORN_IpOQXaDw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNntd2PkEeORN_IpOQXaDw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_uNntc2PkEeORN_IpOQXaDw" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNoUg2PkEeORN_IpOQXaDw" x="97" y="5" width="15" height="15"/>
        </children>
        <children xmi:id="_uNoUhmPkEeORN_IpOQXaDw" type="State" element="_uNoUhGPkEeORN_IpOQXaDw">
          <children xsi:type="notation:DecorationNode" xmi:id="_uNo7kGPkEeORN_IpOQXaDw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_uNo7kWPkEeORN_IpOQXaDw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_uNo7kmPkEeORN_IpOQXaDw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_uNo7k2PkEeORN_IpOQXaDw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_uNo7lGPkEeORN_IpOQXaDw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNo7lWPkEeORN_IpOQXaDw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_uNpioGPkEeORN_IpOQXaDw" type="StateFigureCompartment">
            <children xmi:id="_x79AYGPkEeORN_IpOQXaDw" type="Region" element="_x78ZUGPkEeORN_IpOQXaDw">
              <children xsi:type="notation:DecorationNode" xmi:id="_x79ncGPkEeORN_IpOQXaDw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_x79ncWPkEeORN_IpOQXaDw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_x79ncmPkEeORN_IpOQXaDw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_x79nc2PkEeORN_IpOQXaDw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_z5SPwGPkEeORN_IpOQXaDw" type="State" element="_z5QakGPkEeORN_IpOQXaDw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_z5S20GPkEeORN_IpOQXaDw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_z5S20WPkEeORN_IpOQXaDw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_z5S20mPkEeORN_IpOQXaDw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_z5S202PkEeORN_IpOQXaDw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_z5S21GPkEeORN_IpOQXaDw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z5S21WPkEeORN_IpOQXaDw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_z5UE8GPkEeORN_IpOQXaDw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_z5SPwWPkEeORN_IpOQXaDw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_z5SPwmPkEeORN_IpOQXaDw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_z5UE8WPkEeORN_IpOQXaDw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z5SPw2PkEeORN_IpOQXaDw" x="64" y="11"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_8lBQ0GPkEeORN_IpOQXaDw" type="Note" fontName="Verdana" description="but we need an initial entry here ..." fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_8lB34GPkEeORN_IpOQXaDw" type="DiagramName">
                    <element xsi:nil="true"/>
                  </children>
                  <children xsi:type="notation:BasicDecorationNode" xmi:id="_8lB34WPkEeORN_IpOQXaDw" type="Description">
                    <element xsi:nil="true"/>
                  </children>
                  <styles xsi:type="notation:TextStyle" xmi:id="_8lBQ0WPkEeORN_IpOQXaDw"/>
                  <styles xsi:type="notation:LineTypeStyle" xmi:id="_8lBQ0mPkEeORN_IpOQXaDw"/>
                  <element xsi:nil="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8lBQ02PkEeORN_IpOQXaDw" x="8" y="75" height="27"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x79ndGPkEeORN_IpOQXaDw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_x79AYWPkEeORN_IpOQXaDw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x79AYmPkEeORN_IpOQXaDw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_uNoUh2PkEeORN_IpOQXaDw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_uNoUiGPkEeORN_IpOQXaDw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_uNpioWPkEeORN_IpOQXaDw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNpiomPkEeORN_IpOQXaDw" x="40" y="84" width="225" height="187"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_3c78sGPkEeORN_IpOQXaDw" type="Note" fontName="Verdana" description="Tthis kind of entry is allowed .." fillColor="13369343" transparency="0" lineColor="6737151" lineWidth="1">
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_3c8jwGPkEeORN_IpOQXaDw" type="DiagramName">
            <element xsi:nil="true"/>
          </children>
          <children xsi:type="notation:BasicDecorationNode" xmi:id="_3c9K0GPkEeORN_IpOQXaDw" type="Description">
            <element xsi:nil="true"/>
          </children>
          <styles xsi:type="notation:TextStyle" xmi:id="_3c78sWPkEeORN_IpOQXaDw"/>
          <styles xsi:type="notation:LineTypeStyle" xmi:id="_3c78smPkEeORN_IpOQXaDw"/>
          <element xsi:nil="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3c78s2PkEeORN_IpOQXaDw" x="121" width="158" height="26"/>
        </children>
        <children xmi:id="_tDfD4CeoEeSj8ILaZrcCtg" type="State" element="_tDdOsCeoEeSj8ILaZrcCtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_tDfq8CeoEeSj8ILaZrcCtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tDfq8SeoEeSj8ILaZrcCtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tDfq8ieoEeSj8ILaZrcCtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tDfq8yeoEeSj8ILaZrcCtg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_tDgSACeoEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tDgSASeoEeSj8ILaZrcCtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tDgSAieoEeSj8ILaZrcCtg" type="StateFigureCompartment">
            <children xmi:id="_u5VLMCeoEeSj8ILaZrcCtg" type="Region" element="_u5T9ECeoEeSj8ILaZrcCtg">
              <children xsi:type="notation:DecorationNode" xmi:id="_u5VyQCeoEeSj8ILaZrcCtg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_u5VyQSeoEeSj8ILaZrcCtg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_u5VyQieoEeSj8ILaZrcCtg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_u5VyQyeoEeSj8ILaZrcCtg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_xOwxgCeoEeSj8ILaZrcCtg" type="ShallowHistory" element="_xOu8UCeoEeSj8ILaZrcCtg">
                  <children xmi:id="_xOxYkCeoEeSj8ILaZrcCtg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_xOx_oCeoEeSj8ILaZrcCtg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_xOx_oSeoEeSj8ILaZrcCtg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_xOymsCeoEeSj8ILaZrcCtg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xOxYkSeoEeSj8ILaZrcCtg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xOxYkieoEeSj8ILaZrcCtg" x="19" y="1"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xOwxgSeoEeSj8ILaZrcCtg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xOwxgieoEeSj8ILaZrcCtg" x="23" y="-5"/>
                </children>
                <children xmi:id="_xuKDQCeoEeSj8ILaZrcCtg" type="State" element="_xuI1ICeoEeSj8ILaZrcCtg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_xuKqUCeoEeSj8ILaZrcCtg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_xuKqUSeoEeSj8ILaZrcCtg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_xuKqUieoEeSj8ILaZrcCtg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xuKqUyeoEeSj8ILaZrcCtg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_xuKqVCeoEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xuKqVSeoEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_xuLRYCeoEeSj8ILaZrcCtg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_xuKDQSeoEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_xuKDQieoEeSj8ILaZrcCtg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xuLRYSeoEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xuKDQyeoEeSj8ILaZrcCtg" x="13" y="34" width="40"/>
                </children>
                <children xmi:id="__peHkCeoEeSj8ILaZrcCtg" type="State" element="__pcSYCeoEeSj8ILaZrcCtg">
                  <children xsi:type="notation:DecorationNode" xmi:id="__peuoCeoEeSj8ILaZrcCtg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__peuoSeoEeSj8ILaZrcCtg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="__peuoieoEeSj8ILaZrcCtg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__pfVsCeoEeSj8ILaZrcCtg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="__pf8wCeoEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__pf8wSeoEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="__pf8wieoEeSj8ILaZrcCtg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__peHkSeoEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="__peHkieoEeSj8ILaZrcCtg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="__pgj0CeoEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__peHkyeoEeSj8ILaZrcCtg" x="113" y="34"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u5VyRCeoEeSj8ILaZrcCtg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_u5VLMSeoEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u5VLMieoEeSj8ILaZrcCtg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tDfD4SeoEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tDfD4ieoEeSj8ILaZrcCtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tDg5ECeoEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tDfD4yeoEeSj8ILaZrcCtg" x="390" y="92" width="200" height="183"/>
        </children>
        <children xmi:id="_WUiKQCepEeSj8ILaZrcCtg" type="State" element="_WUjYYCepEeSj8ILaZrcCtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_WUiKQSepEeSj8ILaZrcCtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKQiepEeSj8ILaZrcCtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WUiKQyepEeSj8ILaZrcCtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WUiKRCepEeSj8ILaZrcCtg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_WUiKRSepEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKRiepEeSj8ILaZrcCtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WUiKRyepEeSj8ILaZrcCtg" type="StateFigureCompartment">
            <children xmi:id="_WUiKSCepEeSj8ILaZrcCtg" type="Region" element="_WUjYYSepEeSj8ILaZrcCtg">
              <children xsi:type="notation:DecorationNode" xmi:id="_WUiKSSepEeSj8ILaZrcCtg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKSiepEeSj8ILaZrcCtg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_WUiKSyepEeSj8ILaZrcCtg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_WUiKTCepEeSj8ILaZrcCtg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_WUiKTSepEeSj8ILaZrcCtg" type="ShallowHistory" element="_WUjYYiepEeSj8ILaZrcCtg">
                  <children xmi:id="_WUiKTiepEeSj8ILaZrcCtg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_WUiKTyepEeSj8ILaZrcCtg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKUCepEeSj8ILaZrcCtg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_WUiKUSepEeSj8ILaZrcCtg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKUiepEeSj8ILaZrcCtg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKUyepEeSj8ILaZrcCtg" x="19" y="1"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKVCepEeSj8ILaZrcCtg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKVSepEeSj8ILaZrcCtg" x="23" y="-7"/>
                </children>
                <children xmi:id="_WUiKViepEeSj8ILaZrcCtg" type="State" element="_WUjYYyepEeSj8ILaZrcCtg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WUiKVyepEeSj8ILaZrcCtg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKWCepEeSj8ILaZrcCtg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WUiKWSepEeSj8ILaZrcCtg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WUiKWiepEeSj8ILaZrcCtg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WUiKWyepEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKXCepEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WUiKXSepEeSj8ILaZrcCtg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKXiepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WUiKXyepEeSj8ILaZrcCtg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WUiKYCepEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKYSepEeSj8ILaZrcCtg" x="13" y="34" width="40"/>
                </children>
                <children xmi:id="_WUiKYiepEeSj8ILaZrcCtg" type="State" element="_WUjYZSepEeSj8ILaZrcCtg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WUiKYyepEeSj8ILaZrcCtg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKZCepEeSj8ILaZrcCtg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WUiKZSepEeSj8ILaZrcCtg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WUiKZiepEeSj8ILaZrcCtg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WUiKZyepEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKaCepEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WUiKaSepEeSj8ILaZrcCtg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WUiKaiepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WUiKayepEeSj8ILaZrcCtg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WUiKbCepEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKbSepEeSj8ILaZrcCtg" x="113" y="34"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUiKbiepEeSj8ILaZrcCtg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_WUixUCepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUixUSepEeSj8ILaZrcCtg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WUixUiepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WUixUyepEeSj8ILaZrcCtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WUixVCepEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WUixVSepEeSj8ILaZrcCtg" x="390" y="325" width="200" height="183"/>
        </children>
        <children xmi:id="_30i9QSepEeSj8ILaZrcCtg" type="State" element="_30kLYCepEeSj8ILaZrcCtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_30i9QiepEeSj8ILaZrcCtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9QyepEeSj8ILaZrcCtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_30i9RCepEeSj8ILaZrcCtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_30i9RSepEeSj8ILaZrcCtg" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_30i9RiepEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9RyepEeSj8ILaZrcCtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_30i9SCepEeSj8ILaZrcCtg" type="StateFigureCompartment">
            <children xmi:id="_30i9SSepEeSj8ILaZrcCtg" type="Region" element="_30kLYSepEeSj8ILaZrcCtg">
              <children xsi:type="notation:DecorationNode" xmi:id="_30i9SiepEeSj8ILaZrcCtg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9SyepEeSj8ILaZrcCtg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_30i9TCepEeSj8ILaZrcCtg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_30i9TSepEeSj8ILaZrcCtg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_30i9TiepEeSj8ILaZrcCtg" type="ShallowHistory" element="_30kLYiepEeSj8ILaZrcCtg">
                  <children xmi:id="_30i9TyepEeSj8ILaZrcCtg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_30i9UCepEeSj8ILaZrcCtg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9USepEeSj8ILaZrcCtg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_30i9UiepEeSj8ILaZrcCtg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9UyepEeSj8ILaZrcCtg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9VCepEeSj8ILaZrcCtg" x="19" y="1"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9VSepEeSj8ILaZrcCtg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9ViepEeSj8ILaZrcCtg" x="50" width="15" height="15"/>
                </children>
                <children xmi:id="_30i9VyepEeSj8ILaZrcCtg" type="State" element="_30kLZCepEeSj8ILaZrcCtg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_30i9WCepEeSj8ILaZrcCtg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9WSepEeSj8ILaZrcCtg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_30i9WiepEeSj8ILaZrcCtg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_30i9WyepEeSj8ILaZrcCtg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_30i9XCepEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9XSepEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_30i9XiepEeSj8ILaZrcCtg" type="StateFigureCompartment">
                    <children xmi:id="_MqZKwCeqEeSj8ILaZrcCtg" type="Region" element="_MqVgYCeqEeSj8ILaZrcCtg">
                      <children xsi:type="notation:DecorationNode" xmi:id="_MqZx0CeqEeSj8ILaZrcCtg" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_MqZx0SeqEeSj8ILaZrcCtg"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_MqaY4CeqEeSj8ILaZrcCtg"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_MqaY4SeqEeSj8ILaZrcCtg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_Y-3NECeqEeSj8ILaZrcCtg" type="State" element="_Y-2mACeqEeSj8ILaZrcCtg">
                          <children xsi:type="notation:DecorationNode" xmi:id="_Y-30ICeqEeSj8ILaZrcCtg" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-30ISeqEeSj8ILaZrcCtg"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_Y-30IieqEeSj8ILaZrcCtg"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_Y-30IyeqEeSj8ILaZrcCtg" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_Y-30JCeqEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-30JSeqEeSj8ILaZrcCtg"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_Y-30JieqEeSj8ILaZrcCtg" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-3NESeqEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_Y-3NEieqEeSj8ILaZrcCtg"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Y-30JyeqEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-3NEyeqEeSj8ILaZrcCtg" x="6" y="6"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MqaY4ieqEeSj8ILaZrcCtg"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_MqZKwSeqEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MqZKwieqEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9XyepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_30i9YCepEeSj8ILaZrcCtg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_30i9YSepEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9YiepEeSj8ILaZrcCtg" x="13" y="56" width="94" height="135"/>
                </children>
                <children xmi:id="_30i9YyepEeSj8ILaZrcCtg" type="State" element="_30kLZiepEeSj8ILaZrcCtg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_30i9ZCepEeSj8ILaZrcCtg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9ZSepEeSj8ILaZrcCtg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_30i9ZiepEeSj8ILaZrcCtg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_30i9ZyepEeSj8ILaZrcCtg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_30i9aCepEeSj8ILaZrcCtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9aSepEeSj8ILaZrcCtg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_30i9aiepEeSj8ILaZrcCtg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9ayepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_30i9bCepEeSj8ILaZrcCtg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_30i9bSepEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9biepEeSj8ILaZrcCtg" x="184" y="56" width="40" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9byepEeSj8ILaZrcCtg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9cCepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9cSepEeSj8ILaZrcCtg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_30i9ciepEeSj8ILaZrcCtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_30i9cyepEeSj8ILaZrcCtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_30i9dCepEeSj8ILaZrcCtg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_30i9dSepEeSj8ILaZrcCtg" x="52" y="317" width="266" height="271"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNnGZGPkEeORN_IpOQXaDw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_uNmfVGPkEeORN_IpOQXaDw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNntcGPkEeORN_IpOQXaDw" x="228" y="10" width="612" height="636"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_uNqJtmPkEeORN_IpOQXaDw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_uNqwwGPkEeORN_IpOQXaDw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uNqwwWPkEeORN_IpOQXaDw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uNqwwmPkEeORN_IpOQXaDw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_uNqww2PkEeORN_IpOQXaDw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNqwxGPkEeORN_IpOQXaDw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_uNqwxWPkEeORN_IpOQXaDw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_uNmfUWPkEeORN_IpOQXaDw"/>
    <edges xmi:id="_0ielACeoEeSj8ILaZrcCtg" type="Transition" element="_0icv0CeoEeSj8ILaZrcCtg" source="_uNoUhmPkEeORN_IpOQXaDw" target="_tDfD4CeoEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_0ifMESeoEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0ifMEieoEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0ifMEyeoEeSj8ILaZrcCtg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0ielASeoEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0ifMECeoEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0ielAieoEeSj8ILaZrcCtg" points="[6, 1, -63, 1]$[70, -21, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0ihoUCeoEeSj8ILaZrcCtg" id="(0.9733333333333334,0.13903743315508021)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0ihoUSeoEeSj8ILaZrcCtg" id="(0.045,0.12021857923497267)"/>
    </edges>
    <edges xmi:id="_A6rQwCepEeSj8ILaZrcCtg" type="Transition" element="_A6pbkCepEeSj8ILaZrcCtg" source="_xuKDQCeoEeSj8ILaZrcCtg" target="__peHkCeoEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_A6r30SepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_A6se4CepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_A6se4SepEeSj8ILaZrcCtg" x="-1" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_A6rQwSepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_A6r30CepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_A6rQwiepEeSj8ILaZrcCtg" points="[11, 3, -72, -8]$[80, -13, -3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_A6u7ICepEeSj8ILaZrcCtg" id="(0.8225806451612904,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_BVRiECepEeSj8ILaZrcCtg" type="Transition" element="_BVPF0CepEeSj8ILaZrcCtg" source="__peHkCeoEeSj8ILaZrcCtg" target="_xuKDQCeoEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_BVSJICepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BVSJISepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BVSJIiepEeSj8ILaZrcCtg" x="2" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BVRiESepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BVRiEyepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BVRiEiepEeSj8ILaZrcCtg" points="[-2, 7, 79, 4]$[-78, 13, 3, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BVUlYCepEeSj8ILaZrcCtg" id="(0.075,0.7358490566037735)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BVUlYSepEeSj8ILaZrcCtg" id="(0.5806451612903226,0.7924528301886793)"/>
    </edges>
    <edges xmi:id="_WUj_cSepEeSj8ILaZrcCtg" type="Transition" element="_WUjYZCepEeSj8ILaZrcCtg" source="_WUiKViepEeSj8ILaZrcCtg" target="_WUiKYiepEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WUj_ciepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WUj_cyepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WUj_dCepEeSj8ILaZrcCtg" x="-1" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WUj_dSepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WUj_diepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WUj_dyepEeSj8ILaZrcCtg" points="[11, 3, -72, -8]$[80, -13, -3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WUj_eCepEeSj8ILaZrcCtg" id="(0.8225806451612904,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_WUkmgCepEeSj8ILaZrcCtg" type="Transition" element="_WUjYZiepEeSj8ILaZrcCtg" source="_WUiKYiepEeSj8ILaZrcCtg" target="_WUiKViepEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WUkmgSepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WUkmgiepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WUkmgyepEeSj8ILaZrcCtg" x="2" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WUkmhCepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WUkmhSepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WUkmhiepEeSj8ILaZrcCtg" points="[-2, 7, 79, 4]$[-78, 13, 3, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WUkmhyepEeSj8ILaZrcCtg" id="(0.075,0.7358490566037735)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WUkmiCepEeSj8ILaZrcCtg" id="(0.5806451612903226,0.7924528301886793)"/>
    </edges>
    <edges xmi:id="_ZQXpQCepEeSj8ILaZrcCtg" type="Transition" element="_ZQWbICepEeSj8ILaZrcCtg" source="_tDfD4CeoEeSj8ILaZrcCtg" target="_WUiKQCepEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZQYQUCepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZQYQUSepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZQYQUiepEeSj8ILaZrcCtg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZQXpQSepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZQXpQyepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZQXpQiepEeSj8ILaZrcCtg" points="[1, 9, 3, -59]$[1, 64, 3, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZQaFgCepEeSj8ILaZrcCtg" id="(0.485,0.9508196721311475)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZQaFgSepEeSj8ILaZrcCtg" id="(0.475,0.0273224043715847)"/>
    </edges>
    <edges xmi:id="_jSDJkCepEeSj8ILaZrcCtg" type="Transition" element="_jR-4ICepEeSj8ILaZrcCtg" source="_WUiKTSepEeSj8ILaZrcCtg" target="_WUiKViepEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jSDwoSepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jSDwoiepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jSDwoyepEeSj8ILaZrcCtg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jSDJkSepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jSDwoCepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jSDJkiepEeSj8ILaZrcCtg" points="[0, 7, 0, -51]$[1, 34, 1, -24]"/>
    </edges>
    <edges xmi:id="_30kycCepEeSj8ILaZrcCtg" type="Transition" element="_30kLZSepEeSj8ILaZrcCtg" source="_30i9VyepEeSj8ILaZrcCtg" target="_30i9YyepEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_30kycSepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_30kyciepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_30kycyepEeSj8ILaZrcCtg" x="2" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_30kydCepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_30kydSepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_30kydiepEeSj8ILaZrcCtg" points="[11, 3, -72, -8]$[80, -13, -3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_30kydyepEeSj8ILaZrcCtg" id="(0.8225806451612904,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_30kygSepEeSj8ILaZrcCtg" type="Transition" element="_30kLYyepEeSj8ILaZrcCtg" source="_30i9TiepEeSj8ILaZrcCtg" target="_Y-3NECeqEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_30kygiepEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_30kygyepEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_30kyhCepEeSj8ILaZrcCtg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_30kyhSepEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_30kyhiepEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_30kyhyepEeSj8ILaZrcCtg" points="[0, 7, 0, -51]$[1, 34, 1, -24]"/>
    </edges>
    <edges xmi:id="_H9Mb0CeqEeSj8ILaZrcCtg" type="Transition" element="_H9J_kCeqEeSj8ILaZrcCtg" source="_WUiKQCepEeSj8ILaZrcCtg" target="_30i9QSepEeSj8ILaZrcCtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_H9Mb1CeqEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_H9Mb1SeqEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_H9Mb1ieqEeSj8ILaZrcCtg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_H9Mb0SeqEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_H9Mb0yeqEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_H9Mb0ieqEeSj8ILaZrcCtg" points="[-8, -2, 84, 1]$[-87, -26, 5, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H9ORACeqEeSj8ILaZrcCtg" id="(0.045,0.10382513661202186)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H9ORASeqEeSj8ILaZrcCtg" id="(0.92,0.13114754098360656)"/>
    </edges>
    <edges xmi:id="_k9-qcCeqEeSj8ILaZrcCtg" type="Transition" element="_k99cUCeqEeSj8ILaZrcCtg" source="_uNntcmPkEeORN_IpOQXaDw" target="_z5SPwGPkEeORN_IpOQXaDw">
      <children xsi:type="notation:DecorationNode" xmi:id="_k9-qdCeqEeSj8ILaZrcCtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_k9-qdSeqEeSj8ILaZrcCtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_k9-qdieqEeSj8ILaZrcCtg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_k9-qcSeqEeSj8ILaZrcCtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_k9-qcyeqEeSj8ILaZrcCtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_k9-qcieqEeSj8ILaZrcCtg" points="[0, 7, -3, -75]$[7, 68, 4, -14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_k-AfoCeqEeSj8ILaZrcCtg" id="(0.225,0.33962264150943394)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
