<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_DIlH4PZ4EeWYUs-59Co8bA" specification="interface:&#xA;" name="default">
    <regions xmi:id="_DJYZIPZ4EeWYUs-59Co8bA" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_DJ26QPZ4EeWYUs-59Co8bA" name="StateA" incomingTransitions="_d2xcAPcsEeW_G_kvoQD5Ug _ilk4APctEeW_G_kvoQD5Ug"/>
      <vertices xsi:type="sgraph:Entry" xmi:id="_dcxnoPcsEeW_G_kvoQD5Ug" name="Name">
        <outgoingTransitions xmi:id="_d2xcAPcsEeW_G_kvoQD5Ug" specification="" target="_DJ26QPZ4EeWYUs-59Co8bA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_iOplwPctEeW_G_kvoQD5Ug">
        <outgoingTransitions xmi:id="_ilk4APctEeW_G_kvoQD5Ug" specification="" target="_DJ26QPZ4EeWYUs-59Co8bA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_DJV84PZ4EeWYUs-59Co8bA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_DIlH4PZ4EeWYUs-59Co8bA" measurementUnit="Pixel">
    <children xmi:id="_DJefwPZ4EeWYUs-59Co8bA" type="Region" element="_DJYZIPZ4EeWYUs-59Co8bA">
      <children xsi:type="notation:DecorationNode" xmi:id="_DJqtAPZ4EeWYUs-59Co8bA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DJqtAfZ4EeWYUs-59Co8bA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DJqtAvZ4EeWYUs-59Co8bA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_DJr7IPZ4EeWYUs-59Co8bA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_DJ8Z0PZ4EeWYUs-59Co8bA" type="State" element="_DJ26QPZ4EeWYUs-59Co8bA">
          <children xsi:type="notation:DecorationNode" xmi:id="_DJ8Z1PZ4EeWYUs-59Co8bA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DJ8Z1fZ4EeWYUs-59Co8bA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_DJ8Z1vZ4EeWYUs-59Co8bA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DJ-PAPZ4EeWYUs-59Co8bA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_DJ-PAfZ4EeWYUs-59Co8bA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DJ-PAvZ4EeWYUs-59Co8bA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DJ-PA_Z4EeWYUs-59Co8bA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DJ8Z0fZ4EeWYUs-59Co8bA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_DJ8Z0vZ4EeWYUs-59Co8bA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DJ-2EPZ4EeWYUs-59Co8bA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DJ_dIPZ4EeWYUs-59Co8bA" x="52" y="138" width="59" height="53"/>
        </children>
        <children xmi:id="_dc3HMPcsEeW_G_kvoQD5Ug" type="Entry" element="_dcxnoPcsEeW_G_kvoQD5Ug">
          <children xmi:id="_dc3uQPcsEeW_G_kvoQD5Ug" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_dc4VUPcsEeW_G_kvoQD5Ug" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_dc4VUfcsEeW_G_kvoQD5Ug"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_dc4VUvcsEeW_G_kvoQD5Ug"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dc3uQfcsEeW_G_kvoQD5Ug" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dc3uQvcsEeW_G_kvoQD5Ug"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dc3HMfcsEeW_G_kvoQD5Ug" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_dc3HMvcsEeW_G_kvoQD5Ug" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dc3HM_csEeW_G_kvoQD5Ug" x="51" y="41"/>
        </children>
        <children xmi:id="_iOqM0PctEeW_G_kvoQD5Ug" type="Entry" element="_iOplwPctEeW_G_kvoQD5Ug">
          <children xmi:id="_iOqz4PctEeW_G_kvoQD5Ug" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_iOqz4_ctEeW_G_kvoQD5Ug" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_iOqz5PctEeW_G_kvoQD5Ug"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_iOqz5fctEeW_G_kvoQD5Ug"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iOqz4fctEeW_G_kvoQD5Ug" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iOqz4vctEeW_G_kvoQD5Ug"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iOqM0fctEeW_G_kvoQD5Ug" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_iOqM0vctEeW_G_kvoQD5Ug" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iOqM0_ctEeW_G_kvoQD5Ug" x="151" y="35"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DJr7IfZ4EeWYUs-59Co8bA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_DJefwfZ4EeWYUs-59Co8bA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DJsiMPZ4EeWYUs-59Co8bA" x="220" y="7" width="977" height="317"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_DKPUwPZ4EeWYUs-59Co8bA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_DKPUwvZ4EeWYUs-59Co8bA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DKPUw_Z4EeWYUs-59Co8bA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DKP70PZ4EeWYUs-59Co8bA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_DKP70fZ4EeWYUs-59Co8bA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DKP70vZ4EeWYUs-59Co8bA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DKP70_Z4EeWYUs-59Co8bA" x="10" y="10" width="201" height="311"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_DJV84fZ4EeWYUs-59Co8bA"/>
    <edges xmi:id="_d2zRMPcsEeW_G_kvoQD5Ug" type="Transition" element="_d2xcAPcsEeW_G_kvoQD5Ug" source="_dc3HMPcsEeW_G_kvoQD5Ug" target="_DJ8Z0PZ4EeWYUs-59Co8bA">
      <children xsi:type="notation:DecorationNode" xmi:id="_d2z4QfcsEeW_G_kvoQD5Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_d2z4QvcsEeW_G_kvoQD5Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_d20fUPcsEeW_G_kvoQD5Ug" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_d2zRMfcsEeW_G_kvoQD5Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_d2z4QPcsEeW_G_kvoQD5Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_d2zRMvcsEeW_G_kvoQD5Ug" points="[1, 7, -20, -107]$[28, 90, 7, -24]"/>
    </edges>
    <edges xmi:id="_ilmtMPctEeW_G_kvoQD5Ug" type="Transition" element="_ilk4APctEeW_G_kvoQD5Ug" source="_iOqM0PctEeW_G_kvoQD5Ug" target="_DJ8Z0PZ4EeWYUs-59Co8bA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ilnUQfctEeW_G_kvoQD5Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ilnUQvctEeW_G_kvoQD5Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iln7UPctEeW_G_kvoQD5Ug" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ilmtMfctEeW_G_kvoQD5Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ilnUQPctEeW_G_kvoQD5Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ilmtMvctEeW_G_kvoQD5Ug" points="[-4, 6, 75, -114]$[-85, 144, -6, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
