<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Zq3bwIZdEeevH5YHkHluHw" specification="interface:&#xA;// Define events and&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist." name="TopLevelRegionNoEntryPoint">
    <regions xmi:id="_Zq5Q8oZdEeevH5YHkHluHw" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_flanQIZgEeeHQ-C2g6HOaA" name="A" incomingTransitions="_i3PkYIZgEeeHQ-C2g6HOaA">
        <outgoingTransitions xmi:id="_gBzBQIZgEeeHQ-C2g6HOaA" specification="" target="_h7V80IZgEeeHQ-C2g6HOaA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_h7V80IZgEeeHQ-C2g6HOaA" name="B" incomingTransitions="_gBzBQIZgEeeHQ-C2g6HOaA">
        <outgoingTransitions xmi:id="_i3PkYIZgEeeHQ-C2g6HOaA" specification="" target="_flanQIZgEeeHQ-C2g6HOaA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Zq5Q8IZdEeevH5YHkHluHw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Zq3bwIZdEeevH5YHkHluHw" measurementUnit="Pixel">
    <children xmi:id="_Zq8UQIZdEeevH5YHkHluHw" type="Region" element="_Zq5Q8oZdEeevH5YHkHluHw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Zq_XkIZdEeevH5YHkHluHw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Zq_XkYZdEeevH5YHkHluHw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Zq_XkoZdEeevH5YHkHluHw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Zq_Xk4ZdEeevH5YHkHluHw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_fldDgIZgEeeHQ-C2g6HOaA" type="State" element="_flanQIZgEeeHQ-C2g6HOaA">
          <children xsi:type="notation:DecorationNode" xmi:id="_fldDhIZgEeeHQ-C2g6HOaA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fldDhYZgEeeHQ-C2g6HOaA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fldqkIZgEeeHQ-C2g6HOaA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fldqkYZgEeeHQ-C2g6HOaA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fldqkoZgEeeHQ-C2g6HOaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fldqk4ZgEeeHQ-C2g6HOaA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fldqlIZgEeeHQ-C2g6HOaA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fldDgYZgEeeHQ-C2g6HOaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fldDgoZgEeeHQ-C2g6HOaA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fldqlYZgEeeHQ-C2g6HOaA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fldDg4ZgEeeHQ-C2g6HOaA" x="75" y="111"/>
        </children>
        <children xmi:id="_h7XK8IZgEeeHQ-C2g6HOaA" type="State" element="_h7V80IZgEeeHQ-C2g6HOaA">
          <children xsi:type="notation:DecorationNode" xmi:id="_h7XyAIZgEeeHQ-C2g6HOaA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_h7XyAYZgEeeHQ-C2g6HOaA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_h7XyAoZgEeeHQ-C2g6HOaA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_h7YZEIZgEeeHQ-C2g6HOaA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_h7YZEYZgEeeHQ-C2g6HOaA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_h7YZEoZgEeeHQ-C2g6HOaA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_h7YZE4ZgEeeHQ-C2g6HOaA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_h7XK8YZgEeeHQ-C2g6HOaA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_h7XK8oZgEeeHQ-C2g6HOaA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_h7YZFIZgEeeHQ-C2g6HOaA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_h7XK84ZgEeeHQ-C2g6HOaA" x="169" y="111"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Zq_XlIZdEeevH5YHkHluHw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Zq8UQYZdEeevH5YHkHluHw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Zq_-oIZdEeevH5YHkHluHw" x="220" y="-56" width="377" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_ZrEQFIZdEeevH5YHkHluHw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZrE3IIZdEeevH5YHkHluHw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZrE3IYZdEeevH5YHkHluHw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZrE3IoZdEeevH5YHkHluHw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ZrE3I4ZdEeevH5YHkHluHw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZrE3JIZdEeevH5YHkHluHw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZrE3JYZdEeevH5YHkHluHw" x="8" y="-56" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Zq5Q8YZdEeevH5YHkHluHw"/>
    <edges xmi:id="_gB0PYIZgEeeHQ-C2g6HOaA" type="Transition" element="_gBzBQIZgEeeHQ-C2g6HOaA" source="_fldDgIZgEeeHQ-C2g6HOaA" target="_h7XK8IZgEeeHQ-C2g6HOaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_gB0PZIZgEeeHQ-C2g6HOaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gB0PZYZgEeeHQ-C2g6HOaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gB02cIZgEeeHQ-C2g6HOaA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gB0PYYZgEeeHQ-C2g6HOaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gB0PY4ZgEeeHQ-C2g6HOaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gB0PYoZgEeeHQ-C2g6HOaA" points="[8, 24, 8, 24]$[8, 24, 8, 24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ii0MgIZgEeeHQ-C2g6HOaA" id="(0.225,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_i3QygIZgEeeHQ-C2g6HOaA" type="Transition" element="_i3PkYIZgEeeHQ-C2g6HOaA" source="_h7XK8IZgEeeHQ-C2g6HOaA" target="_fldDgIZgEeeHQ-C2g6HOaA">
      <children xsi:type="notation:DecorationNode" xmi:id="_i3RZkIZgEeeHQ-C2g6HOaA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i3RZkYZgEeeHQ-C2g6HOaA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i3RZkoZgEeeHQ-C2g6HOaA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i3QygYZgEeeHQ-C2g6HOaA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i3Qyg4ZgEeeHQ-C2g6HOaA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i3QygoZgEeeHQ-C2g6HOaA" points="[-7, -7, 115, 2]$[-119, -19, 3, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i3TOwIZgEeeHQ-C2g6HOaA" id="(0.225,0.2830188679245283)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_i3TOwYZgEeeHQ-C2g6HOaA" id="(0.6,0.22641509433962265)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
