<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_uloUELswEeifzfwrFtyExg" specification="" name="TransitionBlockingAlwaysTrueChoices">
    <regions xmi:id="_umFnELswEeifzfwrFtyExg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_umfPsLswEeifzfwrFtyExg">
        <outgoingTransitions xmi:id="_umq14LswEeifzfwrFtyExg" target="__OptALv6Eei2le46Yda-SA"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="__OptALv6Eei2le46Yda-SA" incomingTransitions="_umq14LswEeifzfwrFtyExg">
        <outgoingTransitions xmi:id="_HPy48Lv7Eei2le46Yda-SA" specification="always" target="_E7eF4Lv7Eei2le46Yda-SA"/>
        <outgoingTransitions xmi:id="_GcXQ4Lv7Eei2le46Yda-SA" specification="default" target="_E7eF4Lv7Eei2le46Yda-SA"/>
        <outgoingTransitions xmi:id="_Ihz6cLv7Eei2le46Yda-SA" specification="oncycle" target="_E7eF4Lv7Eei2le46Yda-SA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_E7eF4Lv7Eei2le46Yda-SA" name="StateA" incomingTransitions="_GcXQ4Lv7Eei2le46Yda-SA _HPy48Lv7Eei2le46Yda-SA _Ihz6cLv7Eei2le46Yda-SA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_umFAALswEeifzfwrFtyExg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_uloUELswEeifzfwrFtyExg" measurementUnit="Pixel">
    <children xmi:id="_umM70LswEeifzfwrFtyExg" type="Region" element="_umFnELswEeifzfwrFtyExg">
      <children xsi:type="notation:DecorationNode" xmi:id="_uma-QLswEeifzfwrFtyExg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uma-QbswEeifzfwrFtyExg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_umblULswEeifzfwrFtyExg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_umdagLswEeifzfwrFtyExg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_umf2wLswEeifzfwrFtyExg" type="Entry" element="_umfPsLswEeifzfwrFtyExg">
          <children xmi:id="_umgd0LswEeifzfwrFtyExg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_umhE4LswEeifzfwrFtyExg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_umhE4bswEeifzfwrFtyExg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_umhE4rswEeifzfwrFtyExg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_umgd0bswEeifzfwrFtyExg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_umgd0rswEeifzfwrFtyExg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_umf2wbswEeifzfwrFtyExg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_umf2wrswEeifzfwrFtyExg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_umhE47swEeifzfwrFtyExg" x="70" y="20"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="__OtXYLv6Eei2le46Yda-SA" type="Choice" element="__OptALv6Eei2le46Yda-SA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__OtXYbv6Eei2le46Yda-SA" x="227" y="66" width="156" height="156"/>
        </children>
        <children xmi:id="_E7es8Lv7Eei2le46Yda-SA" type="State" element="_E7eF4Lv7Eei2le46Yda-SA">
          <children xsi:type="notation:DecorationNode" xmi:id="_E7es9Lv7Eei2le46Yda-SA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_E7es9bv7Eei2le46Yda-SA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_E7fUALv7Eei2le46Yda-SA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_E7fUAbv7Eei2le46Yda-SA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_E7fUArv7Eei2le46Yda-SA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E7fUA7v7Eei2le46Yda-SA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_E7fUBLv7Eei2le46Yda-SA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_E7es8bv7Eei2le46Yda-SA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_E7es8rv7Eei2le46Yda-SA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_E7fUBbv7Eei2le46Yda-SA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E7es87v7Eei2le46Yda-SA" x="34" y="290" width="546"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_umdagbswEeifzfwrFtyExg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_umM70bswEeifzfwrFtyExg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_umeBkLswEeifzfwrFtyExg" x="40" y="15" width="616" height="397"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_umzYwLswEeifzfwrFtyExg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_umz_0LswEeifzfwrFtyExg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_umz_0bswEeifzfwrFtyExg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_umz_0rswEeifzfwrFtyExg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_umz_07swEeifzfwrFtyExg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_umz_1LswEeifzfwrFtyExg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_umz_1bswEeifzfwrFtyExg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_umFAAbswEeifzfwrFtyExg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_umFAArswEeifzfwrFtyExg"/>
    <edges xmi:id="_umyKoLswEeifzfwrFtyExg" type="Transition" element="_umq14LswEeifzfwrFtyExg" source="_umf2wLswEeifzfwrFtyExg" target="__OtXYLv6Eei2le46Yda-SA">
      <children xsi:type="notation:DecorationNode" xmi:id="_umyxsLswEeifzfwrFtyExg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_umyxsbswEeifzfwrFtyExg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_umyxsrswEeifzfwrFtyExg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_umyKobswEeifzfwrFtyExg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_umyKo7swEeifzfwrFtyExg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_umyKorswEeifzfwrFtyExg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JeKssLtFEei4pb9TV7AA7w" id="(0.4935897435897436,0.03205128205128205)"/>
    </edges>
    <edges xmi:id="_GcYfALv7Eei2le46Yda-SA" type="Transition" element="_GcXQ4Lv7Eei2le46Yda-SA" source="__OtXYLv6Eei2le46Yda-SA" target="_E7es8Lv7Eei2le46Yda-SA">
      <children xsi:type="notation:DecorationNode" xmi:id="_GcZGELv7Eei2le46Yda-SA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GcZGEbv7Eei2le46Yda-SA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GcZGErv7Eei2le46Yda-SA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GcYfAbv7Eei2le46Yda-SA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GcYfA7v7Eei2le46Yda-SA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GcYfArv7Eei2le46Yda-SA" points="[3, 6, -93, -173]$[101, 198, 5, 19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GccJYLv7Eei2le46Yda-SA" id="(0.9615384615384616,0.47435897435897434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GccJYbv7Eei2le46Yda-SA" id="(0.8131868131868132,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_HP0uILv7Eei2le46Yda-SA" type="Transition" element="_HPy48Lv7Eei2le46Yda-SA" source="__OtXYLv6Eei2le46Yda-SA" target="_E7es8Lv7Eei2le46Yda-SA">
      <children xsi:type="notation:DecorationNode" xmi:id="_HP0uJLv7Eei2le46Yda-SA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HP0uJbv7Eei2le46Yda-SA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HP0uJrv7Eei2le46Yda-SA" x="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HP0uIbv7Eei2le46Yda-SA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HP0uI7v7Eei2le46Yda-SA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HP0uIrv7Eei2le46Yda-SA" points="[44, 34, 45, -136]$[44, 146, 45, -24]"/>
    </edges>
    <edges xmi:id="_Ih1voLv7Eei2le46Yda-SA" type="Transition" element="_Ihz6cLv7Eei2le46Yda-SA" source="__OtXYLv6Eei2le46Yda-SA" target="_E7es8Lv7Eei2le46Yda-SA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ih1vpLv7Eei2le46Yda-SA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ih1vpbv7Eei2le46Yda-SA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ih1vprv7Eei2le46Yda-SA" x="21" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ih1vobv7Eei2le46Yda-SA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ih1vo7v7Eei2le46Yda-SA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ih1vorv7Eei2le46Yda-SA" points="[-7, -2, -50, -143]$[-7, 117, -50, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ih6BELv7Eei2le46Yda-SA" id="(0.21794871794871795,0.6858974358974359)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
