<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_z36IAL2LEeiQPKhtb2DO6A" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;in event e" name="TransitionBlockingAlwaysTrueChoices">
    <regions xmi:id="_z36vF72LEeiQPKhtb2DO6A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_z379Mb2LEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_4aN1kL2LEeiQPKhtb2DO6A" specification="" target="_31qXAL2LEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_31qXAL2LEeiQPKhtb2DO6A" incomingTransitions="_4aN1kL2LEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_8Eg9EL2LEeiQPKhtb2DO6A" specification="e" target="_6seMEL2LEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_8oxgsL2LEeiQPKhtb2DO6A" specification="always" target="_6seMEL2LEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_-uaXgL2LEeiQPKhtb2DO6A" specification="default" target="_6seMEL2LEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6seMEL2LEeiQPKhtb2DO6A" name="StateA" incomingTransitions="_8Eg9EL2LEeiQPKhtb2DO6A _8oxgsL2LEeiQPKhtb2DO6A _-uaXgL2LEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_Cw58kL2MEeiQPKhtb2DO6A" specification="always" target="_CYFz8L2MEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_CYFz8L2MEeiQPKhtb2DO6A" incomingTransitions="_Cw58kL2MEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_Gg6DcL2MEeiQPKhtb2DO6A" specification="e" target="_Ep5egL2MEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_Hq80sL2MEeiQPKhtb2DO6A" specification="else" target="_Ep5egL2MEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_IamwAL2MEeiQPKhtb2DO6A" specification="always" target="_Ep5egL2MEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ep5egL2MEeiQPKhtb2DO6A" name="StateB" incomingTransitions="_Gg6DcL2MEeiQPKhtb2DO6A _Hq80sL2MEeiQPKhtb2DO6A _IamwAL2MEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_SG8ScL2MEeiQPKhtb2DO6A" specification="always" target="_RvSncL2MEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_P5pUcL2MEeiQPKhtb2DO6A" name="StateC" incomingTransitions="_S37DcL2MEeiQPKhtb2DO6A _VWfXoL2MEeiQPKhtb2DO6A _Xm1poL2MEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_jXbi0L2MEeiQPKhtb2DO6A" specification="always" target="_jAAhUL2MEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_RvSncL2MEeiQPKhtb2DO6A" incomingTransitions="_SG8ScL2MEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_S37DcL2MEeiQPKhtb2DO6A" specification="always" target="_P5pUcL2MEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_VWfXoL2MEeiQPKhtb2DO6A" specification="e" target="_P5pUcL2MEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_Xm1poL2MEeiQPKhtb2DO6A" specification="default" target="_P5pUcL2MEeiQPKhtb2DO6A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_gVHBUL2MEeiQPKhtb2DO6A" specification="// this should contain no warnings" name="StateD" incomingTransitions="_kEuGoL2MEeiQPKhtb2DO6A _mgV0gL2MEeiQPKhtb2DO6A"/>
      <vertices xsi:type="sgraph:Choice" xmi:id="_jAAhUL2MEeiQPKhtb2DO6A" incomingTransitions="_jXbi0L2MEeiQPKhtb2DO6A">
        <outgoingTransitions xmi:id="_kEuGoL2MEeiQPKhtb2DO6A" specification="e" target="_gVHBUL2MEeiQPKhtb2DO6A"/>
        <outgoingTransitions xmi:id="_mgV0gL2MEeiQPKhtb2DO6A" specification="default" target="_gVHBUL2MEeiQPKhtb2DO6A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_z36vFL2LEeiQPKhtb2DO6A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_z36IAL2LEeiQPKhtb2DO6A" measurementUnit="Pixel">
    <children xmi:id="_z36vGL2LEeiQPKhtb2DO6A" type="Region" element="_z36vF72LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_z37WIL2LEeiQPKhtb2DO6A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z37WIb2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z37WIr2LEeiQPKhtb2DO6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_z37WI72LEeiQPKhtb2DO6A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_z38kQL2LEeiQPKhtb2DO6A" type="Entry" element="_z379Mb2LEeiQPKhtb2DO6A">
          <children xmi:id="_z39LUL2LEeiQPKhtb2DO6A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_z39LU72LEeiQPKhtb2DO6A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_z39LVL2LEeiQPKhtb2DO6A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_z39LVb2LEeiQPKhtb2DO6A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_z39LUb2LEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z39LUr2LEeiQPKhtb2DO6A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_z38kQb2LEeiQPKhtb2DO6A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_z38kQr2LEeiQPKhtb2DO6A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z39yYL2LEeiQPKhtb2DO6A" x="70" y="20"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_31sMML2LEeiQPKhtb2DO6A" type="Choice" element="_31qXAL2LEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_31sMMb2LEeiQPKhtb2DO6A" x="70" y="86"/>
        </children>
        <children xmi:id="_6sfaML2LEeiQPKhtb2DO6A" type="State" element="_6seMEL2LEeiQPKhtb2DO6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_6sfaNL2LEeiQPKhtb2DO6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6sfaNb2LEeiQPKhtb2DO6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6sfaNr2LEeiQPKhtb2DO6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6sfaN72LEeiQPKhtb2DO6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6sfaOL2LEeiQPKhtb2DO6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6sfaOb2LEeiQPKhtb2DO6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6sfaOr2LEeiQPKhtb2DO6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6sfaMb2LEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6sfaMr2LEeiQPKhtb2DO6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6sfaO72LEeiQPKhtb2DO6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6sfaM72LEeiQPKhtb2DO6A" x="40" y="199" width="260"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_CYGbAL2MEeiQPKhtb2DO6A" type="Choice" element="_CYFz8L2MEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CYGbAb2MEeiQPKhtb2DO6A" x="115" y="309"/>
        </children>
        <children xmi:id="_Ep6FkL2MEeiQPKhtb2DO6A" type="State" element="_Ep5egL2MEeiQPKhtb2DO6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ep6soL2MEeiQPKhtb2DO6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ep6sob2MEeiQPKhtb2DO6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ep6sor2MEeiQPKhtb2DO6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ep6so72MEeiQPKhtb2DO6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ep6spL2MEeiQPKhtb2DO6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ep6spb2MEeiQPKhtb2DO6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ep6spr2MEeiQPKhtb2DO6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ep6Fkb2MEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ep6Fkr2MEeiQPKhtb2DO6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ep6sp72MEeiQPKhtb2DO6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ep6Fk72MEeiQPKhtb2DO6A" x="40" y="400" width="265"/>
        </children>
        <children xmi:id="_P5qikL2MEeiQPKhtb2DO6A" type="State" element="_P5pUcL2MEeiQPKhtb2DO6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_P5rJoL2MEeiQPKhtb2DO6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_P5rJob2MEeiQPKhtb2DO6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_P5rJor2MEeiQPKhtb2DO6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_P5rJo72MEeiQPKhtb2DO6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_P5rJpL2MEeiQPKhtb2DO6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_P5rJpb2MEeiQPKhtb2DO6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_P5rJpr2MEeiQPKhtb2DO6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_P5qikb2MEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_P5qikr2MEeiQPKhtb2DO6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_P5rJp72MEeiQPKhtb2DO6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_P5qik72MEeiQPKhtb2DO6A" x="40" y="580" width="264"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_RvTOgL2MEeiQPKhtb2DO6A" type="Choice" element="_RvSncL2MEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RvTOgb2MEeiQPKhtb2DO6A" x="133" y="489"/>
        </children>
        <children xmi:id="_gVJdkL2MEeiQPKhtb2DO6A" type="State" element="_gVHBUL2MEeiQPKhtb2DO6A">
          <children xsi:type="notation:DecorationNode" xmi:id="_gVKEoL2MEeiQPKhtb2DO6A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gVKEob2MEeiQPKhtb2DO6A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_gVKEor2MEeiQPKhtb2DO6A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gVKEo72MEeiQPKhtb2DO6A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_gVKEpL2MEeiQPKhtb2DO6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gVKEpb2MEeiQPKhtb2DO6A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gVKEpr2MEeiQPKhtb2DO6A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gVJdkb2MEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_gVJdkr2MEeiQPKhtb2DO6A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gVKEp72MEeiQPKhtb2DO6A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gVJdk72MEeiQPKhtb2DO6A" x="38" y="777" width="264"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_jABvcL2MEeiQPKhtb2DO6A" type="Choice" element="_jAAhUL2MEeiQPKhtb2DO6A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jABvcb2MEeiQPKhtb2DO6A" x="149" y="675"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z37WJL2LEeiQPKhtb2DO6A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_z36vGb2LEeiQPKhtb2DO6A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z379ML2LEeiQPKhtb2DO6A" x="84" y="44" width="404" height="879"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_z4AOoL2LEeiQPKhtb2DO6A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_z4AOor2LEeiQPKhtb2DO6A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z4AOo72LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z4AOpL2LEeiQPKhtb2DO6A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_z4AOpb2LEeiQPKhtb2DO6A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z4AOpr2LEeiQPKhtb2DO6A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_z4AOp72LEeiQPKhtb2DO6A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_z36vFb2LEeiQPKhtb2DO6A" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_z36vFr2LEeiQPKhtb2DO6A"/>
    <edges xmi:id="_4aPqwL2LEeiQPKhtb2DO6A" type="Transition" element="_4aN1kL2LEeiQPKhtb2DO6A" source="_z38kQL2LEeiQPKhtb2DO6A" target="_31sMML2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_4aQR0L2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4aQR0b2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4aQR0r2LEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4aPqwb2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4aPqw72LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4aPqwr2LEeiQPKhtb2DO6A" points="[4, 4, -62, -58]$[66, 61, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4aT8ML2LEeiQPKhtb2DO6A" id="(0.6,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4aT8Mb2LEeiQPKhtb2DO6A" id="(0.6,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_8EkAYL2LEeiQPKhtb2DO6A" type="Transition" element="_8Eg9EL2LEeiQPKhtb2DO6A" source="_31sMML2LEeiQPKhtb2DO6A" target="_6sfaML2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_8Ekncb2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8Ekncr2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8Eknc72LEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8EkAYb2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8EkncL2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8EkAYr2LEeiQPKhtb2DO6A" points="[-2, 6, 27, -127]$[-28, 158, 1, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8Epf8L2LEeiQPKhtb2DO6A" id="(0.2,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8Epf8b2LEeiQPKhtb2DO6A" id="(0.019230769230769232,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_8oyu0L2LEeiQPKhtb2DO6A" type="Transition" element="_8oxgsL2LEeiQPKhtb2DO6A" source="_31sMML2LEeiQPKhtb2DO6A" target="_6sfaML2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_8ozV4b2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8ozV4r2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8ozV472LEeiQPKhtb2DO6A" x="4" y="-36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8oyu0b2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8ozV4L2LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8oyu0r2LEeiQPKhtb2DO6A" points="[0, 8, 1, -109]$[0, 106, 1, -11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8o3AQL2LEeiQPKhtb2DO6A" id="(0.1423076923076923,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_-ua-kL2LEeiQPKhtb2DO6A" type="Transition" element="_-uaXgL2LEeiQPKhtb2DO6A" source="_31sMML2LEeiQPKhtb2DO6A" target="_6sfaML2LEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_-ua-lL2LEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-ua-lb2LEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-ua-lr2LEeiQPKhtb2DO6A" x="2" y="-49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-ua-kb2LEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-ua-k72LEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-ua-kr2LEeiQPKhtb2DO6A" points="[8, 0, -92, -110]$[97, 0, -3, -110]$[97, 106, -3, -4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-uda0L2LEeiQPKhtb2DO6A" id="(0.5384615384615384,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_Cw8Y0L2MEeiQPKhtb2DO6A" type="Transition" element="_Cw58kL2MEeiQPKhtb2DO6A" source="_6sfaML2LEeiQPKhtb2DO6A" target="_CYGbAL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Cw8Y1L2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Cw8_4L2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Cw8_4b2MEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Cw8Y0b2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Cw8Y072MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Cw8Y0r2MEeiQPKhtb2DO6A" points="[0, 6, 0, -76]$[-1, 82, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cw_cIL2MEeiQPKhtb2DO6A" id="(0.3230769230769231,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Cw_cIb2MEeiQPKhtb2DO6A" id="(0.4666666666666667,0.9333333333333333)"/>
    </edges>
    <edges xmi:id="_Gg74oL2MEeiQPKhtb2DO6A" type="Transition" element="_Gg6DcL2MEeiQPKhtb2DO6A" source="_CYGbAL2MEeiQPKhtb2DO6A" target="_Ep6FkL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Gg8fsb2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Gg8fsr2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Gg8fs72MEeiQPKhtb2DO6A" x="26" y="-6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Gg74ob2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Gg8fsL2MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Gg74or2MEeiQPKhtb2DO6A" points="[-7, 0, 24, -98]$[-73, 0, -42, -98]$[-73, 84, -42, -14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GhD0cL2MEeiQPKhtb2DO6A" id="(0.19622641509433963,0.3018867924528302)"/>
    </edges>
    <edges xmi:id="_Hq-C0L2MEeiQPKhtb2DO6A" type="Transition" element="_Hq80sL2MEeiQPKhtb2DO6A" source="_CYGbAL2MEeiQPKhtb2DO6A" target="_Ep6FkL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Hq-p4L2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Hq-p4b2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Hq-p4r2MEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Hq-C0b2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Hq-C072MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Hq-C0r2MEeiQPKhtb2DO6A" points="[-8, 0, 6, -78]$[-12, 76, 2, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HrC7UL2MEeiQPKhtb2DO6A" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HrC7Ub2MEeiQPKhtb2DO6A" id="(0.2943396226415094,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_IaolML2MEeiQPKhtb2DO6A" type="Transition" element="_IamwAL2MEeiQPKhtb2DO6A" source="_CYGbAL2MEeiQPKhtb2DO6A" target="_Ep6FkL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_IapMQL2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IapMQb2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IapMQr2MEeiQPKhtb2DO6A" x="23" y="-39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IaolMb2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IaolM72MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IaolMr2MEeiQPKhtb2DO6A" points="[8, 0, -60, -92]$[62, 0, -6, -92]$[62, 84, -6, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IatdsL2MEeiQPKhtb2DO6A" id="(0.5773584905660377,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_SG-usL2MEeiQPKhtb2DO6A" type="Transition" element="_SG8ScL2MEeiQPKhtb2DO6A" source="_Ep6FkL2MEeiQPKhtb2DO6A" target="_RvTOgL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_SG_VwL2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SG_Vwb2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SG_Vwr2MEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SG-usb2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SG-us72MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SG-usr2MEeiQPKhtb2DO6A" points="[0, 2, 0, -37]$[0, 44, 0, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SHByAL2MEeiQPKhtb2DO6A" id="(0.3849056603773585,0.9245283018867925)"/>
    </edges>
    <edges xmi:id="_S39fsL2MEeiQPKhtb2DO6A" type="Transition" element="_S37DcL2MEeiQPKhtb2DO6A" source="_RvTOgL2MEeiQPKhtb2DO6A" target="_P5qikL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_S3-GwL2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_S3-Gwb2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_S3-Gwr2MEeiQPKhtb2DO6A" x="31" y="18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_S39fsb2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_S39fs72MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_S39fsr2MEeiQPKhtb2DO6A" points="[0, 0, 58, -71]$[-57, 63, 1, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_S4CYML2MEeiQPKhtb2DO6A" id="(0.06666666666666667,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_S4CYMb2MEeiQPKhtb2DO6A" id="(0.06439393939393939,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_VWglwL2MEeiQPKhtb2DO6A" type="Transition" element="_VWfXoL2MEeiQPKhtb2DO6A" source="_RvTOgL2MEeiQPKhtb2DO6A" target="_P5qikL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_VWhM0b2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VWhM0r2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VWhM072MEeiQPKhtb2DO6A" x="-1" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VWglwb2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VWhM0L2MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VWglwr2MEeiQPKhtb2DO6A" points="[6, -2, -30, -102]$[6, 76, -30, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VWkQIL2MEeiQPKhtb2DO6A" id="(0.0,1.0)"/>
    </edges>
    <edges xmi:id="_Xm57EL2MEeiQPKhtb2DO6A" type="Transition" element="_Xm1poL2MEeiQPKhtb2DO6A" source="_RvTOgL2MEeiQPKhtb2DO6A" target="_P5qikL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xm6iIL2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xm6iIb2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xm6iIr2MEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Xm57Eb2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xm57E72MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Xm57Er2MEeiQPKhtb2DO6A" points="[-3, -3, -52, -68]$[52, 57, 3, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xm-MgL2MEeiQPKhtb2DO6A" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Xm-zkL2MEeiQPKhtb2DO6A" id="(0.6704545454545454,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_jXcw8L2MEeiQPKhtb2DO6A" type="Transition" element="_jXbi0L2MEeiQPKhtb2DO6A" source="_P5qikL2MEeiQPKhtb2DO6A" target="_jABvcL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_jXcw9L2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jXcw9b2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jXdYAL2MEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jXcw8b2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jXcw872MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jXcw8r2MEeiQPKhtb2DO6A" points="[-2, 5, 0, -74]$[-2, 81, 0, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jXhCYL2MEeiQPKhtb2DO6A" id="(0.4583333333333333,0.9245283018867925)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jXhCYb2MEeiQPKhtb2DO6A" id="(0.5333333333333333,0.8)"/>
    </edges>
    <edges xmi:id="_kEv70L2MEeiQPKhtb2DO6A" type="Transition" element="_kEuGoL2MEeiQPKhtb2DO6A" source="_jABvcL2MEeiQPKhtb2DO6A" target="_gVJdkL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_kEv71L2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kEv71b2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kEv71r2MEeiQPKhtb2DO6A"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kEv70b2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kEv7072MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kEv70r2MEeiQPKhtb2DO6A" points="[-2, 7, 58, -100]$[-57, 7, 3, -100]$[-57, 102, 3, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kE1bYL2MEeiQPKhtb2DO6A" id="(0.13333333333333333,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kE1bYb2MEeiQPKhtb2DO6A" id="(0.20833333333333334,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_mgWbkL2MEeiQPKhtb2DO6A" type="Transition" element="_mgV0gL2MEeiQPKhtb2DO6A" source="_jABvcL2MEeiQPKhtb2DO6A" target="_gVJdkL2MEeiQPKhtb2DO6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_mgXCob2MEeiQPKhtb2DO6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mgXCor2MEeiQPKhtb2DO6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mgXCo72MEeiQPKhtb2DO6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mgWbkb2MEeiQPKhtb2DO6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mgXCoL2MEeiQPKhtb2DO6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mgWbkr2MEeiQPKhtb2DO6A" points="[-3, -7, -44, -123]$[46, 109, 5, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mgZe4L2MEeiQPKhtb2DO6A" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mgZe4b2MEeiQPKhtb2DO6A" id="(0.6136363636363636,0.11320754716981132)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
