<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_RxPu8LCkEeKusf4xiRlf2w" specification="internal:&#xA;event e1&#xA;event e2" name="TransitionExitSpecOnMultipleSiblings">
    <regions xmi:id="_RxQ9ErCkEeKusf4xiRlf2w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_RxWcobCkEeKusf4xiRlf2w">
        <outgoingTransitions xmi:id="_RxY44bCkEeKusf4xiRlf2w" target="_RxXDt7CkEeKusf4xiRlf2w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_RxXDt7CkEeKusf4xiRlf2w" name="A" incomingTransitions="_RxY44bCkEeKusf4xiRlf2w">
        <outgoingTransitions xmi:id="_eZK4wLCkEeKusf4xiRlf2w" specification="# myExit >" target="_dxqM0LCkEeKusf4xiRlf2w"/>
        <outgoingTransitions xmi:id="_WyVAMLDFEeKuu-ZGsbpxhw" specification="# myExit >" target="_VP1SsLDFEeKuu-ZGsbpxhw"/>
        <outgoingTransitions xmi:id="_XS_dQLDFEeKuu-ZGsbpxhw" specification="# myExit2 >" target="_WBFJcLDFEeKuu-ZGsbpxhw"/>
        <outgoingTransitions xmi:id="_GyNHULDMEeK984OEcGAtPQ" specification="# myExit2 >" target="_FzSA8LDMEeK984OEcGAtPQ"/>
        <regions xmi:id="_ZNA88LCkEeKusf4xiRlf2w">
          <vertices xsi:type="sgraph:State" xmi:id="_bY_sULCkEeKusf4xiRlf2w" name="A" incomingTransitions="_dB48wLCkEeKusf4xiRlf2w">
            <outgoingTransitions xmi:id="_aiVToLCwEeKaBsfbNfeK4Q" specification="e2" target="_aFPvALCwEeKaBsfbNfeK4Q"/>
            <outgoingTransitions xmi:id="_MQwasLDMEeK984OEcGAtPQ" specification="e1" target="_LmptwLDMEeK984OEcGAtPQ"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_cDFLILCkEeKusf4xiRlf2w">
            <outgoingTransitions xmi:id="_dB48wLCkEeKusf4xiRlf2w" specification="" target="_bY_sULCkEeKusf4xiRlf2w"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_aFPvALCwEeKaBsfbNfeK4Q" name="myExit" incomingTransitions="_aiVToLCwEeKaBsfbNfeK4Q"/>
          <vertices xsi:type="sgraph:Exit" xmi:id="_LmptwLDMEeK984OEcGAtPQ" name="myExit2" incomingTransitions="_MQwasLDMEeK984OEcGAtPQ"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_dxqM0LCkEeKusf4xiRlf2w" name="B" incomingTransitions="_eZK4wLCkEeKusf4xiRlf2w"/>
      <vertices xsi:type="sgraph:State" xmi:id="_VP1SsLDFEeKuu-ZGsbpxhw" name="C" incomingTransitions="_WyVAMLDFEeKuu-ZGsbpxhw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_WBFJcLDFEeKuu-ZGsbpxhw" name="D" incomingTransitions="_XS_dQLDFEeKuu-ZGsbpxhw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_FzSA8LDMEeK984OEcGAtPQ" name="E" incomingTransitions="_GyNHULDMEeK984OEcGAtPQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_RxQ9ELCkEeKusf4xiRlf2w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_RxPu8LCkEeKusf4xiRlf2w" measurementUnit="Pixel">
    <children xmi:id="_RxTZULCkEeKusf4xiRlf2w" type="Region" element="_RxQ9ErCkEeKusf4xiRlf2w">
      <children xsi:type="notation:DecorationNode" xmi:id="_RxVOgLCkEeKusf4xiRlf2w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RxVOgbCkEeKusf4xiRlf2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RxV1kLCkEeKusf4xiRlf2w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RxV1kbCkEeKusf4xiRlf2w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_RxWcorCkEeKusf4xiRlf2w" type="Entry" element="_RxWcobCkEeKusf4xiRlf2w">
          <children xmi:id="_RxXDsLCkEeKusf4xiRlf2w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_RxXDs7CkEeKusf4xiRlf2w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_RxXDtLCkEeKusf4xiRlf2w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_RxXDtbCkEeKusf4xiRlf2w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RxXDsbCkEeKusf4xiRlf2w" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxXDsrCkEeKusf4xiRlf2w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RxWco7CkEeKusf4xiRlf2w" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxXDtrCkEeKusf4xiRlf2w" x="127" y="31" width="15" height="15"/>
        </children>
        <children xmi:id="_RxXqwbCkEeKusf4xiRlf2w" type="State" element="_RxXDt7CkEeKusf4xiRlf2w">
          <children xsi:type="notation:DecorationNode" xmi:id="_RxYR0LCkEeKusf4xiRlf2w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_RxYR0bCkEeKusf4xiRlf2w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_RxYR0rCkEeKusf4xiRlf2w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RxYR07CkEeKusf4xiRlf2w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_RxYR1LCkEeKusf4xiRlf2w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxYR1bCkEeKusf4xiRlf2w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_RxYR1rCkEeKusf4xiRlf2w" type="StateFigureCompartment">
            <children xmi:id="_ZNEnULCkEeKusf4xiRlf2w" type="Region" element="_ZNA88LCkEeKusf4xiRlf2w">
              <children xsi:type="notation:DecorationNode" xmi:id="_ZNFOYLCkEeKusf4xiRlf2w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ZNFOYbCkEeKusf4xiRlf2w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ZNFOYrCkEeKusf4xiRlf2w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ZNFOY7CkEeKusf4xiRlf2w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_bZBhgLCkEeKusf4xiRlf2w" type="State" element="_bY_sULCkEeKusf4xiRlf2w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_bZCIk7CkEeKusf4xiRlf2w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_bZCIlLCkEeKusf4xiRlf2w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_bZCIlbCkEeKusf4xiRlf2w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_bZCvoLCkEeKusf4xiRlf2w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_bZCvobCkEeKusf4xiRlf2w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bZCvorCkEeKusf4xiRlf2w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_bZCvo7CkEeKusf4xiRlf2w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_bZCIkLCkEeKusf4xiRlf2w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_bZCIkbCkEeKusf4xiRlf2w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bZDWsLCkEeKusf4xiRlf2w" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bZCIkrCkEeKusf4xiRlf2w" x="53" y="22"/>
                </children>
                <children xmi:id="_cDHnYLCkEeKusf4xiRlf2w" type="Entry" element="_cDFLILCkEeKusf4xiRlf2w">
                  <children xmi:id="_cDHnY7CkEeKusf4xiRlf2w" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_cDIOcrCkEeKusf4xiRlf2w" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_cDIOc7CkEeKusf4xiRlf2w"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_cDIOdLCkEeKusf4xiRlf2w"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_cDIOcLCkEeKusf4xiRlf2w" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cDIOcbCkEeKusf4xiRlf2w"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_cDHnYbCkEeKusf4xiRlf2w" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cDHnYrCkEeKusf4xiRlf2w" x="4" y="32"/>
                </children>
                <children xmi:id="_aFTZYLCwEeKaBsfbNfeK4Q" type="Exit" element="_aFPvALCwEeKaBsfbNfeK4Q">
                  <children xmi:id="_aFUngLCwEeKaBsfbNfeK4Q" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_aFVOkLCwEeKaBsfbNfeK4Q" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_aFVOkbCwEeKaBsfbNfeK4Q"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_aFVOkrCwEeKaBsfbNfeK4Q"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_aFUngbCwEeKaBsfbNfeK4Q" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aFUngrCwEeKaBsfbNfeK4Q" x="-4" y="19"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_aFTZYbCwEeKaBsfbNfeK4Q" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aFTZYrCwEeKaBsfbNfeK4Q" x="137" y="32"/>
                </children>
                <children xmi:id="_LmumQLDMEeK984OEcGAtPQ" type="Exit" element="_LmptwLDMEeK984OEcGAtPQ">
                  <children xmi:id="_LmwbcLDMEeK984OEcGAtPQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Lmwbc7DMEeK984OEcGAtPQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_LmwbdLDMEeK984OEcGAtPQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_LmwbdbDMEeK984OEcGAtPQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_LmwbcbDMEeK984OEcGAtPQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LmwbcrDMEeK984OEcGAtPQ" x="-83" y="-4"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_LmumQbDMEeK984OEcGAtPQ" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LmumQrDMEeK984OEcGAtPQ" x="55" y="111"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZNFOZLCkEeKusf4xiRlf2w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ZNEnUbCkEeKusf4xiRlf2w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZNEnUrCkEeKusf4xiRlf2w"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_RxXqwrCkEeKusf4xiRlf2w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_RxXqw7CkEeKusf4xiRlf2w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RxYR17CkEeKusf4xiRlf2w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxY44LCkEeKusf4xiRlf2w" x="19" y="77" width="221" height="236"/>
        </children>
        <children xmi:id="_dxtQILCkEeKusf4xiRlf2w" type="State" element="_dxqM0LCkEeKusf4xiRlf2w">
          <children xsi:type="notation:DecorationNode" xmi:id="_dxtQJLCkEeKusf4xiRlf2w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_dxtQJbCkEeKusf4xiRlf2w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_dxtQJrCkEeKusf4xiRlf2w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dxt3MLCkEeKusf4xiRlf2w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_dxt3MbCkEeKusf4xiRlf2w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dxt3MrCkEeKusf4xiRlf2w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_dxt3M7CkEeKusf4xiRlf2w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_dxtQIbCkEeKusf4xiRlf2w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_dxtQIrCkEeKusf4xiRlf2w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_dxt3NLCkEeKusf4xiRlf2w" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dxtQI7CkEeKusf4xiRlf2w" x="339" y="77" width="40" height="53"/>
        </children>
        <children xmi:id="_VP6yQLDFEeKuu-ZGsbpxhw" type="State" element="_VP1SsLDFEeKuu-ZGsbpxhw">
          <children xsi:type="notation:DecorationNode" xmi:id="_VP8AYLDFEeKuu-ZGsbpxhw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VP8AYbDFEeKuu-ZGsbpxhw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_VP8AYrDFEeKuu-ZGsbpxhw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VP8ncLDFEeKuu-ZGsbpxhw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_VP8ncbDFEeKuu-ZGsbpxhw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VP8ncrDFEeKuu-ZGsbpxhw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VP9OgLDFEeKuu-ZGsbpxhw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VP6yQbDFEeKuu-ZGsbpxhw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_VP6yQrDFEeKuu-ZGsbpxhw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_VP9OgbDFEeKuu-ZGsbpxhw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VP6yQ7DFEeKuu-ZGsbpxhw" x="339" y="142"/>
        </children>
        <children xmi:id="_WBGXkLDFEeKuu-ZGsbpxhw" type="State" element="_WBFJcLDFEeKuu-ZGsbpxhw">
          <children xsi:type="notation:DecorationNode" xmi:id="_WBG-oLDFEeKuu-ZGsbpxhw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_WBG-obDFEeKuu-ZGsbpxhw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_WBG-orDFEeKuu-ZGsbpxhw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WBG-o7DFEeKuu-ZGsbpxhw" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_WBG-pLDFEeKuu-ZGsbpxhw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WBG-pbDFEeKuu-ZGsbpxhw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_WBG-prDFEeKuu-ZGsbpxhw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_WBGXkbDFEeKuu-ZGsbpxhw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_WBGXkrDFEeKuu-ZGsbpxhw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WBG-p7DFEeKuu-ZGsbpxhw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WBGXk7DFEeKuu-ZGsbpxhw" x="339" y="207"/>
        </children>
        <children xmi:id="_FzVEQLDMEeK984OEcGAtPQ" type="State" element="_FzSA8LDMEeK984OEcGAtPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_FzXggLDMEeK984OEcGAtPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FzXggbDMEeK984OEcGAtPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FzXggrDMEeK984OEcGAtPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FzYHkLDMEeK984OEcGAtPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FzYHkbDMEeK984OEcGAtPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FzYHkrDMEeK984OEcGAtPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FzYHk7DMEeK984OEcGAtPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FzVEQbDMEeK984OEcGAtPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FzVrULDMEeK984OEcGAtPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FzYuoLDMEeK984OEcGAtPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FzVrUbDMEeK984OEcGAtPQ" x="337" y="270"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxV1krCkEeKusf4xiRlf2w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RxTZUbCkEeKusf4xiRlf2w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxWcoLCkEeKusf4xiRlf2w" x="220" y="10" width="415" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_RxaHBLCkEeKusf4xiRlf2w" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_RxauELCkEeKusf4xiRlf2w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RxauEbCkEeKusf4xiRlf2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RxauErCkEeKusf4xiRlf2w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RxauE7CkEeKusf4xiRlf2w" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxauFLCkEeKusf4xiRlf2w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RxauFbCkEeKusf4xiRlf2w" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_RxQ9EbCkEeKusf4xiRlf2w"/>
    <edges xmi:id="_RxZf8LCkEeKusf4xiRlf2w" type="Transition" element="_RxY44bCkEeKusf4xiRlf2w" source="_RxWcorCkEeKusf4xiRlf2w" target="_RxXqwbCkEeKusf4xiRlf2w">
      <children xsi:type="notation:DecorationNode" xmi:id="_RxaHAbCkEeKusf4xiRlf2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RxaHArCkEeKusf4xiRlf2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RxaHA7CkEeKusf4xiRlf2w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RxZf8bCkEeKusf4xiRlf2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RxaHALCkEeKusf4xiRlf2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RxZf8rCkEeKusf4xiRlf2w" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_dB91QLCkEeKusf4xiRlf2w" type="Transition" element="_dB48wLCkEeKusf4xiRlf2w" source="_cDHnYLCkEeKusf4xiRlf2w" target="_bZBhgLCkEeKusf4xiRlf2w">
      <children xsi:type="notation:DecorationNode" xmi:id="_dB91RLCkEeKusf4xiRlf2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dB91RbCkEeKusf4xiRlf2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dB91RrCkEeKusf4xiRlf2w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dB91QbCkEeKusf4xiRlf2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dB91Q7CkEeKusf4xiRlf2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dB91QrCkEeKusf4xiRlf2w" points="[7, 0, -52, -7]$[62, -17, 3, -24]"/>
    </edges>
    <edges xmi:id="_eZPxQLCkEeKusf4xiRlf2w" type="Transition" element="_eZK4wLCkEeKusf4xiRlf2w" source="_RxXqwbCkEeKusf4xiRlf2w" target="_dxtQILCkEeKusf4xiRlf2w">
      <children xsi:type="notation:DecorationNode" xmi:id="_eZQ_YLCkEeKusf4xiRlf2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eZQ_YbCkEeKusf4xiRlf2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eZQ_YrCkEeKusf4xiRlf2w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eZPxQbCkEeKusf4xiRlf2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eZQYULCkEeKusf4xiRlf2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eZPxQrCkEeKusf4xiRlf2w" points="[16, 3, -66, -13]$[84, 5, 2, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eZTboLCkEeKusf4xiRlf2w" id="(0.9219512195121952,0.08898305084745763)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eZTbobCkEeKusf4xiRlf2w" id="(0.25,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_aiXv4LCwEeKaBsfbNfeK4Q" type="Transition" element="_aiVToLCwEeKaBsfbNfeK4Q" source="_bZBhgLCkEeKusf4xiRlf2w" target="_aFTZYLCwEeKaBsfbNfeK4Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_aiYW8bCwEeKaBsfbNfeK4Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aiYW8rCwEeKaBsfbNfeK4Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aiYW87CwEeKaBsfbNfeK4Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aiXv4bCwEeKaBsfbNfeK4Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aiYW8LCwEeKaBsfbNfeK4Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aiXv4rCwEeKaBsfbNfeK4Q" points="[18, -1, -53, -1]$[64, -2, -7, -2]"/>
    </edges>
    <edges xmi:id="_WyW1YLDFEeKuu-ZGsbpxhw" type="Transition" element="_WyVAMLDFEeKuu-ZGsbpxhw" source="_RxXqwbCkEeKusf4xiRlf2w" target="_VP6yQLDFEeKuu-ZGsbpxhw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WyXccbDFEeKuu-ZGsbpxhw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WyXccrDFEeKuu-ZGsbpxhw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WyXcc7DFEeKuu-ZGsbpxhw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WyW1YbDFEeKuu-ZGsbpxhw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WyXccLDFEeKuu-ZGsbpxhw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WyW1YrDFEeKuu-ZGsbpxhw" points="[7, 7, -123, -2]$[129, -15, -1, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WyafwLDFEeKuu-ZGsbpxhw" id="(0.9658536585365853,0.4194915254237288)"/>
    </edges>
    <edges xmi:id="_XTDHoLDFEeKuu-ZGsbpxhw" type="Transition" element="_XS_dQLDFEeKuu-ZGsbpxhw" source="_RxXqwbCkEeKusf4xiRlf2w" target="_WBGXkLDFEeKuu-ZGsbpxhw">
      <children xsi:type="notation:DecorationNode" xmi:id="_XTDusbDFEeKuu-ZGsbpxhw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XTDusrDFEeKuu-ZGsbpxhw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XTDus7DFEeKuu-ZGsbpxhw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XTDHobDFEeKuu-ZGsbpxhw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XTDusLDFEeKuu-ZGsbpxhw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XTDHorDFEeKuu-ZGsbpxhw" points="[11, 3, -115, 3]$[128, -21, 2, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XTFj4LDFEeKuu-ZGsbpxhw" id="(0.9365853658536586,0.6483050847457628)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XTGK8LDFEeKuu-ZGsbpxhw" id="(0.225,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_GyTN8LDMEeK984OEcGAtPQ" type="Transition" element="_GyNHULDMEeK984OEcGAtPQ" source="_RxXqwbCkEeKusf4xiRlf2w" target="_FzVEQLDMEeK984OEcGAtPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_GyVDILDMEeK984OEcGAtPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GyVDIbDMEeK984OEcGAtPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GyVqMLDMEeK984OEcGAtPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GyTN8bDMEeK984OEcGAtPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GyUcELDMEeK984OEcGAtPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GyTN8rDMEeK984OEcGAtPQ" points="[10, 7, -106, 3]$[117, 29, 1, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GyYGcLDMEeK984OEcGAtPQ" id="(0.9512195121951219,0.9194915254237288)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GyYGcbDMEeK984OEcGAtPQ" id="(0.125,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_MQxo0LDMEeK984OEcGAtPQ" type="Transition" element="_MQwasLDMEeK984OEcGAtPQ" source="_bZBhgLCkEeKusf4xiRlf2w" target="_LmumQLDMEeK984OEcGAtPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_MQyP4LDMEeK984OEcGAtPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MQyP4bDMEeK984OEcGAtPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MQyP4rDMEeK984OEcGAtPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MQxo0bDMEeK984OEcGAtPQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MQxo07DMEeK984OEcGAtPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MQxo0rDMEeK984OEcGAtPQ" points="[-8, 24, 0, -48]$[-8, 64, 0, -8]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
