<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_x651cKsyEeKkYoDxSIY5_A" name="UnboundEntryPoints">
    <regions xmi:id="_x67DkqsyEeKkYoDxSIY5_A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_x6_VA6syEeKkYoDxSIY5_A">
        <outgoingTransitions xmi:id="_x7C_YasyEeKkYoDxSIY5_A" target="_N-dcMKv2EeKJqNG1GG2jEA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ttT-MKszEeKkYoDxSIY5_A" specification="" name="B" incomingTransitions="_QhMesKv2EeKJqNG1GG2jEA _NaQ2EKwOEeKDK5u47htxww">
        <regions xmi:id="_Ixvy0KwOEeKDK5u47htxww"/>
        <regions xmi:id="_JE2VAKwOEeKDK5u47htxww"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_N-dcMKv2EeKJqNG1GG2jEA" name="C" incomingTransitions="_x7C_YasyEeKkYoDxSIY5_A">
        <outgoingTransitions xmi:id="_QhMesKv2EeKJqNG1GG2jEA" specification="" target="_ttT-MKszEeKkYoDxSIY5_A"/>
        <outgoingTransitions xmi:id="_PCxsAKwOEeKDK5u47htxww" specification="" target="_ME3wcKwOEeKDK5u47htxww"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ME3wcKwOEeKDK5u47htxww" name="A" incomingTransitions="_PCxsAKwOEeKDK5u47htxww">
        <outgoingTransitions xmi:id="_NaQ2EKwOEeKDK5u47htxww" specification="default" target="_ttT-MKszEeKkYoDxSIY5_A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_x67DkKsyEeKkYoDxSIY5_A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_x651cKsyEeKkYoDxSIY5_A" measurementUnit="Pixel">
    <children xmi:id="_x684wKsyEeKkYoDxSIY5_A" type="Region" element="_x67DkqsyEeKkYoDxSIY5_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_x6-t8KsyEeKkYoDxSIY5_A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x6-t8asyEeKkYoDxSIY5_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x6-t8qsyEeKkYoDxSIY5_A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x6_VAKsyEeKkYoDxSIY5_A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_x6_8EKsyEeKkYoDxSIY5_A" type="Entry" element="_x6_VA6syEeKkYoDxSIY5_A">
          <children xmi:id="_x6_8E6syEeKkYoDxSIY5_A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_x7AjIKsyEeKkYoDxSIY5_A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_x7AjIasyEeKkYoDxSIY5_A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_x7AjIqsyEeKkYoDxSIY5_A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x6_8FKsyEeKkYoDxSIY5_A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6_8FasyEeKkYoDxSIY5_A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x6_8EasyEeKkYoDxSIY5_A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x7AjI6syEeKkYoDxSIY5_A" x="29" y="102" width="15" height="15"/>
        </children>
        <children xmi:id="_ttXBgKszEeKkYoDxSIY5_A" type="State" element="_ttT-MKszEeKkYoDxSIY5_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_ttY2sKszEeKkYoDxSIY5_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ttY2saszEeKkYoDxSIY5_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ttY2sqszEeKkYoDxSIY5_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ttY2s6szEeKkYoDxSIY5_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ttY2tKszEeKkYoDxSIY5_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ttY2taszEeKkYoDxSIY5_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ttZdwKszEeKkYoDxSIY5_A" type="StateFigureCompartment">
            <children xmi:id="_Ixy2IKwOEeKDK5u47htxww" type="Region" element="_Ixvy0KwOEeKDK5u47htxww">
              <children xsi:type="notation:DecorationNode" xmi:id="_Ix0EQKwOEeKDK5u47htxww" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Ix0EQawOEeKDK5u47htxww"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Ix0rUKwOEeKDK5u47htxww"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Ix0rUawOEeKDK5u47htxww" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ix0rUqwOEeKDK5u47htxww"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Ixy2IawOEeKDK5u47htxww" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ixy2IqwOEeKDK5u47htxww"/>
            </children>
            <children xmi:id="_JE4xQKwOEeKDK5u47htxww" type="Region" element="_JE2VAKwOEeKDK5u47htxww">
              <children xsi:type="notation:DecorationNode" xmi:id="_JE4xQ6wOEeKDK5u47htxww" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_JE4xRKwOEeKDK5u47htxww"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_JE5YUKwOEeKDK5u47htxww"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_JE5YUawOEeKDK5u47htxww" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JE5YUqwOEeKDK5u47htxww"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JE4xQawOEeKDK5u47htxww" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JE4xQqwOEeKDK5u47htxww"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ttXBgaszEeKkYoDxSIY5_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ttXBgqszEeKkYoDxSIY5_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ttZdwaszEeKkYoDxSIY5_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ttXokKszEeKkYoDxSIY5_A" x="214" y="57" width="266" height="246"/>
        </children>
        <children xmi:id="_N-hGkKv2EeKJqNG1GG2jEA" type="State" element="_N-dcMKv2EeKJqNG1GG2jEA">
          <children xsi:type="notation:DecorationNode" xmi:id="_N-htoKv2EeKJqNG1GG2jEA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_N-htoav2EeKJqNG1GG2jEA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_N-htoqv2EeKJqNG1GG2jEA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N-iUsKv2EeKJqNG1GG2jEA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_N-iUsav2EeKJqNG1GG2jEA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N-iUsqv2EeKJqNG1GG2jEA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N-iUs6v2EeKJqNG1GG2jEA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_N-hGkav2EeKJqNG1GG2jEA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_N-hGkqv2EeKJqNG1GG2jEA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_N-i7wKv2EeKJqNG1GG2jEA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N-hGk6v2EeKJqNG1GG2jEA" x="19" y="167" width="40" height="53"/>
        </children>
        <children xmi:id="_ME93EKwOEeKDK5u47htxww" type="State" element="_ME3wcKwOEeKDK5u47htxww">
          <children xsi:type="notation:DecorationNode" xmi:id="_ME_sQKwOEeKDK5u47htxww" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ME_sQawOEeKDK5u47htxww"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ME_sQqwOEeKDK5u47htxww"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MFA6YKwOEeKDK5u47htxww" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MFBhcKwOEeKDK5u47htxww" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MFBhcawOEeKDK5u47htxww"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MFCIgKwOEeKDK5u47htxww" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ME93EawOEeKDK5u47htxww" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ME93EqwOEeKDK5u47htxww"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MFCIgawOEeKDK5u47htxww" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ME93E6wOEeKDK5u47htxww" x="19" y="250"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6_VAasyEeKkYoDxSIY5_A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_x684wasyEeKkYoDxSIY5_A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6_VAqsyEeKkYoDxSIY5_A" x="220" y="10" width="521" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_x7E0kasyEeKkYoDxSIY5_A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_x7FboKsyEeKkYoDxSIY5_A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x7FboasyEeKkYoDxSIY5_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x7FboqsyEeKkYoDxSIY5_A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x7Fbo6syEeKkYoDxSIY5_A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x7FbpKsyEeKkYoDxSIY5_A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x7FbpasyEeKkYoDxSIY5_A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_x67DkasyEeKkYoDxSIY5_A"/>
    <edges xmi:id="_x7ENgKsyEeKkYoDxSIY5_A" type="Transition" element="_x7C_YasyEeKkYoDxSIY5_A" source="_x6_8EKsyEeKkYoDxSIY5_A" target="_N-hGkKv2EeKJqNG1GG2jEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_x7ENhKsyEeKkYoDxSIY5_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x7ENhasyEeKkYoDxSIY5_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x7E0kKsyEeKkYoDxSIY5_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x7ENgasyEeKkYoDxSIY5_A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x7ENg6syEeKkYoDxSIY5_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x7ENgqsyEeKkYoDxSIY5_A" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QhO68Kv2EeKJqNG1GG2jEA" type="Transition" element="_QhMesKv2EeKJqNG1GG2jEA" source="_N-hGkKv2EeKJqNG1GG2jEA" target="_ttXBgKszEeKkYoDxSIY5_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_QhPiAqv2EeKJqNG1GG2jEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QhPiA6v2EeKJqNG1GG2jEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QhPiBKv2EeKJqNG1GG2jEA" x="5" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QhO68av2EeKJqNG1GG2jEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QhPiAav2EeKJqNG1GG2jEA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QhPiAKv2EeKJqNG1GG2jEA" points="[18, -3, -178, 3]$[197, 97, 1, 103]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QhRXMKv2EeKJqNG1GG2jEA" id="(0.013761467889908258,0.5992366412213741)"/>
    </edges>
    <edges xmi:id="_NaT5YKwOEeKDK5u47htxww" type="Transition" element="_NaQ2EKwOEeKDK5u47htxww" source="_ME93EKwOEeKDK5u47htxww" target="_ttXBgKszEeKkYoDxSIY5_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_NaUgcKwOEeKDK5u47htxww" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NaUgcawOEeKDK5u47htxww"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NaUgcqwOEeKDK5u47htxww" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NaT5YawOEeKDK5u47htxww" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NaT5Y6wOEeKDK5u47htxww" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NaT5YqwOEeKDK5u47htxww" points="[18, -7, -162, 5]$[181, 24, 1, 36]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NaW8sKwOEeKDK5u47htxww" id="(0.011278195488721804,0.8821138211382114)"/>
    </edges>
    <edges xmi:id="_PC3yoKwOEeKDK5u47htxww" type="Transition" element="_PCxsAKwOEeKDK5u47htxww" source="_N-hGkKv2EeKJqNG1GG2jEA" target="_ME93EKwOEeKDK5u47htxww">
      <children xsi:type="notation:DecorationNode" xmi:id="_PC5AwKwOEeKDK5u47htxww" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PC5AwawOEeKDK5u47htxww"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PC5AwqwOEeKDK5u47htxww" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PC3yoawOEeKDK5u47htxww" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PC4ZsKwOEeKDK5u47htxww" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PC3yoqwOEeKDK5u47htxww" points="[-2, 24, -2, -59]$[-2, 59, -2, -24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
