<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_KY5PIK10EeKDu_-BQi0Wmg" specification="internal:&#xA;event e1&#xA;event e2" name="UnusedExitPoint">
    <regions xmi:id="_KY6dQq10EeKDu_-BQi0Wmg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_KY_Vwa10EeKDu_-BQi0Wmg">
        <outgoingTransitions xmi:id="_KZByA610EeKDu_-BQi0Wmg" target="_KY_81a10EeKDu_-BQi0Wmg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_KY_81a10EeKDu_-BQi0Wmg" name="A" incomingTransitions="_KZByA610EeKDu_-BQi0Wmg">
        <outgoingTransitions xmi:id="_aXmi8LCzEeKkd8C7aZWapg" specification="# exitA >" target="_YvCCoLCzEeKkd8C7aZWapg"/>
        <regions xmi:id="_OJpj8K10EeKDu_-BQi0Wmg">
          <vertices xsi:type="sgraph:Entry" xmi:id="_oHXtYK14EeKDu_-BQi0Wmg" name="">
            <outgoingTransitions xmi:id="_WI7bwK2BEeK1webgUiVXVA" specification="" target="_U9Y1sK2BEeK1webgUiVXVA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_U9Y1sK2BEeK1webgUiVXVA" name="A" incomingTransitions="_WI7bwK2BEeK1webgUiVXVA">
            <outgoingTransitions xmi:id="_jPrW4LCzEeKkd8C7aZWapg" specification="e1" target="_i044ULCzEeKkd8C7aZWapg"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_i044ULCzEeKkd8C7aZWapg" name="exitA" incomingTransitions="_jPrW4LCzEeKkd8C7aZWapg"/>
        </regions>
        <regions xmi:id="_Oh0MUK10EeKDu_-BQi0Wmg">
          <vertices xsi:type="sgraph:State" xmi:id="_yQy0cK14EeKDu_-BQi0Wmg" name="B" incomingTransitions="_l-xdoK2CEeK1webgUiVXVA">
            <outgoingTransitions xmi:id="_GvjWoK2EEeK6f61rDSOHrA" specification="e2" target="_GCA7MK2EEeK6f61rDSOHrA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_lhmZcK2CEeK1webgUiVXVA">
            <outgoingTransitions xmi:id="_l-xdoK2CEeK1webgUiVXVA" specification="" target="_yQy0cK14EeKDu_-BQi0Wmg"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_GCA7MK2EEeK6f61rDSOHrA" name="exitB" incomingTransitions="_GvjWoK2EEeK6f61rDSOHrA"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YvCCoLCzEeKkd8C7aZWapg" name="B" incomingTransitions="_aXmi8LCzEeKkd8C7aZWapg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_KY6dQK10EeKDu_-BQi0Wmg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_KY5PIK10EeKDu_-BQi0Wmg" measurementUnit="Pixel">
    <children xmi:id="_KY8ScK10EeKDu_-BQi0Wmg" type="Region" element="_KY6dQq10EeKDu_-BQi0Wmg">
      <children xsi:type="notation:DecorationNode" xmi:id="_KY-HoK10EeKDu_-BQi0Wmg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KY-Hoa10EeKDu_-BQi0Wmg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KY-Hoq10EeKDu_-BQi0Wmg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_KY-usK10EeKDu_-BQi0Wmg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_KY_Vwq10EeKDu_-BQi0Wmg" type="Entry" element="_KY_Vwa10EeKDu_-BQi0Wmg">
          <children xmi:id="_KY_Vxa10EeKDu_-BQi0Wmg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_KY_80a10EeKDu_-BQi0Wmg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_KY_80q10EeKDu_-BQi0Wmg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_KY_80610EeKDu_-BQi0Wmg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_KY_Vxq10EeKDu_-BQi0Wmg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KY_80K10EeKDu_-BQi0Wmg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KY_Vw610EeKDu_-BQi0Wmg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KY_81K10EeKDu_-BQi0Wmg" x="149" y="27" width="15" height="15"/>
        </children>
        <children xmi:id="_KZAj4a10EeKDu_-BQi0Wmg" type="State" element="_KY_81a10EeKDu_-BQi0Wmg">
          <children xsi:type="notation:DecorationNode" xmi:id="_KZBK8K10EeKDu_-BQi0Wmg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_KZBK8a10EeKDu_-BQi0Wmg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_KZBK8q10EeKDu_-BQi0Wmg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KZBK8610EeKDu_-BQi0Wmg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_KZBK9K10EeKDu_-BQi0Wmg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KZBK9a10EeKDu_-BQi0Wmg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KZByAK10EeKDu_-BQi0Wmg" type="StateFigureCompartment">
            <children xmi:id="_OJsnQK10EeKDu_-BQi0Wmg" type="Region" element="_OJpj8K10EeKDu_-BQi0Wmg">
              <children xsi:type="notation:DecorationNode" xmi:id="_OJuccK10EeKDu_-BQi0Wmg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_OJucca10EeKDu_-BQi0Wmg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_OJuccq10EeKDu_-BQi0Wmg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_OJucc610EeKDu_-BQi0Wmg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_oHaJoK14EeKDu_-BQi0Wmg" type="Entry" element="_oHXtYK14EeKDu_-BQi0Wmg">
                  <children xmi:id="_oHaJo614EeKDu_-BQi0Wmg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_oHawsK14EeKDu_-BQi0Wmg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_oHawsa14EeKDu_-BQi0Wmg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_oHawsq14EeKDu_-BQi0Wmg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_oHaJpK14EeKDu_-BQi0Wmg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oHaJpa14EeKDu_-BQi0Wmg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_oHaJoa14EeKDu_-BQi0Wmg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_oHaJoq14EeKDu_-BQi0Wmg" x="28" y="12"/>
                </children>
                <children xmi:id="_U9gKcK2BEeK1webgUiVXVA" type="State" element="_U9Y1sK2BEeK1webgUiVXVA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_U9imsK2BEeK1webgUiVXVA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_U9imsa2BEeK1webgUiVXVA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_U9imsq2BEeK1webgUiVXVA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U9jNwK2BEeK1webgUiVXVA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_U9jNwa2BEeK1webgUiVXVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U9jNwq2BEeK1webgUiVXVA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_U9j00K2BEeK1webgUiVXVA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_U9gKca2BEeK1webgUiVXVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_U9gKcq2BEeK1webgUiVXVA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_U9kb4K2BEeK1webgUiVXVA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_U9gKc62BEeK1webgUiVXVA" x="18" y="47"/>
                </children>
                <children xmi:id="_i08isLCzEeKkd8C7aZWapg" type="Exit" element="_i044ULCzEeKkd8C7aZWapg">
                  <children xmi:id="_i09w0LCzEeKkd8C7aZWapg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_i0--8LCzEeKkd8C7aZWapg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_i0--8bCzEeKkd8C7aZWapg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_i0--8rCzEeKkd8C7aZWapg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_i09w0bCzEeKkd8C7aZWapg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_i09w0rCzEeKkd8C7aZWapg" x="-34"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_i08isbCzEeKkd8C7aZWapg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_i08isrCzEeKkd8C7aZWapg" x="28" y="113"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OJucdK10EeKDu_-BQi0Wmg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_OJsnQa10EeKDu_-BQi0Wmg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OJsnQq10EeKDu_-BQi0Wmg"/>
            </children>
            <children xmi:id="_Oh2okK10EeKDu_-BQi0Wmg" type="Region" element="_Oh0MUK10EeKDu_-BQi0Wmg">
              <children xsi:type="notation:DecorationNode" xmi:id="_Oh32sK10EeKDu_-BQi0Wmg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Oh32sa10EeKDu_-BQi0Wmg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Oh4dwK10EeKDu_-BQi0Wmg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Oh5r4K10EeKDu_-BQi0Wmg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_yQ4UAK14EeKDu_-BQi0Wmg" type="State" element="_yQy0cK14EeKDu_-BQi0Wmg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_yQ6JMK14EeKDu_-BQi0Wmg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_yQ6JMa14EeKDu_-BQi0Wmg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_yQ6JMq14EeKDu_-BQi0Wmg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_yQ6JM614EeKDu_-BQi0Wmg" type="StateTextCompartment" collapsed="true">
                    <children xsi:type="notation:Shape" xmi:id="_yQ6JNK14EeKDu_-BQi0Wmg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yQ6JNa14EeKDu_-BQi0Wmg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_yQ6wQK14EeKDu_-BQi0Wmg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_yQ4UAa14EeKDu_-BQi0Wmg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_yQ4UAq14EeKDu_-BQi0Wmg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yQ6wQa14EeKDu_-BQi0Wmg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yQ4UA614EeKDu_-BQi0Wmg" x="49" y="43"/>
                </children>
                <children xmi:id="_lhoOoK2CEeK1webgUiVXVA" type="Entry" element="_lhmZcK2CEeK1webgUiVXVA">
                  <children xmi:id="_lhoOo62CEeK1webgUiVXVA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_lhoOpq2CEeK1webgUiVXVA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_lho1sK2CEeK1webgUiVXVA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_lho1sa2CEeK1webgUiVXVA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_lhoOpK2CEeK1webgUiVXVA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lhoOpa2CEeK1webgUiVXVA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_lhoOoa2CEeK1webgUiVXVA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lhoOoq2CEeK1webgUiVXVA" x="59" y="13"/>
                </children>
                <children xmi:id="_GCBiQK2EEeK6f61rDSOHrA" type="Exit" element="_GCA7MK2EEeK6f61rDSOHrA">
                  <children xmi:id="_GCCJUK2EEeK6f61rDSOHrA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_GCCJU62EEeK6f61rDSOHrA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_GCCJVK2EEeK6f61rDSOHrA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_GCCJVa2EEeK6f61rDSOHrA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_GCCJUa2EEeK6f61rDSOHrA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GCCJUq2EEeK6f61rDSOHrA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_GCBiQa2EEeK6f61rDSOHrA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GCBiQq2EEeK6f61rDSOHrA" x="59" y="108"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Oh5r4a10EeKDu_-BQi0Wmg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Oh2oka10EeKDu_-BQi0Wmg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Oh2okq10EeKDu_-BQi0Wmg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KZAj4q10EeKDu_-BQi0Wmg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_KZAj4610EeKDu_-BQi0Wmg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KZByAa10EeKDu_-BQi0Wmg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KZByAq10EeKDu_-BQi0Wmg" x="40" y="86" width="253" height="227"/>
        </children>
        <children xmi:id="_YvHiMLCzEeKkd8C7aZWapg" type="State" element="_YvCCoLCzEeKkd8C7aZWapg">
          <children xsi:type="notation:DecorationNode" xmi:id="_YvIwULCzEeKkd8C7aZWapg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YvIwUbCzEeKkd8C7aZWapg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YvIwUrCzEeKkd8C7aZWapg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YvJXYLCzEeKkd8C7aZWapg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YvJXYbCzEeKkd8C7aZWapg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YvJXYrCzEeKkd8C7aZWapg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YvJXY7CzEeKkd8C7aZWapg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YvHiMbCzEeKkd8C7aZWapg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YvHiMrCzEeKkd8C7aZWapg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YvJ-cLCzEeKkd8C7aZWapg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YvHiM7CzEeKkd8C7aZWapg" x="345" y="163" width="40" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KY-usa10EeKDu_-BQi0Wmg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_KY8Sca10EeKDu_-BQi0Wmg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KY_VwK10EeKDu_-BQi0Wmg" x="220" y="10" width="407" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_KZDnM610EeKDu_-BQi0Wmg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_KZEOQK10EeKDu_-BQi0Wmg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KZEOQa10EeKDu_-BQi0Wmg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KZEOQq10EeKDu_-BQi0Wmg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_KZEOQ610EeKDu_-BQi0Wmg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KZEORK10EeKDu_-BQi0Wmg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KZEORa10EeKDu_-BQi0Wmg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_KY6dQa10EeKDu_-BQi0Wmg"/>
    <edges xmi:id="_KZDAIK10EeKDu_-BQi0Wmg" type="Transition" element="_KZByA610EeKDu_-BQi0Wmg" source="_KY_Vwq10EeKDu_-BQi0Wmg" target="_KZAj4a10EeKDu_-BQi0Wmg">
      <children xsi:type="notation:DecorationNode" xmi:id="_KZDnMK10EeKDu_-BQi0Wmg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KZDnMa10EeKDu_-BQi0Wmg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KZDnMq10EeKDu_-BQi0Wmg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KZDAIa10EeKDu_-BQi0Wmg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KZDAI610EeKDu_-BQi0Wmg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KZDAIq10EeKDu_-BQi0Wmg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0bMOcK2DEeK6f61rDSOHrA" id="(0.509090909090909,0.12096774193548387)"/>
    </edges>
    <edges xmi:id="_WI-fEK2BEeK1webgUiVXVA" type="Transition" element="_WI7bwK2BEeK1webgUiVXVA" source="_oHaJoK14EeKDu_-BQi0Wmg" target="_U9gKcK2BEeK1webgUiVXVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_WI_GIK2BEeK1webgUiVXVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WI_GIa2BEeK1webgUiVXVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WI_GIq2BEeK1webgUiVXVA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WI-fEa2BEeK1webgUiVXVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WI-fE62BEeK1webgUiVXVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WI-fEq2BEeK1webgUiVXVA" points="[0, 7, 0, -53]$[3, 50, 3, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WJBiYK2BEeK1webgUiVXVA" id="(0.55,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_l-yEsK2CEeK1webgUiVXVA" type="Transition" element="_l-xdoK2CEeK1webgUiVXVA" source="_lhoOoK2CEeK1webgUiVXVA" target="_yQ4UAK14EeKDu_-BQi0Wmg">
      <children xsi:type="notation:DecorationNode" xmi:id="_l-yrwa2CEeK1webgUiVXVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_l-yrwq2CEeK1webgUiVXVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_l-yrw62CEeK1webgUiVXVA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_l-yEsa2CEeK1webgUiVXVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_l-yrwK2CEeK1webgUiVXVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_l-yEsq2CEeK1webgUiVXVA" points="[7, 0, -50, -1]$[58, -14, 1, -15]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_l-0g8K2CEeK1webgUiVXVA" id="(0.575,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_GvkkwK2EEeK6f61rDSOHrA" type="Transition" element="_GvjWoK2EEeK6f61rDSOHrA" source="_yQ4UAK14EeKDu_-BQi0Wmg" target="_GCBiQK2EEeK6f61rDSOHrA">
      <children xsi:type="notation:DecorationNode" xmi:id="_GvlL0a2EEeK6f61rDSOHrA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GvlL0q2EEeK6f61rDSOHrA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GvlL062EEeK6f61rDSOHrA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Gvkkwa2EEeK6f61rDSOHrA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GvlL0K2EEeK6f61rDSOHrA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Gvkkwq2EEeK6f61rDSOHrA" points="[-14, 12, 32, -25]$[-39, 40, 7, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GvnBAK2EEeK6f61rDSOHrA" id="(0.425,0.7547169811320755)"/>
    </edges>
    <edges xmi:id="_aXspkLCzEeKkd8C7aZWapg" type="Transition" element="_aXmi8LCzEeKkd8C7aZWapg" source="_KZAj4a10EeKDu_-BQi0Wmg" target="_YvHiMLCzEeKkd8C7aZWapg">
      <children xsi:type="notation:DecorationNode" xmi:id="_aXtQoLCzEeKkd8C7aZWapg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aXtQobCzEeKkd8C7aZWapg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aXtQorCzEeKkd8C7aZWapg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aXspkbCzEeKkd8C7aZWapg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aXspk7CzEeKkd8C7aZWapg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aXspkrCzEeKkd8C7aZWapg" points="[11, -1, -74, 2]$[81, 21, -4, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aXvs4LCzEeKkd8C7aZWapg" id="(0.9565217391304348,0.4713656387665198)"/>
    </edges>
    <edges xmi:id="_jPslALCzEeKkd8C7aZWapg" type="Transition" element="_jPrW4LCzEeKkd8C7aZWapg" source="_U9gKcK2BEeK1webgUiVXVA" target="_i08isLCzEeKkd8C7aZWapg">
      <children xsi:type="notation:DecorationNode" xmi:id="_jPtMELCzEeKkd8C7aZWapg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jPtMEbCzEeKkd8C7aZWapg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jPtMErCzEeKkd8C7aZWapg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jPslAbCzEeKkd8C7aZWapg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jPslA7CzEeKkd8C7aZWapg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jPslArCzEeKkd8C7aZWapg" points="[0, 24, 1, -31]$[0, 48, 1, -7]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
