<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_x651cKsyEeKkYoDxSIY5_A" name="UnusedDefaultExitPoint">
    <regions xmi:id="_x67DkqsyEeKkYoDxSIY5_A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_x6_VA6syEeKkYoDxSIY5_A">
        <outgoingTransitions xmi:id="_om2swKwaEeKcBsi8YLfGGg" specification="" target="_ttT-MKszEeKkYoDxSIY5_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ttT-MKszEeKkYoDxSIY5_A" specification="" name="A" incomingTransitions="_om2swKwaEeKcBsi8YLfGGg">
        <outgoingTransitions xmi:id="_Sb04IKziEeK3BbA-xenOSw" specification="# exit1 > exit2 >" target="_ME3wcKwOEeKDK5u47htxww"/>
        <regions xmi:id="_Ixvy0KwOEeKDK5u47htxww">
          <vertices xsi:type="sgraph:State" xmi:id="_3okGgKwcEeKcBsi8YLfGGg" name="A" incomingTransitions="_6Bj-MKwcEeKcBsi8YLfGGg">
            <outgoingTransitions xmi:id="_bYaYoKziEeK3BbA-xenOSw" specification="oncycle" target="_adr1wKziEeK3BbA-xenOSw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_5dlHYKwcEeKcBsi8YLfGGg">
            <outgoingTransitions xmi:id="_6Bj-MKwcEeKcBsi8YLfGGg" specification="" target="_3okGgKwcEeKcBsi8YLfGGg"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_adr1wKziEeK3BbA-xenOSw" incomingTransitions="_bYaYoKziEeK3BbA-xenOSw"/>
        </regions>
        <regions xmi:id="_JE2VAKwOEeKDK5u47htxww">
          <vertices xsi:type="sgraph:State" xmi:id="_RtFC8Ky6EeKrnKvtzsUbpw" name="B" incomingTransitions="_SnpNwKy6EeKrnKvtzsUbpw">
            <outgoingTransitions xmi:id="_fINEIKziEeK3BbA-xenOSw" specification="oncycle" target="_de_qoKziEeK3BbA-xenOSw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_SPZF0Ky6EeKrnKvtzsUbpw" name="">
            <outgoingTransitions xmi:id="_SnpNwKy6EeKrnKvtzsUbpw" specification="" target="_RtFC8Ky6EeKrnKvtzsUbpw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_de_qoKziEeK3BbA-xenOSw" name="exit1" incomingTransitions="_fINEIKziEeK3BbA-xenOSw"/>
        </regions>
        <regions xmi:id="_qYhFIKy-EeKDTYVyKywyGw">
          <vertices xsi:type="sgraph:State" xmi:id="_tc600Ky_EeKDTYVyKywyGw" name="C" incomingTransitions="_v0lPwKy_EeKDTYVyKywyGw">
            <outgoingTransitions xmi:id="_fpFjoKziEeK3BbA-xenOSw" specification="oncycle" target="_eK7jkKziEeK3BbA-xenOSw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_u47f0Ky_EeKDTYVyKywyGw" name="">
            <outgoingTransitions xmi:id="_v0lPwKy_EeKDTYVyKywyGw" target="_tc600Ky_EeKDTYVyKywyGw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_eK7jkKziEeK3BbA-xenOSw" name="exit2" incomingTransitions="_fpFjoKziEeK3BbA-xenOSw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ME3wcKwOEeKDK5u47htxww" name="B" incomingTransitions="_Sb04IKziEeK3BbA-xenOSw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_x67DkKsyEeKkYoDxSIY5_A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_x651cKsyEeKkYoDxSIY5_A" measurementUnit="Pixel">
    <children xmi:id="_x684wKsyEeKkYoDxSIY5_A" type="Region" element="_x67DkqsyEeKkYoDxSIY5_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_x6-t8KsyEeKkYoDxSIY5_A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x6-t8asyEeKkYoDxSIY5_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x6-t8qsyEeKkYoDxSIY5_A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x6_VAKsyEeKkYoDxSIY5_A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_x6_8EKsyEeKkYoDxSIY5_A" type="Entry" element="_x6_VA6syEeKkYoDxSIY5_A">
          <children xmi:id="_x6_8E6syEeKkYoDxSIY5_A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_x7AjIKsyEeKkYoDxSIY5_A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_x7AjIasyEeKkYoDxSIY5_A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_x7AjIqsyEeKkYoDxSIY5_A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_x6_8FKsyEeKkYoDxSIY5_A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6_8FasyEeKkYoDxSIY5_A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_x6_8EasyEeKkYoDxSIY5_A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x7AjI6syEeKkYoDxSIY5_A" x="337" y="12" width="15" height="15"/>
        </children>
        <children xmi:id="_ttXBgKszEeKkYoDxSIY5_A" type="State" element="_ttT-MKszEeKkYoDxSIY5_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_ttY2sKszEeKkYoDxSIY5_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ttY2saszEeKkYoDxSIY5_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ttY2sqszEeKkYoDxSIY5_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ttY2s6szEeKkYoDxSIY5_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ttY2tKszEeKkYoDxSIY5_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ttY2taszEeKkYoDxSIY5_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ttZdwKszEeKkYoDxSIY5_A" type="StateFigureCompartment">
            <children xmi:id="_Ixy2IKwOEeKDK5u47htxww" type="Region" element="_Ixvy0KwOEeKDK5u47htxww">
              <children xsi:type="notation:DecorationNode" xmi:id="_Ix0EQKwOEeKDK5u47htxww" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Ix0EQawOEeKDK5u47htxww"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Ix0rUKwOEeKDK5u47htxww"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Ix0rUawOEeKDK5u47htxww" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_3oqNIKwcEeKcBsi8YLfGGg" type="State" element="_3okGgKwcEeKcBsi8YLfGGg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_3oq0MKwcEeKcBsi8YLfGGg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_3oq0MawcEeKcBsi8YLfGGg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_3oq0MqwcEeKcBsi8YLfGGg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_3orbQKwcEeKcBsi8YLfGGg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_3orbQawcEeKcBsi8YLfGGg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3orbQqwcEeKcBsi8YLfGGg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_3osCUKwcEeKcBsi8YLfGGg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_3oqNIawcEeKcBsi8YLfGGg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_3oqNIqwcEeKcBsi8YLfGGg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3osCUawcEeKcBsi8YLfGGg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3oqNI6wcEeKcBsi8YLfGGg" x="14" y="42"/>
                </children>
                <children xmi:id="_5dm8kKwcEeKcBsi8YLfGGg" type="Entry" element="_5dlHYKwcEeKcBsi8YLfGGg">
                  <children xmi:id="_5dnjoKwcEeKcBsi8YLfGGg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_5dnjo6wcEeKcBsi8YLfGGg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_5dnjpKwcEeKcBsi8YLfGGg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_5dnjpawcEeKcBsi8YLfGGg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_5dnjoawcEeKcBsi8YLfGGg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5dnjoqwcEeKcBsi8YLfGGg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_5dm8kawcEeKcBsi8YLfGGg" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5dm8kqwcEeKcBsi8YLfGGg" x="28" y="2"/>
                </children>
                <children xmi:id="_adtD4KziEeK3BbA-xenOSw" type="Exit" element="_adr1wKziEeK3BbA-xenOSw">
                  <children xmi:id="_adtD46ziEeK3BbA-xenOSw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_adtq8KziEeK3BbA-xenOSw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_adtq8aziEeK3BbA-xenOSw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_adtq8qziEeK3BbA-xenOSw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_adtD5KziEeK3BbA-xenOSw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_adtD5aziEeK3BbA-xenOSw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_adtD4aziEeK3BbA-xenOSw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_adtD4qziEeK3BbA-xenOSw" x="24" y="112"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ix0rUqwOEeKDK5u47htxww"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Ixy2IawOEeKDK5u47htxww" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ixy2IqwOEeKDK5u47htxww"/>
            </children>
            <children xmi:id="_JE4xQKwOEeKDK5u47htxww" type="Region" element="_JE2VAKwOEeKDK5u47htxww">
              <children xsi:type="notation:DecorationNode" xmi:id="_JE4xQ6wOEeKDK5u47htxww" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_JE4xRKwOEeKDK5u47htxww"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_JE5YUKwOEeKDK5u47htxww"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_JE5YUawOEeKDK5u47htxww" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_RtLwoKy6EeKrnKvtzsUbpw" type="State" element="_RtFC8Ky6EeKrnKvtzsUbpw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_RtOz8Ky6EeKrnKvtzsUbpw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_RtOz8ay6EeKrnKvtzsUbpw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_RtOz8qy6EeKrnKvtzsUbpw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_RtPbAKy6EeKrnKvtzsUbpw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_RtPbAay6EeKrnKvtzsUbpw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RtPbAqy6EeKrnKvtzsUbpw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_RtQCEKy6EeKrnKvtzsUbpw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_RtLwoay6EeKrnKvtzsUbpw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_RtLwoqy6EeKrnKvtzsUbpw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RtQCEay6EeKrnKvtzsUbpw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RtLwo6y6EeKrnKvtzsUbpw" x="46" y="42"/>
                </children>
                <children xmi:id="_SPcwMKy6EeKrnKvtzsUbpw" type="Entry" element="_SPZF0Ky6EeKrnKvtzsUbpw">
                  <children xmi:id="_SPcwM6y6EeKrnKvtzsUbpw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_SPdXQqy6EeKrnKvtzsUbpw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_SPdXQ6y6EeKrnKvtzsUbpw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_SPdXRKy6EeKrnKvtzsUbpw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_SPdXQKy6EeKrnKvtzsUbpw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SPdXQay6EeKrnKvtzsUbpw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_SPcwMay6EeKrnKvtzsUbpw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SPcwMqy6EeKrnKvtzsUbpw" x="56" y="7"/>
                </children>
                <children xmi:id="_de_qoaziEeK3BbA-xenOSw" type="Exit" element="_de_qoKziEeK3BbA-xenOSw">
                  <children xmi:id="_dfA4wKziEeK3BbA-xenOSw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_dfA4w6ziEeK3BbA-xenOSw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_dfA4xKziEeK3BbA-xenOSw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_dfA4xaziEeK3BbA-xenOSw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_dfA4waziEeK3BbA-xenOSw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dfA4wqziEeK3BbA-xenOSw" x="-34"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_dfARsKziEeK3BbA-xenOSw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dfARsaziEeK3BbA-xenOSw" x="56" y="112"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JE5YUqwOEeKDK5u47htxww"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JE4xQawOEeKDK5u47htxww" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JE4xQqwOEeKDK5u47htxww"/>
            </children>
            <children xmi:id="_qYlWkKy-EeKDTYVyKywyGw" type="Region" element="_qYhFIKy-EeKDTYVyKywyGw">
              <children xsi:type="notation:DecorationNode" xmi:id="_qYqPEKy-EeKDTYVyKywyGw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_qYqPEay-EeKDTYVyKywyGw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_qYqPEqy-EeKDTYVyKywyGw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_qYq2IKy-EeKDTYVyKywyGw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_tc-fMKy_EeKDTYVyKywyGw" type="State" element="_tc600Ky_EeKDTYVyKywyGw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tdAUYKy_EeKDTYVyKywyGw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tdAUYay_EeKDTYVyKywyGw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tdAUYqy_EeKDTYVyKywyGw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tdA7cKy_EeKDTYVyKywyGw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tdA7cay_EeKDTYVyKywyGw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tdA7cqy_EeKDTYVyKywyGw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tdA7c6y_EeKDTYVyKywyGw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tc-fMay_EeKDTYVyKywyGw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tc-fMqy_EeKDTYVyKywyGw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tdA7dKy_EeKDTYVyKywyGw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tc-fM6y_EeKDTYVyKywyGw" x="38" y="42"/>
                </children>
                <children xmi:id="_u4_KMKy_EeKDTYVyKywyGw" type="Entry" element="_u47f0Ky_EeKDTYVyKywyGw">
                  <children xmi:id="_u5A_YKy_EeKDTYVyKywyGw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_u5A_Y6y_EeKDTYVyKywyGw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_u5A_ZKy_EeKDTYVyKywyGw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_u5BmcKy_EeKDTYVyKywyGw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_u5A_Yay_EeKDTYVyKywyGw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u5A_Yqy_EeKDTYVyKywyGw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_u4_KMay_EeKDTYVyKywyGw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_u4_KMqy_EeKDTYVyKywyGw" x="48" y="7"/>
                </children>
                <children xmi:id="_eK8KoKziEeK3BbA-xenOSw" type="Exit" element="_eK7jkKziEeK3BbA-xenOSw">
                  <children xmi:id="_eK8xsKziEeK3BbA-xenOSw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_eK8xs6ziEeK3BbA-xenOSw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_eK8xtKziEeK3BbA-xenOSw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_eK9YwKziEeK3BbA-xenOSw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_eK8xsaziEeK3BbA-xenOSw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eK8xsqziEeK3BbA-xenOSw" x="-34"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_eK8KoaziEeK3BbA-xenOSw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_eK8KoqziEeK3BbA-xenOSw" x="48" y="112"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qYq2Iay-EeKDTYVyKywyGw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_qYl9oKy-EeKDTYVyKywyGw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qYl9oay-EeKDTYVyKywyGw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ttXBgaszEeKkYoDxSIY5_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ttXBgqszEeKkYoDxSIY5_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ttZdwaszEeKkYoDxSIY5_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ttXokKszEeKkYoDxSIY5_A" x="179" y="57" width="336" height="248"/>
        </children>
        <children xmi:id="_ME93EKwOEeKDK5u47htxww" type="State" element="_ME3wcKwOEeKDK5u47htxww">
          <children xsi:type="notation:DecorationNode" xmi:id="_ME_sQKwOEeKDK5u47htxww" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ME_sQawOEeKDK5u47htxww"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ME_sQqwOEeKDK5u47htxww"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MFA6YKwOEeKDK5u47htxww" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MFBhcKwOEeKDK5u47htxww" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MFBhcawOEeKDK5u47htxww"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MFCIgKwOEeKDK5u47htxww" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ME93EawOEeKDK5u47htxww" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ME93EqwOEeKDK5u47htxww"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MFCIgawOEeKDK5u47htxww" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ME93E6wOEeKDK5u47htxww" x="19" y="162" width="40" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6_VAasyEeKkYoDxSIY5_A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_x684wasyEeKkYoDxSIY5_A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x6_VAqsyEeKkYoDxSIY5_A" x="220" y="10" width="556" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_x7E0kasyEeKkYoDxSIY5_A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_x7FboKsyEeKkYoDxSIY5_A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x7FboasyEeKkYoDxSIY5_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x7FboqsyEeKkYoDxSIY5_A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_x7Fbo6syEeKkYoDxSIY5_A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x7FbpKsyEeKkYoDxSIY5_A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_x7FbpasyEeKkYoDxSIY5_A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_x67DkasyEeKkYoDxSIY5_A"/>
    <edges xmi:id="_om5wEKwaEeKcBsi8YLfGGg" type="Transition" element="_om2swKwaEeKcBsi8YLfGGg" source="_x6_8EKsyEeKkYoDxSIY5_A" target="_ttXBgKszEeKkYoDxSIY5_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_om6-MKwaEeKcBsi8YLfGGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_om6-MawaEeKcBsi8YLfGGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_om6-MqwaEeKcBsi8YLfGGg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_om5wEawaEeKcBsi8YLfGGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_om6XIKwaEeKcBsi8YLfGGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_om5wEqwaEeKcBsi8YLfGGg" points="[0, 8, 3, -142]$[0, 141, 3, -9]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_om9acKwaEeKcBsi8YLfGGg" id="(0.4791666666666667,0.08870967741935484)"/>
    </edges>
    <edges xmi:id="_6BlzYKwcEeKcBsi8YLfGGg" type="Transition" element="_6Bj-MKwcEeKcBsi8YLfGGg" source="_5dm8kKwcEeKcBsi8YLfGGg" target="_3oqNIKwcEeKcBsi8YLfGGg">
      <children xsi:type="notation:DecorationNode" xmi:id="_6BlzZKwcEeKcBsi8YLfGGg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6BlzZawcEeKcBsi8YLfGGg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6BlzZqwcEeKcBsi8YLfGGg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6BlzYawcEeKcBsi8YLfGGg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6BlzY6wcEeKcBsi8YLfGGg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6BlzYqwcEeKcBsi8YLfGGg" points="[0, 7, -4, -69]$[7, 65, 3, -11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6BnokKwcEeKcBsi8YLfGGg" id="(0.525,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_SnrC8Ky6EeKrnKvtzsUbpw" type="Transition" element="_SnpNwKy6EeKrnKvtzsUbpw" source="_SPcwMKy6EeKrnKvtzsUbpw" target="_RtLwoKy6EeKrnKvtzsUbpw">
      <children xsi:type="notation:DecorationNode" xmi:id="_SnrqAay6EeKrnKvtzsUbpw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SnrqAqy6EeKrnKvtzsUbpw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SnrqA6y6EeKrnKvtzsUbpw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SnrC8ay6EeKrnKvtzsUbpw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SnrqAKy6EeKrnKvtzsUbpw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SnrC8qy6EeKrnKvtzsUbpw" points="[0, 7, -2, -71]$[5, 67, 3, -11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SnutUKy6EeKrnKvtzsUbpw" id="(0.575,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_v0nE8Ky_EeKDTYVyKywyGw" type="Transition" element="_v0lPwKy_EeKDTYVyKywyGw" source="_u4_KMKy_EeKDTYVyKywyGw" target="_tc-fMKy_EeKDTYVyKywyGw">
      <children xsi:type="notation:DecorationNode" xmi:id="_v0nsAay_EeKDTYVyKywyGw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_v0nsAqy_EeKDTYVyKywyGw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_v0nsA6y_EeKDTYVyKywyGw" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_v0nE8ay_EeKDTYVyKywyGw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_v0nsAKy_EeKDTYVyKywyGw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_v0nE8qy_EeKDTYVyKywyGw" points="[0, 7, 1, -62]$[2, 61, 3, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_v0qIQKy_EeKDTYVyKywyGw" id="(0.425,0.16981132075471697)"/>
    </edges>
    <edges xmi:id="_Sb2GQKziEeK3BbA-xenOSw" type="Transition" element="_Sb04IKziEeK3BbA-xenOSw" source="_ttXBgKszEeKkYoDxSIY5_A" target="_ME93EKwOEeKDK5u47htxww">
      <children xsi:type="notation:DecorationNode" xmi:id="_Sb2tUKziEeK3BbA-xenOSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Sb2tUaziEeK3BbA-xenOSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Sb2tUqziEeK3BbA-xenOSw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Sb2GQaziEeK3BbA-xenOSw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Sb2GQ6ziEeK3BbA-xenOSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Sb2GQqziEeK3BbA-xenOSw" points="[-5, 6, 178, -6]$[-183, -12, 0, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Sb37cKziEeK3BbA-xenOSw" id="(0.0196078431372549,0.5443548387096774)"/>
    </edges>
    <edges xmi:id="_bYbmwKziEeK3BbA-xenOSw" type="Transition" element="_bYaYoKziEeK3BbA-xenOSw" source="_3oqNIKwcEeKcBsi8YLfGGg" target="_adtD4KziEeK3BbA-xenOSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_bYbmxKziEeK3BbA-xenOSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bYbmxaziEeK3BbA-xenOSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bYbmxqziEeK3BbA-xenOSw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bYbmwaziEeK3BbA-xenOSw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bYbmw6ziEeK3BbA-xenOSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bYbmwqziEeK3BbA-xenOSw" points="[-5, 24, -1, -54]$[-12, 78, -8, 0]"/>
    </edges>
    <edges xmi:id="_fINrMKziEeK3BbA-xenOSw" type="Transition" element="_fINEIKziEeK3BbA-xenOSw" source="_RtLwoKy6EeKrnKvtzsUbpw" target="_de_qoaziEeK3BbA-xenOSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fIOSQaziEeK3BbA-xenOSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fIOSQqziEeK3BbA-xenOSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fIOSQ6ziEeK3BbA-xenOSw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fINrMaziEeK3BbA-xenOSw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fIOSQKziEeK3BbA-xenOSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fINrMqziEeK3BbA-xenOSw" points="[-1, 24, -1, -45]$[-2, 62, -2, -7]"/>
    </edges>
    <edges xmi:id="_fpGKsKziEeK3BbA-xenOSw" type="Transition" element="_fpFjoKziEeK3BbA-xenOSw" source="_tc-fMKy_EeKDTYVyKywyGw" target="_eK8KoKziEeK3BbA-xenOSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fpGxwKziEeK3BbA-xenOSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fpGxwaziEeK3BbA-xenOSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fpGxwqziEeK3BbA-xenOSw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fpGKsaziEeK3BbA-xenOSw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fpGKs6ziEeK3BbA-xenOSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fpGKsqziEeK3BbA-xenOSw" points="[4, 24, 3, -28]$[8, 54, 7, 2]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
