<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_EF9NIEM-EeGn9vULrVOBVA" name="ExpressionError05" specification="interface:&#xA;var A : integer&#xA;&#xA;interface:&#xA;var B : integer">
    <regions xmi:id="_EF90MkM-EeGn9vULrVOBVA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_EF-bQ0M-EeGn9vULrVOBVA">
        <outgoingTransitions xmi:id="_EGAQdUM-EeGn9vULrVOBVA" target="_EF_CVEM-EeGn9vULrVOBVA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EF_CVEM-EeGn9vULrVOBVA" name="A" incomingTransitions="_EGAQdUM-EeGn9vULrVOBVA"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_EF90MEM-EeGn9vULrVOBVA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_EF9NIEM-EeGn9vULrVOBVA" measurementUnit="Pixel">
    <children xmi:id="_EF90M0M-EeGn9vULrVOBVA" type="Region" element="_EF90MkM-EeGn9vULrVOBVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EF90NkM-EeGn9vULrVOBVA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EF90N0M-EeGn9vULrVOBVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EF90OEM-EeGn9vULrVOBVA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_EF-bQEM-EeGn9vULrVOBVA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_EF-bREM-EeGn9vULrVOBVA" type="Entry" element="_EF-bQ0M-EeGn9vULrVOBVA">
          <children xmi:id="_EF-bR0M-EeGn9vULrVOBVA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_EF_CUEM-EeGn9vULrVOBVA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_EF_CUUM-EeGn9vULrVOBVA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_EF_CUkM-EeGn9vULrVOBVA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EF-bSEM-EeGn9vULrVOBVA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EF-bSUM-EeGn9vULrVOBVA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EF-bRUM-EeGn9vULrVOBVA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EF_CU0M-EeGn9vULrVOBVA" x="70" y="20"/>
        </children>
        <children xmi:id="_EF_CVkM-EeGn9vULrVOBVA" type="State" element="_EF_CVEM-EeGn9vULrVOBVA">
          <children xsi:type="notation:DecorationNode" xmi:id="_EF_pYEM-EeGn9vULrVOBVA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EF_pYUM-EeGn9vULrVOBVA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EF_pYkM-EeGn9vULrVOBVA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EF_pY0M-EeGn9vULrVOBVA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EGAQcEM-EeGn9vULrVOBVA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EGAQcUM-EeGn9vULrVOBVA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EGAQckM-EeGn9vULrVOBVA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EF_CV0M-EeGn9vULrVOBVA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EF_CWEM-EeGn9vULrVOBVA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EGAQdEM-EeGn9vULrVOBVA" x="60" y="83"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EF-bQUM-EeGn9vULrVOBVA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_EF90NEM-EeGn9vULrVOBVA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EF-bQkM-EeGn9vULrVOBVA" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_EGA3h0M-EeGn9vULrVOBVA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_EGA3iUM-EeGn9vULrVOBVA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EGA3ikM-EeGn9vULrVOBVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EGA3i0M-EeGn9vULrVOBVA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_EGA3jEM-EeGn9vULrVOBVA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EGA3jUM-EeGn9vULrVOBVA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EGBekEM-EeGn9vULrVOBVA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_EF90MUM-EeGn9vULrVOBVA"/>
    <edges xmi:id="_EGA3gEM-EeGn9vULrVOBVA" type="Transition" element="_EGAQdUM-EeGn9vULrVOBVA" source="_EF-bREM-EeGn9vULrVOBVA" target="_EF_CVkM-EeGn9vULrVOBVA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EGA3hEM-EeGn9vULrVOBVA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EGA3hUM-EeGn9vULrVOBVA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EGA3hkM-EeGn9vULrVOBVA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EGA3gUM-EeGn9vULrVOBVA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EGA3g0M-EeGn9vULrVOBVA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EGA3gkM-EeGn9vULrVOBVA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
