<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_0n_QAENNEeGWX9OCVC4O3A" name="StatechartError06" specification="">
    <regions xmi:id="_0oAeIkNNEeGWX9OCVC4O3A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_6ZRKwENQEeGWX9OCVC4O3A">
        <outgoingTransitions xmi:id="_NWV4wENREeGWX9OCVC4O3A" target="_LbRTMENREeGWX9OCVC4O3A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_LbRTMENREeGWX9OCVC4O3A" name="A" incomingTransitions="_NWV4wENREeGWX9OCVC4O3A">
        <outgoingTransitions xmi:id="_1vFeIENREeGWX9OCVC4O3A" target="_0yzcEENREeGWX9OCVC4O3A"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_0yzcEENREeGWX9OCVC4O3A" incomingTransitions="_1vFeIENREeGWX9OCVC4O3A"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_0oAeIENNEeGWX9OCVC4O3A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_0n_QAENNEeGWX9OCVC4O3A" measurementUnit="Pixel">
    <children xmi:id="_0oCTUENNEeGWX9OCVC4O3A" type="Region" element="_0oAeIkNNEeGWX9OCVC4O3A">
      <children xsi:type="notation:DecorationNode" xmi:id="_0oDhcENNEeGWX9OCVC4O3A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0oDhcUNNEeGWX9OCVC4O3A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0oDhckNNEeGWX9OCVC4O3A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0oEIgENNEeGWX9OCVC4O3A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_6ZYfgENQEeGWX9OCVC4O3A" type="Entry" element="_6ZRKwENQEeGWX9OCVC4O3A">
          <children xmi:id="_6ZZGkENQEeGWX9OCVC4O3A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_6ZZGk0NQEeGWX9OCVC4O3A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6ZZGlENQEeGWX9OCVC4O3A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_6ZZGlUNQEeGWX9OCVC4O3A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6ZZGkUNQEeGWX9OCVC4O3A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6ZZGkkNQEeGWX9OCVC4O3A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6ZYfgUNQEeGWX9OCVC4O3A" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6ZYfgkNQEeGWX9OCVC4O3A" x="155" y="19"/>
        </children>
        <children xmi:id="_LbpGoENREeGWX9OCVC4O3A" type="State" element="_LbRTMENREeGWX9OCVC4O3A">
          <children xsi:type="notation:DecorationNode" xmi:id="_Lbq70ENREeGWX9OCVC4O3A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Lbq70UNREeGWX9OCVC4O3A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Lbq70kNREeGWX9OCVC4O3A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Lbri4ENREeGWX9OCVC4O3A" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_Lbri4UNREeGWX9OCVC4O3A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Lbri4kNREeGWX9OCVC4O3A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_LbsxAENREeGWX9OCVC4O3A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_LbpGoUNREeGWX9OCVC4O3A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_LbpGokNREeGWX9OCVC4O3A"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LbpGo0NREeGWX9OCVC4O3A" x="145" y="75"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_0y6w0ENREeGWX9OCVC4O3A" type="Choice" element="_0yzcEENREeGWX9OCVC4O3A" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0y6w0UNREeGWX9OCVC4O3A" x="155" y="187"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0oEIgUNNEeGWX9OCVC4O3A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_0oCTUUNNEeGWX9OCVC4O3A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0oEvkENNEeGWX9OCVC4O3A" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_0oIZ8ENNEeGWX9OCVC4O3A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_0oIZ8kNNEeGWX9OCVC4O3A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0oIZ80NNEeGWX9OCVC4O3A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0oIZ9ENNEeGWX9OCVC4O3A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0oIZ9UNNEeGWX9OCVC4O3A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0oIZ9kNNEeGWX9OCVC4O3A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0oJBAENNEeGWX9OCVC4O3A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_0oAeIUNNEeGWX9OCVC4O3A"/>
    <edges xmi:id="_NWaxQENREeGWX9OCVC4O3A" type="Transition" element="_NWV4wENREeGWX9OCVC4O3A" source="_6ZYfgENQEeGWX9OCVC4O3A" target="_LbpGoENREeGWX9OCVC4O3A">
      <children xsi:type="notation:DecorationNode" xmi:id="_NWaxRENREeGWX9OCVC4O3A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NWaxRUNREeGWX9OCVC4O3A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NWaxRkNREeGWX9OCVC4O3A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NWaxQUNREeGWX9OCVC4O3A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NWaxQ0NREeGWX9OCVC4O3A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NWaxQkNREeGWX9OCVC4O3A" points="[-1, 7, 16, -78]$[-14, 69, 3, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NWdNgENREeGWX9OCVC4O3A" id="(0.45,0.08771929824561403)"/>
    </edges>
    <edges xmi:id="_1vLkwENREeGWX9OCVC4O3A" type="Transition" element="_1vFeIENREeGWX9OCVC4O3A" source="_LbpGoENREeGWX9OCVC4O3A" target="_0y6w0ENREeGWX9OCVC4O3A">
      <children xsi:type="notation:DecorationNode" xmi:id="_1vLkxENREeGWX9OCVC4O3A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1vLkxUNREeGWX9OCVC4O3A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1vLkxkNREeGWX9OCVC4O3A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1vLkwUNREeGWX9OCVC4O3A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1vLkw0NREeGWX9OCVC4O3A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1vLkwkNREeGWX9OCVC4O3A" points="[0, 26, 0, -67]$[0, 101, 0, 8]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
