<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Indigo_SR1" sequenceNumber="5">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="3.8.0.v20120103-2134-9gF7iHf2G25BwwUajkz-jd3GgNBuE8PTgeGggBZ"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20120305-1541-7P7OFvNFLWUl7Dqyq6OBBmS"/>
<unit id="org.eclipse.platform.source.feature.group" version="4.2.0.v20120221-1643-9JF7AH9EFwCXKafDVIaXhomQr7ML0EZWz-1ITJmGqfM7b"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.0.v20120319-0555"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.3.0.v201203201034"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.0.v201203201034"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
</target>
