<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mars (SCT)" sequenceNumber="30">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="4.5.0.I20150603-2000"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.7.0.201506070905"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.9.0.201505312221"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.1.0.201506080833"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.1.0.v20150601-0733"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.3.v201506010551"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.0.v20150603-2000"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.4.0.v20150618-1659"/>
<unit id="org.eclipse.gmf.feature.group" version="1.9.0.201506060219"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
<repository location="http://download.itemis.com/updates/releases/2.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.0.2.201501201328"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
</target>
