<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mars (SCT)" sequenceNumber="34">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.1.1.201509120604"/>
<unit id="org.eclipse.emf.compare.diagram.papyrus.feature.group" version="3.1.1.201509120604"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="8.8.0.201509131935"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.9.0.201505312221"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.1.1.v20150906-1225"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.4.v201508050135"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.1.v20150806-0404"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.1.v20150904-0015"/>
<unit id="org.eclipse.epp.mpc.feature.group" version="1.4.1.v20150916-1928"/>
<unit id="org.eclipse.gmf.feature.group" version="1.9.0.201506060219"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
<repository location="http://download.itemis.com/updates/releases/2.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.source.feature.group" version="3.11.1.v20150904-0345"/>
<unit id="org.eclipse.platform.feature.group" version="4.5.1.v20150904-0015"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
</location>
</locations>
</target>
