<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
                      http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers/>
  <mirrors>
    <mirror>
      <id>Reserve1</id>
      <name>itemis</name>
      <url>http://reserve.itemis.de/eclipse/releases/indigo</url>
      <mirrorOf>http://download.eclipse.org/releases/indigo</mirrorOf>
      <layout>p2</layout>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
    </mirror>
    <mirror>
      <id>Reserve2</id>
      <name>itemis</name>
      <url>http://reserve.itemis.de/eclipse/eclipse/updates/3.7</url>
      <mirrorOf>http://download.eclipse.org/eclipse/updates/3.7</mirrorOf>
      <layout>p2</layout>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
    </mirror>
    <mirror>
      <id>Reserve5</id>
      <name>itemis</name>
      <url>http://reserve.itemis.de/eclipse/releases/indigo</url>
      <mirrorOf>indigo</mirrorOf>
      <layout>p2</layout>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
    </mirror>
    <mirror>
      <id>Reserve7</id>
      <name>eclipse37</name>
      <url>http://reserve.itemis.de/eclipse/eclipse/updates/3.7</url>
      <mirrorOf>eclipse37</mirrorOf>
      <layout>p2</layout>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
    </mirror>
    <mirror>
      <id>Nexus</id>
      <name>Nexus itemis</name>
      <url>https://builds.itemis.de/nexus/content/groups/public</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <proxies/>
<profiles>
    <profile>
      <id>nexus</id>
      <!--Enable snapshots for the built in central repo to direct -->
      <!--all requests to nexus via the mirror -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>
