<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipselabs.damos.mscript.codegen.c.ide.ui.launch.CodegenTabGroup"
            id="org.eclipselabs.mscript.ide.ui.codegenTabGroup"
            type="org.eclipselabs.mscript.codegen.c.ide.core.codegen">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipselabs.mscript.codegen.c.ide.core.codegen"
            icon="icons/MscriptCodegen.gif"
            id="org.eclipselabs.mscript.ide.ui.codegenImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
