<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.yakindu.org/sct/statechart/SGen"
            class="org.yakindu.sct.model.sgen.SGenPackage"
            genModel="model/emf/sgen.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="platform:/resource/org.yakindu.sct.model.sgen/model/emf/sgen.ecore"
            target="model/emf/sgen.ecore">
      </mapping>
   </extension>

</plugin>
