<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension-point id="org.yakindu.sct.generator.core.generator" name="SCT Generator" schema="schema/generator.exsd"/>
  <extension-point id="org.yakindu.sct.generator.core.featuretypes" name="GenModel Feature Types" schema="schema/featuretypes.exsd"/>
 <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.generator.core.features.impl.CoreLibraryDefaultFeatureValueProvider"
            generatorId="ALL"
            uri="platform:/plugin/org.yakindu.sct.generator.core/library/CoreFeatureTypeLibrary.xmi">
      </FeatureLibrary>
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.generator.core.features.impl.XpandLibraryDefaultFeatureValueProvider"
            generatorId="yakindu::xpand"
            uri="platform:/plugin/org.yakindu.sct.generator.core/library/XpandFeatureTypeLibrary.xmi">
      </FeatureLibrary>
      <FeatureLibrary 
   			defaultProvider="org.yakindu.sct.generator.core.features.impl.GenericJavaLibraryDefaultValueProvider"
      		generatorId="yakindu::generic" 
          	uri="platform:/plugin/org.yakindu.sct.generator.core/library/GenericJavaFeatureTypeLibrary.xmi">
   	  </FeatureLibrary>
   </extension>
 <extension
       point="org.yakindu.sct.generator.core.generator">
    <SCTGenerator
          class="org.yakindu.sct.generator.core.impl.GenericXPandCodeGenerator"
          description="Generate Code using Xpand Templates"
          id="yakindu::xpand"
          name="YAKINDU Generic Xpand Generator">
    </SCTGenerator>
 </extension>
 <extension
       point="org.yakindu.sct.generator.core.generator">
   <SCTGenerator
          class="org.yakindu.sct.generator.core.impl.GenericJavaBasedGenerator"
          description="Generate Code using Xpand Templates"
          id="yakindu::generic"
          name="YAKINDU Generic Java Generator">
    </SCTGenerator>
 </extension>
 
</plugin>
