<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.domain.modules">
      <Module
            domainID="org.yakindu.domain.default"
            feature="org.yakindu.sct.editor"
            moduleProvider="org.yakindu.sct.domain.generic.editor.EditorModuleProvider">
      </Module>
   </extension>
</plugin>
