<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_AU29oMdiEeGOoP2Ze98WBQ" specification="interface :&#xA;var x : integer&#xA;var y : integer" name="before_folding">
    <regions xmi:id="_AU3kssdiEeGOoP2Ze98WBQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_AU4LxsdiEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_AU6A88diEeGOoP2Ze98WBQ" target="_AU4y18diEeGOoP2Ze98WBQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AU4y18diEeGOoP2Ze98WBQ" name="A" incomingTransitions="_AU6A88diEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_CSfvAMdiEeGOoP2Ze98WBQ" specification=" / x = 3" target="_BE1pEMdiEeGOoP2Ze98WBQ"/>
        <outgoingTransitions xmi:id="_gnvHwMdlEeGOoP2Ze98WBQ" specification="" target="_bKn-0MdlEeGOoP2Ze98WBQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BE1pEMdiEeGOoP2Ze98WBQ" specification="entry / y +=1 ; x+=1 ; y = x + 10" name="B" incomingTransitions="_CSfvAMdiEeGOoP2Ze98WBQ _cY-oUMdlEeGOoP2Ze98WBQ"/>
      <vertices xsi:type="sgraph:State" xmi:id="_bKn-0MdlEeGOoP2Ze98WBQ" name="A2" incomingTransitions="_gnvHwMdlEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_cY-oUMdlEeGOoP2Ze98WBQ" specification="" target="_BE1pEMdiEeGOoP2Ze98WBQ"/>
        <outgoingTransitions xmi:id="_LuJ_MOqjEeG_KKo5r9OX-w" specification="/x+=1" target="_JRcsMOqjEeG_KKo5r9OX-w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EPdZAOqjEeG_KKo5r9OX-w" specification="entry /&#xA;  x=0" name="CompState">
        <regions xmi:id="_EPgcUOqjEeG_KKo5r9OX-w" name="compInnerRegion">
          <vertices xsi:type="sgraph:State" xmi:id="_JRcsMOqjEeG_KKo5r9OX-w" specification="" name="InnerState" incomingTransitions="_LuJ_MOqjEeG_KKo5r9OX-w"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_AU3ksMdiEeGOoP2Ze98WBQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_AU29oMdiEeGOoP2Ze98WBQ" measurementUnit="Pixel">
    <children xmi:id="_AU3ks8diEeGOoP2Ze98WBQ" type="Region" element="_AU3kssdiEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_AU4LwMdiEeGOoP2Ze98WBQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AU4LwcdiEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AU4LwsdiEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_AU4Lw8diEeGOoP2Ze98WBQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_AU4Lx8diEeGOoP2Ze98WBQ" type="Entry" element="_AU4LxsdiEeGOoP2Ze98WBQ">
          <children xmi:id="_AU4y0MdiEeGOoP2Ze98WBQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_AU4y08diEeGOoP2Ze98WBQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_AU4y1MdiEeGOoP2Ze98WBQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_AU4y1cdiEeGOoP2Ze98WBQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AU4y0cdiEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU4y0sdiEeGOoP2Ze98WBQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AU4LyMdiEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU4y1sdiEeGOoP2Ze98WBQ" x="70" y="20"/>
        </children>
        <children xmi:id="_AU5Z4cdiEeGOoP2Ze98WBQ" type="State" element="_AU4y18diEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_AU5Z5cdiEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AU5Z5sdiEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AU5Z58diEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AU5Z6MdiEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AU5Z6cdiEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU5Z6sdiEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AU6A8MdiEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AU5Z4sdiEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AU5Z48diEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AU6A8cdiEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU6A8sdiEeGOoP2Ze98WBQ" x="60" y="97"/>
        </children>
        <children xmi:id="_BFBPQMdiEeGOoP2Ze98WBQ" type="State" element="_BE1pEMdiEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_BFB2UMdiEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BFB2UcdiEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BFB2UsdiEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BFB2U8diEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BFCdYMdiEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BFCdYcdiEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BFCdYsdiEeGOoP2Ze98WBQ" type="StateFigureCompartment" collapsed="true"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BFBPQcdiEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BFBPQsdiEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BFCdY8diEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BFBPQ8diEeGOoP2Ze98WBQ" x="254" y="79" width="93" height="98"/>
        </children>
        <children xmi:id="_bKusgMdlEeGOoP2Ze98WBQ" type="State" element="_bKn-0MdlEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_bKvTkMdlEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bKvTkcdlEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bKvTksdlEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bKvTk8dlEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bKvTlMdlEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bKvTlcdlEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bKv6oMdlEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bKusgcdlEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bKusgsdlEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bKv6ocdlEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bKusg8dlEeGOoP2Ze98WBQ" x="62" y="194"/>
        </children>
        <children xmi:id="_EQpEwOqjEeG_KKo5r9OX-w" type="State" element="_EPdZAOqjEeG_KKo5r9OX-w">
          <children xsi:type="notation:DecorationNode" xmi:id="_EQy1wOqjEeG_KKo5r9OX-w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EQy1weqjEeG_KKo5r9OX-w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EQy1wuqjEeG_KKo5r9OX-w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EQzc0OqjEeG_KKo5r9OX-w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EQ0D4OqjEeG_KKo5r9OX-w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EQ0D4eqjEeG_KKo5r9OX-w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EQ0q8OqjEeG_KKo5r9OX-w" type="StateFigureCompartment">
            <children xmi:id="_EQ7YoOqjEeG_KKo5r9OX-w" type="Region" element="_EPgcUOqjEeG_KKo5r9OX-w">
              <children xsi:type="notation:DecorationNode" xmi:id="_EQ7_sOqjEeG_KKo5r9OX-w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_EQ7_seqjEeG_KKo5r9OX-w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_EQ7_suqjEeG_KKo5r9OX-w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_EQ7_s-qjEeG_KKo5r9OX-w" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_JRnrUOqjEeG_KKo5r9OX-w" type="State" element="_JRcsMOqjEeG_KKo5r9OX-w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JRoSYOqjEeG_KKo5r9OX-w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JRoSYeqjEeG_KKo5r9OX-w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JRoSYuqjEeG_KKo5r9OX-w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JRoSY-qjEeG_KKo5r9OX-w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JRo5cOqjEeG_KKo5r9OX-w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JRo5ceqjEeG_KKo5r9OX-w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JRo5cuqjEeG_KKo5r9OX-w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JRnrUeqjEeG_KKo5r9OX-w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JRnrUuqjEeG_KKo5r9OX-w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JRo5c-qjEeG_KKo5r9OX-w"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JRnrU-qjEeG_KKo5r9OX-w" x="50" y="2"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EQ7_tOqjEeG_KKo5r9OX-w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_EQ7YoeqjEeG_KKo5r9OX-w" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EQ7YouqjEeG_KKo5r9OX-w"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EQpEweqjEeG_KKo5r9OX-w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EQpEwuqjEeG_KKo5r9OX-w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EQ1SAOqjEeG_KKo5r9OX-w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EQpEw-qjEeG_KKo5r9OX-w" x="289" y="251" width="177" height="150"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU4LxMdiEeGOoP2Ze98WBQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_AU3ktMdiEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU4LxcdiEeGOoP2Ze98WBQ" x="220" y="10" width="581" height="435"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_AU6oBMdiEeGOoP2Ze98WBQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_AU6oBsdiEeGOoP2Ze98WBQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AU6oB8diEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AU6oCMdiEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_AU7PEMdiEeGOoP2Ze98WBQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU7PEcdiEeGOoP2Ze98WBQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AU7PEsdiEeGOoP2Ze98WBQ" x="10" y="10" width="200" height="435"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_AU3kscdiEeGOoP2Ze98WBQ"/>
    <edges xmi:id="_AU6A9MdiEeGOoP2Ze98WBQ" type="Transition" element="_AU6A88diEeGOoP2Ze98WBQ" source="_AU4Lx8diEeGOoP2Ze98WBQ" target="_AU5Z4cdiEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_AU6oAcdiEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AU6oAsdiEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AU6oA8diEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AU6A9cdiEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AU6oAMdiEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AU6A9sdiEeGOoP2Ze98WBQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_CSkngMdiEeGOoP2Ze98WBQ" type="Transition" element="_CSfvAMdiEeGOoP2Ze98WBQ" source="_AU5Z4cdiEeGOoP2Ze98WBQ" target="_BFBPQMdiEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_CSlOkMdiEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CSlOkcdiEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CSlOksdiEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CSkngcdiEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CSkng8diEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CSkngsdiEeGOoP2Ze98WBQ" points="[18, 6, -196, 5]$[208, 25, -6, 24]"/>
    </edges>
    <edges xmi:id="_cZAdgMdlEeGOoP2Ze98WBQ" type="Transition" element="_cY-oUMdlEeGOoP2Ze98WBQ" source="_bKusgMdlEeGOoP2Ze98WBQ" target="_BFBPQMdiEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_cZAdhMdlEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cZAdhcdlEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cZAdhsdlEeGOoP2Ze98WBQ" x="-53" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cZAdgcdlEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cZAdg8dlEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cZAdgsdlEeGOoP2Ze98WBQ" points="[8, -6, -201, 103]$[200, -6, -9, 103]$[200, -69, -9, 40]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cZC5wMdlEeGOoP2Ze98WBQ" id="(0.775,0.7358490566037735)"/>
    </edges>
    <edges xmi:id="_gnw88MdlEeGOoP2Ze98WBQ" type="Transition" element="_gnvHwMdlEeGOoP2Ze98WBQ" source="_AU5Z4cdiEeGOoP2Ze98WBQ" target="_bKusgMdlEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_gnw89MdlEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gnw89cdlEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gnxkAMdlEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gnw88cdlEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gnw888dlEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gnw88sdlEeGOoP2Ze98WBQ" points="[-2, 24, 9, -94]$[-10, 121, 1, 3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gnzZMMdlEeGOoP2Ze98WBQ" id="(0.125,0.9433962264150944)"/>
    </edges>
    <edges xmi:id="_LuRT8OqjEeG_KKo5r9OX-w" type="Transition" element="_LuJ_MOqjEeG_KKo5r9OX-w" source="_bKusgMdlEeGOoP2Ze98WBQ" target="_JRnrUOqjEeG_KKo5r9OX-w">
      <children xsi:type="notation:DecorationNode" xmi:id="_LuR7AeqjEeG_KKo5r9OX-w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LuR7AuqjEeG_KKo5r9OX-w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LuR7A-qjEeG_KKo5r9OX-w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LuRT8eqjEeG_KKo5r9OX-w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LuR7AOqjEeG_KKo5r9OX-w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LuRT8uqjEeG_KKo5r9OX-w" points="[0, 24, -307, -109]$[0, 133, -307, 0]$[278, 133, -29, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
