<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/2.0.0" xmlns:stext="http://www.yakindu.org/sct/statechart/SText">
  <sgraph:Statechart xmi:id="_g98BwO9PEeCTZJwkN_Km5w" name="example2" expression="interface:&#xD;&#xA;var counter : integer&#xD;&#xA;event Event1&#xD;&#xA;event Event2 : boolean&#xD;&#xA;event Event3 : integer&#xD;&#xA;event Event4 : real&#xD;&#xA;event Event5&#xD;&#xA;">
    <scopes xsi:type="stext:InterfaceScope" xmi:id="_DduaQO9REeCTZJwkN_Km5w">
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_DduaQe9REeCTZJwkN_Km5w" name="counter" type="integer"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_DduaQu9REeCTZJwkN_Km5w" name="Event1"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_DduaQ-9REeCTZJwkN_Km5w" name="Event2" type="boolean"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_DduaRO9REeCTZJwkN_Km5w" name="Event3" type="integer"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_DduaRe9REeCTZJwkN_Km5w" name="Event4" type="real"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_DduaRu9REeCTZJwkN_Km5w" name="Event5"/>
    </scopes>
    <regions xmi:id="_g-O8su9PEeCTZJwkN_Km5w" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_g-YGpO9PEeCTZJwkN_Km5w">
        <outgoingTransitions xmi:id="_g-YGvu9PEeCTZJwkN_Km5w" target="_g-YGr-9PEeCTZJwkN_Km5w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_g-YGr-9PEeCTZJwkN_Km5w" name="S1" incomingTransitions="_g-YGvu9PEeCTZJwkN_Km5w _BZz3MO9QEeCTZJwkN_Km5w _PsJUYO9QEeCTZJwkN_Km5w">
        <outgoingTransitions xmi:id="__GcGYO9PEeCTZJwkN_Km5w" expression="Event1" target="_9HfGYO9PEeCTZJwkN_Km5w">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_DduaSO9REeCTZJwkN_Km5w">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_DduaSe9REeCTZJwkN_Km5w" event="_DduaQu9REeCTZJwkN_Km5w"/>
          </trigger>
        </outgoingTransitions>
        <scopes xmi:id="_DduaR-9REeCTZJwkN_Km5w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_9HfGYO9PEeCTZJwkN_Km5w" name="S2" incomingTransitions="__GcGYO9PEeCTZJwkN_Km5w">
        <outgoingTransitions xmi:id="_BZz3MO9QEeCTZJwkN_Km5w" expression="Event2" target="_g-YGr-9PEeCTZJwkN_Km5w">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_Dd3kMe9REeCTZJwkN_Km5w">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_Dd3kMu9REeCTZJwkN_Km5w" event="_DduaQ-9REeCTZJwkN_Km5w"/>
          </trigger>
        </outgoingTransitions>
        <scopes xmi:id="_Dd3kMO9REeCTZJwkN_Km5w"/>
        <subRegions xmi:id="_E8TtkO9QEeCTZJwkN_Km5w">
          <vertices xsi:type="sgraph:State" xmi:id="_Fc8VcO9QEeCTZJwkN_Km5w" name="S3" incomingTransitions="_H0fboO9QEeCTZJwkN_Km5w _Mhy4QO9QEeCTZJwkN_Km5w">
            <outgoingTransitions xmi:id="_J4Ec8O9QEeCTZJwkN_Km5w" expression="Event3" target="_IQgCMO9QEeCTZJwkN_Km5w">
              <trigger xsi:type="stext:ReactionTrigger" xmi:id="_Dd3kNO9REeCTZJwkN_Km5w">
                <triggers xsi:type="stext:RegularEventSpec" xmi:id="_Dd3kNe9REeCTZJwkN_Km5w" event="_DduaRO9REeCTZJwkN_Km5w"/>
              </trigger>
            </outgoingTransitions>
            <scopes xmi:id="_Dd3kM-9REeCTZJwkN_Km5w"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_HLzrAO9QEeCTZJwkN_Km5w">
            <outgoingTransitions xmi:id="_H0fboO9QEeCTZJwkN_Km5w" target="_Fc8VcO9QEeCTZJwkN_Km5w"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_IQgCMO9QEeCTZJwkN_Km5w" name="S4" incomingTransitions="_J4Ec8O9QEeCTZJwkN_Km5w" expression="">
            <outgoingTransitions xmi:id="_Mhy4QO9QEeCTZJwkN_Km5w" expression="Event4" target="_Fc8VcO9QEeCTZJwkN_Km5w">
              <trigger xsi:type="stext:ReactionTrigger" xmi:id="_Dd3kN-9REeCTZJwkN_Km5w">
                <triggers xsi:type="stext:RegularEventSpec" xmi:id="_Dd3kOO9REeCTZJwkN_Km5w" event="_DduaRe9REeCTZJwkN_Km5w"/>
              </trigger>
            </outgoingTransitions>
            <outgoingTransitions xmi:id="_PsJUYO9QEeCTZJwkN_Km5w" expression="Event5" target="_g-YGr-9PEeCTZJwkN_Km5w">
              <trigger xsi:type="stext:ReactionTrigger" xmi:id="_Dd3kOe9REeCTZJwkN_Km5w">
                <triggers xsi:type="stext:RegularEventSpec" xmi:id="_Dd3kOu9REeCTZJwkN_Km5w" event="_DduaRu9REeCTZJwkN_Km5w"/>
              </trigger>
            </outgoingTransitions>
            <scopes xmi:id="_Dd3kNu9REeCTZJwkN_Km5w"/>
          </vertices>
        </subRegions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_g-O8sO9PEeCTZJwkN_Km5w" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_g98BwO9PEeCTZJwkN_Km5w" measurementUnit="Pixel">
    <children xmi:id="_g-O8s-9PEeCTZJwkN_Km5w" type="Region" element="_g-O8su9PEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_g-O8tu9PEeCTZJwkN_Km5w" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g-O8t-9PEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g-YGoO9PEeCTZJwkN_Km5w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g-YGoe9PEeCTZJwkN_Km5w" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
        <children xmi:id="_g-YGpe9PEeCTZJwkN_Km5w" type="Entry" element="_g-YGpO9PEeCTZJwkN_Km5w">
          <children xmi:id="_g-YGqO9PEeCTZJwkN_Km5w" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_g-YGq-9PEeCTZJwkN_Km5w" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGrO9PEeCTZJwkN_Km5w"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_g-YGre9PEeCTZJwkN_Km5w"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGqe9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGqu9PEeCTZJwkN_Km5w"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGpu9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGru9PEeCTZJwkN_Km5w" x="70" y="20"/>
        </children>
        <children xmi:id="_g-YGse9PEeCTZJwkN_Km5w" type="State" element="_g-YGr-9PEeCTZJwkN_Km5w">
          <children xsi:type="notation:DecorationNode" xmi:id="_g-YGte9PEeCTZJwkN_Km5w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGtu9PEeCTZJwkN_Km5w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_g-YGt-9PEeCTZJwkN_Km5w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_g-YGuO9PEeCTZJwkN_Km5w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_g-YGue9PEeCTZJwkN_Km5w" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGuu9PEeCTZJwkN_Km5w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_g-YGu-9PEeCTZJwkN_Km5w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGsu9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_g-YGs-9PEeCTZJwkN_Km5w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_g-YGvO9PEeCTZJwkN_Km5w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGve9PEeCTZJwkN_Km5w" x="31" y="57"/>
        </children>
        <children xmi:id="_9HfGYu9PEeCTZJwkN_Km5w" type="State" element="_9HfGYO9PEeCTZJwkN_Km5w">
          <children xsi:type="notation:DecorationNode" xmi:id="_9HfGZu9PEeCTZJwkN_Km5w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9HfGZ-9PEeCTZJwkN_Km5w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9HfGaO9PEeCTZJwkN_Km5w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9HfGae9PEeCTZJwkN_Km5w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9HfGau9PEeCTZJwkN_Km5w" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9HfGa-9PEeCTZJwkN_Km5w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9HfGbO9PEeCTZJwkN_Km5w" type="StateFigureCompartment">
            <children xmi:id="_E8Ttke9QEeCTZJwkN_Km5w" type="Region" element="_E8TtkO9QEeCTZJwkN_Km5w">
              <children xsi:type="notation:DecorationNode" xmi:id="_E8TtlO9QEeCTZJwkN_Km5w" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_E8Ttle9QEeCTZJwkN_Km5w"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_E8Ttlu9QEeCTZJwkN_Km5w"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_E8Ttl-9QEeCTZJwkN_Km5w" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
                <children xmi:id="_Fc8Vcu9QEeCTZJwkN_Km5w" type="State" element="_Fc8VcO9QEeCTZJwkN_Km5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Fc8Vdu9QEeCTZJwkN_Km5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Fc8Vd-9QEeCTZJwkN_Km5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Fc8VeO9QEeCTZJwkN_Km5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Fc8Vee9QEeCTZJwkN_Km5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Fc8Veu9QEeCTZJwkN_Km5w" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fc8Ve-9QEeCTZJwkN_Km5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Fc8VfO9QEeCTZJwkN_Km5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Fc8Vc-9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Fc8VdO9QEeCTZJwkN_Km5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Fc8Vfe9QEeCTZJwkN_Km5w"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Fc8Vde9QEeCTZJwkN_Km5w" x="32" y="32"/>
                </children>
                <children xmi:id="_HLzrAe9QEeCTZJwkN_Km5w" type="Entry" element="_HLzrAO9QEeCTZJwkN_Km5w">
                  <children xmi:id="_HLzrBO9QEeCTZJwkN_Km5w" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_HLzrB-9QEeCTZJwkN_Km5w" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_HLzrCO9QEeCTZJwkN_Km5w"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_HLzrCe9QEeCTZJwkN_Km5w"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_HLzrBe9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HLzrBu9QEeCTZJwkN_Km5w"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_HLzrAu9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HLzrA-9QEeCTZJwkN_Km5w" x="144"/>
                </children>
                <children xmi:id="_IQgCMu9QEeCTZJwkN_Km5w" type="State" element="_IQgCMO9QEeCTZJwkN_Km5w">
                  <children xsi:type="notation:DecorationNode" xmi:id="_IQgCNu9QEeCTZJwkN_Km5w" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_IQgCN-9QEeCTZJwkN_Km5w"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_IQgCOO9QEeCTZJwkN_Km5w"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_IQgCOe9QEeCTZJwkN_Km5w" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_IQgCOu9QEeCTZJwkN_Km5w" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IQgCO-9QEeCTZJwkN_Km5w"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_IQgCPO9QEeCTZJwkN_Km5w" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_IQgCM-9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_IQgCNO9QEeCTZJwkN_Km5w"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_IQgCPe9QEeCTZJwkN_Km5w"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_IQgCNe9QEeCTZJwkN_Km5w" x="182" y="96" width="146"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E8TtmO9QEeCTZJwkN_Km5w"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_E8Ttku9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E8Ttk-9QEeCTZJwkN_Km5w"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9HfGY-9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9HfGZO9PEeCTZJwkN_Km5w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9HfGbe9PEeCTZJwkN_Km5w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9HfGZe9PEeCTZJwkN_Km5w" x="140" y="56" width="365" height="272"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGou9PEeCTZJwkN_Km5w"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_g-O8tO9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGo-9PEeCTZJwkN_Km5w" x="220" y="10" width="551" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_g-YGxu9PEeCTZJwkN_Km5w" type="StatechartText" fontName="Arial" fontHeight="10" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_g-YGyO9PEeCTZJwkN_Km5w" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGye9PEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g-YGyu9PEeCTZJwkN_Km5w"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g-YGy-9PEeCTZJwkN_Km5w" type="StatechartTextExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGzO9PEeCTZJwkN_Km5w"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g-YGze9PEeCTZJwkN_Km5w" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_g-O8se9PEeCTZJwkN_Km5w"/>
    <edges xmi:id="_g-YGv-9PEeCTZJwkN_Km5w" type="Transition" element="_g-YGvu9PEeCTZJwkN_Km5w" source="_g-YGpe9PEeCTZJwkN_Km5w" target="_g-YGse9PEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_g-YGw-9PEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g-YGxO9PEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g-YGxe9PEeCTZJwkN_Km5w" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g-YGwO9PEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g-YGwu9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g-YGwe9PEeCTZJwkN_Km5w" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="__GcGYe9PEeCTZJwkN_Km5w" type="Transition" element="__GcGYO9PEeCTZJwkN_Km5w" source="_g-YGse9PEeCTZJwkN_Km5w" target="_9HfGYu9PEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="__GcGZe9PEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__GcGZu9PEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__GcGZ-9PEeCTZJwkN_Km5w" x="-2" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__GcGYu9PEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__GcGZO9PEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__GcGY-9PEeCTZJwkN_Km5w" points="[9, 7, -102, 0]$[78, -31, -33, -38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="__HCjUO9PEeCTZJwkN_Km5w" id="(0.775,0.5538461538461539)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="__HCjUe9PEeCTZJwkN_Km5w" id="(0.14347826086956522,0.16176470588235295)"/>
    </edges>
    <edges xmi:id="_BZz3Me9QEeCTZJwkN_Km5w" type="Transition" element="_BZz3MO9QEeCTZJwkN_Km5w" source="_9HfGYu9PEeCTZJwkN_Km5w" target="_g-YGse9PEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_BZz3Ne9QEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BZz3Nu9QEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BZz3N-9QEeCTZJwkN_Km5w" x="6" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BZz3Mu9QEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BZz3NO9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BZz3M-9QEeCTZJwkN_Km5w" points="[-20, -10, 84, 39]$[-102, -37, 2, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BaaUIO9QEeCTZJwkN_Km5w" id="(0.08695652173913043,0.3786764705882353)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BaaUIe9QEeCTZJwkN_Km5w" id="(0.625,0.8153846153846154)"/>
    </edges>
    <edges xmi:id="_H0fboe9QEeCTZJwkN_Km5w" type="Transition" element="_H0fboO9QEeCTZJwkN_Km5w" source="_HLzrAe9QEeCTZJwkN_Km5w" target="_Fc8Vcu9QEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_H0fbpe9QEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_H0fbpu9QEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_H0fbp-9QEeCTZJwkN_Km5w" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_H0fbou9QEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_H0fbpO9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_H0fbo-9QEeCTZJwkN_Km5w" points="[-7, 2, 101, -39]$[-117, 25, -9, -16]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_H1FRgO9QEeCTZJwkN_Km5w" id="(0.275,0.24615384615384617)"/>
    </edges>
    <edges xmi:id="_J4Ec8e9QEeCTZJwkN_Km5w" type="Transition" element="_J4Ec8O9QEeCTZJwkN_Km5w" source="_Fc8Vcu9QEeCTZJwkN_Km5w" target="_IQgCMu9QEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_J4Ec9e9QEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_J4Ec9u9QEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_J4Ec9-9QEeCTZJwkN_Km5w" x="31" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_J4Ec8u9QEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_J4Ec9O9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_J4Ec8-9QEeCTZJwkN_Km5w" points="[20, 7, -94, -32]$[120, 31, 6, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_J40D0O9QEeCTZJwkN_Km5w" id="(0.85,0.23076923076923078)"/>
    </edges>
    <edges xmi:id="_Mhy4Qe9QEeCTZJwkN_Km5w" type="Transition" element="_Mhy4QO9QEeCTZJwkN_Km5w" source="_IQgCMu9QEeCTZJwkN_Km5w" target="_Fc8Vcu9QEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_Mhy4Re9QEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Mhy4Ru9QEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Mhy4R-9QEeCTZJwkN_Km5w" x="5" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Mhy4Qu9QEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Mhy4RO9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Mhy4Q-9QEeCTZJwkN_Km5w" points="[-7, -4, 81, 42]$[-89, -36, -1, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MiYuIO9QEeCTZJwkN_Km5w" id="(0.175,0.6923076923076923)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MiYuIe9QEeCTZJwkN_Km5w" id="(0.475,0.8461538461538461)"/>
    </edges>
    <edges xmi:id="_PsJUYe9QEeCTZJwkN_Km5w" type="Transition" element="_PsJUYO9QEeCTZJwkN_Km5w" source="_IQgCMu9QEeCTZJwkN_Km5w" target="_g-YGse9PEeCTZJwkN_Km5w">
      <children xsi:type="notation:DecorationNode" xmi:id="_PsJUZe9QEeCTZJwkN_Km5w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PsJUZu9QEeCTZJwkN_Km5w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PsJUZ-9QEeCTZJwkN_Km5w" x="26" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PsJUYu9QEeCTZJwkN_Km5w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PsJUZO9QEeCTZJwkN_Km5w" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PsJUY-9QEeCTZJwkN_Km5w" points="[-83, -4, 302, 180]$[-353, -14, 32, 170]$[-381, -159, 4, 25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ps5iUO9QEeCTZJwkN_Km5w" id="(0.575,0.7846153846153846)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Ps5iUe9QEeCTZJwkN_Km5w" id="(0.725,0.9076923076923077)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
