<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_wjNuELRyEeWmXuBC8a26Lg" specification="namespace entries &#xD;&#xA;&#xD;&#xA;@CycleBased(200)&#xD;&#xA;@SuperSteps(no)&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;&#xD;&#xA;var enteredR1:boolean = false&#xD;&#xA;var enteredR2:boolean = false&#xD;&#xA;var enteredBdefault: boolean = false&#xD;&#xA;var enteredBother:boolean = false&#xD;&#xA;&#xD;&#xA;in event b&#xD;&#xA;in event d&#xA;" namespace="entries" name="EntryReactionAction">
    <regions xmi:id="_CnddALR7EeWj5quH-sy1Ww" name="r2">
      <vertices xsi:type="sgraph:Entry" xmi:id="_CnddAbR7EeWj5quH-sy1Ww" name="default">
        <outgoingTransitions xmi:id="_CnddArR7EeWj5quH-sy1Ww" specification="/ enteredR2=true" target="_CneEFbR7EeWj5quH-sy1Ww"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_CneEFbR7EeWj5quH-sy1Ww" name="B" incomingTransitions="_CnddArR7EeWj5quH-sy1Ww _dIy1UMsyEeWxsbULpxN6Ug _9NYMIMsyEeWxsbULpxN6Ug">
        <outgoingTransitions xmi:id="_Yz-KIMsyEeWxsbULpxN6Ug" specification="d" target="_XijlkMsyEeWxsbULpxN6Ug"/>
        <regions xmi:id="_CneEF7R7EeWj5quH-sy1Ww" name="r">
          <vertices xsi:type="sgraph:State" xmi:id="_CneEGLR7EeWj5quH-sy1Ww" specification="" name="BA" incomingTransitions="_CneEG7R7EeWj5quH-sy1Ww _vySgAMsyEeWxsbULpxN6Ug">
            <outgoingTransitions xmi:id="_xHRV8MsyEeWxsbULpxN6Ug" specification="b" target="_hs7u4MsyEeWxsbULpxN6Ug"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_CneEGrR7EeWj5quH-sy1Ww" name="default" kind="SHALLOW_HISTORY">
            <outgoingTransitions xmi:id="_CneEG7R7EeWj5quH-sy1Ww" specification="/ enteredBdefault=true" target="_CneEGLR7EeWj5quH-sy1Ww"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_hs7u4MsyEeWxsbULpxN6Ug" name="BB" incomingTransitions="_q4W8oMsyEeWxsbULpxN6Ug _xHRV8MsyEeWxsbULpxN6Ug">
            <outgoingTransitions xmi:id="_vySgAMsyEeWxsbULpxN6Ug" specification="b" target="_CneEGLR7EeWj5quH-sy1Ww"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_pgKaoMsyEeWxsbULpxN6Ug" name="other">
            <outgoingTransitions xmi:id="_q4W8oMsyEeWxsbULpxN6Ug" specification="/ enteredBother = true" target="_hs7u4MsyEeWxsbULpxN6Ug"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XijlkMsyEeWxsbULpxN6Ug" name="D" incomingTransitions="_Yz-KIMsyEeWxsbULpxN6Ug">
        <outgoingTransitions xmi:id="_dIy1UMsyEeWxsbULpxN6Ug" specification="b # >other" target="_CneEFbR7EeWj5quH-sy1Ww"/>
        <outgoingTransitions xmi:id="_9NYMIMsyEeWxsbULpxN6Ug" specification="d" target="_CneEFbR7EeWj5quH-sy1Ww"/>
      </vertices>
    </regions>
    <regions xmi:id="_wj5qkLRyEeWmXuBC8a26Lg" name="r1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_wkReALRyEeWmXuBC8a26Lg">
        <outgoingTransitions xmi:id="_wkcdILRyEeWmXuBC8a26Lg" specification="/ enteredR1=true" target="_wkUhULRyEeWmXuBC8a26Lg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wkUhULRyEeWmXuBC8a26Lg" specification="" name="A" incomingTransitions="_wkcdILRyEeWmXuBC8a26Lg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_wj5DgLRyEeWmXuBC8a26Lg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_wjNuELRyEeWmXuBC8a26Lg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_wkkY8LRyEeWmXuBC8a26Lg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_wklAALRyEeWmXuBC8a26Lg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wklAAbRyEeWmXuBC8a26Lg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wklAArRyEeWmXuBC8a26Lg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_wklAA7RyEeWmXuBC8a26Lg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wklABLRyEeWmXuBC8a26Lg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wklABbRyEeWmXuBC8a26Lg" x="10" y="4" width="377" height="240"/>
    </children>
    <children xmi:id="_Cnbn0LR7EeWj5quH-sy1Ww" type="Region" element="_CnddALR7EeWj5quH-sy1Ww">
      <children xsi:type="notation:DecorationNode" xmi:id="_Cnbn0bR7EeWj5quH-sy1Ww" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn0rR7EeWj5quH-sy1Ww"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Cnbn07R7EeWj5quH-sy1Ww"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Cnbn1LR7EeWj5quH-sy1Ww" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Cnbn1bR7EeWj5quH-sy1Ww" type="Entry" element="_CnddAbR7EeWj5quH-sy1Ww">
          <children xmi:id="_Cnbn1rR7EeWj5quH-sy1Ww" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Cnbn17R7EeWj5quH-sy1Ww" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn2LR7EeWj5quH-sy1Ww"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Cnbn2bR7EeWj5quH-sy1Ww"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn2rR7EeWj5quH-sy1Ww" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Cnbn27R7EeWj5quH-sy1Ww"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn3LR7EeWj5quH-sy1Ww" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Cnbn3bR7EeWj5quH-sy1Ww" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Cnbn3rR7EeWj5quH-sy1Ww" x="47" y="7" width="15" height="15"/>
        </children>
        <children xmi:id="_Cnbn37R7EeWj5quH-sy1Ww" type="State" element="_CneEFbR7EeWj5quH-sy1Ww">
          <children xsi:type="notation:DecorationNode" xmi:id="_Cnbn4LR7EeWj5quH-sy1Ww" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn4bR7EeWj5quH-sy1Ww"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Cnbn4rR7EeWj5quH-sy1Ww"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Cnbn47R7EeWj5quH-sy1Ww" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Cnbn5LR7EeWj5quH-sy1Ww" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Cnbn5bR7EeWj5quH-sy1Ww"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Cnbn5rR7EeWj5quH-sy1Ww" type="StateFigureCompartment">
            <children xmi:id="_Cnbn57R7EeWj5quH-sy1Ww" type="Region" element="_CneEF7R7EeWj5quH-sy1Ww">
              <children xsi:type="notation:DecorationNode" xmi:id="_Cnbn6LR7EeWj5quH-sy1Ww" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn6bR7EeWj5quH-sy1Ww"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Cnbn6rR7EeWj5quH-sy1Ww"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Cnbn67R7EeWj5quH-sy1Ww" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Cnbn7LR7EeWj5quH-sy1Ww" type="State" element="_CneEGLR7EeWj5quH-sy1Ww">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Cnbn7bR7EeWj5quH-sy1Ww" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn7rR7EeWj5quH-sy1Ww"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Cnbn77R7EeWj5quH-sy1Ww"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Cnbn8LR7EeWj5quH-sy1Ww" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Cnbn8bR7EeWj5quH-sy1Ww" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Cnbn8rR7EeWj5quH-sy1Ww"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Cnbn87R7EeWj5quH-sy1Ww" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn9LR7EeWj5quH-sy1Ww" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Cnbn9bR7EeWj5quH-sy1Ww"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Cnbn9rR7EeWj5quH-sy1Ww" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Cnbn97R7EeWj5quH-sy1Ww" x="9" y="40"/>
                </children>
                <children xmi:id="_Cnbn-LR7EeWj5quH-sy1Ww" type="Entry" element="_CneEGrR7EeWj5quH-sy1Ww">
                  <children xmi:id="_Cnbn-bR7EeWj5quH-sy1Ww" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Cnbn-rR7EeWj5quH-sy1Ww" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn-7R7EeWj5quH-sy1Ww"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Cnbn_LR7EeWj5quH-sy1Ww"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn_bR7EeWj5quH-sy1Ww" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Cnbn_rR7EeWj5quH-sy1Ww" x="19" y="-4"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Cnbn_7R7EeWj5quH-sy1Ww" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_CnboALR7EeWj5quH-sy1Ww" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnboAbR7EeWj5quH-sy1Ww" x="19" y="-20"/>
                </children>
                <children xmi:id="_hs8V8MsyEeWxsbULpxN6Ug" type="State" element="_hs7u4MsyEeWxsbULpxN6Ug">
                  <children xsi:type="notation:DecorationNode" xmi:id="_hs89AMsyEeWxsbULpxN6Ug" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hs89AcsyEeWxsbULpxN6Ug"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_hs89AssyEeWxsbULpxN6Ug"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hs89A8syEeWxsbULpxN6Ug" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_hs89BMsyEeWxsbULpxN6Ug" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hs89BcsyEeWxsbULpxN6Ug"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_hs89BssyEeWxsbULpxN6Ug" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hs8V8csyEeWxsbULpxN6Ug" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_hs8V8ssyEeWxsbULpxN6Ug"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hs89B8syEeWxsbULpxN6Ug" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hs8V88syEeWxsbULpxN6Ug" x="123" y="40"/>
                </children>
                <children xmi:id="_pgLBsMsyEeWxsbULpxN6Ug" type="Entry" element="_pgKaoMsyEeWxsbULpxN6Ug">
                  <children xmi:id="_pgLowMsyEeWxsbULpxN6Ug" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_pgLow8syEeWxsbULpxN6Ug" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_pgLoxMsyEeWxsbULpxN6Ug"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_pgLoxcsyEeWxsbULpxN6Ug"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_pgLowcsyEeWxsbULpxN6Ug" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgLowssyEeWxsbULpxN6Ug"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_pgLBscsyEeWxsbULpxN6Ug" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_pgLBsssyEeWxsbULpxN6Ug" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pgLBs8syEeWxsbULpxN6Ug" x="133" y="140"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnboArR7EeWj5quH-sy1Ww"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_CnboA7R7EeWj5quH-sy1Ww" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnboBLR7EeWj5quH-sy1Ww"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_CnboBbR7EeWj5quH-sy1Ww" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_CnboBrR7EeWj5quH-sy1Ww"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_CnboB7R7EeWj5quH-sy1Ww" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnboCLR7EeWj5quH-sy1Ww" x="5" y="69" width="216" height="260"/>
        </children>
        <children xmi:id="_Ximo4MsyEeWxsbULpxN6Ug" type="State" element="_XijlkMsyEeWxsbULpxN6Ug">
          <children xsi:type="notation:DecorationNode" xmi:id="_Xit9oMsyEeWxsbULpxN6Ug" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Xit9ocsyEeWxsbULpxN6Ug"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Xit9ossyEeWxsbULpxN6Ug"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XiuksMsyEeWxsbULpxN6Ug" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XivLwMsyEeWxsbULpxN6Ug" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XivLwcsyEeWxsbULpxN6Ug"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XivLwssyEeWxsbULpxN6Ug" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ximo4csyEeWxsbULpxN6Ug" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ximo4ssyEeWxsbULpxN6Ug"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XivLw8syEeWxsbULpxN6Ug" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ximo48syEeWxsbULpxN6Ug" x="315" y="77" width="40" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnboCbR7EeWj5quH-sy1Ww"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_CnboCrR7EeWj5quH-sy1Ww" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_CnboC7R7EeWj5quH-sy1Ww" x="405" y="150" width="377" height="365"/>
    </children>
    <children xmi:id="_wkA_ULRyEeWmXuBC8a26Lg" type="Region" element="_wj5qkLRyEeWmXuBC8a26Lg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wkNzoLRyEeWmXuBC8a26Lg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wkNzobRyEeWmXuBC8a26Lg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wkNzorRyEeWmXuBC8a26Lg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_wkPo0LRyEeWmXuBC8a26Lg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_wkSsILRyEeWmXuBC8a26Lg" type="Entry" element="_wkReALRyEeWmXuBC8a26Lg">
          <children xmi:id="_wkTTMLRyEeWmXuBC8a26Lg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_wkTTM7RyEeWmXuBC8a26Lg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_wkTTNLRyEeWmXuBC8a26Lg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_wkTTNbRyEeWmXuBC8a26Lg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wkTTMbRyEeWmXuBC8a26Lg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wkTTMrRyEeWmXuBC8a26Lg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wkSsIbRyEeWmXuBC8a26Lg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_wkSsIrRyEeWmXuBC8a26Lg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wkTTNrRyEeWmXuBC8a26Lg" x="53" y="33"/>
        </children>
        <children xmi:id="_wkW9kLRyEeWmXuBC8a26Lg" type="State" element="_wkUhULRyEeWmXuBC8a26Lg">
          <children xsi:type="notation:DecorationNode" xmi:id="_wkXkoLRyEeWmXuBC8a26Lg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wkXkobRyEeWmXuBC8a26Lg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wkXkorRyEeWmXuBC8a26Lg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wkZZ0LRyEeWmXuBC8a26Lg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wkaA4LRyEeWmXuBC8a26Lg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wkaA4bRyEeWmXuBC8a26Lg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wkaA4rRyEeWmXuBC8a26Lg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wkW9kbRyEeWmXuBC8a26Lg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wkW9krRyEeWmXuBC8a26Lg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wkan8LRyEeWmXuBC8a26Lg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wkbPALRyEeWmXuBC8a26Lg" x="235" y="17"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wkPo0bRyEeWmXuBC8a26Lg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_wkBmYLRyEeWmXuBC8a26Lg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wkQ28LRyEeWmXuBC8a26Lg" x="405" y="4" width="377" height="133"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_wj5DgbRyEeWmXuBC8a26Lg"/>
    <edges xmi:id="_wkjK0LRyEeWmXuBC8a26Lg" type="Transition" element="_wkcdILRyEeWmXuBC8a26Lg" source="_wkSsILRyEeWmXuBC8a26Lg" target="_wkW9kLRyEeWmXuBC8a26Lg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wkjx4bRyEeWmXuBC8a26Lg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wkjx4rRyEeWmXuBC8a26Lg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wkjx47RyEeWmXuBC8a26Lg" x="-3" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wkjK0bRyEeWmXuBC8a26Lg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wkjx4LRyEeWmXuBC8a26Lg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wkjK0rRyEeWmXuBC8a26Lg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_CnggULR7EeWj5quH-sy1Ww" type="Transition" element="_CnddArR7EeWj5quH-sy1Ww" source="_Cnbn1bR7EeWj5quH-sy1Ww" target="_Cnbn37R7EeWj5quH-sy1Ww">
      <children xsi:type="notation:DecorationNode" xmi:id="_CnggUbR7EeWj5quH-sy1Ww" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CnggUrR7EeWj5quH-sy1Ww"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CnggU7R7EeWj5quH-sy1Ww" x="-13" y="-70"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CnggVLR7EeWj5quH-sy1Ww" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CnggVbR7EeWj5quH-sy1Ww" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CnggVrR7EeWj5quH-sy1Ww" points="[0, 7, 3, -83]$[-1, 88, 2, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CnggV7R7EeWj5quH-sy1Ww" id="(0.2440944881889764,0.016853932584269662)"/>
    </edges>
    <edges xmi:id="_CnggWLR7EeWj5quH-sy1Ww" type="Transition" element="_CneEG7R7EeWj5quH-sy1Ww" source="_Cnbn-LR7EeWj5quH-sy1Ww" target="_Cnbn7LR7EeWj5quH-sy1Ww">
      <children xsi:type="notation:DecorationNode" xmi:id="_CnggWbR7EeWj5quH-sy1Ww" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CnggWrR7EeWj5quH-sy1Ww"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CnggW7R7EeWj5quH-sy1Ww" x="-8" y="-60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CnggXLR7EeWj5quH-sy1Ww" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CnggXbR7EeWj5quH-sy1Ww" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CnggXrR7EeWj5quH-sy1Ww" points="[-2, 7, 12, -25]$[-11, 25, 3, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CnggX7R7EeWj5quH-sy1Ww" id="(0.45,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_Y0AmYMsyEeWxsbULpxN6Ug" type="Transition" element="_Yz-KIMsyEeWxsbULpxN6Ug" source="_Cnbn37R7EeWj5quH-sy1Ww" target="_Ximo4MsyEeWxsbULpxN6Ug">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y0GtAcsyEeWxsbULpxN6Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y0GtAssyEeWxsbULpxN6Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y0GtA8syEeWxsbULpxN6Ug" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y0AmYcsyEeWxsbULpxN6Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y0GtAMsyEeWxsbULpxN6Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y0AmYssyEeWxsbULpxN6Ug" points="[13, 1, -128, 1]$[143, -9, 2, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y0JJQMsyEeWxsbULpxN6Ug" id="(0.9150326797385621,0.07368421052631578)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y0JJQcsyEeWxsbULpxN6Ug" id="(0.3,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_dIzcYMsyEeWxsbULpxN6Ug" type="Transition" element="_dIy1UMsyEeWxsbULpxN6Ug" source="_Ximo4MsyEeWxsbULpxN6Ug" target="_Cnbn37R7EeWj5quH-sy1Ww">
      <children xsi:type="notation:DecorationNode" xmi:id="_dIzcZMsyEeWxsbULpxN6Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dIzcZcsyEeWxsbULpxN6Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dIzcZssyEeWxsbULpxN6Ug" x="-7" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dIzcYcsyEeWxsbULpxN6Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dIzcY8syEeWxsbULpxN6Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dIzcYssyEeWxsbULpxN6Ug" points="[-17, 4, 106, -9]$[-49, 13, 74, 0]$[-116, 13, 7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dI1RkMsyEeWxsbULpxN6Ug" id="(0.5,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dI1RkcsyEeWxsbULpxN6Ug" id="(0.9675925925925926,0.26576576576576577)"/>
    </edges>
    <edges xmi:id="_q4XjsMsyEeWxsbULpxN6Ug" type="Transition" element="_q4W8oMsyEeWxsbULpxN6Ug" source="_pgLBsMsyEeWxsbULpxN6Ug" target="_hs8V8MsyEeWxsbULpxN6Ug">
      <children xsi:type="notation:DecorationNode" xmi:id="_q4XjtMsyEeWxsbULpxN6Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q4XjtcsyEeWxsbULpxN6Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q4XjtssyEeWxsbULpxN6Ug" x="-6" y="-59"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q4XjscsyEeWxsbULpxN6Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q4Xjs8syEeWxsbULpxN6Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q4XjsssyEeWxsbULpxN6Ug" points="[0, 8, -5, -70]$[0, 54, -5, -24]"/>
    </edges>
    <edges xmi:id="_vyTHEMsyEeWxsbULpxN6Ug" type="Transition" element="_vySgAMsyEeWxsbULpxN6Ug" source="_hs8V8MsyEeWxsbULpxN6Ug" target="_Cnbn7LR7EeWj5quH-sy1Ww">
      <children xsi:type="notation:DecorationNode" xmi:id="_vyTHFMsyEeWxsbULpxN6Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vyTHFcsyEeWxsbULpxN6Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vyTHFssyEeWxsbULpxN6Ug" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vyTHEcsyEeWxsbULpxN6Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vyTHE8syEeWxsbULpxN6Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vyTHEssyEeWxsbULpxN6Ug" points="[-17, 7, 112, 3]$[-128, 24, 1, 20]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vyUVMMsyEeWxsbULpxN6Ug" id="(0.075,0.5849056603773585)"/>
    </edges>
    <edges xmi:id="_xHR9AMsyEeWxsbULpxN6Ug" type="Transition" element="_xHRV8MsyEeWxsbULpxN6Ug" source="_Cnbn7LR7EeWj5quH-sy1Ww" target="_hs8V8MsyEeWxsbULpxN6Ug">
      <children xsi:type="notation:DecorationNode" xmi:id="_xHR9BMsyEeWxsbULpxN6Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xHR9BcsyEeWxsbULpxN6Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xHR9BssyEeWxsbULpxN6Ug" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xHR9AcsyEeWxsbULpxN6Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xHR9A8syEeWxsbULpxN6Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xHR9AssyEeWxsbULpxN6Ug" points="[16, 4, -87, 5]$[105, 9, 2, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xHTLIMsyEeWxsbULpxN6Ug" id="(0.55,0.8301886792452831)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xHTLIcsyEeWxsbULpxN6Ug" id="(0.25,0.8113207547169812)"/>
    </edges>
    <edges xmi:id="_9NYzMMsyEeWxsbULpxN6Ug" type="Transition" element="_9NYMIMsyEeWxsbULpxN6Ug" source="_Ximo4MsyEeWxsbULpxN6Ug" target="_Cnbn37R7EeWj5quH-sy1Ww">
      <children xsi:type="notation:DecorationNode" xmi:id="_9NYzNMsyEeWxsbULpxN6Ug" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9NYzNcsyEeWxsbULpxN6Ug"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9NYzNssyEeWxsbULpxN6Ug" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9NYzMcsyEeWxsbULpxN6Ug" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9NYzM8syEeWxsbULpxN6Ug" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9NYzMssyEeWxsbULpxN6Ug" points="[-2, 11, 119, -93]$[-17, 95, 104, -9]$[-116, 95, 5, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9NaBUMsyEeWxsbULpxN6Ug" id="(0.5,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9NaBUcsyEeWxsbULpxN6Ug" id="(0.9768518518518519,0.6891891891891891)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
