<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Resource  -->
 <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.yakindu.sct.model.resource.SCTResourceFactory"
            type="sct">
      </parser>
   </extension>

   <!-- Resource Provider -->
 <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
           class="org.yakindu.sct.model.resource.SCTExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
            uriExtension="sct">
        </resourceServiceProvider>
    </extension>
</plugin>
