<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.yakindu.sct.domain">
      <Domain
            description="The default domain for YAKINDU Statechart Tools."
            domainID="org.yakindu.domain.default"
            image="icons/logo_small.png"
            name="Default">
      </Domain>
   </extension>
<extension
      point="org.yakindu.sct.domain.modules">
   <Module
         domainID="org.yakindu.domain.default"
         feature="org.yakindu.sct.resource"
         moduleProvider="org.yakindu.sct.domain.generic.modules.ResourceModuleProvider">
   </Module>
</extension>
</plugin>
