<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.yakindu.sct.domain">
      <Domain
            description="The default domain for YAKINDU Statechart Tools."
            domainID="org.yakindu.domain.default"
            domainStatusProvider="org.yakindu.sct.domain.generic.GenericDomainStatusProvider"
            documentationProvider="org.yakindu.sct.domain.generic.GenericDomainDocumentationProvider"
            image="icons/logo_small.png"
            name="Default">
      </Domain>
   </extension>
</plugin>
