<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator
            bindings="org.yakindu.sct.types.generator.statechart.cpp.CppSCTGeneratorModule"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart"
            executor="org.yakindu.sct.types.generator.statechart.PackageGeneratorEntryExecutor"
            id="yakindu::cpp"
            name="Types SCT C++ Generator">
         <FeatureLibrary
               library_id="org.yakindu.generator.core.features">
         </FeatureLibrary>
         <FeatureLibrary
               library_id="org.yakindu.sct.generator.feature.cpp">
         </FeatureLibrary>
      </SCTGenerator>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.extensions">
      <ExtensionGeneratorMapping
            fileExtension="sct"
            generatorId="yakindu::cpp">
      </ExtensionGeneratorMapping>
   </extension>
   <extension
         point="org.yakindu.sct.generator.core.featuretypes">
      <FeatureLibrary
            defaultProvider="org.yakindu.sct.types.generator.statechart.cpp.features.CPPDefaultFeatureValueProvider"
            library_id="org.yakindu.sct.generator.feature.cpp"
            uri="platform:/plugin/org.yakindu.sct.types.generator.statechart.cpp/library/FeatureTypeLibrary.xmi">
      </FeatureLibrary>
   </extension>
</plugin>
