<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.statechart.diagram.expressions">
      <ExpressionProvider
            class="org.yakindu.sct.statechart.expressions.ui.extensions.TransitionExpressionProvider"></ExpressionProvider>
   </extension>

</plugin>
