<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_xNC4UEM7EeG-xr5kMvujEg" name="ExpressionError02" specification="internal:&#xA;var A : boolean&#xA;entry / A = true&#xA;exit / A = false">
    <regions xmi:id="_xNDfYkM7EeG-xr5kMvujEg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_xNEGc0M7EeG-xr5kMvujEg">
        <outgoingTransitions xmi:id="_xNFUlkM7EeG-xr5kMvujEg" target="_xNEth0M7EeG-xr5kMvujEg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xNEth0M7EeG-xr5kMvujEg" name="A" incomingTransitions="_xNFUlkM7EeG-xr5kMvujEg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_xNDfYEM7EeG-xr5kMvujEg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_xNC4UEM7EeG-xr5kMvujEg" measurementUnit="Pixel">
    <children xmi:id="_xNDfY0M7EeG-xr5kMvujEg" type="Region" element="_xNDfYkM7EeG-xr5kMvujEg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xNDfZkM7EeG-xr5kMvujEg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xNDfZ0M7EeG-xr5kMvujEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xNDfaEM7EeG-xr5kMvujEg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_xNEGcEM7EeG-xr5kMvujEg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_xNEGdEM7EeG-xr5kMvujEg" type="Entry" element="_xNEGc0M7EeG-xr5kMvujEg">
          <children xmi:id="_xNEtgEM7EeG-xr5kMvujEg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_xNEtg0M7EeG-xr5kMvujEg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_xNEthEM7EeG-xr5kMvujEg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_xNEthUM7EeG-xr5kMvujEg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xNEtgUM7EeG-xr5kMvujEg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNEtgkM7EeG-xr5kMvujEg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xNEGdUM7EeG-xr5kMvujEg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNEthkM7EeG-xr5kMvujEg" x="70" y="20"/>
        </children>
        <children xmi:id="_xNEtiUM7EeG-xr5kMvujEg" type="State" element="_xNEth0M7EeG-xr5kMvujEg">
          <children xsi:type="notation:DecorationNode" xmi:id="_xNEtjUM7EeG-xr5kMvujEg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xNEtjkM7EeG-xr5kMvujEg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xNEtj0M7EeG-xr5kMvujEg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xNFUkEM7EeG-xr5kMvujEg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xNFUkUM7EeG-xr5kMvujEg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNFUkkM7EeG-xr5kMvujEg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xNFUk0M7EeG-xr5kMvujEg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xNEtikM7EeG-xr5kMvujEg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xNEti0M7EeG-xr5kMvujEg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNFUlUM7EeG-xr5kMvujEg" x="60" y="75"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNEGcUM7EeG-xr5kMvujEg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_xNDfZEM7EeG-xr5kMvujEg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNEGckM7EeG-xr5kMvujEg" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_xNF7oUM7EeG-xr5kMvujEg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_xNF7o0M7EeG-xr5kMvujEg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xNF7pEM7EeG-xr5kMvujEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xNF7pUM7EeG-xr5kMvujEg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_xNF7pkM7EeG-xr5kMvujEg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNF7p0M7EeG-xr5kMvujEg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xNF7qEM7EeG-xr5kMvujEg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_xNDfYUM7EeG-xr5kMvujEg"/>
    <edges xmi:id="_xNFUl0M7EeG-xr5kMvujEg" type="Transition" element="_xNFUlkM7EeG-xr5kMvujEg" source="_xNEGdEM7EeG-xr5kMvujEg" target="_xNEtiUM7EeG-xr5kMvujEg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xNFUm0M7EeG-xr5kMvujEg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xNFUnEM7EeG-xr5kMvujEg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xNF7oEM7EeG-xr5kMvujEg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xNFUmEM7EeG-xr5kMvujEg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xNFUmkM7EeG-xr5kMvujEg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xNFUmUM7EeG-xr5kMvujEg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
