<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Tem-gFsTEeecK7pQHv942A" specification="interface:&#xA;//TODO do this&#xA;//FIXME fix this" name="default">
    <regions xmi:id="_TfGGsFsTEeecK7pQHv942A" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_TfiLkFsTEeecK7pQHv942A">
        <outgoingTransitions xmi:id="_TfyDMFsTEeecK7pQHv942A" target="_TfmdAFsTEeecK7pQHv942A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TfmdAFsTEeecK7pQHv942A" specification="//FIXME a fix" name="StateA" incomingTransitions="_TfyDMFsTEeecK7pQHv942A">
        <outgoingTransitions xmi:id="_nOlPclsbEeecK7pQHv942A" specification="//FIXME add proper condition" target="_nOjaQFsbEeecK7pQHv942A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nOjaQFsbEeecK7pQHv942A" specification="//TODO add entry action" name="AName" incomingTransitions="_nOlPclsbEeecK7pQHv942A"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_TfE4kFsTEeecK7pQHv942A" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Tem-gFsTEeecK7pQHv942A" measurementUnit="Pixel">
    <children xmi:id="_TfPQoFsTEeecK7pQHv942A" type="Region" element="_TfGGsFsTEeecK7pQHv942A">
      <children xsi:type="notation:DecorationNode" xmi:id="_TfdTEFsTEeecK7pQHv942A" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TfdTEVsTEeecK7pQHv942A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TfdTElsTEeecK7pQHv942A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_TffIQFsTEeecK7pQHv942A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_TfjZsFsTEeecK7pQHv942A" type="Entry" element="_TfiLkFsTEeecK7pQHv942A">
          <children xmi:id="_Tfkn0FsTEeecK7pQHv942A" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_TflO4FsTEeecK7pQHv942A" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_TflO4VsTEeecK7pQHv942A"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_TflO4lsTEeecK7pQHv942A"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Tfkn0VsTEeecK7pQHv942A" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tfkn0lsTEeecK7pQHv942A"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TfkAwFsTEeecK7pQHv942A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_TfkAwVsTEeecK7pQHv942A" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TflO41sTEeecK7pQHv942A" x="70" y="20"/>
        </children>
        <children xmi:id="_Tfr8kFsTEeecK7pQHv942A" type="State" element="_TfmdAFsTEeecK7pQHv942A">
          <children xsi:type="notation:DecorationNode" xmi:id="_TfsjoFsTEeecK7pQHv942A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TfsjoVsTEeecK7pQHv942A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TftKsFsTEeecK7pQHv942A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Tfvm8FsTEeecK7pQHv942A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Tfvm8VsTEeecK7pQHv942A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tfvm8lsTEeecK7pQHv942A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TfwOAFsTEeecK7pQHv942A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Tfr8kVsTEeecK7pQHv942A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Tfr8klsTEeecK7pQHv942A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Tfw1EFsTEeecK7pQHv942A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TfxcIFsTEeecK7pQHv942A" x="184" y="77"/>
        </children>
        <children xmi:id="_nOmdkFsbEeecK7pQHv942A" type="State" element="_nOjaQFsbEeecK7pQHv942A">
          <children xsi:type="notation:DecorationNode" xmi:id="_nOnEoFsbEeecK7pQHv942A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nOnEoVsbEeecK7pQHv942A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nOnEolsbEeecK7pQHv942A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nOnEo1sbEeecK7pQHv942A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nOnEpFsbEeecK7pQHv942A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nOnEpVsbEeecK7pQHv942A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nOnEplsbEeecK7pQHv942A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nOmdkVsbEeecK7pQHv942A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nOmdklsbEeecK7pQHv942A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nOnrsFsbEeecK7pQHv942A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nOmdk1sbEeecK7pQHv942A" x="29" y="252"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TffIQVsTEeecK7pQHv942A"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_TfPQoVsTEeecK7pQHv942A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TfgWYFsTEeecK7pQHv942A" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Tf8bQFsTEeecK7pQHv942A" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Tf9CUFsTEeecK7pQHv942A" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Tf9CUVsTEeecK7pQHv942A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Tf9CUlsTEeecK7pQHv942A"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Tf9CU1sTEeecK7pQHv942A" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tf9CVFsTEeecK7pQHv942A"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tf9pYFsTEeecK7pQHv942A" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_TfE4kVsTEeecK7pQHv942A"/>
    <edges xmi:id="_Tf7NIFsTEeecK7pQHv942A" type="Transition" element="_TfyDMFsTEeecK7pQHv942A" source="_TfjZsFsTEeecK7pQHv942A" target="_Tfr8kFsTEeecK7pQHv942A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Tf70MVsTEeecK7pQHv942A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Tf70MlsTEeecK7pQHv942A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Tf70M1sTEeecK7pQHv942A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Tf7NIVsTEeecK7pQHv942A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Tf70MFsTEeecK7pQHv942A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Tf7NIlsTEeecK7pQHv942A" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_nOr9IFsbEeecK7pQHv942A" type="Transition" element="_nOlPclsbEeecK7pQHv942A" source="_Tfr8kFsTEeecK7pQHv942A" target="_nOmdkFsbEeecK7pQHv942A">
      <children xsi:type="notation:DecorationNode" xmi:id="_nOr9JFsbEeecK7pQHv942A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nOr9JVsbEeecK7pQHv942A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nOr9JlsbEeecK7pQHv942A" x="-12" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nOr9IVsbEeecK7pQHv942A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nOr9I1sbEeecK7pQHv942A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nOr9IlsbEeecK7pQHv942A" points="[-16, -24, 54, 83]$[-68, -104, 2, 3]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
