<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_p-KfMAn1EeGuZq6TN7cDtg" name="InterfaceTest" specification="interface:&#xA;&#xA;in event event1&#xA;out event event2 : integer&#xA;&#xA;var var1 : boolean&#xA;var var2 : real = 2.3&#xA;var var3 : integer = 1&#xA;&#xA;interface other:&#xA;&#xA;in event event3&#xA;out event event4&#xA;&#xA;var v1 : integer = 5&#xA;&#xA;interface third:&#xA;&#xA;in event event5&#xA;out event event6 : boolean&#xA;&#xA;var v1 : real">
    <regions xmi:id="_p-LtUgn1EeGuZq6TN7cDtg" name="mainRegion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_p-RM4Qn1EeGuZq6TN7cDtg">
        <outgoingTransitions xmi:id="_p-TpIwn1EeGuZq6TN7cDtg" specification="" target="_p-Rz9wn1EeGuZq6TN7cDtg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_p-Rz9wn1EeGuZq6TN7cDtg" specification="" name="state1" incomingTransitions="_p-TpIwn1EeGuZq6TN7cDtg _IduY8An2EeGuZq6TN7cDtg _aUmT4An2EeGuZq6TN7cDtg _ezdE0An2EeGuZq6TN7cDtg">
        <outgoingTransitions xmi:id="_Fp0t8An2EeGuZq6TN7cDtg" specification="event1[var2 > 0]" target="_DQwk0An2EeGuZq6TN7cDtg"/>
        <outgoingTransitions xmi:id="_Wx7eYAn2EeGuZq6TN7cDtg" specification="other.event3[var3 == 1]" target="_N8IiYAn2EeGuZq6TN7cDtg"/>
        <outgoingTransitions xmi:id="_dQp1UAn2EeGuZq6TN7cDtg" specification="third.event5[var1 == true]" target="_b6-b0An2EeGuZq6TN7cDtg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_DQwk0An2EeGuZq6TN7cDtg" specification="entry / raise event2 : 22;" name="state2" incomingTransitions="_Fp0t8An2EeGuZq6TN7cDtg">
        <outgoingTransitions xmi:id="_IduY8An2EeGuZq6TN7cDtg" specification="event1" target="_p-Rz9wn1EeGuZq6TN7cDtg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_N8IiYAn2EeGuZq6TN7cDtg" specification="entry / raise other.event4;" name="state3" incomingTransitions="_Wx7eYAn2EeGuZq6TN7cDtg">
        <outgoingTransitions xmi:id="_aUmT4An2EeGuZq6TN7cDtg" specification="other.event3" target="_p-Rz9wn1EeGuZq6TN7cDtg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_b6-b0An2EeGuZq6TN7cDtg" specification="entry / raise third.event6 : true;" name="state4" incomingTransitions="_dQp1UAn2EeGuZq6TN7cDtg">
        <outgoingTransitions xmi:id="_ezdE0An2EeGuZq6TN7cDtg" specification="third.event5" target="_p-Rz9wn1EeGuZq6TN7cDtg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_p-LtUAn1EeGuZq6TN7cDtg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_p-KfMAn1EeGuZq6TN7cDtg" measurementUnit="Pixel">
    <children xmi:id="_p-OJkAn1EeGuZq6TN7cDtg" type="Region" element="_p-LtUgn1EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_p-P-wAn1EeGuZq6TN7cDtg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p-P-wQn1EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p-P-wgn1EeGuZq6TN7cDtg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_p-Ql0An1EeGuZq6TN7cDtg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_p-RM4gn1EeGuZq6TN7cDtg" type="Entry" element="_p-RM4Qn1EeGuZq6TN7cDtg">
          <children xmi:id="_p-Rz8An1EeGuZq6TN7cDtg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_p-Rz8wn1EeGuZq6TN7cDtg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_p-Rz9An1EeGuZq6TN7cDtg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_p-Rz9Qn1EeGuZq6TN7cDtg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_p-Rz8Qn1EeGuZq6TN7cDtg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-Rz8gn1EeGuZq6TN7cDtg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_p-RM4wn1EeGuZq6TN7cDtg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-Rz9gn1EeGuZq6TN7cDtg" x="70" y="20"/>
        </children>
        <children xmi:id="_p-SbAQn1EeGuZq6TN7cDtg" type="State" element="_p-Rz9wn1EeGuZq6TN7cDtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_p-TCEAn1EeGuZq6TN7cDtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_p-TCEQn1EeGuZq6TN7cDtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_p-TCEgn1EeGuZq6TN7cDtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_p-TCEwn1EeGuZq6TN7cDtg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_p-TCFAn1EeGuZq6TN7cDtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-TCFQn1EeGuZq6TN7cDtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_p-TpIAn1EeGuZq6TN7cDtg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_p-SbAgn1EeGuZq6TN7cDtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_p-SbAwn1EeGuZq6TN7cDtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_p-TpIQn1EeGuZq6TN7cDtg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-TpIgn1EeGuZq6TN7cDtg" x="94" y="69"/>
        </children>
        <children xmi:id="_DQ-AMAn2EeGuZq6TN7cDtg" type="State" element="_DQwk0An2EeGuZq6TN7cDtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_DQ-nQAn2EeGuZq6TN7cDtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DQ-nQQn2EeGuZq6TN7cDtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_DQ-nQgn2EeGuZq6TN7cDtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DQ-nQwn2EeGuZq6TN7cDtg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_DQ-nRAn2EeGuZq6TN7cDtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DQ-nRQn2EeGuZq6TN7cDtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DQ_OUAn2EeGuZq6TN7cDtg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DQ-AMQn2EeGuZq6TN7cDtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_DQ-AMgn2EeGuZq6TN7cDtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DQ_OUQn2EeGuZq6TN7cDtg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DQ-AMwn2EeGuZq6TN7cDtg" x="329" y="34" width="192"/>
        </children>
        <children xmi:id="_N8RsUAn2EeGuZq6TN7cDtg" type="State" element="_N8IiYAn2EeGuZq6TN7cDtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_N8STYAn2EeGuZq6TN7cDtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_N8STYQn2EeGuZq6TN7cDtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_N8STYgn2EeGuZq6TN7cDtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N8S6cAn2EeGuZq6TN7cDtg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_N8S6cQn2EeGuZq6TN7cDtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N8S6cgn2EeGuZq6TN7cDtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N8S6cwn2EeGuZq6TN7cDtg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_N8RsUQn2EeGuZq6TN7cDtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_N8RsUgn2EeGuZq6TN7cDtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_N8ThgAn2EeGuZq6TN7cDtg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N8RsUwn2EeGuZq6TN7cDtg" x="336" y="183"/>
        </children>
        <children xmi:id="_b7G-sAn2EeGuZq6TN7cDtg" type="State" element="_b6-b0An2EeGuZq6TN7cDtg">
          <children xsi:type="notation:DecorationNode" xmi:id="_b7HlwAn2EeGuZq6TN7cDtg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_b7HlwQn2EeGuZq6TN7cDtg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_b7Hlwgn2EeGuZq6TN7cDtg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_b7Hlwwn2EeGuZq6TN7cDtg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_b7HlxAn2EeGuZq6TN7cDtg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b7HlxQn2EeGuZq6TN7cDtg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_b7Hlxgn2EeGuZq6TN7cDtg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_b7G-sQn2EeGuZq6TN7cDtg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_b7G-sgn2EeGuZq6TN7cDtg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_b7IM0An2EeGuZq6TN7cDtg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_b7G-swn2EeGuZq6TN7cDtg" x="34" y="268"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-Ql0Qn1EeGuZq6TN7cDtg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_p-OJkQn1EeGuZq6TN7cDtg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-RM4An1EeGuZq6TN7cDtg" x="220" y="10" width="651" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_p-VeUwn1EeGuZq6TN7cDtg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_p-WFYAn1EeGuZq6TN7cDtg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p-WFYQn1EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p-WFYgn1EeGuZq6TN7cDtg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_p-WFYwn1EeGuZq6TN7cDtg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-WFZAn1EeGuZq6TN7cDtg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_p-WscAn1EeGuZq6TN7cDtg" x="5" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_p-LtUQn1EeGuZq6TN7cDtg"/>
    <edges xmi:id="_p-U3QAn1EeGuZq6TN7cDtg" type="Transition" element="_p-TpIwn1EeGuZq6TN7cDtg" source="_p-RM4gn1EeGuZq6TN7cDtg" target="_p-SbAQn1EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_p-VeUAn1EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p-VeUQn1EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p-VeUgn1EeGuZq6TN7cDtg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_p-U3QQn1EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_p-U3Qwn1EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_p-U3Qgn1EeGuZq6TN7cDtg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_Fp3KMAn2EeGuZq6TN7cDtg" type="Transition" element="_Fp0t8An2EeGuZq6TN7cDtg" source="_p-SbAQn1EeGuZq6TN7cDtg" target="_DQ-AMAn2EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Fp3xQQn2EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Fp3xQgn2EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Fp3xQwn2EeGuZq6TN7cDtg" x="-2" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Fp3KMQn2EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Fp3xQAn2EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Fp3KMgn2EeGuZq6TN7cDtg" points="[25, -6, -175, -6]$[202, -31, 2, -31]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KAl9MArjEeGz3Ki5JUYy2w" id="(0.03125,0.42857142857142855)"/>
    </edges>
    <edges xmi:id="_IdwOIAn2EeGuZq6TN7cDtg" type="Transition" element="_IduY8An2EeGuZq6TN7cDtg" source="_DQ-AMAn2EeGuZq6TN7cDtg" target="_p-SbAQn1EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Idw1MQn2EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Idw1Mgn2EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Idw1Mwn2EeGuZq6TN7cDtg" x="3" y="-9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IdwOIQn2EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Idw1MAn2EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IdwOIgn2EeGuZq6TN7cDtg" points="[-24, 2, 155, -13]$[-175, 14, 4, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L_i54An2EeGuZq6TN7cDtg" id="(0.02040816326530612,0.7619047619047619)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LZZf4An2EeGuZq6TN7cDtg" id="(0.9183673469387755,0.7301587301587301)"/>
    </edges>
    <edges xmi:id="_Wx-hsAn2EeGuZq6TN7cDtg" type="Transition" element="_Wx7eYAn2EeGuZq6TN7cDtg" source="_p-SbAQn1EeGuZq6TN7cDtg" target="_N8RsUAn2EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Wx_IwAn2EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Wx_IwQn2EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Wx_Iwgn2EeGuZq6TN7cDtg" x="73" y="-34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Wx-hsQn2EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Wx-hswn2EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Wx-hsgn2EeGuZq6TN7cDtg" points="[25, 15, -173, -105]$[176, 110, -22, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Wy7j8An2EeGuZq6TN7cDtg" id="(0.15384615384615385,0.1746031746031746)"/>
    </edges>
    <edges xmi:id="_aUowIAn2EeGuZq6TN7cDtg" type="Transition" element="_aUmT4An2EeGuZq6TN7cDtg" source="_N8RsUAn2EeGuZq6TN7cDtg" target="_p-SbAQn1EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_aUowJAn2EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aUowJQn2EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aUpXMAn2EeGuZq6TN7cDtg" x="4" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aUowIQn2EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aUowIwn2EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aUowIgn2EeGuZq6TN7cDtg" points="[-9, -6, 180, 106]$[-194, -97, -5, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aVlLUAn2EeGuZq6TN7cDtg" id="(0.06293706293706294,0.31746031746031744)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aVlLUQn2EeGuZq6TN7cDtg" id="(0.40816326530612246,0.7619047619047619)"/>
    </edges>
    <edges xmi:id="_dQs4oAn2EeGuZq6TN7cDtg" type="Transition" element="_dQp1UAn2EeGuZq6TN7cDtg" source="_p-SbAQn1EeGuZq6TN7cDtg" target="_b7G-sAn2EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_dQtfsQn2EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dQtfsgn2EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dQtfswn2EeGuZq6TN7cDtg" x="49" y="-89"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dQs4oQn2EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dQtfsAn2EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dQs4ogn2EeGuZq6TN7cDtg" points="[4, 32, -15, -195]$[28, 196, 9, -31]"/>
    </edges>
    <edges xmi:id="_ezgIIAn2EeGuZq6TN7cDtg" type="Transition" element="_ezdE0An2EeGuZq6TN7cDtg" source="_b7G-sAn2EeGuZq6TN7cDtg" target="_p-SbAQn1EeGuZq6TN7cDtg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ezgIJAn2EeGuZq6TN7cDtg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ezgIJQn2EeGuZq6TN7cDtg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ezgIJgn2EeGuZq6TN7cDtg" x="1" y="-24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ezgIIQn2EeGuZq6TN7cDtg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ezgIIwn2EeGuZq6TN7cDtg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ezgIIgn2EeGuZq6TN7cDtg" points="[-3, -23, 18, 198]$[-27, -222, -6, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_e0iC4An2EeGuZq6TN7cDtg" id="(0.16326530612244897,0.36507936507936506)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_e0iC4Qn2EeGuZq6TN7cDtg" id="(0.12244897959183673,0.4603174603174603)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
