<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/2.0.0" xmlns:stext="http://www.yakindu.org/sct/statechart/SText">
  <sgraph:Statechart xmi:id="_TGkp8PZNEeCz_6s_8P8IEA" name="Test_LocalActions" expression="interface:&#xA;in event Event1&#xA;in event Event2&#xA;in event Event3&#xA;in event Event4&#xA;var i : integer&#xA;var j : integer&#xA;var c : integer">
    <scopes xsi:type="stext:InterfaceScope" xmi:id="_VTl60BneEeGCrY2NK7ISxg">
      <declarations xsi:type="stext:EventDefinition" xmi:id="_VTl60RneEeGCrY2NK7ISxg" name="Event1" direction="in"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_VTl60hneEeGCrY2NK7ISxg" name="Event2" direction="in"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_VTl60xneEeGCrY2NK7ISxg" name="Event3" direction="in"/>
      <declarations xsi:type="stext:EventDefinition" xmi:id="_VTl61BneEeGCrY2NK7ISxg" name="Event4" direction="in"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_VTl61RneEeGCrY2NK7ISxg" name="i" type="integer"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_VTl61hneEeGCrY2NK7ISxg" name="j" type="integer"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_VTl61xneEeGCrY2NK7ISxg" name="c" type="integer"/>
    </scopes>
    <regions xmi:id="_TGkp8_ZNEeCz_6s_8P8IEA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_TGmfIfZNEeCz_6s_8P8IEA">
        <outgoingTransitions xmi:id="_TGoUUfZNEeCz_6s_8P8IEA" target="_TGnGNvZNEeCz_6s_8P8IEA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TGnGNvZNEeCz_6s_8P8IEA" expression="entry / i=1;&#xA;exit / i=0;&#xA;oncycle / i=2;&#xA;Event2 / i=3;&#xA;every 100ms / c+=1;&#xA;" name="State1" incomingTransitions="_TGoUUfZNEeCz_6s_8P8IEA _2LQeQPZZEeCSetPXFd1ZUw">
        <scopes xmi:id="_VToXEBneEeGCrY2NK7ISxg">
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VToXERneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VToXEhneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:EntryEvent" xmi:id="_VToXExneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VToXFBneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VToXFRneEeGCrY2NK7ISxg" varRef="_VTl61RneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VToXFhneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VToXFxneEeGCrY2NK7ISxg" value="1"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VToXGBneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VToXGRneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:ExitEvent" xmi:id="_VToXGhneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VToXGxneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VToXHBneEeGCrY2NK7ISxg" varRef="_VTl61RneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VToXHRneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VToXHhneEeGCrY2NK7ISxg"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VToXHxneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VToXIBneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:OnCycleEvent" xmi:id="_VToXIRneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VToXIhneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VToXIxneEeGCrY2NK7ISxg" varRef="_VTl61RneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VToXJBneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VToXJRneEeGCrY2NK7ISxg" value="2"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VToXJhneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VToXJxneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:RegularEventSpec" xmi:id="_VToXKBneEeGCrY2NK7ISxg" event="_VTl60hneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VToXKRneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VToXKhneEeGCrY2NK7ISxg" varRef="_VTl61RneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VToXKxneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VToXLBneEeGCrY2NK7ISxg" value="3"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VToXLRneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VToXLhneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:TimeEventSpec" xmi:id="_VToXLxneEeGCrY2NK7ISxg" type="every" value="100" unit="ms"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VToXMBneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VToXMRneEeGCrY2NK7ISxg" varRef="_VTl61xneEeGCrY2NK7ISxg" operator="+=">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VToXMhneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VToXMxneEeGCrY2NK7ISxg" value="1"/>
                </expression>
              </actions>
            </effect>
          </declarations>
        </scopes>
        <outgoingTransitions xmi:id="_6OQEgPZXEeC2DLnZHHznig" expression="Event1" target="_5VX7wPZXEeC2DLnZHHznig">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VTw58BneEeGCrY2NK7ISxg">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_VTw58RneEeGCrY2NK7ISxg" event="_VTl60RneEeGCrY2NK7ISxg"/>
          </trigger>
        </outgoingTransitions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5VX7wPZXEeC2DLnZHHznig" expression="entry / j=1;&#xA;exit / j=0;&#xA;Event2, Event4 / j=2;&#xA;after 200ms/j=3;" name="State2" incomingTransitions="_6OQEgPZXEeC2DLnZHHznig">
        <scopes xmi:id="_VTz9QBneEeGCrY2NK7ISxg">
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VTz9QRneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VTz9QhneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:EntryEvent" xmi:id="_VTz9QxneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VTz9RBneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VTz9RRneEeGCrY2NK7ISxg" varRef="_VTl61hneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VTz9RhneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VTz9RxneEeGCrY2NK7ISxg" value="1"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VTz9SBneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VTz9SRneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:ExitEvent" xmi:id="_VTz9ShneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VTz9SxneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VTz9TBneEeGCrY2NK7ISxg" varRef="_VTl61hneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VTz9TRneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VTz9ThneEeGCrY2NK7ISxg"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VTz9TxneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VTz9UBneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:RegularEventSpec" xmi:id="_VTz9URneEeGCrY2NK7ISxg" event="_VTl60hneEeGCrY2NK7ISxg"/>
              <triggers xsi:type="stext:RegularEventSpec" xmi:id="_VTz9UhneEeGCrY2NK7ISxg" event="_VTl61BneEeGCrY2NK7ISxg"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VTz9UxneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VTz9VBneEeGCrY2NK7ISxg" varRef="_VTl61hneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VTz9VRneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VTz9VhneEeGCrY2NK7ISxg" value="2"/>
                </expression>
              </actions>
            </effect>
          </declarations>
          <declarations xsi:type="stext:LocalReaction" xmi:id="_VTz9VxneEeGCrY2NK7ISxg">
            <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VTz9WBneEeGCrY2NK7ISxg">
              <triggers xsi:type="stext:TimeEventSpec" xmi:id="_VTz9WRneEeGCrY2NK7ISxg" value="200" unit="ms"/>
            </trigger>
            <effect xsi:type="stext:ReactionEffect" xmi:id="_VTz9WhneEeGCrY2NK7ISxg">
              <actions xsi:type="stext:Assignment" xmi:id="_VTz9WxneEeGCrY2NK7ISxg" varRef="_VTl61hneEeGCrY2NK7ISxg">
                <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_VTz9XBneEeGCrY2NK7ISxg">
                  <value xsi:type="stext:IntLiteral" xmi:id="_VTz9XRneEeGCrY2NK7ISxg" value="3"/>
                </expression>
              </actions>
            </effect>
          </declarations>
        </scopes>
        <outgoingTransitions xmi:id="_2LQeQPZZEeCSetPXFd1ZUw" expression="Event3" target="_TGnGNvZNEeCz_6s_8P8IEA">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_VUB_sBneEeGCrY2NK7ISxg">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_VUB_sRneEeGCrY2NK7ISxg" event="_VTl60xneEeGCrY2NK7ISxg"/>
          </trigger>
        </outgoingTransitions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_TGkp8fZNEeCz_6s_8P8IEA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_TGkp8PZNEeCz_6s_8P8IEA" measurementUnit="Pixel">
    <children xmi:id="_TGkp9PZNEeCz_6s_8P8IEA" type="Region" element="_TGkp8_ZNEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TGlRAfZNEeCz_6s_8P8IEA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TGlRAvZNEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TGlRA_ZNEeCz_6s_8P8IEA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_TGl4EPZNEeCz_6s_8P8IEA" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
        <children xmi:id="_TGmfIvZNEeCz_6s_8P8IEA" type="Entry" element="_TGmfIfZNEeCz_6s_8P8IEA">
          <children xmi:id="_TGmfJfZNEeCz_6s_8P8IEA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_TGnGMvZNEeCz_6s_8P8IEA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_TGnGM_ZNEeCz_6s_8P8IEA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_TGnGNPZNEeCz_6s_8P8IEA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TGnGMPZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGnGMfZNEeCz_6s_8P8IEA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TGmfI_ZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGnGNfZNEeCz_6s_8P8IEA" x="17" y="2"/>
        </children>
        <children xmi:id="_TGnGOPZNEeCz_6s_8P8IEA" type="State" element="_TGnGNvZNEeCz_6s_8P8IEA">
          <children xsi:type="notation:DecorationNode" xmi:id="_TGntQPZNEeCz_6s_8P8IEA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TGntQfZNEeCz_6s_8P8IEA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TGntQvZNEeCz_6s_8P8IEA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TGntQ_ZNEeCz_6s_8P8IEA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_TGntRPZNEeCz_6s_8P8IEA" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGntRfZNEeCz_6s_8P8IEA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TGntRvZNEeCz_6s_8P8IEA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TGnGOfZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TGnGOvZNEeCz_6s_8P8IEA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_TGntR_ZNEeCz_6s_8P8IEA"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGoUUPZNEeCz_6s_8P8IEA" x="-3" y="46" width="333" height="149"/>
        </children>
        <children xmi:id="_5VcNMPZXEeC2DLnZHHznig" type="State" element="_5VX7wPZXEeC2DLnZHHznig">
          <children xsi:type="notation:DecorationNode" xmi:id="_5VvIIPZXEeC2DLnZHHznig" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5VvIIfZXEeC2DLnZHHznig"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5VvIIvZXEeC2DLnZHHznig"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5VvvMPZXEeC2DLnZHHznig" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5VvvMfZXEeC2DLnZHHznig" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5VvvMvZXEeC2DLnZHHznig"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5VwWQPZXEeC2DLnZHHznig" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5VcNMfZXEeC2DLnZHHznig" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5VcNMvZXEeC2DLnZHHznig"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5VwWQfZXEeC2DLnZHHznig"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5VcNM_ZXEeC2DLnZHHznig" x="31" y="242" width="350" height="165"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGl4EfZNEeCz_6s_8P8IEA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_TGkp9fZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGmfIPZNEeCz_6s_8P8IEA" x="220" y="10" width="445" height="471"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_TGo7YPZNEeCz_6s_8P8IEA" type="StatechartText" fontName="Arial" fontHeight="10" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_TGo7YvZNEeCz_6s_8P8IEA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TGo7Y_ZNEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TGo7ZPZNEeCz_6s_8P8IEA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_TGo7ZfZNEeCz_6s_8P8IEA" type="StatechartTextExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGo7ZvZNEeCz_6s_8P8IEA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TGo7Z_ZNEeCz_6s_8P8IEA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_TGkp8vZNEeCz_6s_8P8IEA"/>
    <edges xmi:id="_TGoUUvZNEeCz_6s_8P8IEA" type="Transition" element="_TGoUUfZNEeCz_6s_8P8IEA" source="_TGmfIvZNEeCz_6s_8P8IEA" target="_TGnGOPZNEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TGoUVvZNEeCz_6s_8P8IEA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TGoUV_ZNEeCz_6s_8P8IEA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TGoUWPZNEeCz_6s_8P8IEA" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TGoUU_ZNEeCz_6s_8P8IEA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TGoUVfZNEeCz_6s_8P8IEA" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TGoUVPZNEeCz_6s_8P8IEA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_6OSgwPZXEeC2DLnZHHznig" type="Transition" element="_6OQEgPZXEeC2DLnZHHznig" source="_TGnGOPZNEeCz_6s_8P8IEA" target="_5VcNMPZXEeC2DLnZHHznig">
      <children xsi:type="notation:DecorationNode" xmi:id="_6OTH0fZXEeC2DLnZHHznig" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6OTH0vZXEeC2DLnZHHznig"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6OTH0_ZXEeC2DLnZHHznig" x="12" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6OSgwfZXEeC2DLnZHHznig" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6OTH0PZXEeC2DLnZHHznig" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6OSgwvZXEeC2DLnZHHznig" points="[1, 75, 0, -90]$[-13, 150, -14, -15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ufcpIPZZEeCSetPXFd1ZUw" id="(0.14114114114114115,0.9664429530201343)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6O_rYPZXEeC2DLnZHHznig" id="(0.23728813559322035,0.23076923076923078)"/>
    </edges>
    <edges xmi:id="_2LThkPZZEeCSetPXFd1ZUw" type="Transition" element="_2LQeQPZZEeCSetPXFd1ZUw" source="_5VcNMPZXEeC2DLnZHHznig" target="_TGnGOPZNEeCz_6s_8P8IEA">
      <children xsi:type="notation:DecorationNode" xmi:id="_2LVWwPZZEeCSetPXFd1ZUw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2LVWwfZZEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2LVWwvZZEeCSetPXFd1ZUw" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2LThkfZZEeCSetPXFd1ZUw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2LUIoPZZEeCSetPXFd1ZUw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2LThkvZZEeCSetPXFd1ZUw" points="[-21, -33, 65, 107]$[-14, -129, 72, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2Md_MPZZEeCSetPXFd1ZUw" id="(0.8942857142857142,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2Md_MfZZEeCSetPXFd1ZUw" id="(0.7837837837837838,0.5973154362416108)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
