<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.emf.compare.content.type"
            file-extensions="sct"/>
   </extension>
   <extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="org.yakindu.sct.compare.match.SCTMatchEngineFactory"
            description="This match engine ignores transient elements in state charts."
            label="State Chart Match Engine"
            ranking="11">
      </engineFactory>
   </extension>
   <extension
         point="org.eclipse.emf.compare.rcp.postProcessor">
      <processor
            class="org.yakindu.sct.compare.postprocessor.EdgeChangePostProcessor"
            description="This post processor improves difference results for edge changes between state chart states."
            label="State Chart Edge Change Post Processor"
            ordinal="100">
         <nsURI
               value="http://www.eclipse.org/gmf/runtime/\d.\d.\d/notation">
         </nsURI>
      </processor>
   </extension>
  <extension
         point="org.eclipse.emf.compare.edit.adapterFactory">
      <factory
            class="org.yakindu.sct.compare.labelprovider.SCTCompareAdapterFactory"
            description="This label provider removes line breaks from state chart item labels."
            label="State Chart Item Label Provider"
            ranking="11"
            supportedTypes="org.eclipse.emf.edit.provider.IItemLabelProvider"
            uri="http://www.eclipse.org/emf/compare">
      </factory>
</extension>
</plugin>
