<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.simulation.core.executionfactory">
      <ExecutionFacadeFactory
            class="org.yakindu.sct.model.sexec.interpreter.factory.SexecExecutionFacadeFactory">
      </ExecutionFacadeFactory>
   </extension>

</plugin>
