<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipselabs.mscript.computationmodel.editor.presentation.ComputationModelModelWizardID"
            name="%_UI_ComputationModelModelWizard_label"
            class="org.eclipselabs.mscript.computation.computationmodel.editor.presentation.ComputationModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComputationModelModelFile.gif">
         <description>%_UI_ComputationModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.mscript.computationmodel.editor.presentation.ComputationModelEditorID"
            name="%_UI_ComputationModelEditor_label"
            icon="icons/full/obj16/ComputationModelModelFile.gif"
            extensions="computationmodel"
            class="org.eclipselabs.mscript.computation.computationmodel.editor.presentation.ComputationModelEditor"
            contributorClass="org.eclipselabs.mscript.computation.computationmodel.editor.presentation.ComputationModelActionBarContributor">
      </editor>
   </extension>

</plugin>
