<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/2.0.0" xmlns:stext="http://www.yakindu.org/sct/statechart/SText">
  <sgraph:Statechart xmi:id="__J6g0NeYEeCu-5XJkHVC4g" name="example" expression="interface Interface:&#xD;&#xA;event Event1&#xD;&#xA;var counter : integer">
    <scopes xsi:type="stext:InterfaceScope" xmi:id="_J53cYNeZEeCu-5XJkHVC4g" name="Interface">
      <declarations xsi:type="stext:EventDefinition" xmi:id="_J53cYdeZEeCu-5XJkHVC4g" name="Event1"/>
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_J53cYteZEeCu-5XJkHVC4g" name="counter" type="integer"/>
    </scopes>
    <regions xmi:id="__J7H4teYEeCu-5XJkHVC4g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="__KM0sdeYEeCu-5XJkHVC4g">
        <outgoingTransitions xmi:id="__KPQ89eYEeCu-5XJkHVC4g" target="__KOC0teYEeCu-5XJkHVC4g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__KOC0teYEeCu-5XJkHVC4g" name="A" incomingTransitions="__KPQ89eYEeCu-5XJkHVC4g _LFZbYNeZEeCu-5XJkHVC4g">
        <outgoingTransitions xmi:id="_B88CENeZEeCu-5XJkHVC4g" expression="Event1" target="_BepjkNeZEeCu-5XJkHVC4g">
          <trigger xsi:type="stext:ReactionTrigger" xmi:id="_J55RkNeZEeCu-5XJkHVC4g">
            <triggers xsi:type="stext:RegularEventSpec" xmi:id="_J55RkdeZEeCu-5XJkHVC4g" event="_J53cYdeZEeCu-5XJkHVC4g"/>
          </trigger>
        </outgoingTransitions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BepjkNeZEeCu-5XJkHVC4g" name="B" incomingTransitions="_B88CENeZEeCu-5XJkHVC4g" expression="entry / counter = counter + 1;">
        <outgoingTransitions xmi:id="_LFZbYNeZEeCu-5XJkHVC4g" expression="Event1" target="__KOC0teYEeCu-5XJkHVC4g"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="__J7H4NeYEeCu-5XJkHVC4g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="__J6g0NeYEeCu-5XJkHVC4g" measurementUnit="Pixel">
    <children xmi:id="__J-yQNeYEeCu-5XJkHVC4g" type="Region" element="__J7H4teYEeCu-5XJkHVC4g">
      <children xsi:type="notation:DecorationNode" xmi:id="__KMNoNeYEeCu-5XJkHVC4g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__KMNodeYEeCu-5XJkHVC4g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__KMNoteYEeCu-5XJkHVC4g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__KMNo9eYEeCu-5XJkHVC4g" type="RegionCompartment" fontName="Arial" fontHeight="10" lineColor="4210752">
        <children xmi:id="__KM0steYEeCu-5XJkHVC4g" type="Entry" element="__KM0sdeYEeCu-5XJkHVC4g">
          <children xmi:id="__KNbwNeYEeCu-5XJkHVC4g" type="EntryBorderItem">
            <children xsi:type="notation:DecorationNode" xmi:id="__KNbw9eYEeCu-5XJkHVC4g" type="EntryLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="__KNbxNeYEeCu-5XJkHVC4g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="__KOC0NeYEeCu-5XJkHVC4g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="__KNbwdeYEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KNbwteYEeCu-5XJkHVC4g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__KM0s9eYEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KOC0deYEeCu-5XJkHVC4g" x="70" y="20"/>
        </children>
        <children xmi:id="__KOC09eYEeCu-5XJkHVC4g" type="State" element="__KOC0teYEeCu-5XJkHVC4g">
          <children xsi:type="notation:DecorationNode" xmi:id="__KOp4NeYEeCu-5XJkHVC4g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__KOp4deYEeCu-5XJkHVC4g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__KOp4teYEeCu-5XJkHVC4g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__KOp49eYEeCu-5XJkHVC4g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="__KOp5NeYEeCu-5XJkHVC4g" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KOp5deYEeCu-5XJkHVC4g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__KPQ8NeYEeCu-5XJkHVC4g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__KOC1NeYEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__KOC1deYEeCu-5XJkHVC4g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__KPQ8deYEeCu-5XJkHVC4g"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KPQ8teYEeCu-5XJkHVC4g" x="142" y="102"/>
        </children>
        <children xmi:id="_BetN8NeZEeCu-5XJkHVC4g" type="State" element="_BepjkNeZEeCu-5XJkHVC4g">
          <children xsi:type="notation:DecorationNode" xmi:id="_BevDINeZEeCu-5XJkHVC4g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BevDIdeZEeCu-5XJkHVC4g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BevDIteZEeCu-5XJkHVC4g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BevDI9eZEeCu-5XJkHVC4g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BevqMNeZEeCu-5XJkHVC4g" type="StateTextCompartmentExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BevqMdeZEeCu-5XJkHVC4g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Bew4UNeZEeCu-5XJkHVC4g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BetN8deZEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BetN8teZEeCu-5XJkHVC4g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Bew4UdeZEeCu-5XJkHVC4g"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BetN89eZEeCu-5XJkHVC4g" x="174" y="237"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KMNpNeYEeCu-5XJkHVC4g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="__J-yQdeYEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KM0sNeYEeCu-5XJkHVC4g" x="240" y="5" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="__KRGINeYEeCu-5XJkHVC4g" type="StatechartText" fontName="Arial" fontHeight="10" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="__KRGIteYEeCu-5XJkHVC4g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__KRGI9eYEeCu-5XJkHVC4g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__KRGJNeYEeCu-5XJkHVC4g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__KRtMNeYEeCu-5XJkHVC4g" type="StatechartTextExpression" fontName="Arial" fontHeight="10" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KRtMdeYEeCu-5XJkHVC4g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__KRtMteYEeCu-5XJkHVC4g" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="__J7H4deYEeCu-5XJkHVC4g"/>
    <edges xmi:id="__KQfENeYEeCu-5XJkHVC4g" type="Transition" element="__KPQ89eYEeCu-5XJkHVC4g" source="__KM0steYEeCu-5XJkHVC4g" target="__KOC09eYEeCu-5XJkHVC4g">
      <children xsi:type="notation:DecorationNode" xmi:id="__KQfFNeYEeCu-5XJkHVC4g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__KQfFdeYEeCu-5XJkHVC4g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__KQfFteYEeCu-5XJkHVC4g" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__KQfEdeYEeCu-5XJkHVC4g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__KQfE9eYEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__KQfEteYEeCu-5XJkHVC4g" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_B8_FYNeZEeCu-5XJkHVC4g" type="Transition" element="_B88CENeZEeCu-5XJkHVC4g" source="__KOC09eYEeCu-5XJkHVC4g" target="_BetN8NeZEeCu-5XJkHVC4g">
      <children xsi:type="notation:DecorationNode" xmi:id="_B9ATgNeZEeCu-5XJkHVC4g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_B9ATgdeZEeCu-5XJkHVC4g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_B9ATgteZEeCu-5XJkHVC4g" x="-14" y="57"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_B8_FYdeZEeCu-5XJkHVC4g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_B8_scNeZEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_B8_FYteZEeCu-5XJkHVC4g" points="[5, 51, -6, -56]$[12, 100, 1, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B9980NeZEeCu-5XJkHVC4g" id="(0.559322033898305,0.2153846153846154)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B9980deZEeCu-5XJkHVC4g" id="(0.6101694915254238,0.1076923076923077)"/>
    </edges>
    <edges xmi:id="_LFb3oNeZEeCu-5XJkHVC4g" type="Transition" element="_LFZbYNeZEeCu-5XJkHVC4g" source="_BetN8NeZEeCu-5XJkHVC4g" target="__KOC09eYEeCu-5XJkHVC4g">
      <children xsi:type="notation:DecorationNode" xmi:id="_LFdFwNeZEeCu-5XJkHVC4g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LFdFwdeZEeCu-5XJkHVC4g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LFdFwteZEeCu-5XJkHVC4g" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LFb3odeZEeCu-5XJkHVC4g" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LFcesNeZEeCu-5XJkHVC4g" fontName="Arial" fontHeight="10"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LFb3oteZEeCu-5XJkHVC4g" points="[-9, -32, -9, 83]$[-9, -147, -9, -32]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
