<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_0crjUNwnEeiYA8khHBStPQ" specification="namespace executionorder&#xA;&#xA;@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;var guard : boolean = false&#xA;in event e&#xA;in event go" namespace="executionorder" name="ChildFirstTransitionTaking">
    <regions xmi:id="_0ctYg9wnEeiYA8khHBStPQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_0cxC4NwnEeiYA8khHBStPQ">
        <outgoingTransitions xmi:id="_0cy4E9wnEeiYA8khHBStPQ" target="_0cxp99wnEeiYA8khHBStPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_0cxp99wnEeiYA8khHBStPQ" specification="" name="StateA" incomingTransitions="_0cy4E9wnEeiYA8khHBStPQ">
        <outgoingTransitions xmi:id="_Lq8ZsNwoEeiYA8khHBStPQ" specification="e" target="_Keqz0NwoEeiYA8khHBStPQ"/>
        <regions xmi:id="_1rW88NwnEeiYA8khHBStPQ" name="inner1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_1rW88dwnEeiYA8khHBStPQ">
            <outgoingTransitions xmi:id="_1rW88twnEeiYA8khHBStPQ" specification="" target="_1rW889wnEeiYA8khHBStPQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_1rW889wnEeiYA8khHBStPQ" name="State1A" incomingTransitions="_1rW88twnEeiYA8khHBStPQ">
            <outgoingTransitions xmi:id="_2cT4wNwnEeiYA8khHBStPQ" specification="[guard]" target="_2cTRsNwnEeiYA8khHBStPQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_2cTRsNwnEeiYA8khHBStPQ" name="State1B" incomingTransitions="_2cT4wNwnEeiYA8khHBStPQ">
            <regions xmi:id="_74RLINwnEeiYA8khHBStPQ" name="inner2a">
              <vertices xsi:type="sgraph:Entry" xmi:id="_74RLIdwnEeiYA8khHBStPQ">
                <outgoingTransitions xmi:id="_74RLItwnEeiYA8khHBStPQ" specification="" target="_74RLI9wnEeiYA8khHBStPQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_74RLI9wnEeiYA8khHBStPQ" name="State2A" incomingTransitions="_74RLItwnEeiYA8khHBStPQ"/>
            </regions>
            <regions xmi:id="_8fgKQNwnEeiYA8khHBStPQ" name="inner2b">
              <vertices xsi:type="sgraph:Entry" xmi:id="_8fgKQdwnEeiYA8khHBStPQ">
                <outgoingTransitions xmi:id="_8fgKQtwnEeiYA8khHBStPQ" specification="" target="_8fgKQ9wnEeiYA8khHBStPQ"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_8fgKQ9wnEeiYA8khHBStPQ" name="State2B" incomingTransitions="_8fgKQtwnEeiYA8khHBStPQ"/>
            </regions>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Keqz0NwoEeiYA8khHBStPQ" name="StateB" incomingTransitions="_Lq8ZsNwoEeiYA8khHBStPQ"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_0ctYgNwnEeiYA8khHBStPQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_0crjUNwnEeiYA8khHBStPQ" measurementUnit="Pixel">
    <children xmi:id="_0cumoNwnEeiYA8khHBStPQ" type="Region" element="_0ctYg9wnEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_0cwb0NwnEeiYA8khHBStPQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0cwb0dwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0cwb0twnEeiYA8khHBStPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0cwb09wnEeiYA8khHBStPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_0cxC4dwnEeiYA8khHBStPQ" type="Entry" element="_0cxC4NwnEeiYA8khHBStPQ">
          <children xmi:id="_0cxp8NwnEeiYA8khHBStPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_0cxp89wnEeiYA8khHBStPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_0cxp9NwnEeiYA8khHBStPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_0cxp9dwnEeiYA8khHBStPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0cxp8dwnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0cxp8twnEeiYA8khHBStPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0cxC4twnEeiYA8khHBStPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_0cxC49wnEeiYA8khHBStPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0cxp9twnEeiYA8khHBStPQ" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_0cyRAdwnEeiYA8khHBStPQ" type="State" element="_0cxp99wnEeiYA8khHBStPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_0cyRBdwnEeiYA8khHBStPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0cyRBtwnEeiYA8khHBStPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_0cyRB9wnEeiYA8khHBStPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0cyRCNwnEeiYA8khHBStPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_0cyRCdwnEeiYA8khHBStPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0cyRCtwnEeiYA8khHBStPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0cy4ENwnEeiYA8khHBStPQ" type="StateFigureCompartment">
            <children xmi:id="_1rVu0NwnEeiYA8khHBStPQ" type="Region" element="_1rW88NwnEeiYA8khHBStPQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_1rVu0dwnEeiYA8khHBStPQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu0twnEeiYA8khHBStPQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_1rVu09wnEeiYA8khHBStPQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_1rVu1NwnEeiYA8khHBStPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_1rVu1dwnEeiYA8khHBStPQ" type="Entry" element="_1rW88dwnEeiYA8khHBStPQ">
                  <children xmi:id="_1rVu1twnEeiYA8khHBStPQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_1rVu19wnEeiYA8khHBStPQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu2NwnEeiYA8khHBStPQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_1rVu2dwnEeiYA8khHBStPQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu2twnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1rVu29wnEeiYA8khHBStPQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu3NwnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1rVu3dwnEeiYA8khHBStPQ" x="32" y="8"/>
                </children>
                <children xmi:id="_1rVu3twnEeiYA8khHBStPQ" type="State" element="_1rW889wnEeiYA8khHBStPQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_1rVu39wnEeiYA8khHBStPQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu4NwnEeiYA8khHBStPQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_1rVu4dwnEeiYA8khHBStPQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1rVu4twnEeiYA8khHBStPQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_1rVu49wnEeiYA8khHBStPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1rVu5NwnEeiYA8khHBStPQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_1rVu5dwnEeiYA8khHBStPQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu5twnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_1rVu59wnEeiYA8khHBStPQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1rVu6NwnEeiYA8khHBStPQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1rVu6dwnEeiYA8khHBStPQ" x="20" y="47"/>
                </children>
                <children xmi:id="_2cbNgNwnEeiYA8khHBStPQ" type="State" element="_2cTRsNwnEeiYA8khHBStPQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2cb0kNwnEeiYA8khHBStPQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2cb0kdwnEeiYA8khHBStPQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2cb0ktwnEeiYA8khHBStPQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2cb0k9wnEeiYA8khHBStPQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2cb0lNwnEeiYA8khHBStPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2cb0ldwnEeiYA8khHBStPQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2cb0ltwnEeiYA8khHBStPQ" type="StateFigureCompartment">
                    <children xmi:id="_74P9ANwnEeiYA8khHBStPQ" type="Region" element="_74RLINwnEeiYA8khHBStPQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_74P9AdwnEeiYA8khHBStPQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9AtwnEeiYA8khHBStPQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_74P9A9wnEeiYA8khHBStPQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_74P9BNwnEeiYA8khHBStPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_74P9BdwnEeiYA8khHBStPQ" type="Entry" element="_74RLIdwnEeiYA8khHBStPQ">
                          <children xmi:id="_74P9BtwnEeiYA8khHBStPQ" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_74P9B9wnEeiYA8khHBStPQ" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9CNwnEeiYA8khHBStPQ"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_74P9CdwnEeiYA8khHBStPQ"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9CtwnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_74P9C9wnEeiYA8khHBStPQ"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9DNwnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_74P9DdwnEeiYA8khHBStPQ" x="39" y="12"/>
                        </children>
                        <children xmi:id="_74P9DtwnEeiYA8khHBStPQ" type="State" element="_74RLI9wnEeiYA8khHBStPQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_74P9D9wnEeiYA8khHBStPQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9ENwnEeiYA8khHBStPQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_74P9EdwnEeiYA8khHBStPQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_74P9EtwnEeiYA8khHBStPQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_74P9E9wnEeiYA8khHBStPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_74P9FNwnEeiYA8khHBStPQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_74P9FdwnEeiYA8khHBStPQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9FtwnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_74P9F9wnEeiYA8khHBStPQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_74P9GNwnEeiYA8khHBStPQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_74P9GdwnEeiYA8khHBStPQ" x="20" y="47"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_74P9GtwnEeiYA8khHBStPQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_74P9G9wnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_74P9HNwnEeiYA8khHBStPQ" x="90" y="10"/>
                    </children>
                    <children xmi:id="_8ffjMtwnEeiYA8khHBStPQ" type="Region" element="_8fgKQNwnEeiYA8khHBStPQ">
                      <children xsi:type="notation:DecorationNode" xmi:id="_8ffjM9wnEeiYA8khHBStPQ" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjNNwnEeiYA8khHBStPQ"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_8ffjNdwnEeiYA8khHBStPQ"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_8ffjNtwnEeiYA8khHBStPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_8ffjN9wnEeiYA8khHBStPQ" type="Entry" element="_8fgKQdwnEeiYA8khHBStPQ">
                          <children xmi:id="_8ffjONwnEeiYA8khHBStPQ" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_8ffjOdwnEeiYA8khHBStPQ" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjOtwnEeiYA8khHBStPQ"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_8ffjO9wnEeiYA8khHBStPQ"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjPNwnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ffjPdwnEeiYA8khHBStPQ"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjPtwnEeiYA8khHBStPQ" fontName="Verdana" lineColor="4210752"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ffjP9wnEeiYA8khHBStPQ" x="39" y="12"/>
                        </children>
                        <children xmi:id="_8ffjQNwnEeiYA8khHBStPQ" type="State" element="_8fgKQ9wnEeiYA8khHBStPQ">
                          <children xsi:type="notation:DecorationNode" xmi:id="_8ffjQdwnEeiYA8khHBStPQ" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjQtwnEeiYA8khHBStPQ"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_8ffjQ9wnEeiYA8khHBStPQ"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_8ffjRNwnEeiYA8khHBStPQ" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_8ffjRdwnEeiYA8khHBStPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ffjRtwnEeiYA8khHBStPQ"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_8ffjR9wnEeiYA8khHBStPQ" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjSNwnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_8ffjSdwnEeiYA8khHBStPQ"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8ffjStwnEeiYA8khHBStPQ" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ffjS9wnEeiYA8khHBStPQ" x="20" y="47"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ffjTNwnEeiYA8khHBStPQ"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_8ffjTdwnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8ffjTtwnEeiYA8khHBStPQ" x="90" y="10"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2cbNgdwnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2cbNgtwnEeiYA8khHBStPQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2ccboNwnEeiYA8khHBStPQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2cbNg9wnEeiYA8khHBStPQ" x="237" y="22"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1rVu6twnEeiYA8khHBStPQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_1rVu69wnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1rVu7NwnEeiYA8khHBStPQ" x="90" y="10"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0cyRAtwnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_0cyRA9wnEeiYA8khHBStPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0cy4EdwnEeiYA8khHBStPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0cy4EtwnEeiYA8khHBStPQ" x="40" y="80" width="525" height="307"/>
        </children>
        <children xmi:id="_KetQENwoEeiYA8khHBStPQ" type="State" element="_Keqz0NwoEeiYA8khHBStPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ket3INwoEeiYA8khHBStPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ket3IdwoEeiYA8khHBStPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ket3ItwoEeiYA8khHBStPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KeueMNwoEeiYA8khHBStPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_KeueMdwoEeiYA8khHBStPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KeueMtwoEeiYA8khHBStPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KeueM9woEeiYA8khHBStPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KetQEdwoEeiYA8khHBStPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_KetQEtwoEeiYA8khHBStPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KeueNNwoEeiYA8khHBStPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KetQE9woEeiYA8khHBStPQ" x="241" y="493"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0cwb1NwnEeiYA8khHBStPQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_0cumodwnEeiYA8khHBStPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0cwb1dwnEeiYA8khHBStPQ" x="5" y="30" width="626" height="606"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_0c0tQdwnEeiYA8khHBStPQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_0c0tQ9wnEeiYA8khHBStPQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0c0tRNwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0c0tRdwnEeiYA8khHBStPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_0c1UUNwnEeiYA8khHBStPQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0c1UUdwnEeiYA8khHBStPQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0c1UUtwnEeiYA8khHBStPQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0ctYgdwnEeiYA8khHBStPQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_0ctYgtwnEeiYA8khHBStPQ"/>
    <edges xmi:id="_0c0GMNwnEeiYA8khHBStPQ" type="Transition" element="_0cy4E9wnEeiYA8khHBStPQ" source="_0cxC4dwnEeiYA8khHBStPQ" target="_0cyRAdwnEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_0c0GNNwnEeiYA8khHBStPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0c0GNdwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0c0tQNwnEeiYA8khHBStPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0c0GMdwnEeiYA8khHBStPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0c0GM9wnEeiYA8khHBStPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0c0GMtwnEeiYA8khHBStPQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2C-LsNwnEeiYA8khHBStPQ" id="(0.10673076923076923,0.38362068965517243)"/>
    </edges>
    <edges xmi:id="_1rXkAtwnEeiYA8khHBStPQ" type="Transition" element="_1rW88twnEeiYA8khHBStPQ" source="_1rVu1dwnEeiYA8khHBStPQ" target="_1rVu3twnEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1rXkA9wnEeiYA8khHBStPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1rXkBNwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1rXkBdwnEeiYA8khHBStPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1rXkBtwnEeiYA8khHBStPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1rXkB9wnEeiYA8khHBStPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1rXkCNwnEeiYA8khHBStPQ" points="[7, 2, -94, -35]$[103, 30, 2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JIttgNwoEeiYA8khHBStPQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1rXkCdwnEeiYA8khHBStPQ" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_2cjJUNwnEeiYA8khHBStPQ" type="Transition" element="_2cT4wNwnEeiYA8khHBStPQ" source="_1rVu3twnEeiYA8khHBStPQ" target="_2cbNgNwnEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2cjwYdwnEeiYA8khHBStPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2cjwYtwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2cjwY9wnEeiYA8khHBStPQ" x="-10" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2cjJUdwnEeiYA8khHBStPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2cjwYNwnEeiYA8khHBStPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2cjJUtwnEeiYA8khHBStPQ" points="[31, 5, -269, -35]$[187, 5, -113, -35]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2oTtYNwnEeiYA8khHBStPQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_74RyMtwnEeiYA8khHBStPQ" type="Transition" element="_74RLItwnEeiYA8khHBStPQ" source="_74P9BdwnEeiYA8khHBStPQ" target="_74P9DtwnEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_74RyM9wnEeiYA8khHBStPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_74RyNNwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_74RyNdwnEeiYA8khHBStPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_74RyNtwnEeiYA8khHBStPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_74RyN9wnEeiYA8khHBStPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_74RyONwnEeiYA8khHBStPQ" points="[7, 2, -94, -35]$[103, 30, 2, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_74RyOdwnEeiYA8khHBStPQ" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_8fgxUtwnEeiYA8khHBStPQ" type="Transition" element="_8fgKQtwnEeiYA8khHBStPQ" source="_8ffjN9wnEeiYA8khHBStPQ" target="_8ffjQNwnEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8fgxU9wnEeiYA8khHBStPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8fgxVNwnEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8fgxVdwnEeiYA8khHBStPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8fgxVtwnEeiYA8khHBStPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8fgxV9wnEeiYA8khHBStPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8fgxWNwnEeiYA8khHBStPQ" points="[7, 2, -94, -35]$[103, 30, 2, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8fgxWdwnEeiYA8khHBStPQ" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_Lq9n0NwoEeiYA8khHBStPQ" type="Transition" element="_Lq8ZsNwoEeiYA8khHBStPQ" source="_0cyRAdwnEeiYA8khHBStPQ" target="_KetQENwoEeiYA8khHBStPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Lq-O4dwoEeiYA8khHBStPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Lq-O4twoEeiYA8khHBStPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Lq-O49woEeiYA8khHBStPQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Lq9n0dwoEeiYA8khHBStPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Lq-O4NwoEeiYA8khHBStPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Lq9n0twoEeiYA8khHBStPQ" points="[2, 5, 0, -135]$[2, 116, 0, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LrArINwoEeiYA8khHBStPQ" id="(0.4342857142857143,0.9837133550488599)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
