<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipselabs.damos.mscript.ide.core.launch.MscriptLaunchConfigurationDelegate"
            id="org.eclipselabs.mscript.ide.core.mscriptApplication"
            modes="run, debug"
            name="Mscript Application">
      </launchConfigurationType>
   </extension>

</plugin>
