<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NEjmkMdmEeGOoP2Ze98WBQ" specification="interface :&#xA;in event event1&#xA;in event event2&#xA;in event event3" name="after_grouping">
    <regions xmi:id="_NEjmk8dmEeGOoP2Ze98WBQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_NEkNpsdmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_NEmC08dmEeGOoP2Ze98WBQ" target="_NEk0t8dmEeGOoP2Ze98WBQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NEk0t8dmEeGOoP2Ze98WBQ" name="A" incomingTransitions="_NEmC08dmEeGOoP2Ze98WBQ">
        <outgoingTransitions xmi:id="_QTY6EMdmEeGOoP2Ze98WBQ" specification="event1" target="_OTYKIMdmEeGOoP2Ze98WBQ"/>
        <outgoingTransitions xmi:id="_q-EGYMmqEeGJr-muz4j25w" specification="" target="_jeUXUMmqEeGJr-muz4j25w"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XzbkEMdmEeGOoP2Ze98WBQ" name="E" incomingTransitions="_YboMgMdmEeGOoP2Ze98WBQ _cSyIUOvHEeOCxqVQAxvSrg"/>
      <vertices xsi:type="sgraph:State" xmi:id="_wr22MMdmEeGOoP2Ze98WBQ" name="Composite">
        <regions xmi:id="_ABNPkMdnEeGOoP2Ze98WBQ" name="Inner">
          <vertices xsi:type="sgraph:State" xmi:id="_Tmj7AMdmEeGOoP2Ze98WBQ" name="D" incomingTransitions="_UaJ7IMdmEeGOoP2Ze98WBQ _U8B5IMdmEeGOoP2Ze98WBQ">
            <outgoingTransitions xmi:id="_YboMgMdmEeGOoP2Ze98WBQ" specification="event3" target="_XzbkEMdmEeGOoP2Ze98WBQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_Rr0soMdmEeGOoP2Ze98WBQ" name="C" incomingTransitions="_SJMlIMdmEeGOoP2Ze98WBQ _kxXTkMmqEeGJr-muz4j25w">
            <outgoingTransitions xmi:id="_UaJ7IMdmEeGOoP2Ze98WBQ" specification="" target="_Tmj7AMdmEeGOoP2Ze98WBQ"/>
            <outgoingTransitions xmi:id="_cSyIUOvHEeOCxqVQAxvSrg" specification="event3" target="_XzbkEMdmEeGOoP2Ze98WBQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_OTYKIMdmEeGOoP2Ze98WBQ" name="B" incomingTransitions="_QTY6EMdmEeGOoP2Ze98WBQ">
            <outgoingTransitions xmi:id="_SJMlIMdmEeGOoP2Ze98WBQ" specification="event3" target="_Rr0soMdmEeGOoP2Ze98WBQ"/>
            <outgoingTransitions xmi:id="_U8B5IMdmEeGOoP2Ze98WBQ" specification="" target="_Tmj7AMdmEeGOoP2Ze98WBQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jeUXUMmqEeGJr-muz4j25w" name="A2" incomingTransitions="_q-EGYMmqEeGJr-muz4j25w">
        <outgoingTransitions xmi:id="_kxXTkMmqEeGJr-muz4j25w" specification="event2" target="_Rr0soMdmEeGOoP2Ze98WBQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NEjmkcdmEeGOoP2Ze98WBQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NEjmkMdmEeGOoP2Ze98WBQ" measurementUnit="Pixel">
    <children xmi:id="_NEjmlMdmEeGOoP2Ze98WBQ" type="Region" element="_NEjmk8dmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEkNoMdmEeGOoP2Ze98WBQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEkNocdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEkNosdmEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEkNo8dmEeGOoP2Ze98WBQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_NEkNp8dmEeGOoP2Ze98WBQ" type="Entry" element="_NEkNpsdmEeGOoP2Ze98WBQ">
          <children xmi:id="_NEk0sMdmEeGOoP2Ze98WBQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_NEk0s8dmEeGOoP2Ze98WBQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_NEk0tMdmEeGOoP2Ze98WBQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_NEk0tcdmEeGOoP2Ze98WBQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NEk0scdmEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEk0ssdmEeGOoP2Ze98WBQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NEkNqMdmEeGOoP2Ze98WBQ" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEk0tsdmEeGOoP2Ze98WBQ" x="50" y="23"/>
        </children>
        <children xmi:id="_NElbwcdmEeGOoP2Ze98WBQ" type="State" element="_NEk0t8dmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_NElbxcdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NElbxsdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NElbx8dmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NElbyMdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NElbycdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NElbysdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NEmC0MdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NElbwsdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NElbw8dmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NEmC0cdmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmC0sdmEeGOoP2Ze98WBQ" x="40" y="91"/>
        </children>
        <children xmi:id="_XzhqsMdmEeGOoP2Ze98WBQ" type="State" element="_XzbkEMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_XziRw8dmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XziRxMdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XziRxcdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XziRxsdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Xzi40MdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Xzi40cdmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Xzi40sdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XziRwMdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XziRwcdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Xzi408dmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XziRwsdmEeGOoP2Ze98WBQ" x="561" y="167"/>
        </children>
        <children xmi:id="_5l-RgMdmEeGOoP2Ze98WBQ" type="SubmachineState" element="_wr22MMdmEeGOoP2Ze98WBQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_5l-RhMdmEeGOoP2Ze98WBQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5l-RhcdmEeGOoP2Ze98WBQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5l-4kMdmEeGOoP2Ze98WBQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5l-4kcdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5l-4ksdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5l-4k8dmEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5l-4lMdmEeGOoP2Ze98WBQ" type="StateFigureCompartment">
            <children xmi:id="_ABSvIMdnEeGOoP2Ze98WBQ" type="Region" element="_ABNPkMdnEeGOoP2Ze98WBQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_ABTWMMdnEeGOoP2Ze98WBQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ABTWMcdnEeGOoP2Ze98WBQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ABTWMsdnEeGOoP2Ze98WBQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ABTWM8dnEeGOoP2Ze98WBQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_TmozgMdmEeGOoP2Ze98WBQ" type="State" element="_Tmj7AMdmEeGOoP2Ze98WBQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_TmozhMdmEeGOoP2Ze98WBQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_TmozhcdmEeGOoP2Ze98WBQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_TmozhsdmEeGOoP2Ze98WBQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Tmozh8dmEeGOoP2Ze98WBQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_TmpakMdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TmpakcdmEeGOoP2Ze98WBQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_TmpaksdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_TmozgcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_TmozgsdmEeGOoP2Ze98WBQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Tmpak8dmEeGOoP2Ze98WBQ"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tmozg8dmEeGOoP2Ze98WBQ" x="138" y="49"/>
                </children>
                <children xmi:id="_Rr-doMdmEeGOoP2Ze98WBQ" type="State" element="_Rr0soMdmEeGOoP2Ze98WBQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Rr_EsMdmEeGOoP2Ze98WBQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Rr_EscdmEeGOoP2Ze98WBQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Rr_EssdmEeGOoP2Ze98WBQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Rr_Es8dmEeGOoP2Ze98WBQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Rr_EtMdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rr_EtcdmEeGOoP2Ze98WBQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Rr_EtsdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Rr-docdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Rr-dosdmEeGOoP2Ze98WBQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Rr_Et8dmEeGOoP2Ze98WBQ"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rr-do8dmEeGOoP2Ze98WBQ" x="30" y="109"/>
                </children>
                <children xmi:id="_OTjwUMdmEeGOoP2Ze98WBQ" type="State" element="_OTYKIMdmEeGOoP2Ze98WBQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_OTjwVMdmEeGOoP2Ze98WBQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_OTjwVcdmEeGOoP2Ze98WBQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_OTkXYMdmEeGOoP2Ze98WBQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_OTkXYcdmEeGOoP2Ze98WBQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_OTkXYsdmEeGOoP2Ze98WBQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OTkXY8dmEeGOoP2Ze98WBQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_OTkXZMdmEeGOoP2Ze98WBQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_OTjwUcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_OTjwUsdmEeGOoP2Ze98WBQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OTkXZcdmEeGOoP2Ze98WBQ"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OTjwU8dmEeGOoP2Ze98WBQ" x="25" y="-18"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ABTWNMdnEeGOoP2Ze98WBQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ABSvIcdnEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ABSvIsdnEeGOoP2Ze98WBQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5l-RgcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5l-RgsdmEeGOoP2Ze98WBQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5l-4lcdmEeGOoP2Ze98WBQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5l-Rg8dmEeGOoP2Ze98WBQ" x="177" y="37" width="277" height="288"/>
        </children>
        <children xmi:id="_jehLoMmqEeGJr-muz4j25w" type="State" element="_jeUXUMmqEeGJr-muz4j25w">
          <children xsi:type="notation:DecorationNode" xmi:id="_jehysMmqEeGJr-muz4j25w" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jehyscmqEeGJr-muz4j25w"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jehyssmqEeGJr-muz4j25w"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jeiZwMmqEeGJr-muz4j25w" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jeiZwcmqEeGJr-muz4j25w" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jeiZwsmqEeGJr-muz4j25w"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jeiZw8mqEeGJr-muz4j25w" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jehLocmqEeGJr-muz4j25w" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jehLosmqEeGJr-muz4j25w"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jejA0MmqEeGJr-muz4j25w"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jehLo8mqEeGJr-muz4j25w" x="41" y="227"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEkNpMdmEeGOoP2Ze98WBQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NEjmlcdmEeGOoP2Ze98WBQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEkNpcdmEeGOoP2Ze98WBQ" x="220" y="10" width="701" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_NEmp48dmEeGOoP2Ze98WBQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEmp5cdmEeGOoP2Ze98WBQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEmp5sdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEmp58dmEeGOoP2Ze98WBQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NEmp6MdmEeGOoP2Ze98WBQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmp6cdmEeGOoP2Ze98WBQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NEmp6sdmEeGOoP2Ze98WBQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NEjmksdmEeGOoP2Ze98WBQ"/>
    <edges xmi:id="_NEmC1MdmEeGOoP2Ze98WBQ" type="Transition" element="_NEmC08dmEeGOoP2Ze98WBQ" source="_NEkNp8dmEeGOoP2Ze98WBQ" target="_NElbwcdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NEmp4MdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NEmp4cdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NEmp4sdmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NEmC1cdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NEmC18dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NEmC1sdmEeGOoP2Ze98WBQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_QTbWUMdmEeGOoP2Ze98WBQ" type="Transition" element="_QTY6EMdmEeGOoP2Ze98WBQ" source="_NElbwcdmEeGOoP2Ze98WBQ" target="_OTjwUMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_QTbWVMdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QTbWVcdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QTbWVsdmEeGOoP2Ze98WBQ" x="-22" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QTbWUcdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QTbWU8dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QTbWUsdmEeGOoP2Ze98WBQ" points="[18, 0, -160, 3]$[179, 22, 1, 25]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QTeZoMdmEeGOoP2Ze98WBQ" id="(0.075,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_SJPocMdmEeGOoP2Ze98WBQ" type="Transition" element="_SJMlIMdmEeGOoP2Ze98WBQ" source="_OTjwUMdmEeGOoP2Ze98WBQ" target="_Rr-doMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SJQPgcdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SJQPgsdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SJQPg8dmEeGOoP2Ze98WBQ" x="9" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SJPoccdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SJQPgMdmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SJPocsdmEeGOoP2Ze98WBQ" points="[-8, 12, 1, -83]$[-8, 91, 1, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SJTS0MdmEeGOoP2Ze98WBQ" id="(0.625,0.7547169811320755)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SJTS0cdmEeGOoP2Ze98WBQ" id="(0.2,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_UaQo0MdmEeGOoP2Ze98WBQ" type="Transition" element="_UaJ7IMdmEeGOoP2Ze98WBQ" source="_Rr-doMdmEeGOoP2Ze98WBQ" target="_TmozgMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_UaQo1MdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UaQo1cdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UaQo1sdmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UaQo0cdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UaQo08dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UaQo0sdmEeGOoP2Ze98WBQ" points="[18, -9, -90, 51]$[101, -36, -7, 24]"/>
    </edges>
    <edges xmi:id="_U8H_wMdmEeGOoP2Ze98WBQ" type="Transition" element="_U8B5IMdmEeGOoP2Ze98WBQ" source="_OTjwUMdmEeGOoP2Ze98WBQ" target="_TmozgMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_U8Im0cdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_U8Im0sdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_U8Im08dmEeGOoP2Ze98WBQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_U8H_wcdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_U8Im0MdmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_U8H_wsdmEeGOoP2Ze98WBQ" points="[18, 8, -95, -59]$[131, 59, 18, -8]"/>
    </edges>
    <edges xmi:id="_Ybr24MdmEeGOoP2Ze98WBQ" type="Transition" element="_YboMgMdmEeGOoP2Ze98WBQ" source="_TmozgMdmEeGOoP2Ze98WBQ" target="_XzhqsMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Ybr25MdmEeGOoP2Ze98WBQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Ybr25cdmEeGOoP2Ze98WBQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Ybr25sdmEeGOoP2Ze98WBQ" x="13" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Ybr24cdmEeGOoP2Ze98WBQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ybr248dmEeGOoP2Ze98WBQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Ybr24sdmEeGOoP2Ze98WBQ" points="[7, -1, -106, 2]$[114, -19, 1, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YbwIUMdmEeGOoP2Ze98WBQ" id="(0.825,0.4339622641509434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YbwIUcdmEeGOoP2Ze98WBQ" id="(0.2,0.33962264150943394)"/>
    </edges>
    <edges xmi:id="_kxhEkMmqEeGJr-muz4j25w" type="Transition" element="_kxXTkMmqEeGJr-muz4j25w" source="_jehLoMmqEeGJr-muz4j25w" target="_Rr-doMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_kxhElMmqEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kxhElcmqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kxhElsmqEeGJr-muz4j25w" x="-26" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kxhEkcmqEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kxhEk8mqEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kxhEksmqEeGJr-muz4j25w" points="[18, -1, -170, -1]$[184, -24, -4, -24]"/>
    </edges>
    <edges xmi:id="_q-MpQMmqEeGJr-muz4j25w" type="Transition" element="_q-EGYMmqEeGJr-muz4j25w" source="_NElbwcdmEeGOoP2Ze98WBQ" target="_jehLoMmqEeGJr-muz4j25w">
      <children xsi:type="notation:DecorationNode" xmi:id="_q-NQUcmqEeGJr-muz4j25w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q-NQUsmqEeGJr-muz4j25w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q-NQU8mqEeGJr-muz4j25w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q-MpQcmqEeGJr-muz4j25w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q-NQUMmqEeGJr-muz4j25w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q-MpQsmqEeGJr-muz4j25w" points="[-3, 24, 2, -93]$[-3, 112, 2, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q-XBUMmqEeGJr-muz4j25w" id="(0.325,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_cSz9gOvHEeOCxqVQAxvSrg" type="Transition" element="_cSyIUOvHEeOCxqVQAxvSrg" source="_Rr-doMdmEeGOoP2Ze98WBQ" target="_XzhqsMdmEeGOoP2Ze98WBQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_cSz9hOvHEeOCxqVQAxvSrg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cS0kkOvHEeOCxqVQAxvSrg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cS0kkevHEeOCxqVQAxvSrg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cSz9gevHEeOCxqVQAxvSrg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cSz9g-vHEeOCxqVQAxvSrg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cSz9guvHEeOCxqVQAxvSrg" points="[18, -3, -319, 52]$[340, -31, 3, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
