<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="help/01_Overview/overview-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/02_Installation/installation-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/03_Statechart_Modeling_and_Simulation/modeling_simulation-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/04_C-Code_Generator/c_code_generator-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/05_Java-Code_Generator/java_code_generator-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/06_UML_Transformation/uml_transformation-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/07_Reference/sc_reference-toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="org.yakindu.sct.ui.editor">
      </contexts>
   </extension>

</plugin>
