<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="help/01_Overview/overview-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/02_Getting_started/getting_started-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/03_Tasks/tasks-toc.xml"
            primary="false">
      </toc>
      <toc
            file="help/04_Reference/reference-toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="org.yakindu.sct.ui.editor">
      </contexts>
   </extension>

</plugin>
