<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_BNR3gLX7EeWTfOMYDrZNaw" specification="internal:&#xA;event proceed: void&#xA;event error" name="definitions">
    <regions xmi:id="_BNSekrX7EeWTfOMYDrZNaw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_BNWwAbX7EeWTfOMYDrZNaw">
        <outgoingTransitions xmi:id="_3_1okLkQEeW6eogEEG3H2w" specification="" target="_QCGVsLYGEeWTfOMYDrZNaw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_f7J1sLhOEeWuvJHgu3pQWg" specification="" name="B" incomingTransitions="_UkibMLqdEeWi--onjuZ4vw">
        <outgoingTransitions xmi:id="_AwB5cLqeEeWi--onjuZ4vw" specification="proceed" target="_DtfwILqeEeWi--onjuZ4vw"/>
        <regions xmi:id="_f7kFYLhOEeWuvJHgu3pQWg" name="r">
          <vertices xsi:type="sgraph:State" xmi:id="_WyYfQLYdEeWXOIu_IVDg8Q" specification="" name="D" incomingTransitions="_3qc1ALqdEeWi--onjuZ4vw">
            <outgoingTransitions xmi:id="_qFKrELqdEeWi--onjuZ4vw" specification="proceed" target="_bwYPcLqgEeWi--onjuZ4vw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="__EXwcLhOEeWuvJHgu3pQWg" name="">
            <outgoingTransitions xmi:id="_FvRiMLhPEeWuvJHgu3pQWg" specification="" target="_XG9U0LhREeWuvJHgu3pQWg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_XG9U0LhREeWuvJHgu3pQWg" name="C" incomingTransitions="_FvRiMLhPEeWuvJHgu3pQWg">
            <outgoingTransitions xmi:id="_kCcToLqdEeWi--onjuZ4vw" specification="proceed" target="_bwYPcLqgEeWi--onjuZ4vw"/>
            <outgoingTransitions xmi:id="_3qc1ALqdEeWi--onjuZ4vw" specification="error" target="_WyYfQLYdEeWXOIu_IVDg8Q"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_bwYPcLqgEeWi--onjuZ4vw" incomingTransitions="_qFKrELqdEeWi--onjuZ4vw _kCcToLqdEeWi--onjuZ4vw"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_QCGVsLYGEeWTfOMYDrZNaw" specification="" name="A" incomingTransitions="_3_1okLkQEeW6eogEEG3H2w">
        <outgoingTransitions xmi:id="_UkibMLqdEeWi--onjuZ4vw" specification="proceed" target="_f7J1sLhOEeWuvJHgu3pQWg"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_DtfwILqeEeWi--onjuZ4vw" incomingTransitions="_AwB5cLqeEeWi--onjuZ4vw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_BNSekLX7EeWTfOMYDrZNaw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_BNR3gLX7EeWTfOMYDrZNaw" measurementUnit="Pixel">
    <children xmi:id="_BNUTwLX7EeWTfOMYDrZNaw" type="Region" element="_BNSekrX7EeWTfOMYDrZNaw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNWI8LX7EeWTfOMYDrZNaw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNWI8bX7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNWI8rX7EeWTfOMYDrZNaw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BNWI87X7EeWTfOMYDrZNaw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_BNWwArX7EeWTfOMYDrZNaw" type="Entry" element="_BNWwAbX7EeWTfOMYDrZNaw">
          <children xmi:id="_BNXXELX7EeWTfOMYDrZNaw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_BNXXE7X7EeWTfOMYDrZNaw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BNXXFLX7EeWTfOMYDrZNaw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_BNXXFbX7EeWTfOMYDrZNaw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BNXXEbX7EeWTfOMYDrZNaw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNXXErX7EeWTfOMYDrZNaw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BNWwA7X7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_BNWwBLX7EeWTfOMYDrZNaw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNXXFrX7EeWTfOMYDrZNaw" x="-3" y="102" width="15" height="15"/>
        </children>
        <children xmi:id="_f7mhoLhOEeWuvJHgu3pQWg" type="State" element="_f7J1sLhOEeWuvJHgu3pQWg">
          <children xsi:type="notation:DecorationNode" xmi:id="_f7nIsLhOEeWuvJHgu3pQWg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_f7nIsbhOEeWuvJHgu3pQWg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_f7nIsrhOEeWuvJHgu3pQWg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_f7nIs7hOEeWuvJHgu3pQWg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_f7nItLhOEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nItbhOEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_f7nItrhOEeWuvJHgu3pQWg" type="StateFigureCompartment">
            <children xmi:id="_f7nvwbhOEeWuvJHgu3pQWg" type="Region" element="_f7kFYLhOEeWuvJHgu3pQWg">
              <children xsi:type="notation:DecorationNode" xmi:id="_f7nvxLhOEeWuvJHgu3pQWg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_f7nvxbhOEeWuvJHgu3pQWg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_f7nvxrhOEeWuvJHgu3pQWg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_f7nvx7hOEeWuvJHgu3pQWg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_WyZGULYdEeWXOIu_IVDg8Q" type="State" element="_WyYfQLYdEeWXOIu_IVDg8Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WyZtYLYdEeWXOIu_IVDg8Q" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WyZtYbYdEeWXOIu_IVDg8Q"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WyZtYrYdEeWXOIu_IVDg8Q"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WyZtY7YdEeWXOIu_IVDg8Q" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WyZtZLYdEeWXOIu_IVDg8Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WyZtZbYdEeWXOIu_IVDg8Q"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WyaUcLYdEeWXOIu_IVDg8Q" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WyZGUbYdEeWXOIu_IVDg8Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WyZGUrYdEeWXOIu_IVDg8Q"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WyaUcbYdEeWXOIu_IVDg8Q" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nvybhOEeWuvJHgu3pQWg" x="40" y="62" width="40"/>
                </children>
                <children xmi:id="__EYXgLhOEeWuvJHgu3pQWg" type="Entry" element="__EXwcLhOEeWuvJHgu3pQWg">
                  <children xmi:id="__EYXhLhOEeWuvJHgu3pQWg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="__EYXh7hOEeWuvJHgu3pQWg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="__EYXiLhOEeWuvJHgu3pQWg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="__EYXibhOEeWuvJHgu3pQWg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="__EYXhbhOEeWuvJHgu3pQWg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="__EYXhrhOEeWuvJHgu3pQWg" x="-4" y="-21"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="__EYXgbhOEeWuvJHgu3pQWg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="__EYXgrhOEeWuvJHgu3pQWg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="__EYXg7hOEeWuvJHgu3pQWg" x="-18" y="-14"/>
                </children>
                <children xmi:id="_XG-i8LhREeWuvJHgu3pQWg" type="State" element="_XG9U0LhREeWuvJHgu3pQWg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_XG-i9LhREeWuvJHgu3pQWg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_XG-i9bhREeWuvJHgu3pQWg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_XG-i9rhREeWuvJHgu3pQWg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_XG-i97hREeWuvJHgu3pQWg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_XG-i-LhREeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XG-i-bhREeWuvJHgu3pQWg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_XG_KALhREeWuvJHgu3pQWg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_XG-i8bhREeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_XG-i8rhREeWuvJHgu3pQWg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XG_KAbhREeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XG-i87hREeWuvJHgu3pQWg" x="40" y="-30"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_bwY2gLqgEeWi--onjuZ4vw" type="FinalState" element="_bwYPcLqgEeWi--onjuZ4vw" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bwY2gbqgEeWi--onjuZ4vw" x="198" y="33"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nvyLhOEeWuvJHgu3pQWg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_f7nvwrhOEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nvw7hOEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_f7mhobhOEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_f7mhorhOEeWuvJHgu3pQWg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_f7nIt7hOEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nvwLhOEeWuvJHgu3pQWg" x="253" width="276" height="224"/>
        </children>
        <children xmi:id="_8bZUVbhUEeWuvJHgu3pQWg" type="State" element="_QCGVsLYGEeWTfOMYDrZNaw">
          <children xsi:type="notation:DecorationNode" xmi:id="_8bZUVrhUEeWuvJHgu3pQWg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8bZUV7hUEeWuvJHgu3pQWg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8bZUWLhUEeWuvJHgu3pQWg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bZUWbhUEeWuvJHgu3pQWg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8bZUWrhUEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bZUW7hUEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bZUXLhUEeWuvJHgu3pQWg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8bZUXbhUEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8bZUXrhUEeWuvJHgu3pQWg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8bZUX7hUEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bZUYLhUEeWuvJHgu3pQWg" x="78" y="86" width="40" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_DthlULqeEeWi--onjuZ4vw" type="FinalState" element="_DtfwILqeEeWi--onjuZ4vw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DthlUbqeEeWi--onjuZ4vw" x="664" y="102" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNWI9LX7EeWTfOMYDrZNaw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_BNUTwbX7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNWwALX7EeWTfOMYDrZNaw" x="225" y="10" width="706" height="278"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_BNbogLX7EeWTfOMYDrZNaw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNbogrX7EeWTfOMYDrZNaw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNbog7X7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNbohLX7EeWTfOMYDrZNaw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BNbohbX7EeWTfOMYDrZNaw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNbohrX7EeWTfOMYDrZNaw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNcPkLX7EeWTfOMYDrZNaw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_BNSekbX7EeWTfOMYDrZNaw"/>
    <edges xmi:id="_FvSwULhPEeWuvJHgu3pQWg" type="Transition" element="_FvRiMLhPEeWuvJHgu3pQWg" source="__EYXgLhOEeWuvJHgu3pQWg" target="_XG-i8LhREeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_FvSwVLhPEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FvSwVbhPEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FvSwVrhPEeWuvJHgu3pQWg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FvSwUbhPEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FvSwU7hPEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FvSwUrhPEeWuvJHgu3pQWg" points="[7, 0, -105, 10]$[95, -9, -17, 1]"/>
    </edges>
    <edges xmi:id="_3_4r4LkQEeW6eogEEG3H2w" type="Transition" element="_3_1okLkQEeW6eogEEG3H2w" source="_BNWwArX7EeWTfOMYDrZNaw" target="_8bZUVbhUEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3_56ALkQEeW6eogEEG3H2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3_56AbkQEeW6eogEEG3H2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3_56ArkQEeW6eogEEG3H2w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3_4r4bkQEeW6eogEEG3H2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3_5S8LkQEeW6eogEEG3H2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3_4r4rkQEeW6eogEEG3H2w" points="[7, 3, -84, -39]$[89, 66, -2, 24]"/>
    </edges>
    <edges xmi:id="_UkkQYLqdEeWi--onjuZ4vw" type="Transition" element="_UkibMLqdEeWi--onjuZ4vw" source="_8bZUVbhUEeWuvJHgu3pQWg" target="_f7mhoLhOEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_UklegLqdEeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UklegbqdEeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UklegrqdEeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UkkQYbqdEeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Ukk3cLqdEeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UkkQYrqdEeWi--onjuZ4vw" points="[-8, 0, 0, -70]$[-8, 68, 0, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UkmsoLqdEeWi--onjuZ4vw" id="(0.925,0.4339622641509434)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UkmsobqdEeWi--onjuZ4vw" id="(0.011278195488721804,0.5)"/>
    </edges>
    <edges xmi:id="_kCc6sLqdEeWi--onjuZ4vw" type="Transition" element="_kCcToLqdEeWi--onjuZ4vw" source="_XG-i8LhREeWuvJHgu3pQWg" target="_bwY2gLqgEeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_kCc6tLqdEeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kCc6tbqdEeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kCc6trqdEeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kCc6sbqdEeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kCc6s7qdEeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kCc6srqdEeWi--onjuZ4vw" points="[35, 0, -128, -48]$[163, 0, 0, -48]$[163, 40, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kCeI0LqdEeWi--onjuZ4vw" id="(0.0,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_qFL5MLqdEeWi--onjuZ4vw" type="Transition" element="_qFKrELqdEeWi--onjuZ4vw" source="_WyZGULYdEeWXOIu_IVDg8Q" target="_bwY2gLqgEeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qFL5NLqdEeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qFL5NbqdEeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qFL5NrqdEeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qFL5MbqdEeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qFL5M7qdEeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qFL5MrqdEeWi--onjuZ4vw" points="[35, 0, -128, 43]$[163, 0, 0, 43]$[163, -35, 0, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qFNHULqdEeWi--onjuZ4vw" id="(0.0,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_3qeDILqdEeWi--onjuZ4vw" type="Transition" element="_3qc1ALqdEeWi--onjuZ4vw" source="_XG-i8LhREeWuvJHgu3pQWg" target="_WyZGULYdEeWXOIu_IVDg8Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_3qeqMbqdEeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3qeqMrqdEeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3qeqM7qdEeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3qeDIbqdEeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3qeqMLqdEeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3qeDIrqdEeWi--onjuZ4vw" points="[2, 18, -15, -68]$[10, 62, -7, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3qf4ULqdEeWi--onjuZ4vw" id="(0.375,0.9622641509433962)"/>
    </edges>
    <edges xmi:id="_AwCggLqeEeWi--onjuZ4vw" type="Transition" element="_AwB5cLqeEeWi--onjuZ4vw" source="_f7mhoLhOEeWuvJHgu3pQWg" target="_DthlULqeEeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_AwCghLqeEeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AwCghbqeEeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AwCghrqeEeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AwCggbqeEeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AwCgg7qeEeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AwCggrqeEeWi--onjuZ4vw" points="[142, 251, -33, -58]$[172, 303, -3, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AwDuoLqeEeWi--onjuZ4vw" id="(0.9736842105263158,0.5223214285714286)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
