<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_BNR3gLX7EeWTfOMYDrZNaw" specification="internal:&#xA;event proceed: void&#xA;event error&#xA;event success" name="state_initial_final">
    <regions xmi:id="_BNSekrX7EeWTfOMYDrZNaw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_BNWwAbX7EeWTfOMYDrZNaw">
        <outgoingTransitions xmi:id="_3_1okLkQEeW6eogEEG3H2w" specification="" target="_QCGVsLYGEeWTfOMYDrZNaw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_f7J1sLhOEeWuvJHgu3pQWg" specification="" name="Handle result" incomingTransitions="_67ZawLkQEeW6eogEEG3H2w _cfkVALkREeW6eogEEG3H2w">
        <regions xmi:id="_f7kFYLhOEeWuvJHgu3pQWg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_WyYfQLYdEeWXOIu_IVDg8Q" specification="" name="Handle failure" incomingTransitions="_m2vu0LhOEeWuvJHgu3pQWg">
            <outgoingTransitions xmi:id="_fcDXgLhREeWuvJHgu3pQWg" specification="proceed" target="_eeSuwLhREeWuvJHgu3pQWg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_lr8IkLhOEeWuvJHgu3pQWg" name="failure">
            <outgoingTransitions xmi:id="_m2vu0LhOEeWuvJHgu3pQWg" specification="" target="_WyYfQLYdEeWXOIu_IVDg8Q"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="__EXwcLhOEeWuvJHgu3pQWg" name="">
            <outgoingTransitions xmi:id="_FvRiMLhPEeWuvJHgu3pQWg" specification="" target="_XG9U0LhREeWuvJHgu3pQWg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_XG9U0LhREeWuvJHgu3pQWg" name="Handle success" incomingTransitions="_FvRiMLhPEeWuvJHgu3pQWg">
            <outgoingTransitions xmi:id="_hUSrgLhREeWuvJHgu3pQWg" specification="proceed" target="_eeSuwLhREeWuvJHgu3pQWg"/>
          </vertices>
          <vertices xsi:type="sgraph:FinalState" xmi:id="_eeSuwLhREeWuvJHgu3pQWg" incomingTransitions="_fcDXgLhREeWuvJHgu3pQWg _hUSrgLhREeWuvJHgu3pQWg"/>
        </regions>
        <regions xmi:id="_LElQcLq0EeWi--onjuZ4vw" name="r2">
          <vertices xsi:type="sgraph:Entry" xmi:id="_ku1oILq0EeWi--onjuZ4vw" name="b">
            <outgoingTransitions xmi:id="_mZEVULq0EeWi--onjuZ4vw" target="_mZBSALq0EeWi--onjuZ4vw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mZBSALq0EeWi--onjuZ4vw" name="X1" incomingTransitions="_mZEVULq0EeWi--onjuZ4vw _i0dz4Lq5EeWi--onjuZ4vw">
            <outgoingTransitions xmi:id="_o9h2ILq0EeWi--onjuZ4vw" specification="proceed" target="_o9ey0Lq0EeWi--onjuZ4vw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_o9ey0Lq0EeWi--onjuZ4vw" specification="" name="X2" incomingTransitions="_o9h2ILq0EeWi--onjuZ4vw"/>
          <vertices xsi:type="sgraph:Entry" xmi:id="_hYIYwLq5EeWi--onjuZ4vw" name="failure">
            <outgoingTransitions xmi:id="_i0dz4Lq5EeWi--onjuZ4vw" specification="" target="_mZBSALq0EeWi--onjuZ4vw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_QCGVsLYGEeWTfOMYDrZNaw" specification="" name="A" incomingTransitions="_3_1okLkQEeW6eogEEG3H2w">
        <outgoingTransitions xmi:id="_KOCg0LYQEeWTfOMYDrZNaw" specification="proceed" target="_KOAEkLYQEeWTfOMYDrZNaw"/>
        <outgoingTransitions xmi:id="_67ZawLkQEeW6eogEEG3H2w" specification="error # >failure" target="_f7J1sLhOEeWuvJHgu3pQWg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_KOAEkLYQEeWTfOMYDrZNaw" name="B" incomingTransitions="_KOCg0LYQEeWTfOMYDrZNaw">
        <outgoingTransitions xmi:id="_cfkVALkREeW6eogEEG3H2w" specification="success #>failure" target="_f7J1sLhOEeWuvJHgu3pQWg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_BNSekLX7EeWTfOMYDrZNaw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_BNR3gLX7EeWTfOMYDrZNaw" measurementUnit="Pixel">
    <children xmi:id="_BNUTwLX7EeWTfOMYDrZNaw" type="Region" element="_BNSekrX7EeWTfOMYDrZNaw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNWI8LX7EeWTfOMYDrZNaw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNWI8bX7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNWI8rX7EeWTfOMYDrZNaw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BNWI87X7EeWTfOMYDrZNaw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_BNWwArX7EeWTfOMYDrZNaw" type="Entry" element="_BNWwAbX7EeWTfOMYDrZNaw">
          <children xmi:id="_BNXXELX7EeWTfOMYDrZNaw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_BNXXE7X7EeWTfOMYDrZNaw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BNXXFLX7EeWTfOMYDrZNaw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_BNXXFbX7EeWTfOMYDrZNaw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BNXXEbX7EeWTfOMYDrZNaw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNXXErX7EeWTfOMYDrZNaw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BNWwA7X7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_BNWwBLX7EeWTfOMYDrZNaw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNXXFrX7EeWTfOMYDrZNaw" x="38" width="15" height="15"/>
        </children>
        <children xmi:id="_f7mhoLhOEeWuvJHgu3pQWg" type="State" element="_f7J1sLhOEeWuvJHgu3pQWg">
          <children xsi:type="notation:DecorationNode" xmi:id="_f7nIsLhOEeWuvJHgu3pQWg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_f7nIsbhOEeWuvJHgu3pQWg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_f7nIsrhOEeWuvJHgu3pQWg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_f7nIs7hOEeWuvJHgu3pQWg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_f7nItLhOEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nItbhOEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_f7nItrhOEeWuvJHgu3pQWg" type="StateFigureCompartment">
            <children xmi:id="_idjQELq2EeWi--onjuZ4vw" type="Region" element="_f7kFYLhOEeWuvJHgu3pQWg">
              <children xsi:type="notation:DecorationNode" xmi:id="_idjQEbq2EeWi--onjuZ4vw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQErq2EeWi--onjuZ4vw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_idjQE7q2EeWi--onjuZ4vw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_idjQFLq2EeWi--onjuZ4vw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_idjQFbq2EeWi--onjuZ4vw" type="State" element="_WyYfQLYdEeWXOIu_IVDg8Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_idjQFrq2EeWi--onjuZ4vw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQF7q2EeWi--onjuZ4vw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_idjQGLq2EeWi--onjuZ4vw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_idjQGbq2EeWi--onjuZ4vw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_idjQGrq2EeWi--onjuZ4vw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQG7q2EeWi--onjuZ4vw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_idjQHLq2EeWi--onjuZ4vw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQHbq2EeWi--onjuZ4vw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_idjQHrq2EeWi--onjuZ4vw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_idjQH7q2EeWi--onjuZ4vw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQILq2EeWi--onjuZ4vw" x="73" y="94" width="115"/>
                </children>
                <children xmi:id="_idjQIbq2EeWi--onjuZ4vw" type="Entry" element="_lr8IkLhOEeWuvJHgu3pQWg">
                  <children xmi:id="_idjQIrq2EeWi--onjuZ4vw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_idjQI7q2EeWi--onjuZ4vw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQJLq2EeWi--onjuZ4vw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_idjQJbq2EeWi--onjuZ4vw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQJrq2EeWi--onjuZ4vw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQJ7q2EeWi--onjuZ4vw" x="-4" y="19"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQKLq2EeWi--onjuZ4vw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_idjQKbq2EeWi--onjuZ4vw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQKrq2EeWi--onjuZ4vw" x="15" y="110"/>
                </children>
                <children xmi:id="_idjQK7q2EeWi--onjuZ4vw" type="Entry" element="__EXwcLhOEeWuvJHgu3pQWg">
                  <children xmi:id="_idjQLLq2EeWi--onjuZ4vw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_idjQLbq2EeWi--onjuZ4vw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQLrq2EeWi--onjuZ4vw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_idjQL7q2EeWi--onjuZ4vw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQMLq2EeWi--onjuZ4vw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQMbq2EeWi--onjuZ4vw" x="-4" y="-21"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQMrq2EeWi--onjuZ4vw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_idjQM7q2EeWi--onjuZ4vw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQNLq2EeWi--onjuZ4vw" x="15" y="18"/>
                </children>
                <children xmi:id="_idjQNbq2EeWi--onjuZ4vw" type="State" element="_XG9U0LhREeWuvJHgu3pQWg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_idjQNrq2EeWi--onjuZ4vw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQN7q2EeWi--onjuZ4vw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_idjQOLq2EeWi--onjuZ4vw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_idjQObq2EeWi--onjuZ4vw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_idjQOrq2EeWi--onjuZ4vw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQO7q2EeWi--onjuZ4vw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_idjQPLq2EeWi--onjuZ4vw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQPbq2EeWi--onjuZ4vw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_idjQPrq2EeWi--onjuZ4vw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_idjQP7q2EeWi--onjuZ4vw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQQLq2EeWi--onjuZ4vw" x="73" y="2"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_idjQQbq2EeWi--onjuZ4vw" type="FinalState" element="_eeSuwLhREeWuvJHgu3pQWg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQQrq2EeWi--onjuZ4vw" x="224" y="66"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQQ7q2EeWi--onjuZ4vw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_idjQRLq2EeWi--onjuZ4vw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_idjQRbq2EeWi--onjuZ4vw"/>
            </children>
            <children xmi:id="_RxgbcLq0EeWi--onjuZ4vw" type="Region" element="_LElQcLq0EeWi--onjuZ4vw">
              <children xsi:type="notation:DecorationNode" xmi:id="_Rxgbcbq0EeWi--onjuZ4vw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Rxgbcrq0EeWi--onjuZ4vw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Rxgbc7q0EeWi--onjuZ4vw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_RxgbdLq0EeWi--onjuZ4vw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_ku2PMLq0EeWi--onjuZ4vw" type="Entry" element="_ku1oILq0EeWi--onjuZ4vw">
                  <children xmi:id="_ku2PNLq0EeWi--onjuZ4vw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_ku2PN7q0EeWi--onjuZ4vw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_ku2POLq0EeWi--onjuZ4vw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_ku2PObq0EeWi--onjuZ4vw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ku2PNbq0EeWi--onjuZ4vw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ku2PNrq0EeWi--onjuZ4vw" x="19"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ku2PMbq0EeWi--onjuZ4vw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_ku2PMrq0EeWi--onjuZ4vw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ku2PM7q0EeWi--onjuZ4vw" x="26" y="12"/>
                </children>
                <children xmi:id="_mZB5ELq0EeWi--onjuZ4vw" type="State" element="_mZBSALq0EeWi--onjuZ4vw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mZB5FLq0EeWi--onjuZ4vw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mZB5Fbq0EeWi--onjuZ4vw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mZCgILq0EeWi--onjuZ4vw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mZCgIbq0EeWi--onjuZ4vw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mZCgIrq0EeWi--onjuZ4vw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mZCgI7q0EeWi--onjuZ4vw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mZCgJLq0EeWi--onjuZ4vw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mZB5Ebq0EeWi--onjuZ4vw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_mZB5Erq0EeWi--onjuZ4vw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mZCgJbq0EeWi--onjuZ4vw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mZB5E7q0EeWi--onjuZ4vw" x="90" y="29"/>
                </children>
                <children xmi:id="_o9fZ4rq0EeWi--onjuZ4vw" type="State" element="_o9ey0Lq0EeWi--onjuZ4vw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_o9fZ5rq0EeWi--onjuZ4vw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_o9fZ57q0EeWi--onjuZ4vw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_o9fZ6Lq0EeWi--onjuZ4vw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_o9fZ6bq0EeWi--onjuZ4vw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_o9gA8Lq0EeWi--onjuZ4vw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9gA8bq0EeWi--onjuZ4vw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_o9gA8rq0EeWi--onjuZ4vw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_o9fZ47q0EeWi--onjuZ4vw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_o9fZ5Lq0EeWi--onjuZ4vw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_o9gA87q0EeWi--onjuZ4vw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o9fZ5bq0EeWi--onjuZ4vw" x="195" y="24"/>
                </children>
                <children xmi:id="_hYI_0Lq5EeWi--onjuZ4vw" type="Entry" element="_hYIYwLq5EeWi--onjuZ4vw">
                  <children xmi:id="_hYI_1Lq5EeWi--onjuZ4vw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_hYI_17q5EeWi--onjuZ4vw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_hYI_2Lq5EeWi--onjuZ4vw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_hYI_2bq5EeWi--onjuZ4vw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_hYI_1bq5EeWi--onjuZ4vw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hYI_1rq5EeWi--onjuZ4vw" x="19" y="2"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_hYI_0bq5EeWi--onjuZ4vw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_hYI_0rq5EeWi--onjuZ4vw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hYI_07q5EeWi--onjuZ4vw" x="26" y="89"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rxgbdbq0EeWi--onjuZ4vw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Rxgbdrq0EeWi--onjuZ4vw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Rxgbd7q0EeWi--onjuZ4vw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_f7mhobhOEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_f7mhorhOEeWuvJHgu3pQWg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_f7nIt7hOEeWuvJHgu3pQWg" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_f7nvwLhOEeWuvJHgu3pQWg" x="219" width="275" height="437"/>
        </children>
        <children xmi:id="_8bZUVbhUEeWuvJHgu3pQWg" type="State" element="_QCGVsLYGEeWTfOMYDrZNaw">
          <children xsi:type="notation:DecorationNode" xmi:id="_8bZUVrhUEeWuvJHgu3pQWg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8bZUV7hUEeWuvJHgu3pQWg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8bZUWLhUEeWuvJHgu3pQWg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bZUWbhUEeWuvJHgu3pQWg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8bZUWrhUEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bZUW7hUEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bZUXLhUEeWuvJHgu3pQWg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8bZUXbhUEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8bZUXrhUEeWuvJHgu3pQWg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8bZUX7hUEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bZUYLhUEeWuvJHgu3pQWg" x="28" y="56" width="40" height="53"/>
        </children>
        <children xmi:id="_8bZUa7hUEeWuvJHgu3pQWg" type="State" element="_KOAEkLYQEeWTfOMYDrZNaw">
          <children xsi:type="notation:DecorationNode" xmi:id="_8bZUbLhUEeWuvJHgu3pQWg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8bZUbbhUEeWuvJHgu3pQWg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8bZUbrhUEeWuvJHgu3pQWg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bZUb7hUEeWuvJHgu3pQWg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8bZUcLhUEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bZUcbhUEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8bZUcrhUEeWuvJHgu3pQWg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8bZUc7hUEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8bZUdLhUEeWuvJHgu3pQWg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8bZUdbhUEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8bZUdrhUEeWuvJHgu3pQWg" x="28" y="162" width="40" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNWI9LX7EeWTfOMYDrZNaw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_BNUTwbX7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNWwALX7EeWTfOMYDrZNaw" x="225" y="10" width="761" height="567"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_BNbogLX7EeWTfOMYDrZNaw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNbogrX7EeWTfOMYDrZNaw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNbog7X7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNbohLX7EeWTfOMYDrZNaw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BNbohbX7EeWTfOMYDrZNaw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNbohrX7EeWTfOMYDrZNaw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNcPkLX7EeWTfOMYDrZNaw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_BNSekbX7EeWTfOMYDrZNaw"/>
    <edges xmi:id="_KOCg0bYQEeWTfOMYDrZNaw" type="Transition" element="_KOCg0LYQEeWTfOMYDrZNaw" source="_8bZUVbhUEeWuvJHgu3pQWg" target="_8bZUa7hUEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_KOCg1bYQEeWTfOMYDrZNaw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KOCg1rYQEeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KOCg17YQEeWTfOMYDrZNaw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KOCg0rYQEeWTfOMYDrZNaw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KOCg1LYQEeWTfOMYDrZNaw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KOCg07YQEeWTfOMYDrZNaw" points="[0, 0, 84, 49]$[-81, -48, 3, 1]"/>
    </edges>
    <edges xmi:id="_m2wV4LhOEeWuvJHgu3pQWg" type="Transition" element="_m2vu0LhOEeWuvJHgu3pQWg" source="_idjQIbq2EeWi--onjuZ4vw" target="_idjQFbq2EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_m2wV5LhOEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_m2wV5bhOEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_m2wV5rhOEeWuvJHgu3pQWg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_m2wV4bhOEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_m2wV47hOEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_m2wV4rhOEeWuvJHgu3pQWg" points="[7, 2, -36, -14]$[26, 16, -17, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kLZtYLkTEeW6eogEEG3H2w" id="(0.24299065420560748,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_FvSwULhPEeWuvJHgu3pQWg" type="Transition" element="_FvRiMLhPEeWuvJHgu3pQWg" source="_idjQK7q2EeWi--onjuZ4vw" target="_idjQNbq2EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_FvSwVLhPEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FvSwVbhPEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FvSwVrhPEeWuvJHgu3pQWg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FvSwUbhPEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FvSwU7hPEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FvSwUrhPEeWuvJHgu3pQWg" points="[7, 0, -105, 10]$[95, -9, -17, 1]"/>
    </edges>
    <edges xmi:id="_fcD-kLhREeWuvJHgu3pQWg" type="Transition" element="_fcDXgLhREeWuvJHgu3pQWg" source="_idjQFbq2EeWi--onjuZ4vw" target="_idjQQbq2EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fcD-lLhREeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fcD-lbhREeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fcD-lrhREeWuvJHgu3pQWg" x="-4" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fcD-kbhREeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fcD-k7hREeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fcD-krhREeWuvJHgu3pQWg" points="[11, -6, -48, 44]$[59, -6, 0, 44]$[59, -42, 0, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fcFMsLhREeWuvJHgu3pQWg" id="(0.9,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_hUTSkLhREeWuvJHgu3pQWg" type="Transition" element="_hUSrgLhREeWuvJHgu3pQWg" source="_idjQNbq2EeWi--onjuZ4vw" target="_idjQQbq2EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_hUTSlLhREeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hUTSlbhREeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hUTSlrhREeWuvJHgu3pQWg" x="-6" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hUTSkbhREeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hUTSk7hREeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hUTSkrhREeWuvJHgu3pQWg" points="[11, -8, -48, -48]$[59, -8, 0, -48]$[59, 32, 0, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hUUgsLhREeWuvJHgu3pQWg" id="(0.9,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_3_4r4LkQEeW6eogEEG3H2w" type="Transition" element="_3_1okLkQEeW6eogEEG3H2w" source="_BNWwArX7EeWTfOMYDrZNaw" target="_8bZUVbhUEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_3_56ALkQEeW6eogEEG3H2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3_56AbkQEeW6eogEEG3H2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3_56ArkQEeW6eogEEG3H2w" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3_4r4bkQEeW6eogEEG3H2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3_5S8LkQEeW6eogEEG3H2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3_4r4rkQEeW6eogEEG3H2w" points="[7, 3, -84, -39]$[89, 66, -2, 24]"/>
    </edges>
    <edges xmi:id="_67ao4LkQEeW6eogEEG3H2w" type="Transition" element="_67ZawLkQEeW6eogEEG3H2w" source="_8bZUVbhUEeWuvJHgu3pQWg" target="_f7mhoLhOEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_67ao5LkQEeW6eogEEG3H2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_67ao5bkQEeW6eogEEG3H2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_67ao5rkQEeW6eogEEG3H2w" x="-6" y="-54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_67ao4bkQEeW6eogEEG3H2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_67ao47kQEeW6eogEEG3H2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_67ao4rkQEeW6eogEEG3H2w" points="[-1, 4, 0, -157]$[-1, 161, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_67ceELkQEeW6eogEEG3H2w" id="(0.95,0.49056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_67ceEbkQEeW6eogEEG3H2w" id="(0.0,0.2756598240469208)"/>
    </edges>
    <edges xmi:id="_cfljILkREeW6eogEEG3H2w" type="Transition" element="_cfkVALkREeW6eogEEG3H2w" source="_8bZUa7hUEeWuvJHgu3pQWg" target="_f7mhoLhOEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_cfljJLkREeW6eogEEG3H2w" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cfljJbkREeW6eogEEG3H2w"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cfljJrkREeW6eogEEG3H2w" x="-6" y="-33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cfljIbkREeW6eogEEG3H2w" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cfljI7kREeW6eogEEG3H2w" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cfljIrkREeW6eogEEG3H2w" points="[-6, 1, 0, -258]$[-6, 258, 0, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cfmxQLkREeW6eogEEG3H2w" id="(0.925,0.3584905660377358)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_id114Lq0EeWi--onjuZ4vw" id="(0.003663003663003663,0.5484764542936288)"/>
    </edges>
    <edges xmi:id="_mZE8YLq0EeWi--onjuZ4vw" type="Transition" element="_mZEVULq0EeWi--onjuZ4vw" source="_ku2PMLq0EeWi--onjuZ4vw" target="_mZB5ELq0EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_mZFjcbq0EeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mZFjcrq0EeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mZFjc7q0EeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mZE8Ybq0EeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mZFjcLq0EeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mZE8Yrq0EeWi--onjuZ4vw" points="[-6, -4, 30, 18]$[-33, -20, 3, 2]"/>
    </edges>
    <edges xmi:id="_o9h2Ibq0EeWi--onjuZ4vw" type="Transition" element="_o9h2ILq0EeWi--onjuZ4vw" source="_mZB5ELq0EeWi--onjuZ4vw" target="_o9fZ4rq0EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_o9idMbq0EeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o9idMrq0EeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o9idM7q0EeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_o9h2Irq0EeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_o9idMLq0EeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_o9h2I7q0EeWi--onjuZ4vw" points="[-17, -6, 124, 38]$[-138, -43, 3, 1]"/>
    </edges>
    <edges xmi:id="_i0ea8Lq5EeWi--onjuZ4vw" type="Transition" element="_i0dz4Lq5EeWi--onjuZ4vw" source="_hYI_0Lq5EeWi--onjuZ4vw" target="_mZB5ELq0EeWi--onjuZ4vw">
      <children xsi:type="notation:DecorationNode" xmi:id="_i0ea9Lq5EeWi--onjuZ4vw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_i0ea9bq5EeWi--onjuZ4vw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_i0ea9rq5EeWi--onjuZ4vw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_i0ea8bq5EeWi--onjuZ4vw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_i0ea87q5EeWi--onjuZ4vw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_i0ea8rq5EeWi--onjuZ4vw" points="[5, -5, -44, 60]$[50, -41, 1, 24]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
