<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_BNR3gLX7EeWTfOMYDrZNaw" specification="internal:&#xA;&#x9;event proceed&#xA;&#x9;event pa&#xA;&#x9;event pb" name="state_initial_final">
    <regions xmi:id="_BNSekrX7EeWTfOMYDrZNaw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_BNWwAbX7EeWTfOMYDrZNaw">
        <outgoingTransitions xmi:id="_BNZMQ7X7EeWTfOMYDrZNaw" target="_BNXXF7X7EeWTfOMYDrZNaw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BNXXF7X7EeWTfOMYDrZNaw" name="Initialize" incomingTransitions="_BNZMQ7X7EeWTfOMYDrZNaw">
        <outgoingTransitions xmi:id="_aiFG8LhIEeWuvJHgu3pQWg" specification="proceed" target="_YdmtwLhIEeWuvJHgu3pQWg"/>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_YdmtwLhIEeWuvJHgu3pQWg" incomingTransitions="_aiFG8LhIEeWuvJHgu3pQWg">
        <outgoingTransitions xmi:id="_nge3ELhIEeWuvJHgu3pQWg" specification="" target="_1ZOvkLhIEeWuvJHgu3pQWg"/>
        <outgoingTransitions xmi:id="_DBJ90LhJEeWuvJHgu3pQWg" specification="" target="_2Et8kLhIEeWuvJHgu3pQWg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ngbMsLhIEeWuvJHgu3pQWg" name="Process">
        <regions xmi:id="_u_C6YLhIEeWuvJHgu3pQWg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_1ZOvkLhIEeWuvJHgu3pQWg" name="Line A 1" incomingTransitions="_nge3ELhIEeWuvJHgu3pQWg">
            <outgoingTransitions xmi:id="_tKM1oLhpEeWjnuGOqHRF3A" specification="pa" target="_mJzVALhpEeWjnuGOqHRF3A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mJzVALhpEeWjnuGOqHRF3A" name="Line A 2" incomingTransitions="_tKM1oLhpEeWjnuGOqHRF3A">
            <outgoingTransitions xmi:id="_p9vHMLhJEeWuvJHgu3pQWg" specification="always" target="_m8SIYLhJEeWuvJHgu3pQWg"/>
          </vertices>
        </regions>
        <regions xmi:id="_wMtAULhIEeWuvJHgu3pQWg" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_2Et8kLhIEeWuvJHgu3pQWg" name="Line B 1" incomingTransitions="_DBJ90LhJEeWuvJHgu3pQWg">
            <outgoingTransitions xmi:id="_tT-qQLhJEeWuvJHgu3pQWg" specification="pb" target="_tT8OALhJEeWuvJHgu3pQWg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_tT8OALhJEeWuvJHgu3pQWg" name="Line B 2" incomingTransitions="_tT-qQLhJEeWuvJHgu3pQWg">
            <outgoingTransitions xmi:id="_yU2jILhJEeWuvJHgu3pQWg" specification="always" target="_m8SIYLhJEeWuvJHgu3pQWg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_m8SIYLhJEeWuvJHgu3pQWg" incomingTransitions="_p9vHMLhJEeWuvJHgu3pQWg _yU2jILhJEeWuvJHgu3pQWg">
        <outgoingTransitions xmi:id="_XrypwLhdEeW8pKPOUxX9Mw" specification="" target="_hWB6cLhdEeW8pKPOUxX9Mw"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_W8mBcLhdEeW8pKPOUxX9Mw" incomingTransitions="_nv1VILhdEeW8pKPOUxX9Mw"/>
      <vertices xsi:type="sgraph:State" xmi:id="_hWB6cLhdEeW8pKPOUxX9Mw" name="Cleanup" incomingTransitions="_XrypwLhdEeW8pKPOUxX9Mw">
        <outgoingTransitions xmi:id="_nv1VILhdEeW8pKPOUxX9Mw" specification="proceed" target="_W8mBcLhdEeW8pKPOUxX9Mw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_BNSekLX7EeWTfOMYDrZNaw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_BNR3gLX7EeWTfOMYDrZNaw" measurementUnit="Pixel">
    <children xmi:id="_BNUTwLX7EeWTfOMYDrZNaw" type="Region" element="_BNSekrX7EeWTfOMYDrZNaw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNWI8LX7EeWTfOMYDrZNaw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNWI8bX7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNWI8rX7EeWTfOMYDrZNaw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BNWI87X7EeWTfOMYDrZNaw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_BNWwArX7EeWTfOMYDrZNaw" type="Entry" element="_BNWwAbX7EeWTfOMYDrZNaw">
          <children xmi:id="_BNXXELX7EeWTfOMYDrZNaw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_BNXXE7X7EeWTfOMYDrZNaw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_BNXXFLX7EeWTfOMYDrZNaw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_BNXXFbX7EeWTfOMYDrZNaw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BNXXEbX7EeWTfOMYDrZNaw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNXXErX7EeWTfOMYDrZNaw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BNWwA7X7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_BNWwBLX7EeWTfOMYDrZNaw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNXXFrX7EeWTfOMYDrZNaw" x="24" y="122" width="15" height="15"/>
        </children>
        <children xmi:id="_BNX-IrX7EeWTfOMYDrZNaw" type="State" element="_BNXXF7X7EeWTfOMYDrZNaw">
          <children xsi:type="notation:DecorationNode" xmi:id="_BNX-JrX7EeWTfOMYDrZNaw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_BNX-J7X7EeWTfOMYDrZNaw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_BNYlMLX7EeWTfOMYDrZNaw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BNYlMbX7EeWTfOMYDrZNaw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_BNYlMrX7EeWTfOMYDrZNaw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNYlM7X7EeWTfOMYDrZNaw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_BNZMQLX7EeWTfOMYDrZNaw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_BNX-I7X7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_BNX-JLX7EeWTfOMYDrZNaw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BNZMQbX7EeWTfOMYDrZNaw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNZMQrX7EeWTfOMYDrZNaw" x="121" y="106" width="72" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_Ydn74LhIEeWuvJHgu3pQWg" type="Synchronization" element="_YdmtwLhIEeWuvJHgu3pQWg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ydn74bhIEeWuvJHgu3pQWg" x="269" y="114" width="8" height="32"/>
        </children>
        <children xmi:id="_ngca0LhIEeWuvJHgu3pQWg" type="State" element="_ngbMsLhIEeWuvJHgu3pQWg">
          <children xsi:type="notation:DecorationNode" xmi:id="_ngca1LhIEeWuvJHgu3pQWg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ngca1bhIEeWuvJHgu3pQWg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ngca1rhIEeWuvJHgu3pQWg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ngca17hIEeWuvJHgu3pQWg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ngca2LhIEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ngca2bhIEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ngdB4LhIEeWuvJHgu3pQWg" type="StateFigureCompartment">
            <children xmi:id="_ZeaOALhJEeWuvJHgu3pQWg" type="Region" element="_u_C6YLhIEeWuvJHgu3pQWg">
              <children xsi:type="notation:DecorationNode" xmi:id="_ZeaOAbhJEeWuvJHgu3pQWg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_ZeaOArhJEeWuvJHgu3pQWg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_ZeaOA7hJEeWuvJHgu3pQWg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_ZeaOBLhJEeWuvJHgu3pQWg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_ZeaOBbhJEeWuvJHgu3pQWg" type="State" element="_1ZOvkLhIEeWuvJHgu3pQWg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_ZeaOBrhJEeWuvJHgu3pQWg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ZeaOB7hJEeWuvJHgu3pQWg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_ZeaOCLhJEeWuvJHgu3pQWg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ZeaOCbhJEeWuvJHgu3pQWg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_ZeaOCrhJEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZeaOC7hJEeWuvJHgu3pQWg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_ZeaODLhJEeWuvJHgu3pQWg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ZeaODbhJEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_ZeaODrhJEeWuvJHgu3pQWg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ZeaOD7hJEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZeaOELhJEeWuvJHgu3pQWg" x="15" y="-7"/>
                </children>
                <children xmi:id="_mJyG4LhpEeWjnuGOqHRF3A" type="State" element="_mJzVALhpEeWjnuGOqHRF3A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mJyG4bhpEeWjnuGOqHRF3A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mJyG4rhpEeWjnuGOqHRF3A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mJyG47hpEeWjnuGOqHRF3A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mJyG5LhpEeWjnuGOqHRF3A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mJyG5bhpEeWjnuGOqHRF3A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mJyG5rhpEeWjnuGOqHRF3A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mJyG57hpEeWjnuGOqHRF3A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mJyG6LhpEeWjnuGOqHRF3A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_mJyG6bhpEeWjnuGOqHRF3A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mJyG6rhpEeWjnuGOqHRF3A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mJyG67hpEeWjnuGOqHRF3A" x="125" y="-7"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZeaOEbhJEeWuvJHgu3pQWg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ZeaOErhJEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ZeaOE7hJEeWuvJHgu3pQWg"/>
            </children>
            <children xmi:id="_2jDeYLhIEeWuvJHgu3pQWg" type="Region" element="_wMtAULhIEeWuvJHgu3pQWg">
              <children xsi:type="notation:DecorationNode" xmi:id="_2jDeYbhIEeWuvJHgu3pQWg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_2jDeYrhIEeWuvJHgu3pQWg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_2jDeY7hIEeWuvJHgu3pQWg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_2jDeZLhIEeWuvJHgu3pQWg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_2jDeZbhIEeWuvJHgu3pQWg" type="State" element="_2Et8kLhIEeWuvJHgu3pQWg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_2jDeZrhIEeWuvJHgu3pQWg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_2jDeZ7hIEeWuvJHgu3pQWg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_2jDeaLhIEeWuvJHgu3pQWg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2jDeabhIEeWuvJHgu3pQWg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_2jDearhIEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2jDea7hIEeWuvJHgu3pQWg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_2jDebLhIEeWuvJHgu3pQWg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_2jDebbhIEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_2jDebrhIEeWuvJHgu3pQWg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2jDeb7hIEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2jDecLhIEeWuvJHgu3pQWg" x="15" y="-8"/>
                </children>
                <children xmi:id="_tT81ELhJEeWuvJHgu3pQWg" type="State" element="_tT8OALhJEeWuvJHgu3pQWg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_tT81FLhJEeWuvJHgu3pQWg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_tT81FbhJEeWuvJHgu3pQWg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_tT81FrhJEeWuvJHgu3pQWg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tT81F7hJEeWuvJHgu3pQWg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_tT81GLhJEeWuvJHgu3pQWg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tT81GbhJEeWuvJHgu3pQWg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_tT81GrhJEeWuvJHgu3pQWg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_tT81EbhJEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_tT81ErhJEeWuvJHgu3pQWg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tT81G7hJEeWuvJHgu3pQWg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tT81E7hJEeWuvJHgu3pQWg" x="125" y="-8"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2jDecbhIEeWuvJHgu3pQWg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_2jDecrhIEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2jDec7hIEeWuvJHgu3pQWg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ngca0bhIEeWuvJHgu3pQWg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ngca0rhIEeWuvJHgu3pQWg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ngdB4bhIEeWuvJHgu3pQWg" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ngca07hIEeWuvJHgu3pQWg" x="364" y="26" width="233" height="251"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_m8SvcLhJEeWuvJHgu3pQWg" type="Synchronization" element="_m8SIYLhJEeWuvJHgu3pQWg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_m8SvcbhJEeWuvJHgu3pQWg" x="694" y="264" width="81" height="8"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_W8mogLhdEeW8pKPOUxX9Mw" type="FinalState" element="_W8mBcLhdEeW8pKPOUxX9Mw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W8mogbhdEeW8pKPOUxX9Mw" x="26" y="322" width="15" height="15"/>
        </children>
        <children xmi:id="_hWDIkLhdEeW8pKPOUxX9Mw" type="State" element="_hWB6cLhdEeW8pKPOUxX9Mw">
          <children xsi:type="notation:DecorationNode" xmi:id="_hWDvoLhdEeW8pKPOUxX9Mw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hWDvobhdEeW8pKPOUxX9Mw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hWDvorhdEeW8pKPOUxX9Mw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hWDvo7hdEeW8pKPOUxX9Mw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hWDvpLhdEeW8pKPOUxX9Mw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hWDvpbhdEeW8pKPOUxX9Mw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hWDvprhdEeW8pKPOUxX9Mw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hWDIkbhdEeW8pKPOUxX9Mw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hWDIkrhdEeW8pKPOUxX9Mw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hWDvp7hdEeW8pKPOUxX9Mw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hWDIk7hdEeW8pKPOUxX9Mw" x="124" y="306" width="76" height="53"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNWI9LX7EeWTfOMYDrZNaw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_BNUTwbX7EeWTfOMYDrZNaw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNWwALX7EeWTfOMYDrZNaw" x="235" y="30" width="867" height="433"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_BNbogLX7EeWTfOMYDrZNaw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNbogrX7EeWTfOMYDrZNaw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNbog7X7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNbohLX7EeWTfOMYDrZNaw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BNbohbX7EeWTfOMYDrZNaw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNbohrX7EeWTfOMYDrZNaw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BNcPkLX7EeWTfOMYDrZNaw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_BNSekbX7EeWTfOMYDrZNaw"/>
    <edges xmi:id="_BNaaYLX7EeWTfOMYDrZNaw" type="Transition" element="_BNZMQ7X7EeWTfOMYDrZNaw" source="_BNWwArX7EeWTfOMYDrZNaw" target="_BNX-IrX7EeWTfOMYDrZNaw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BNbBcbX7EeWTfOMYDrZNaw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BNbBcrX7EeWTfOMYDrZNaw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BNbBc7X7EeWTfOMYDrZNaw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BNaaYbX7EeWTfOMYDrZNaw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BNbBcLX7EeWTfOMYDrZNaw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BNaaYrX7EeWTfOMYDrZNaw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_aiGVELhIEeWuvJHgu3pQWg" type="Transition" element="_aiFG8LhIEeWuvJHgu3pQWg" source="_BNX-IrX7EeWTfOMYDrZNaw" target="_Ydn74LhIEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_aiG8IbhIEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aiG8IrhIEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aiG8I7hIEeWuvJHgu3pQWg" x="-5" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aiGVEbhIEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aiG8ILhIEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aiGVErhIEeWuvJHgu3pQWg" points="[0, 0, -57, -43]$[53, 40, -4, -3]"/>
    </edges>
    <edges xmi:id="_ngfeILhIEeWuvJHgu3pQWg" type="Transition" element="_nge3ELhIEeWuvJHgu3pQWg" source="_Ydn74LhIEeWuvJHgu3pQWg" target="_ZeaOBbhJEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_nggFMbhIEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nggFMrhIEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nggFM7hIEeWuvJHgu3pQWg" x="-18" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ngfeIbhIEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nggFMLhIEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ngfeIrhIEeWuvJHgu3pQWg" points="[-4, -3, 207, 146]$[-208, -147, 3, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3whnALhcEeW8pKPOUxX9Mw" id="(0.5,0.125)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5CdwALhcEeW8pKPOUxX9Mw" id="(0.01818181818181818,0.6226415094339622)"/>
    </edges>
    <edges xmi:id="_DBLL8LhJEeWuvJHgu3pQWg" type="Transition" element="_DBJ90LhJEeWuvJHgu3pQWg" source="_Ydn74LhIEeWuvJHgu3pQWg" target="_2jDeZbhIEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_DBLL9LhJEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DBLL9bhJEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DBLL9rhJEeWuvJHgu3pQWg" x="-2" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DBLL8bhJEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DBLL87hJEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DBLL8rhJEeWuvJHgu3pQWg" points="[2, 0, -148, -80]$[57, 0, -93, -80]$[57, 80, -93, 0]$[119, 80, -31, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jzrYsLhJEeWuvJHgu3pQWg" id="(0.875,0.59375)"/>
    </edges>
    <edges xmi:id="_p9vuQLhJEeWuvJHgu3pQWg" type="Transition" element="_p9vHMLhJEeWuvJHgu3pQWg" source="_mJyG4LhpEeWjnuGOqHRF3A" target="_m8SvcLhJEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_p9vuRLhJEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_p9vuRbhJEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_p9vuRrhJEeWuvJHgu3pQWg" x="-95" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_p9vuQbhJEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_p9vuQ7hJEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_p9vuQrhJEeWuvJHgu3pQWg" points="[32, 0, -191, -140]$[223, 0, 0, -140]$[223, 139, 0, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VO4p0LhaEeW8pKPOUxX9Mw" id="(0.7735849056603774,0.125)"/>
    </edges>
    <edges xmi:id="_tT_RULhJEeWuvJHgu3pQWg" type="Transition" element="_tT-qQLhJEeWuvJHgu3pQWg" source="_2jDeZbhIEeWuvJHgu3pQWg" target="_tT81ELhJEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_tT_RVLhJEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tT_RVbhJEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tT_RVrhJEeWuvJHgu3pQWg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tT_RUbhJEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tT_RU7hJEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tT_RUrhJEeWuvJHgu3pQWg" points="[-17, -14, 18, 13]$[-32, -25, 3, 2]"/>
    </edges>
    <edges xmi:id="_yU3KMLhJEeWuvJHgu3pQWg" type="Transition" element="_yU2jILhJEeWuvJHgu3pQWg" source="_tT81ELhJEeWuvJHgu3pQWg" target="_m8SvcLhJEeWuvJHgu3pQWg">
      <children xsi:type="notation:DecorationNode" xmi:id="_yU3xQbhJEeWuvJHgu3pQWg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yU3xQrhJEeWuvJHgu3pQWg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yU3xQ7hJEeWuvJHgu3pQWg" x="-22" y="12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yU3KMbhJEeWuvJHgu3pQWg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yU3xQLhJEeWuvJHgu3pQWg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yU3KMrhJEeWuvJHgu3pQWg" points="[63, 0, -169, -41]$[223, 0, -9, -41]$[223, 41, -9, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yU4YULhJEeWuvJHgu3pQWg" id="(0.0,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QZN7YLhaEeW8pKPOUxX9Mw" id="(0.32075471698113206,0.0)"/>
    </edges>
    <edges xmi:id="_XrzQ0LhdEeW8pKPOUxX9Mw" type="Transition" element="_XrypwLhdEeW8pKPOUxX9Mw" source="_m8SvcLhJEeWuvJHgu3pQWg" target="_hWDIkLhdEeW8pKPOUxX9Mw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xrz34LhdEeW8pKPOUxX9Mw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xrz34bhdEeW8pKPOUxX9Mw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xrz34rhdEeW8pKPOUxX9Mw" x="3" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XrzQ0bhdEeW8pKPOUxX9Mw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XrzQ07hdEeW8pKPOUxX9Mw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XrzQ0rhdEeW8pKPOUxX9Mw" points="[0, 4, 579, -58]$[0, 62, 579, 0]$[-548, 62, 31, 0]"/>
    </edges>
    <edges xmi:id="_nv18MLhdEeW8pKPOUxX9Mw" type="Transition" element="_nv1VILhdEeW8pKPOUxX9Mw" source="_hWDIkLhdEeW8pKPOUxX9Mw" target="_W8mogLhdEeW8pKPOUxX9Mw">
      <children xsi:type="notation:DecorationNode" xmi:id="_nv18NLhdEeW8pKPOUxX9Mw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nv18NbhdEeW8pKPOUxX9Mw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nv18NrhdEeW8pKPOUxX9Mw" x="2" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_nv18MbhdEeW8pKPOUxX9Mw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_nv18M7hdEeW8pKPOUxX9Mw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_nv18MrhdEeW8pKPOUxX9Mw" points="[8, 24, -177, 30]$[178, -6, -7, 0]"/>
    </edges>
    <edges xmi:id="_tKOq0LhpEeWjnuGOqHRF3A" type="Transition" element="_tKM1oLhpEeWjnuGOqHRF3A" source="_ZeaOBbhJEeWuvJHgu3pQWg" target="_mJyG4LhpEeWjnuGOqHRF3A">
      <children xsi:type="notation:DecorationNode" xmi:id="_tKPR4LhpEeWjnuGOqHRF3A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tKPR4bhpEeWjnuGOqHRF3A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tKPR4rhpEeWjnuGOqHRF3A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tKOq0bhpEeWjnuGOqHRF3A" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tKOq07hpEeWjnuGOqHRF3A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tKOq0rhpEeWjnuGOqHRF3A" points="[5, 0, -61, 0]$[65, 0, -1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wKsLILhpEeWjnuGOqHRF3A" id="(0.9090909090909091,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tKRHELhpEeWjnuGOqHRF3A" id="(0.029411764705882353,0.4528301886792453)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
