<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.yakindu.sct.generator.core">
      <SCTGenerator
            class="org.yakindu.sct.generator.cpp.subscriber.CppCodeGenerator"
            description="YAKINDU.org C++ Code Generator"
            id="yakindu::cpp"
            name="YAKINDU.org C++ Code Generator">
      </SCTGenerator>
   </extension>
</plugin>
