<?xml version="1.0" encoding="UTF-8"?>

<plugin>

    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true" />

        <!-- List all files constituting the documentation here: -->
        <toc file="help/tutorials/tutorials-toc.xml" primary="false"/>
        <toc file="help/user-guide/overview-toc.xml" primary="false"/>
        <toc file="help/user-guide/editing_statecharts-toc.xml" primary="false"/>
        <toc file="help/user-guide/simulating_statecharts-toc.xml" primary="false"/>
        <toc file="help/user-guide/search_and_navigate-toc.xml" primary="false"/>
        <toc file="help/user-guide/c-domain-toc.xml" primary="false"/>
        <toc file="help/user-guide/scxml_domain-toc.xml" primary="false"/>
        <!-- <toc file="help/user-guide/typescript-domain-toc.xml" primary="false"/> -->
        <toc file="help/user-guide/statechart_language-toc.xml" primary="false"/>
        <toc file="help/user-guide/code_generation_intro-toc.xml" primary="false"/>
        <toc file="help/user-guide/code_generation_c-toc.xml" primary="false"/>
        <toc file="help/user-guide/code_generation_cpp-toc.xml" primary="false"/>
        <toc file="help/user-guide/code_generation_java-toc.xml" primary="false"/>
        <toc file="help/user-guide/code_generation_statechart_image-toc.xml" primary="false"/>
        <toc file="help/user-guide/generating_code_headless-toc.xml" primary="false"/>
        <toc file="help/user-guide/sctunit-toc.xml" primary="false"/>
        <toc file="help/user-guide/installation-toc.xml" primary="false"/>
        <toc file="help/user-guide/release_notes-toc.xml" primary="false"/>
    </extension>

    <extension point="org.eclipse.help.contexts">
        <contexts file="contexts.xml" plugin="org.yakindu.sct.ui.editor"/>
    </extension>

</plugin>
