<?xml version="1.0" encoding="UTF-8"?>

<plugin>

    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true" />

        <!-- List all files constituting the documentation here: -->
        <toc file="help/tutorials/tutorials-toc.xml" primary="false"/>
        <toc file="help/user-guide/overview-toc.xml" primary="false"/>
        <toc file="help/user-guide/editing_statecharts-toc.xml" primary="false"/>
        <toc file="help/user-guide/simulating_statecharts-toc.xml" primary="false"/>
        <toc file="help/user-guide/advanced_simulation-toc.xml" primary="false"/>
        <toc file="help/user-guide/c-domain-toc.xml" primary="false"/>
        <toc file="help/user-guide/typescript-domain-toc.xml" primary="false"/>
        <toc file="help/user-guide/statechart_language-toc.xml" primary="false"/>
        <toc file="help/user-guide/generating_code-toc.xml" primary="false"/>
        <toc file="help/user-guide/generating_code_headless-toc.xml" primary="false"/>
        <toc file="help/user-guide/sctunit-toc.xml" primary="false"/>
        <toc file="help/installation/installation-toc.xml" primary="false"/>
    </extension>

    <extension point="org.eclipse.help.contexts">
        <contexts file="contexts.xml" plugin="org.yakindu.sct.ui.editor"/>
    </extension>

</plugin>
