<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_XoS0wPZlEeCSetPXFd1ZUw" specification="internal:&#xA;&#xA;var value:integer&#xA;" name="TimeTrigger">
    <regions xmi:id="_XoTb0vZlEeCSetPXFd1ZUw" name="mainRegion">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Dd7OAPimEeCPG5ImOgba0Q">
        <outgoingTransitions xmi:id="_lRPkEJ6VEeGsX9UkwAVdHQ" specification="" target="_hjQ2cJ6VEeGsX9UkwAVdHQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_hjQ2cJ6VEeGsX9UkwAVdHQ" specification="entry / value = 0" name="StateA" incomingTransitions="_lRPkEJ6VEeGsX9UkwAVdHQ _q-xVUJ6aEeGsX9UkwAVdHQ">
        <outgoingTransitions xmi:id="_5Y_8gJ6VEeGsX9UkwAVdHQ" specification="after 100 ms" target="_1Qf2EJ6VEeGsX9UkwAVdHQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_1Qf2EJ6VEeGsX9UkwAVdHQ" specification="every 20 ms / value+=1" name="StateB" incomingTransitions="_5Y_8gJ6VEeGsX9UkwAVdHQ">
        <outgoingTransitions xmi:id="_q-xVUJ6aEeGsX9UkwAVdHQ" specification="[value == 10]" target="_hjQ2cJ6VEeGsX9UkwAVdHQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_XoTb0PZlEeCSetPXFd1ZUw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_XoS0wPZlEeCSetPXFd1ZUw" measurementUnit="Pixel">
    <children xmi:id="_XoUC4PZlEeCSetPXFd1ZUw" type="Region" element="_XoTb0vZlEeCSetPXFd1ZUw">
      <children xsi:type="notation:DecorationNode" xmi:id="_XoUC4_ZlEeCSetPXFd1ZUw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XoUC5PZlEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XoUC5fZlEeCSetPXFd1ZUw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_XoUC5vZlEeCSetPXFd1ZUw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Dd4xwfimEeCPG5ImOgba0Q" type="Entry" element="_Dd7OAPimEeCPG5ImOgba0Q">
          <children xmi:id="_Dd4xwvimEeCPG5ImOgba0Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Dd4xw_imEeCPG5ImOgba0Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Dd4xxPimEeCPG5ImOgba0Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Dd4xxfimEeCPG5ImOgba0Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Dd4xxvimEeCPG5ImOgba0Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dd4xx_imEeCPG5ImOgba0Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Dd4xyPimEeCPG5ImOgba0Q" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Dd4xyfimEeCPG5ImOgba0Q" x="80" y="30"/>
        </children>
        <children xmi:id="_hj3TYJ6VEeGsX9UkwAVdHQ" type="State" element="_hjQ2cJ6VEeGsX9UkwAVdHQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_hj3TZJ6VEeGsX9UkwAVdHQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_hj3TZZ6VEeGsX9UkwAVdHQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_hj3TZp6VEeGsX9UkwAVdHQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hj3TZ56VEeGsX9UkwAVdHQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_hj3TaJ6VEeGsX9UkwAVdHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hj3TaZ6VEeGsX9UkwAVdHQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_hj3Tap6VEeGsX9UkwAVdHQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_hj3TYZ6VEeGsX9UkwAVdHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_hj3TYp6VEeGsX9UkwAVdHQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_hj3Ta56VEeGsX9UkwAVdHQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_hj3TY56VEeGsX9UkwAVdHQ" x="23" y="84"/>
        </children>
        <children xmi:id="_1QpnEJ6VEeGsX9UkwAVdHQ" type="State" element="_1Qf2EJ6VEeGsX9UkwAVdHQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_1QpnFJ6VEeGsX9UkwAVdHQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_1QpnFZ6VEeGsX9UkwAVdHQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_1QpnFp6VEeGsX9UkwAVdHQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1QpnF56VEeGsX9UkwAVdHQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_1QzYEJ6VEeGsX9UkwAVdHQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1QzYEZ6VEeGsX9UkwAVdHQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_1QzYEp6VEeGsX9UkwAVdHQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_1QpnEZ6VEeGsX9UkwAVdHQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_1QpnEp6VEeGsX9UkwAVdHQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_1QzYE56VEeGsX9UkwAVdHQ"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1QpnE56VEeGsX9UkwAVdHQ" x="304" y="84" width="101" height="76"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XoUC5_ZlEeCSetPXFd1ZUw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_XoUC4fZlEeCSetPXFd1ZUw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XoUp8PZlEeCSetPXFd1ZUw" x="225" y="-5" width="476" height="281"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_XoXGN_ZlEeCSetPXFd1ZUw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_XoXtQPZlEeCSetPXFd1ZUw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XoXtQfZlEeCSetPXFd1ZUw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XoXtQvZlEeCSetPXFd1ZUw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_XoXtQ_ZlEeCSetPXFd1ZUw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XoXtRPZlEeCSetPXFd1ZUw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XoXtRfZlEeCSetPXFd1ZUw" x="10" y="-5" width="200" height="281"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_XoTb0fZlEeCSetPXFd1ZUw"/>
    <edges xmi:id="_lRYuAJ6VEeGsX9UkwAVdHQ" type="Transition" element="_lRPkEJ6VEeGsX9UkwAVdHQ" source="_Dd4xwfimEeCPG5ImOgba0Q" target="_hj3TYJ6VEeGsX9UkwAVdHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_lRYuBJ6VEeGsX9UkwAVdHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lRYuBZ6VEeGsX9UkwAVdHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lRYuBp6VEeGsX9UkwAVdHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lRYuAZ6VEeGsX9UkwAVdHQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lRYuA56VEeGsX9UkwAVdHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lRYuAp6VEeGsX9UkwAVdHQ" points="[0, 7, -2, -40]$[6, 37, 4, -10]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lRifAJ6VEeGsX9UkwAVdHQ" id="(0.6071428571428571,0.19642857142857142)"/>
    </edges>
    <edges xmi:id="_5ZJGcJ6VEeGsX9UkwAVdHQ" type="Transition" element="_5Y_8gJ6VEeGsX9UkwAVdHQ" source="_hj3TYJ6VEeGsX9UkwAVdHQ" target="_1QpnEJ6VEeGsX9UkwAVdHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_5ZJGdJ6VEeGsX9UkwAVdHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5ZJGdZ6VEeGsX9UkwAVdHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5ZJGdp6VEeGsX9UkwAVdHQ" x="1" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5ZJGcZ6VEeGsX9UkwAVdHQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5ZJGc56VEeGsX9UkwAVdHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5ZJGcp6VEeGsX9UkwAVdHQ" points="[26, 9, -125, 2]$[152, -30, 1, -37]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5ZcocJ6VEeGsX9UkwAVdHQ" id="(0.06930693069306931,0.35135135135135137)"/>
    </edges>
    <edges xmi:id="_q-xVUZ6aEeGsX9UkwAVdHQ" type="Transition" element="_q-xVUJ6aEeGsX9UkwAVdHQ" source="_1QpnEJ6VEeGsX9UkwAVdHQ" target="_hj3TYJ6VEeGsX9UkwAVdHQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_q-xVVZ6aEeGsX9UkwAVdHQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_q-xVVp6aEeGsX9UkwAVdHQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_q-xVV56aEeGsX9UkwAVdHQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_q-xVUp6aEeGsX9UkwAVdHQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_q-xVVJ6aEeGsX9UkwAVdHQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_q-xVU56aEeGsX9UkwAVdHQ" points="[-16, -6, 215, 15]$[-222, 5, 9, 26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_q-xVWJ6aEeGsX9UkwAVdHQ" id="(0.16831683168316833,0.6936936936936937)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cabssJ6bEeGsX9UkwAVdHQ" id="(0.9104477611940298,0.9508196721311475)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
