<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Y9opABL3EeKu2KdLepPy5Q" name="VariableInitialization">
    <regions xmi:id="_Y9qeMhL3EeKu2KdLepPy5Q" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Y-HxMRL3EeKu2KdLepPy5Q">
        <outgoingTransitions xmi:id="_Y-KNcxL3EeKu2KdLepPy5Q" target="_Y-I_URL3EeKu2KdLepPy5Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Y-I_URL3EeKu2KdLepPy5Q" incomingTransitions="_Y-KNcxL3EeKu2KdLepPy5Q"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_Y9qeMBL3EeKu2KdLepPy5Q" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Y9opABL3EeKu2KdLepPy5Q" measurementUnit="Pixel">
    <children xmi:id="_Y9uvoBL3EeKu2KdLepPy5Q" type="Region" element="_Y9qeMhL3EeKu2KdLepPy5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y-HKIBL3EeKu2KdLepPy5Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-HKIRL3EeKu2KdLepPy5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y-HKIhL3EeKu2KdLepPy5Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Y-HKIxL3EeKu2KdLepPy5Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Y-HxMhL3EeKu2KdLepPy5Q" type="Entry" element="_Y-HxMRL3EeKu2KdLepPy5Q">
          <children xmi:id="_Y-IYQBL3EeKu2KdLepPy5Q" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Y-IYQxL3EeKu2KdLepPy5Q" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-IYRBL3EeKu2KdLepPy5Q"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Y-IYRRL3EeKu2KdLepPy5Q"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-IYQRL3EeKu2KdLepPy5Q" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-IYQhL3EeKu2KdLepPy5Q"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-HxMxL3EeKu2KdLepPy5Q" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-I_UBL3EeKu2KdLepPy5Q" x="70" y="20"/>
        </children>
        <children xmi:id="_Y-I_UxL3EeKu2KdLepPy5Q" type="State" element="_Y-I_URL3EeKu2KdLepPy5Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_Y-JmYBL3EeKu2KdLepPy5Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-JmYRL3EeKu2KdLepPy5Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Y-JmYhL3EeKu2KdLepPy5Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Y-JmYxL3EeKu2KdLepPy5Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Y-JmZBL3EeKu2KdLepPy5Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-JmZRL3EeKu2KdLepPy5Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Y-KNcBL3EeKu2KdLepPy5Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-I_VBL3EeKu2KdLepPy5Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Y-I_VRL3EeKu2KdLepPy5Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Y-KNcRL3EeKu2KdLepPy5Q"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-KNchL3EeKu2KdLepPy5Q" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-HKJBL3EeKu2KdLepPy5Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Y9uvoRL3EeKu2KdLepPy5Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-HxMBL3EeKu2KdLepPy5Q" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Y-LbkxL3EeKu2KdLepPy5Q" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y-MCoBL3EeKu2KdLepPy5Q" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-MCoRL3EeKu2KdLepPy5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y-MCohL3EeKu2KdLepPy5Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Y-MCoxL3EeKu2KdLepPy5Q" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-MCpBL3EeKu2KdLepPy5Q"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Y-MCpRL3EeKu2KdLepPy5Q" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_Y9qeMRL3EeKu2KdLepPy5Q"/>
    <edges xmi:id="_Y-K0gBL3EeKu2KdLepPy5Q" type="Transition" element="_Y-KNcxL3EeKu2KdLepPy5Q" source="_Y-HxMhL3EeKu2KdLepPy5Q" target="_Y-I_UxL3EeKu2KdLepPy5Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y-LbkBL3EeKu2KdLepPy5Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y-LbkRL3EeKu2KdLepPy5Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y-LbkhL3EeKu2KdLepPy5Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y-K0gRL3EeKu2KdLepPy5Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y-K0gxL3EeKu2KdLepPy5Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y-K0ghL3EeKu2KdLepPy5Q" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
