<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_fhXWMF_SEea7Gq00qZ1cGQ" specification="internal:&#xA; event e1&#xA; event e2&#xA; event reenter&#xA;&#xA;var x: integer&#xA;&#xA;operation isOpen(door:integer): boolean&#xA;operation notify(p:integer): void&#xA;" name="xxx">
    <regions xmi:id="_fhX9Ql_SEea7Gq00qZ1cGQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_fhc1wV_SEea7Gq00qZ1cGQ">
        <outgoingTransitions xmi:id="_DTfY4GCbEeatm9_iUm69JQ" target="_DTcVkGCbEeatm9_iUm69JQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_DTcVkGCbEeatm9_iUm69JQ" name="A" incomingTransitions="_DTfY4GCbEeatm9_iUm69JQ">
        <outgoingTransitions xmi:id="_JzXmYGCbEeatm9_iUm69JQ" specification="e1" target="_JzVKIGCbEeatm9_iUm69JQ"/>
        <outgoingTransitions xmi:id="_FTfk92CfEeatm9_iUm69JQ" specification="e1" target="_Gli_gGCbEeatm9_iUm69JQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Gli_gGCbEeatm9_iUm69JQ" name="C" incomingTransitions="_FTfk92CfEeatm9_iUm69JQ _I7wFEGCfEeatm9_iUm69JQ"/>
      <vertices xsi:type="sgraph:State" xmi:id="_JzVKIGCbEeatm9_iUm69JQ" name="B" incomingTransitions="_JzXmYGCbEeatm9_iUm69JQ">
        <outgoingTransitions xmi:id="_I7wFEGCfEeatm9_iUm69JQ" specification="e2" target="_Gli_gGCbEeatm9_iUm69JQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_fhX9QF_SEea7Gq00qZ1cGQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_fhXWMF_SEea7Gq00qZ1cGQ" measurementUnit="Pixel">
    <children xmi:id="_fhaZgF_SEea7Gq00qZ1cGQ" type="Region" element="_fhX9Ql_SEea7Gq00qZ1cGQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_fhcOsF_SEea7Gq00qZ1cGQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fhcOsV_SEea7Gq00qZ1cGQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fhcOsl_SEea7Gq00qZ1cGQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fhcOs1_SEea7Gq00qZ1cGQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_fhdc0F_SEea7Gq00qZ1cGQ" type="Entry" element="_fhc1wV_SEea7Gq00qZ1cGQ">
          <children xmi:id="_fhdc1F_SEea7Gq00qZ1cGQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_fheD4F_SEea7Gq00qZ1cGQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_fheD4V_SEea7Gq00qZ1cGQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_fheD4l_SEea7Gq00qZ1cGQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fhdc1V_SEea7Gq00qZ1cGQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhdc1l_SEea7Gq00qZ1cGQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fhdc0V_SEea7Gq00qZ1cGQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_fhdc0l_SEea7Gq00qZ1cGQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fheD41_SEea7Gq00qZ1cGQ" x="14" y="5" width="15" height="15"/>
        </children>
        <children xmi:id="_DTdjsGCbEeatm9_iUm69JQ" type="State" element="_DTcVkGCbEeatm9_iUm69JQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_DTdjtGCbEeatm9_iUm69JQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_DTdjtWCbEeatm9_iUm69JQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_DTdjtmCbEeatm9_iUm69JQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DTdjt2CbEeatm9_iUm69JQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_DTdjuGCbEeatm9_iUm69JQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DTdjuWCbEeatm9_iUm69JQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_DTdjumCbEeatm9_iUm69JQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_DTdjsWCbEeatm9_iUm69JQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_DTdjsmCbEeatm9_iUm69JQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_DTdju2CbEeatm9_iUm69JQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_DTdjs2CbEeatm9_iUm69JQ" x="57" y="-11"/>
        </children>
        <children xmi:id="_GljmkmCbEeatm9_iUm69JQ" type="State" element="_Gli_gGCbEeatm9_iUm69JQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_GlkNoGCbEeatm9_iUm69JQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_GlkNoWCbEeatm9_iUm69JQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_GlkNomCbEeatm9_iUm69JQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GlkNo2CbEeatm9_iUm69JQ" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_GlkNpGCbEeatm9_iUm69JQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GlkNpWCbEeatm9_iUm69JQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_GlkNpmCbEeatm9_iUm69JQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Gljmk2CbEeatm9_iUm69JQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_GljmlGCbEeatm9_iUm69JQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_GlkNp2CbEeatm9_iUm69JQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_GljmlWCbEeatm9_iUm69JQ" x="109" y="74"/>
        </children>
        <children xmi:id="_JzVxMGCbEeatm9_iUm69JQ" type="State" element="_JzVKIGCbEeatm9_iUm69JQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_JzVxNGCbEeatm9_iUm69JQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_JzVxNWCbEeatm9_iUm69JQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_JzVxNmCbEeatm9_iUm69JQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JzVxN2CbEeatm9_iUm69JQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_JzVxOGCbEeatm9_iUm69JQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JzVxOWCbEeatm9_iUm69JQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_JzVxOmCbEeatm9_iUm69JQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_JzVxMWCbEeatm9_iUm69JQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_JzVxMmCbEeatm9_iUm69JQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JzVxO2CbEeatm9_iUm69JQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JzVxM2CbEeatm9_iUm69JQ" x="14" y="74"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhcOtF_SEea7Gq00qZ1cGQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_fhaZgV_SEea7Gq00qZ1cGQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhc1wF_SEea7Gq00qZ1cGQ" x="300" y="10" width="181" height="191"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_fhggJF_SEea7Gq00qZ1cGQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_fhhHMF_SEea7Gq00qZ1cGQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fhhHMV_SEea7Gq00qZ1cGQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fhhHMl_SEea7Gq00qZ1cGQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fhhHM1_SEea7Gq00qZ1cGQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhhHNF_SEea7Gq00qZ1cGQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhhHNV_SEea7Gq00qZ1cGQ" x="10" y="10" width="271" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_fhX9QV_SEea7Gq00qZ1cGQ"/>
    <edges xmi:id="_DTf_8GCbEeatm9_iUm69JQ" type="Transition" element="_DTfY4GCbEeatm9_iUm69JQ" source="_fhdc0F_SEea7Gq00qZ1cGQ" target="_DTdjsGCbEeatm9_iUm69JQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_DTf_9GCbEeatm9_iUm69JQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DTf_9WCbEeatm9_iUm69JQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DTf_9mCbEeatm9_iUm69JQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DTf_8WCbEeatm9_iUm69JQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DTf_82CbEeatm9_iUm69JQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DTf_8mCbEeatm9_iUm69JQ" points="[-7, 0, 135, 17]$[-139, -17, 3, 0]"/>
    </edges>
    <edges xmi:id="_FTfk8GCfEeatm9_iUm69JQ" type="Transition" element="_FTfk92CfEeatm9_iUm69JQ" source="_DTdjsGCbEeatm9_iUm69JQ" target="_GljmkmCbEeatm9_iUm69JQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_FTfk9GCfEeatm9_iUm69JQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FTfk9mCfEeatm9_iUm69JQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FTfk9WCfEeatm9_iUm69JQ" x="5" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FTfk82CfEeatm9_iUm69JQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FTfk8mCfEeatm9_iUm69JQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FTfk8WCfEeatm9_iUm69JQ" points="[-17, -13, 125, 85]$[-139, -96, 3, 2]"/>
    </edges>
    <edges xmi:id="_JzYNcGCbEeatm9_iUm69JQ" type="Transition" element="_JzXmYGCbEeatm9_iUm69JQ" source="_DTdjsGCbEeatm9_iUm69JQ" target="_JzVxMGCbEeatm9_iUm69JQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_JzY0gGCbEeatm9_iUm69JQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JzY0gWCbEeatm9_iUm69JQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JzY0gmCbEeatm9_iUm69JQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JzYNcWCbEeatm9_iUm69JQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JzYNc2CbEeatm9_iUm69JQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JzYNcmCbEeatm9_iUm69JQ" points="[-17, -13, 125, 85]$[-139, -96, 3, 2]"/>
    </edges>
    <edges xmi:id="_I7wsIGCfEeatm9_iUm69JQ" type="Transition" element="_I7wFEGCfEeatm9_iUm69JQ" source="_JzVxMGCbEeatm9_iUm69JQ" target="_GljmkmCbEeatm9_iUm69JQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_I7wsJGCfEeatm9_iUm69JQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_I7wsJWCfEeatm9_iUm69JQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_I7wsJmCfEeatm9_iUm69JQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_I7wsIWCfEeatm9_iUm69JQ" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_I7wsI2CfEeatm9_iUm69JQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_I7wsImCfEeatm9_iUm69JQ" points="[5, -2, -77, 22]$[76, 0, -6, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I7x6QGCfEeatm9_iUm69JQ" id="(0.925,0.4716981132075472)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
