<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.yakindu.sct.domain">
      <Domain
            description="The default domain for Yakindu Statechart Tools."
            domainID="org.yakindu.domain.default"
            domainModuleProvider="org.yakindu.sct.domain.default_.extension.DefaultDomainInjectorProvider"
            image="icons/logo_small.png"
            name="Default">
      </Domain>
   </extension>
</plugin>
