<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_Lx-1QPf6EeWEP4pglzmtIA" specification="interface:&#xA;// Define events and&#xA;// and variables here" name="OrthogonalTransition">
    <regions xmi:id="_Z6vfsPf6EeWEP4pglzmtIA" name="r2">
      <vertices xsi:type="sgraph:Entry" xmi:id="_Z6vfsff6EeWEP4pglzmtIA">
        <outgoingTransitions xmi:id="_Z6vfsvf6EeWEP4pglzmtIA" target="_Z6vfs_f6EeWEP4pglzmtIA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Z6vfs_f6EeWEP4pglzmtIA" name="B" incomingTransitions="_Z6vfsvf6EeWEP4pglzmtIA _wMOkwPf6EeWEP4pglzmtIA">
        <regions xmi:id="_mARHEPf6EeWEP4pglzmtIA" name="">
          <vertices xsi:type="sgraph:Entry" xmi:id="_mARHEff6EeWEP4pglzmtIA">
            <outgoingTransitions xmi:id="_mARHEvf6EeWEP4pglzmtIA" specification="" target="_mARHE_f6EeWEP4pglzmtIA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mARHE_f6EeWEP4pglzmtIA" name="B1" incomingTransitions="_mARHEvf6EeWEP4pglzmtIA">
            <outgoingTransitions xmi:id="_rPgzIPf6EeWEP4pglzmtIA" specification="always" target="_mcvAo_f6EeWEP4pglzmtIA"/>
          </vertices>
        </regions>
        <regions xmi:id="_mcvAoPf6EeWEP4pglzmtIA" name="">
          <vertices xsi:type="sgraph:Entry" xmi:id="_mcvAoff6EeWEP4pglzmtIA">
            <outgoingTransitions xmi:id="_mcvAovf6EeWEP4pglzmtIA" specification="" target="_mcvAo_f6EeWEP4pglzmtIA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mcvAo_f6EeWEP4pglzmtIA" name="B2" incomingTransitions="_mcvAovf6EeWEP4pglzmtIA _rPgzIPf6EeWEP4pglzmtIA">
            <outgoingTransitions xmi:id="_wMOkwPf6EeWEP4pglzmtIA" specification="always" target="_Z6vfs_f6EeWEP4pglzmtIA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_LyB4kPf6EeWEP4pglzmtIA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_Lx-1QPf6EeWEP4pglzmtIA" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_LyLCg_f6EeWEP4pglzmtIA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_LyLpkPf6EeWEP4pglzmtIA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LyLpkff6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LyLpkvf6EeWEP4pglzmtIA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_LyLpk_f6EeWEP4pglzmtIA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LyLplPf6EeWEP4pglzmtIA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LyLplff6EeWEP4pglzmtIA" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_Z6scYPf6EeWEP4pglzmtIA" type="Region" element="_Z6vfsPf6EeWEP4pglzmtIA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Z6scYff6EeWEP4pglzmtIA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6scYvf6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Z6scY_f6EeWEP4pglzmtIA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Z6scZPf6EeWEP4pglzmtIA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_Z6scZff6EeWEP4pglzmtIA" type="Entry" element="_Z6vfsff6EeWEP4pglzmtIA">
          <children xmi:id="_Z6scZvf6EeWEP4pglzmtIA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Z6scZ_f6EeWEP4pglzmtIA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6scaPf6EeWEP4pglzmtIA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Z6scaff6EeWEP4pglzmtIA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6scavf6EeWEP4pglzmtIA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z6sca_f6EeWEP4pglzmtIA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6scbPf6EeWEP4pglzmtIA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Z6scbff6EeWEP4pglzmtIA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z6scbvf6EeWEP4pglzmtIA" x="164" y="37" width="15" height="15"/>
        </children>
        <children xmi:id="_Z6scb_f6EeWEP4pglzmtIA" type="State" element="_Z6vfs_f6EeWEP4pglzmtIA">
          <children xsi:type="notation:DecorationNode" xmi:id="_Z6sccPf6EeWEP4pglzmtIA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6sccff6EeWEP4pglzmtIA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Z6sccvf6EeWEP4pglzmtIA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Z6scc_f6EeWEP4pglzmtIA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Z6scdPf6EeWEP4pglzmtIA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z6scdff6EeWEP4pglzmtIA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Z6scdvf6EeWEP4pglzmtIA" type="StateFigureCompartment">
            <children xmi:id="_mAQgAPf6EeWEP4pglzmtIA" type="Region" element="_mARHEPf6EeWEP4pglzmtIA">
              <children xsi:type="notation:DecorationNode" xmi:id="_mAQgAff6EeWEP4pglzmtIA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgAvf6EeWEP4pglzmtIA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_mAQgA_f6EeWEP4pglzmtIA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_mAQgBPf6EeWEP4pglzmtIA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_mAQgBff6EeWEP4pglzmtIA" type="Entry" element="_mARHEff6EeWEP4pglzmtIA">
                  <children xmi:id="_mAQgBvf6EeWEP4pglzmtIA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_mAQgB_f6EeWEP4pglzmtIA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgCPf6EeWEP4pglzmtIA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_mAQgCff6EeWEP4pglzmtIA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgCvf6EeWEP4pglzmtIA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mAQgC_f6EeWEP4pglzmtIA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgDPf6EeWEP4pglzmtIA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mAQgDff6EeWEP4pglzmtIA" x="29" y="8"/>
                </children>
                <children xmi:id="_mAQgDvf6EeWEP4pglzmtIA" type="State" element="_mARHE_f6EeWEP4pglzmtIA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mAQgD_f6EeWEP4pglzmtIA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgEPf6EeWEP4pglzmtIA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mAQgEff6EeWEP4pglzmtIA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mAQgEvf6EeWEP4pglzmtIA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mAQgE_f6EeWEP4pglzmtIA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mAQgFPf6EeWEP4pglzmtIA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mAQgFff6EeWEP4pglzmtIA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgFvf6EeWEP4pglzmtIA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_mAQgF_f6EeWEP4pglzmtIA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mAQgGPf6EeWEP4pglzmtIA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mAQgGff6EeWEP4pglzmtIA" x="29" y="56"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mAQgGvf6EeWEP4pglzmtIA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_mAQgG_f6EeWEP4pglzmtIA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mAQgHPf6EeWEP4pglzmtIA" x="90" y="10"/>
            </children>
            <children xmi:id="_mctygPf6EeWEP4pglzmtIA" type="Region" element="_mcvAoPf6EeWEP4pglzmtIA">
              <children xsi:type="notation:DecorationNode" xmi:id="_mctygff6EeWEP4pglzmtIA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_mctygvf6EeWEP4pglzmtIA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_mctyg_f6EeWEP4pglzmtIA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_mctyhPf6EeWEP4pglzmtIA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_mctyhff6EeWEP4pglzmtIA" type="Entry" element="_mcvAoff6EeWEP4pglzmtIA">
                  <children xmi:id="_mctyhvf6EeWEP4pglzmtIA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_mctyh_f6EeWEP4pglzmtIA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_mctyiPf6EeWEP4pglzmtIA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_mctyiff6EeWEP4pglzmtIA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mctyivf6EeWEP4pglzmtIA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mctyi_f6EeWEP4pglzmtIA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mctyjPf6EeWEP4pglzmtIA" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mctyjff6EeWEP4pglzmtIA" x="51" y="12"/>
                </children>
                <children xmi:id="_mctyjvf6EeWEP4pglzmtIA" type="State" element="_mcvAo_f6EeWEP4pglzmtIA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mctyj_f6EeWEP4pglzmtIA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mctykPf6EeWEP4pglzmtIA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mctykff6EeWEP4pglzmtIA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mctykvf6EeWEP4pglzmtIA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mctyk_f6EeWEP4pglzmtIA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mctylPf6EeWEP4pglzmtIA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mctylff6EeWEP4pglzmtIA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mctylvf6EeWEP4pglzmtIA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_mctyl_f6EeWEP4pglzmtIA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mctymPf6EeWEP4pglzmtIA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mctymff6EeWEP4pglzmtIA" x="41" y="56"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mctymvf6EeWEP4pglzmtIA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_mctym_f6EeWEP4pglzmtIA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mctynPf6EeWEP4pglzmtIA" x="90" y="10"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6scd_f6EeWEP4pglzmtIA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Z6scePf6EeWEP4pglzmtIA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Z6sceff6EeWEP4pglzmtIA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z6scevf6EeWEP4pglzmtIA" x="29" y="109" width="290" height="190"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z6sce_f6EeWEP4pglzmtIA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6scfPf6EeWEP4pglzmtIA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Z6scfff6EeWEP4pglzmtIA" x="320" y="10" width="386" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_LyCfoPf6EeWEP4pglzmtIA"/>
    <edges xmi:id="_Z6wt0Pf6EeWEP4pglzmtIA" type="Transition" element="_Z6vfsvf6EeWEP4pglzmtIA" source="_Z6scZff6EeWEP4pglzmtIA" target="_Z6scb_f6EeWEP4pglzmtIA">
      <children xsi:type="notation:DecorationNode" xmi:id="_Z6wt0ff6EeWEP4pglzmtIA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Z6wt0vf6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Z6wt0_f6EeWEP4pglzmtIA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Z6wt1Pf6EeWEP4pglzmtIA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Z6wt1ff6EeWEP4pglzmtIA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Z6wt1vf6EeWEP4pglzmtIA" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_mARHFvf6EeWEP4pglzmtIA" type="Transition" element="_mARHEvf6EeWEP4pglzmtIA" source="_mAQgBff6EeWEP4pglzmtIA" target="_mAQgDvf6EeWEP4pglzmtIA">
      <children xsi:type="notation:DecorationNode" xmi:id="_mARHF_f6EeWEP4pglzmtIA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mARHGPf6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mARHGff6EeWEP4pglzmtIA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mARHGvf6EeWEP4pglzmtIA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mARHG_f6EeWEP4pglzmtIA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mARHHPf6EeWEP4pglzmtIA" points="[7, 2, -94, -35]$[103, 30, 2, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mARHHff6EeWEP4pglzmtIA" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_mcvnsPf6EeWEP4pglzmtIA" type="Transition" element="_mcvAovf6EeWEP4pglzmtIA" source="_mctyhff6EeWEP4pglzmtIA" target="_mctyjvf6EeWEP4pglzmtIA">
      <children xsi:type="notation:DecorationNode" xmi:id="_mcvnsff6EeWEP4pglzmtIA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mcvnsvf6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mcvns_f6EeWEP4pglzmtIA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mcvntPf6EeWEP4pglzmtIA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mcvntff6EeWEP4pglzmtIA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mcvntvf6EeWEP4pglzmtIA" points="[7, 2, -94, -35]$[103, 30, 2, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mcvnt_f6EeWEP4pglzmtIA" id="(0.32,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_rPiBQPf6EeWEP4pglzmtIA" type="Transition" element="_rPgzIPf6EeWEP4pglzmtIA" source="_mAQgDvf6EeWEP4pglzmtIA" target="_mctyjvf6EeWEP4pglzmtIA">
      <children xsi:type="notation:DecorationNode" xmi:id="_rPioUff6EeWEP4pglzmtIA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rPioUvf6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rPioU_f6EeWEP4pglzmtIA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rPiBQff6EeWEP4pglzmtIA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rPioUPf6EeWEP4pglzmtIA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rPiBQvf6EeWEP4pglzmtIA" points="[18, -1, -72, 3]$[94, 20, 4, 24]"/>
    </edges>
    <edges xmi:id="_wMPy4Pf6EeWEP4pglzmtIA" type="Transition" element="_wMOkwPf6EeWEP4pglzmtIA" source="_mctyjvf6EeWEP4pglzmtIA" target="_Z6scb_f6EeWEP4pglzmtIA">
      <children xsi:type="notation:DecorationNode" xmi:id="_wMPy5Pf6EeWEP4pglzmtIA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wMPy5ff6EeWEP4pglzmtIA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wMPy5vf6EeWEP4pglzmtIA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wMPy4ff6EeWEP4pglzmtIA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wMPy4_f6EeWEP4pglzmtIA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wMPy4vf6EeWEP4pglzmtIA" points="[0, 0, -28, 59]$[33, -57, 5, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wMgRkPf6EeWEP4pglzmtIA" id="(0.8,0.5094339622641509)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wMg4oPf6EeWEP4pglzmtIA" id="(0.9862068965517241,0.7157894736842105)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
