<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
        	category="org.yakindu.sct.ui.preferences.root"
            class="org.yakindu.sct.model.stext.ui.STextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.yakindu.sct.model.stext.SText"
            name="Expressions">
            <keywordReference id="org.yakindu.sct.model.stext.ui.keyword_SText"/>
        </page>
        <page
            category="org.yakindu.sct.model.stext.SText"
            class="org.yakindu.sct.model.stext.ui.STextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.yakindu.sct.model.stext.SText.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.yakindu.sct.model.stext.ui.keyword_SText"/>
        </page>
        <page
            category="org.yakindu.sct.model.stext.SText"
            class="org.yakindu.sct.model.stext.ui.STextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.yakindu.sct.model.stext.SText.templates"
            name="Templates">
            <keywordReference id="org.yakindu.sct.model.stext.ui.keyword_SText"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.yakindu.sct.model.stext.ui.keyword_SText"
            label="SText"/>
    </extension>

    <!-- marker definitions for org.yakindu.sct.model.stext.SText -->
    <extension
            id="stext.check.fast"
            name="SText Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="stext.check.normal"
            name="SText Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="stext.check.expensive"
            name="SText Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

    <!-- quickfix marker resolution generator for org.yakindu.sct.model.stext.SText -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.yakindu.sct.model.stext.ui.STextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.yakindu.sct.model.stext.ui.stext.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.yakindu.sct.model.stext.ui.STextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.yakindu.sct.model.stext.ui.stext.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.yakindu.sct.model.stext.ui.STextExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.yakindu.sct.model.stext.ui.stext.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
    
     <extension
        point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
     <module
           class="org.yakindu.sct.model.stext.ui.OverridingGuiceModule">
     </module>
  </extension>
</plugin>
