<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/2.0.0" xmlns:stext="http://www.yakindu.org/sct/statechart/SText">
  <sgraph:Statechart xmi:id="_g9KqMP78EeCTNZx8j-fbNg" name="example" expression="interface A:&#xD;&#xA;var a : integer&#xD;&#xA;&#xD;&#xA;interface:&#xD;&#xA;var b : integer&#xD;&#xA;&#xD;&#xA;internal :&#xD;&#xA;event A">
    <scopes xsi:type="stext:InterfaceScope" xmi:id="_5WQU8P78EeCTNZx8j-fbNg" name="A">
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_5WQU8f78EeCTNZx8j-fbNg" name="a" type="integer"/>
    </scopes>
    <scopes xsi:type="stext:InterfaceScope" xmi:id="_5WQU8v78EeCTNZx8j-fbNg">
      <declarations xsi:type="stext:VariableDefinition" xmi:id="_5WQU8_78EeCTNZx8j-fbNg" name="b" type="integer"/>
    </scopes>
    <scopes xsi:type="stext:InternalScope" xmi:id="_5WQU9P78EeCTNZx8j-fbNg">
      <declarations xsi:type="stext:EventDefinition" xmi:id="_5WQU9f78EeCTNZx8j-fbNg" name="A"/>
    </scopes>
    <regions xmi:id="_g9KqM_78EeCTNZx8j-fbNg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_g9KqPf78EeCTNZx8j-fbNg">
        <outgoingTransitions xmi:id="_g9UbM_78EeCTNZx8j-fbNg" target="_g9KqSP78EeCTNZx8j-fbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_g9KqSP78EeCTNZx8j-fbNg" name="S1" incomingTransitions="_g9UbM_78EeCTNZx8j-fbNg">
        <outgoingTransitions xmi:id="_tgGmUP78EeCTNZx8j-fbNg" expression="/a = 2;" target="_sHlUMP78EeCTNZx8j-fbNg">
          <effect xsi:type="stext:ReactionEffect" xmi:id="_5WQU9_78EeCTNZx8j-fbNg">
            <actions xsi:type="stext:Assignment" xmi:id="_5WQU-P78EeCTNZx8j-fbNg" varRef="_5WQU8f78EeCTNZx8j-fbNg">
              <expression xsi:type="stext:PrimitiveValueExpression" xmi:id="_5WQU-f78EeCTNZx8j-fbNg" value="2"/>
            </actions>
          </effect>
        </outgoingTransitions>
        <scopes xmi:id="_5WQU9v78EeCTNZx8j-fbNg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_sHlUMP78EeCTNZx8j-fbNg" name="S2" incomingTransitions="_tgGmUP78EeCTNZx8j-fbNg">
        <scopes xmi:id="_5WaF8P78EeCTNZx8j-fbNg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_g9KqMf78EeCTNZx8j-fbNg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_g9KqMP78EeCTNZx8j-fbNg" measurementUnit="Pixel">
    <children xmi:id="_g9KqNP78EeCTNZx8j-fbNg" type="Region" element="_g9KqM_78EeCTNZx8j-fbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_g9KqN_78EeCTNZx8j-fbNg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqOP78EeCTNZx8j-fbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g9KqOf78EeCTNZx8j-fbNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g9KqOv78EeCTNZx8j-fbNg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_g9KqPv78EeCTNZx8j-fbNg" type="Entry" element="_g9KqPf78EeCTNZx8j-fbNg">
          <children xmi:id="_g9KqQf78EeCTNZx8j-fbNg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_g9KqRP78EeCTNZx8j-fbNg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqRf78EeCTNZx8j-fbNg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_g9KqRv78EeCTNZx8j-fbNg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqQv78EeCTNZx8j-fbNg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9KqQ_78EeCTNZx8j-fbNg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqP_78EeCTNZx8j-fbNg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9KqR_78EeCTNZx8j-fbNg" x="70" y="20"/>
        </children>
        <children xmi:id="_g9KqSv78EeCTNZx8j-fbNg" type="State" element="_g9KqSP78EeCTNZx8j-fbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_g9KqTv78EeCTNZx8j-fbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqT_78EeCTNZx8j-fbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_g9KqUP78EeCTNZx8j-fbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_g9KqUf78EeCTNZx8j-fbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_g9KqUv78EeCTNZx8j-fbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9KqU_78EeCTNZx8j-fbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_g9UbMP78EeCTNZx8j-fbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqS_78EeCTNZx8j-fbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_g9KqTP78EeCTNZx8j-fbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_g9UbMf78EeCTNZx8j-fbNg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9UbMv78EeCTNZx8j-fbNg" x="40" y="80"/>
        </children>
        <children xmi:id="_sHvFMP78EeCTNZx8j-fbNg" type="State" element="_sHlUMP78EeCTNZx8j-fbNg">
          <children xsi:type="notation:DecorationNode" xmi:id="_sHvFNP78EeCTNZx8j-fbNg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sHvFNf78EeCTNZx8j-fbNg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_sHvFNv78EeCTNZx8j-fbNg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sHvFN_78EeCTNZx8j-fbNg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_sHvFOP78EeCTNZx8j-fbNg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sHvFOf78EeCTNZx8j-fbNg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_sHvFOv78EeCTNZx8j-fbNg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sHvFMf78EeCTNZx8j-fbNg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_sHvFMv78EeCTNZx8j-fbNg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_sHvFO_78EeCTNZx8j-fbNg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sHvFM_78EeCTNZx8j-fbNg" x="242" y="87"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9KqO_78EeCTNZx8j-fbNg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_g9KqNf78EeCTNZx8j-fbNg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9KqPP78EeCTNZx8j-fbNg" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_g9UbO_78EeCTNZx8j-fbNg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_g9UbPf78EeCTNZx8j-fbNg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g9UbPv78EeCTNZx8j-fbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g9UbP_78EeCTNZx8j-fbNg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g9UbQP78EeCTNZx8j-fbNg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9UbQf78EeCTNZx8j-fbNg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g9UbQv78EeCTNZx8j-fbNg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_g9KqMv78EeCTNZx8j-fbNg"/>
    <edges xmi:id="_g9UbNP78EeCTNZx8j-fbNg" type="Transition" element="_g9UbM_78EeCTNZx8j-fbNg" source="_g9KqPv78EeCTNZx8j-fbNg" target="_g9KqSv78EeCTNZx8j-fbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_g9UbOP78EeCTNZx8j-fbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g9UbOf78EeCTNZx8j-fbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g9UbOv78EeCTNZx8j-fbNg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_g9UbNf78EeCTNZx8j-fbNg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_g9UbN_78EeCTNZx8j-fbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_g9UbNv78EeCTNZx8j-fbNg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_tgQXUP78EeCTNZx8j-fbNg" type="Transition" element="_tgGmUP78EeCTNZx8j-fbNg" source="_g9KqSv78EeCTNZx8j-fbNg" target="_sHvFMP78EeCTNZx8j-fbNg">
      <children xsi:type="notation:DecorationNode" xmi:id="_tgQXVP78EeCTNZx8j-fbNg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tgQXVf78EeCTNZx8j-fbNg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tgQXVv78EeCTNZx8j-fbNg" x="6" y="-23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tgQXUf78EeCTNZx8j-fbNg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tgQXU_78EeCTNZx8j-fbNg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tgQXUv78EeCTNZx8j-fbNg" points="[9, 5, -182, 0]$[189, -25, -2, -30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tg2NMP78EeCTNZx8j-fbNg" id="(0.775,0.5245901639344263)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
