<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_3AQUYJOAEeWuO-fDDpYHyA" specification="interface User:&#xA;&#x9;in event on&#xA;&#x9;in event off&#xA;&#x9;in event cancel&#xA;&#x9;in event cappuchino&#xA;" name="Coffee Machine">
    <regions xmi:id="_3AQ7cpOAEeWuO-fDDpYHyA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_3ASJk5OAEeWuO-fDDpYHyA">
        <outgoingTransitions xmi:id="_3AT-w5OAEeWuO-fDDpYHyA" target="_YzPiwJjcEeWLmIbak1Hh1Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3ASwp5OAEeWuO-fDDpYHyA" specification="" name="Idle" incomingTransitions="_IEYG0JjeEeWLmIbak1Hh1Q _DcCwEJmqEeWjeMXFC0M_gw _TqPdAJmqEeWjeMXFC0M_gw">
        <outgoingTransitions xmi:id="_5bRIYJjdEeWLmIbak1Hh1Q" specification="User.off" target="_YzPiwJjcEeWLmIbak1Hh1Q"/>
        <outgoingTransitions xmi:id="_PbPtAJmqEeWjeMXFC0M_gw" specification="User.cappuchino" target="_qZJv0JmoEeWjeMXFC0M_gw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YzPiwJjcEeWLmIbak1Hh1Q" name="Off" incomingTransitions="_3AT-w5OAEeWuO-fDDpYHyA _5bRIYJjdEeWLmIbak1Hh1Q">
        <outgoingTransitions xmi:id="_IEYG0JjeEeWLmIbak1Hh1Q" specification="User.on" target="_3ASwp5OAEeWuO-fDDpYHyA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qZJv0JmoEeWjeMXFC0M_gw" specification="" name="Cappuchino" incomingTransitions="_PbPtAJmqEeWjeMXFC0M_gw">
        <outgoingTransitions xmi:id="_DcCwEJmqEeWjeMXFC0M_gw" specification="User.cancel" target="_3ASwp5OAEeWuO-fDDpYHyA"/>
        <regions xmi:id="_qZhjQJmoEeWjeMXFC0M_gw" name="inner region">
          <vertices xsi:type="sgraph:State" xmi:id="_R5190JjjEeWLmIbak1Hh1Q" specification="" name="Milling Beans" incomingTransitions="_vBt2YZmoEeWjeMXFC0M_gw">
            <outgoingTransitions xmi:id="_JU0SoJjsEeWLmIbak1Hh1Q" specification="after 9s" target="_JUPD0JjsEeWLmIbak1Hh1Q"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_JUPD0JjsEeWLmIbak1Hh1Q" specification="" name="Pouring Milk" incomingTransitions="_JU0SoJjsEeWLmIbak1Hh1Q">
            <outgoingTransitions xmi:id="_aFxHUJjsEeWLmIbak1Hh1Q" specification="after 31s" target="_aFNtsJjsEeWLmIbak1Hh1Q"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_aFNtsJjsEeWLmIbak1Hh1Q" specification="" name="Pouring Coffee" incomingTransitions="_aFxHUJjsEeWLmIbak1Hh1Q">
            <outgoingTransitions xmi:id="_TqPdAJmqEeWjeMXFC0M_gw" specification="after 50 s" target="_3ASwp5OAEeWuO-fDDpYHyA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_vBt2YJmoEeWjeMXFC0M_gw" name="">
            <outgoingTransitions xmi:id="_vBt2YZmoEeWjeMXFC0M_gw" specification="" target="_R5190JjjEeWLmIbak1Hh1Q"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_3AQ7cJOAEeWuO-fDDpYHyA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_3AQUYJOAEeWuO-fDDpYHyA" measurementUnit="Pixel">
    <children xmi:id="_3ARigJOAEeWuO-fDDpYHyA" type="Region" element="_3AQ7cpOAEeWuO-fDDpYHyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3ARig5OAEeWuO-fDDpYHyA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3ARihJOAEeWuO-fDDpYHyA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3ARihZOAEeWuO-fDDpYHyA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_3ASJkJOAEeWuO-fDDpYHyA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_3ASJlJOAEeWuO-fDDpYHyA" type="Entry" element="_3ASJk5OAEeWuO-fDDpYHyA">
          <children xmi:id="_3ASwoJOAEeWuO-fDDpYHyA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_3ASwo5OAEeWuO-fDDpYHyA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_3ASwpJOAEeWuO-fDDpYHyA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_3ASwpZOAEeWuO-fDDpYHyA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3ASwoZOAEeWuO-fDDpYHyA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASwopOAEeWuO-fDDpYHyA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3ASJlZOAEeWuO-fDDpYHyA" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASwppOAEeWuO-fDDpYHyA" x="184" width="15" height="15"/>
        </children>
        <children xmi:id="_3ATXspOAEeWuO-fDDpYHyA" type="State" element="_3ASwp5OAEeWuO-fDDpYHyA">
          <children xsi:type="notation:DecorationNode" xmi:id="_3ATXtpOAEeWuO-fDDpYHyA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3ATXt5OAEeWuO-fDDpYHyA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3ATXuJOAEeWuO-fDDpYHyA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3ATXuZOAEeWuO-fDDpYHyA" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_3ATXupOAEeWuO-fDDpYHyA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ATXu5OAEeWuO-fDDpYHyA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3AT-wJOAEeWuO-fDDpYHyA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3ATXs5OAEeWuO-fDDpYHyA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3ATXtJOAEeWuO-fDDpYHyA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3AT-wZOAEeWuO-fDDpYHyA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3AT-wpOAEeWuO-fDDpYHyA" x="174" y="156" width="40" height="53"/>
        </children>
        <children xmi:id="_YzQw4JjcEeWLmIbak1Hh1Q" type="State" element="_YzPiwJjcEeWLmIbak1Hh1Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_YzRX8JjcEeWLmIbak1Hh1Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YzRX8ZjcEeWLmIbak1Hh1Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YzRX8pjcEeWLmIbak1Hh1Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YzRX85jcEeWLmIbak1Hh1Q" type="StateTextCompartment" collapsed="true">
            <children xsi:type="notation:Shape" xmi:id="_YzRX9JjcEeWLmIbak1Hh1Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YzRX9ZjcEeWLmIbak1Hh1Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YzRX9pjcEeWLmIbak1Hh1Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YzQw4ZjcEeWLmIbak1Hh1Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YzQw4pjcEeWLmIbak1Hh1Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YzRX95jcEeWLmIbak1Hh1Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YzQw45jcEeWLmIbak1Hh1Q" x="174" y="46" width="40" height="53"/>
        </children>
        <children xmi:id="_qZo4AJmoEeWjeMXFC0M_gw" type="State" element="_qZJv0JmoEeWjeMXFC0M_gw">
          <children xsi:type="notation:DecorationNode" xmi:id="_qZqGIJmoEeWjeMXFC0M_gw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qZqGIZmoEeWjeMXFC0M_gw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qZqGIpmoEeWjeMXFC0M_gw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qZqGI5moEeWjeMXFC0M_gw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qZqtMJmoEeWjeMXFC0M_gw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qZqtMZmoEeWjeMXFC0M_gw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qZqtMpmoEeWjeMXFC0M_gw" type="StateFigureCompartment">
            <children xmi:id="_nCMeQJmsEeWjeMXFC0M_gw" type="Region" element="_qZhjQJmoEeWjeMXFC0M_gw">
              <children xsi:type="notation:DecorationNode" xmi:id="_nCMeQZmsEeWjeMXFC0M_gw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeQpmsEeWjeMXFC0M_gw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_nCMeQ5msEeWjeMXFC0M_gw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_nCMeRJmsEeWjeMXFC0M_gw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_nCMeRZmsEeWjeMXFC0M_gw" type="State" element="_R5190JjjEeWLmIbak1Hh1Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_nCMeRpmsEeWjeMXFC0M_gw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeR5msEeWjeMXFC0M_gw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_nCMeSJmsEeWjeMXFC0M_gw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nCMeSZmsEeWjeMXFC0M_gw" type="StateTextCompartment" collapsed="true">
                    <children xsi:type="notation:Shape" xmi:id="_nCMeSpmsEeWjeMXFC0M_gw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMeS5msEeWjeMXFC0M_gw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nCMeTJmsEeWjeMXFC0M_gw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeTZmsEeWjeMXFC0M_gw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_nCMeTpmsEeWjeMXFC0M_gw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nCMeT5msEeWjeMXFC0M_gw" name="isHorizontal"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nCMeUJmsEeWjeMXFC0M_gw" name="isInline" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMeUZmsEeWjeMXFC0M_gw" x="29" y="17" height="52"/>
                </children>
                <children xmi:id="_nCMeUpmsEeWjeMXFC0M_gw" type="State" element="_JUPD0JjsEeWLmIbak1Hh1Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_nCMeU5msEeWjeMXFC0M_gw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeVJmsEeWjeMXFC0M_gw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_nCMeVZmsEeWjeMXFC0M_gw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nCMeVpmsEeWjeMXFC0M_gw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_nCMeV5msEeWjeMXFC0M_gw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMeWJmsEeWjeMXFC0M_gw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nCMeWZmsEeWjeMXFC0M_gw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeWpmsEeWjeMXFC0M_gw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_nCMeW5msEeWjeMXFC0M_gw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nCMeXJmsEeWjeMXFC0M_gw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMeXZmsEeWjeMXFC0M_gw" x="31" y="115"/>
                </children>
                <children xmi:id="_nCMeXpmsEeWjeMXFC0M_gw" type="State" element="_aFNtsJjsEeWLmIbak1Hh1Q">
                  <children xsi:type="notation:DecorationNode" xmi:id="_nCMeX5msEeWjeMXFC0M_gw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeYJmsEeWjeMXFC0M_gw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_nCMeYZmsEeWjeMXFC0M_gw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nCMeYpmsEeWjeMXFC0M_gw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_nCMeY5msEeWjeMXFC0M_gw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMeZJmsEeWjeMXFC0M_gw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nCMeZZmsEeWjeMXFC0M_gw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeZpmsEeWjeMXFC0M_gw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_nCMeZ5msEeWjeMXFC0M_gw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nCMeaJmsEeWjeMXFC0M_gw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMeaZmsEeWjeMXFC0M_gw" x="23" y="215"/>
                </children>
                <children xmi:id="_nCMeapmsEeWjeMXFC0M_gw" type="Entry" element="_vBt2YJmoEeWjeMXFC0M_gw">
                  <children xmi:id="_nCMea5msEeWjeMXFC0M_gw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_nCMebJmsEeWjeMXFC0M_gw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMebZmsEeWjeMXFC0M_gw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_nCMebpmsEeWjeMXFC0M_gw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMeb5msEeWjeMXFC0M_gw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMecJmsEeWjeMXFC0M_gw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMecZmsEeWjeMXFC0M_gw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_nCMecpmsEeWjeMXFC0M_gw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMec5msEeWjeMXFC0M_gw" x="69" y="-32"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMedJmsEeWjeMXFC0M_gw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_nCMedZmsEeWjeMXFC0M_gw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nCMedpmsEeWjeMXFC0M_gw" x="-27" y="-52" width="499" height="460"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qZo4AZmoEeWjeMXFC0M_gw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qZo4ApmoEeWjeMXFC0M_gw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qZqtM5moEeWjeMXFC0M_gw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vBsoQJmoEeWjeMXFC0M_gw" name="isInline" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qZrUQJmoEeWjeMXFC0M_gw" x="111" y="293" width="169" height="379"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASJkZOAEeWuO-fDDpYHyA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_3ARigZOAEeWuO-fDDpYHyA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ASJkpOAEeWuO-fDDpYHyA" x="248" y="8" width="423" height="731"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_3AUl05OAEeWuO-fDDpYHyA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_3AUl1ZOAEeWuO-fDDpYHyA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3AUl1pOAEeWuO-fDDpYHyA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3AUl15OAEeWuO-fDDpYHyA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_3AUl2JOAEeWuO-fDDpYHyA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3AUl2ZOAEeWuO-fDDpYHyA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3AUl2pOAEeWuO-fDDpYHyA" x="10" y="10" width="231" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_3AQ7cZOAEeWuO-fDDpYHyA"/>
    <edges xmi:id="_3AT-xJOAEeWuO-fDDpYHyA" type="Transition" element="_3AT-w5OAEeWuO-fDDpYHyA" source="_3ASJlJOAEeWuO-fDDpYHyA" target="_YzQw4JjcEeWLmIbak1Hh1Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_3AUl0JOAEeWuO-fDDpYHyA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3AUl0ZOAEeWuO-fDDpYHyA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3AUl0pOAEeWuO-fDDpYHyA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3AT-xZOAEeWuO-fDDpYHyA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3AT-x5OAEeWuO-fDDpYHyA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3AT-xpOAEeWuO-fDDpYHyA" points="[0, 8, 0, -55]$[0, 39, 0, -24]"/>
    </edges>
    <edges xmi:id="_5bS9kJjdEeWLmIbak1Hh1Q" type="Transition" element="_5bRIYJjdEeWLmIbak1Hh1Q" source="_3ATXspOAEeWuO-fDDpYHyA" target="_YzQw4JjcEeWLmIbak1Hh1Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_5bS9lJjdEeWLmIbak1Hh1Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5bS9lZjdEeWLmIbak1Hh1Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5bS9lpjdEeWLmIbak1Hh1Q" x="-7" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5bS9kZjdEeWLmIbak1Hh1Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5bS9k5jdEeWLmIbak1Hh1Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5bS9kpjdEeWLmIbak1Hh1Q" points="[5, 0, 5, 104]$[85, 0, 85, 104]$[85, -104, 85, 0]$[5, -104, 5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-MmbgJkAEeWLmIbak1Hh1Q" id="(0.875,0.2830188679245283)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ael1AJkCEeWLmIbak1Hh1Q" id="(0.875,0.41509433962264153)"/>
    </edges>
    <edges xmi:id="_IEZU8JjeEeWLmIbak1Hh1Q" type="Transition" element="_IEYG0JjeEeWLmIbak1Hh1Q" source="_YzQw4JjcEeWLmIbak1Hh1Q" target="_3ATXspOAEeWuO-fDDpYHyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_IEZU9JjeEeWLmIbak1Hh1Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IEZU9ZjeEeWLmIbak1Hh1Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IEZU9pjeEeWLmIbak1Hh1Q" x="-1" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IEZU8ZjeEeWLmIbak1Hh1Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IEZU85jeEeWLmIbak1Hh1Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IEZU8pjeEeWLmIbak1Hh1Q" points="[0, 0, 71, -172]$[-70, 196, 1, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IFC1MJjeEeWLmIbak1Hh1Q" id="(0.45,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_JU1gwJjsEeWLmIbak1Hh1Q" type="Transition" element="_JU0SoJjsEeWLmIbak1Hh1Q" source="_nCMeRZmsEeWjeMXFC0M_gw" target="_nCMeUpmsEeWjeMXFC0M_gw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JU1gxJjsEeWLmIbak1Hh1Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JU1gxZjsEeWLmIbak1Hh1Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JU1gxpjsEeWLmIbak1Hh1Q" x="1" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JU1gwZjsEeWLmIbak1Hh1Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JU1gw5jsEeWLmIbak1Hh1Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JU1gwpjsEeWLmIbak1Hh1Q" points="[-13, -24, 187, 354]$[-199, -375, 1, 3]"/>
    </edges>
    <edges xmi:id="_aFxuYJjsEeWLmIbak1Hh1Q" type="Transition" element="_aFxHUJjsEeWLmIbak1Hh1Q" source="_nCMeUpmsEeWjeMXFC0M_gw" target="_nCMeXpmsEeWjeMXFC0M_gw">
      <children xsi:type="notation:DecorationNode" xmi:id="_aFyVcZjsEeWLmIbak1Hh1Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aFyVcpjsEeWLmIbak1Hh1Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aFyVc5jsEeWLmIbak1Hh1Q" x="-1" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aFxuYZjsEeWLmIbak1Hh1Q" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aFyVcJjsEeWLmIbak1Hh1Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aFxuYpjsEeWLmIbak1Hh1Q" points="[-10, -24, 189, 439]$[-198, -460, 1, 3]"/>
    </edges>
    <edges xmi:id="_DcD-MJmqEeWjeMXFC0M_gw" type="Transition" element="_DcCwEJmqEeWjeMXFC0M_gw" source="_qZo4AJmoEeWjeMXFC0M_gw" target="_3ATXspOAEeWuO-fDDpYHyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_DcElQZmqEeWjeMXFC0M_gw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DcElQpmqEeWjeMXFC0M_gw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DcElQ5mqEeWjeMXFC0M_gw" x="-205" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DcD-MZmqEeWjeMXFC0M_gw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DcElQJmqEeWjeMXFC0M_gw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DcD-MpmqEeWjeMXFC0M_gw" points="[0, 6, -69, 310]$[-40, 6, -109, 310]$[-40, -304, -109, 0]$[63, -304, -6, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DcjtcJmqEeWjeMXFC0M_gw" id="(0.005917159763313609,0.5197889182058048)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DcjtcZmqEeWjeMXFC0M_gw" id="(0.175,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_PbQ7IJmqEeWjeMXFC0M_gw" type="Transition" element="_PbPtAJmqEeWjeMXFC0M_gw" source="_3ATXspOAEeWuO-fDDpYHyA" target="_qZo4AJmoEeWjeMXFC0M_gw">
      <children xsi:type="notation:DecorationNode" xmi:id="_PbRiMJmqEeWjeMXFC0M_gw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PbRiMZmqEeWjeMXFC0M_gw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PbRiMpmqEeWjeMXFC0M_gw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PbQ7IZmqEeWjeMXFC0M_gw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PbQ7I5mqEeWjeMXFC0M_gw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PbQ7IpmqEeWjeMXFC0M_gw" points="[-8, 72, -1, -180]$[-8, 216, -1, -36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PbwqYJmqEeWjeMXFC0M_gw" id="(0.5,0.9622641509433962)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SvM7oJmrEeWjeMXFC0M_gw" id="(0.49101796407185627,0.0022727272727272726)"/>
    </edges>
    <edges xmi:id="_TqQrIJmqEeWjeMXFC0M_gw" type="Transition" element="_TqPdAJmqEeWjeMXFC0M_gw" source="_nCMeXpmsEeWjeMXFC0M_gw" target="_3ATXspOAEeWuO-fDDpYHyA">
      <children xsi:type="notation:DecorationNode" xmi:id="_TqRSMZmqEeWjeMXFC0M_gw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_TqRSMpmqEeWjeMXFC0M_gw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_TqRSM5mqEeWjeMXFC0M_gw" x="-260" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_TqQrIZmqEeWjeMXFC0M_gw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_TqRSMJmqEeWjeMXFC0M_gw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_TqQrIpmqEeWjeMXFC0M_gw" points="[86, 8, 50, 447]$[151, 8, 115, 447]$[151, -439, 115, 0]$[39, -439, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Tq7ZgJmqEeWjeMXFC0M_gw" id="(0.20535714285714285,0.4716981132075472)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WZQoAJmqEeWjeMXFC0M_gw" id="(0.925,0.7358490566037735)"/>
    </edges>
    <edges xmi:id="_vCAxUJmoEeWjeMXFC0M_gw" type="Transition" element="_vBt2YZmoEeWjeMXFC0M_gw" source="_nCMeapmsEeWjeMXFC0M_gw" target="_nCMeRZmsEeWjeMXFC0M_gw">
      <children xsi:type="notation:DecorationNode" xmi:id="_vCAxVJmoEeWjeMXFC0M_gw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vCAxVZmoEeWjeMXFC0M_gw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vCAxVpmoEeWjeMXFC0M_gw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vCAxUZmoEeWjeMXFC0M_gw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vCAxU5moEeWjeMXFC0M_gw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vCAxUpmoEeWjeMXFC0M_gw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
