<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.itemis.xtext.utils.jface.internal.handlers.ContentAssistHandler"
            commandId="org.eclipse.ui.edit.text.contentAssist.proposals">
         <activeWhen>
            <iterate>
               <test
                     property="de.itemis.xtext.utils.jface.xtextStyledText.isFocused">
               </test>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.itemis.xtext.utils.jface.internal.propertytester.XtextStyledTextPropertyTester"
            id="de.itemis.xtext.utils.jface.xtextStyledTextPropertyTester"
            namespace="de.itemis.xtext.utils.jface.xtextStyledText"
            properties="isFocused"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
