<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.itemis.xtext.utils.jface.internal.handlers.ContentAssistHandler"
            commandId="org.eclipse.ui.edit.text.contentAssist.proposals">
         <activeWhen>
            <with
                  variable="activeFocusControlId">
               <equals
                     value="org.eclipse.swt.custom.StyledText">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
    <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.mycompany.element"
            colorPreferenceKey="annotateElemColor"
            colorPreferenceValue="255,255,0"
            highlightPreferenceKey="annotateElemHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Sample Annotation"
            overviewRulerPreferenceKey="annotateElemOverviewRuler"
            textPreferenceKey="annotateElemText"
            verticalRulerPreferenceKey="annotateElemVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   

</plugin>
